<form [formGroup]="doOptionsForm"
      fxLayout="column">
  <mat-card-header>
    <mat-card-title>DigitalOcean Options</mat-card-title>
  </mat-card-header>
  <div fxFlex="100%">
    <div class="km-node-options">
      <label fxFlex="50%">Backups</label>
      <mat-checkbox fxFlex="50%"
                    id="backups"
                    formControlName="backups"></mat-checkbox>
    </div>
    <div class="km-node-options">
      <label fxFlex="50%">IPv6</label>
      <mat-checkbox fxFlex="50%"
                    id="ipv6"
                    formControlName="ipv6"></mat-checkbox>
    </div>
    <div class="km-node-options">
      <label fxFlex="50%">Monitoring</label>
      <mat-checkbox fxFlex="50%"
                    id="monitoring"
                    formControlName="monitoring"></mat-checkbox>
    </div>
    <mat-form-field class="km-node-tags">
      <mat-label>Tags</mat-label>
      <textarea matInput
                id="tags"
                formControlName="tags"
                matTextareaAutosize></textarea>
      <mat-hint>Seperate tags with commas.</mat-hint>
    </mat-form-field>
  </div>
</form>
