<form [formGroup]="openstackSettingsForm"
      fxLayout="column">
  <mat-form-field fxFlex>
    <mat-label>Domain*</mat-label>
    <input matInput
           formControlName="domain"
           type="text"
           placeholder="Domain*"
           title="Domain"
           autocomplete="off">
    <mat-error *ngIf="openstackSettingsForm.controls.domain.hasError('required')">
      Domain is <strong>required</strong>.
    </mat-error>
  </mat-form-field>
  <mat-form-field fxFlex>
    <mat-label>Username*</mat-label>
    <input matInput
           formControlName="username"
           type="text"
           placeholder="Username*"
           title="Username"
           autocomplete="off">
    <mat-error *ngIf="openstackSettingsForm.controls.username.hasError('required')">
      Username is <strong>required</strong>.
    </mat-error>
  </mat-form-field>
  <mat-form-field fxFlex>
    <mat-label>Password*</mat-label>
    <input matInput
           formControlName="password"
           type="password"
           placeholder="Password*"
           title="Password"
           autocomplete="off">
    <mat-error *ngIf="openstackSettingsForm.controls.password.hasError('required')">
      Password is <strong>required</strong>.
    </mat-error>
  </mat-form-field>
  <mat-form-field fxFlex>
    <mat-label>{{getTenantsFormState()}}</mat-label>
    <input matInput
           formControlName="tenant"
           [placeholder]="getTenantsFormState()"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let item of tenants"
                  [value]="item.name">
        {{item.name}}
      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="openstackSettingsForm.controls.tenant.hasError('required')">
      Project is <strong>required</strong>.
    </mat-error>
  </mat-form-field>

  <mat-form-field fxFlex
                  id="km-floating-ip-pool-field"
                  *ngIf="!hideOptional || isFloatingIPEnforced()">
    <mat-label>{{getOptionalSettingsFormState('Floating IP Pool')}}</mat-label>
    <mat-select [placeholder]="getOptionalSettingsFormState('Floating IP Pool')"
                formControlName="floatingIpPool"
                [required]="isFloatingIPEnforced()">
      <mat-option *ngFor="let item of floatingIpPool"
                  [value]="item.name">
        {{item.name}}
      </mat-option>
    </mat-select>
    <mat-hint>When specified, all worker nodes will receive a public ip from this floating ip pool.</mat-hint>
  </mat-form-field>


  <mat-form-field fxFlex
                  *ngIf="!hideOptional">
    <mat-label>{{getOptionalSettingsFormState('Security Group')}}</mat-label>
    <mat-select [placeholder]="getOptionalSettingsFormState('Security Group')"
                formControlName="securityGroups">
      <mat-option *ngFor="let item of securityGroup"
                  [value]="item.name">
        {{item.name}}
      </mat-option>
    </mat-select>
    <mat-hint>When specified, all worker nodes will be attached to this security group. If not specified, a security
      group will be created.
    </mat-hint>
  </mat-form-field>

  <div fxFlex
       class="mat-select-container"
       *ngIf="!hideOptional">
    <mat-form-field>
      <mat-label>{{getOptionalSettingsFormState('Network')}}</mat-label>
      <mat-select [placeholder]="getOptionalSettingsFormState('Network')"
                  formControlName="network">
        <mat-option *ngFor="let item of network"
                    [value]="item.name">
          {{item.name}}
        </mat-option>
      </mat-select>

      <mat-hint>When specified, all worker nodes will be attached to this network. If not specified, a network, subnet &
        router will be created.
      </mat-hint>
    </mat-form-field>
  </div>

  <div fxFlex
       class="mat-select-container"
       *ngIf="!hideOptional">
    <mat-form-field>
      <mat-label>{{getSubnetIDFormState()}}</mat-label>
      <mat-select [placeholder]="getSubnetIDFormState()"
                  formControlName="subnetId">
        <mat-option *ngFor="let subnet of subnetIds"
                    [value]="subnet.id">
          {{subnet.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>
