<form [formGroup]="form"
      fxLayout="column">
  <mat-form-field fxFlex>
    <mat-label>Domain*</mat-label>
    <input matInput
           formControlName="domain"
           name="domain"
           type="text"
           title="Domain"
           [matAutocomplete]="domainAutocomplete">
    <mat-autocomplete #domainAutocomplete="matAutocomplete">
      <mat-option *ngFor="let domain of ['Default']"
                  [value]="domain"> {{domain}} </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="form.controls.domain.hasError('required')">
      Domain is <strong>required</strong>.
    </mat-error>
  </mat-form-field>
  <mat-form-field fxFlex>
    <mat-label>Username*</mat-label>
    <input matInput
           formControlName="username"
           name="username"
           type="text"
           title="Username"
           autocomplete="off">
    <mat-error *ngIf="form.controls.username.hasError('required')">
      Username is <strong>required</strong>.
    </mat-error>
  </mat-form-field>
  <mat-form-field fxFlex>
    <mat-label>Password*</mat-label>
    <input matInput
           formControlName="password"
           name="password"
           type="password"
           title="Password"
           autocomplete="off">
    <mat-error *ngIf="form.controls.password.hasError('required')">
      Password is <strong>required</strong>.
    </mat-error>
  </mat-form-field>
  <mat-form-field fxFlex
                  [ngClass]="showHint('tenant') ? 'km-with-hint' : ''">
    <mat-label>{{getTenantsFormState()}}</mat-label>
    <input matInput
           formControlName="tenant"
           name="tenant"
           [placeholder]="getTenantsFormState()"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let item of tenants"
                  [value]="item.name">
        {{item.name}}
      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="form.controls.tenant.hasError('required')">
      Project is <strong>required</strong>.
    </mat-error>
    <mat-hint *ngIf="showHint('tenant')">Please enter your credentials first.</mat-hint>
  </mat-form-field>
  <mat-form-field fxFlex
                  [ngClass]="showHint('tenant') ? 'km-with-hint' : ''">
    <mat-label>Project ID</mat-label>
    <input matInput
           formControlName="tenantID"
           name="tenantID"
           placeholder="Project ID">
    <mat-error *ngIf="form.controls.tenant.hasError('required')">
      Project ID is <strong>required</strong>.
    </mat-error>
    <mat-hint *ngIf="showHint('tenant')">Please enter your credentials first.</mat-hint>
  </mat-form-field>

  <mat-form-field fxFlex
                  id="km-floating-ip-pool-field"
                  class="km-with-hint"
                  *ngIf="!hideOptional || isFloatingIPEnforced()">
    <mat-label>{{getOptionalSettingsFormState('Floating IP Pool')}}</mat-label>
    <mat-select [placeholder]="getOptionalSettingsFormState('Floating IP Pool')"
                disableOptionCentering
                formControlName="floatingIpPool"
                [required]="isFloatingIPEnforced()">
      <mat-option *ngFor="let item of floatingIpPools"
                  [value]="item.name">
        {{item.name}}
      </mat-option>
    </mat-select>
    <mat-hint><span *ngIf="showHint('optionalSettings')">Please enter a Project first.</span> When specified, all worker nodes will receive a public ip from this floating ip pool.</mat-hint>
  </mat-form-field>

  <mat-form-field fxFlex
                  class="km-with-hint"
                  *ngIf="!hideOptional">
    <mat-label>{{getOptionalSettingsFormState('Security Group')}}</mat-label>
    <mat-select [placeholder]="getOptionalSettingsFormState('Security Group')"
                disableOptionCentering
                formControlName="securityGroup">
      <mat-option *ngFor="let item of securityGroups"
                  [value]="item.name">
        {{item.name}}
      </mat-option>
    </mat-select>
    <mat-hint><span *ngIf="showHint('optionalSettings')">Please enter a Project first.</span> When specified, all worker nodes will be attached to this security group. If not specified, a security group will be created.</mat-hint>
  </mat-form-field>

  <mat-form-field fxFlex
                  class="km-with-hint"
                  *ngIf="!hideOptional">
    <mat-label>{{getOptionalSettingsFormState('Network')}}</mat-label>
    <mat-select [placeholder]="getOptionalSettingsFormState('Network')"
                disableOptionCentering
                formControlName="network">
      <mat-option *ngFor="let item of networks"
                  [value]="item.name">
        {{item.name}}
      </mat-option>
    </mat-select>
    <mat-hint><span *ngIf="showHint('optionalSettings')">Please enter a Project first.</span> When specified, all worker nodes will be attached to this network. If not specified, a network, subnet & router will be created.</mat-hint>
  </mat-form-field>

  <mat-form-field fxFlex
                  class="km-with-hint"
                  *ngIf="!hideOptional">
    <mat-label>{{getSubnetIDFormState()}}</mat-label>
    <mat-select [placeholder]="getSubnetIDFormState()"
                disableOptionCentering
                formControlName="subnetId">
      <mat-option *ngFor="let subnet of subnetIds"
                  [value]="subnet.id">
        {{subnet.name}}
      </mat-option>
    </mat-select>
    <mat-hint *ngIf="showHint('subnetId')">Please enter a Network first.</mat-hint>
  </mat-form-field>

</form>
