<form [formGroup]="openstackSettingsForm" fxLayout="column">
  <mat-form-field fxFlex>
    <input matInput formControlName="domain" type="text" placeholder="Domain*:" title="Domain" autocomplete="off">
    <mat-error *ngIf="openstackSettingsForm.controls.domain.hasError('required')">
      Domain is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field fxFlex>
    <input matInput formControlName="username" type="text" placeholder="Username*:" title="Username" autocomplete="off">
    <mat-error *ngIf="openstackSettingsForm.controls.username.hasError('required')">
      Username is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field fxFlex>
    <input matInput formControlName="password" type="password" placeholder="Password*:" title="Password" autocomplete="off">
    <mat-error *ngIf="openstackSettingsForm.controls.password.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field fxFlex>
    <mat-select placeholder="Tenant*:" formControlName="tenant">
      <mat-option *ngIf="!loadingTenants && (openstackSettingsForm.controls.username.value === '' || openstackSettingsForm.controls.password.value === '' || openstackSettingsForm.controls.domain.value === '')" [value]="0">Please enter your credentials first!</mat-option>
      <mat-option *ngIf="loadingTenants" [value]="0">Loading tenants...</mat-option>

      <mat-option *ngFor="let tenant of tenants" [value]="tenant.name">
      {{tenant.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="openstackSettingsForm.controls.tenant.hasError('required')">
      Tenant is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field fxFlex *ngIf="!hideOptional">
    <input matInput formControlName="floatingIpPool" type="text" placeholder="Floating IP pool:" title="Floating IP pool" autocomplete="off">
    <mat-hint>When specified, all worker nodes will receive a public ip from this floating ip pool.</mat-hint>
  </mat-form-field>
  <mat-form-field fxFlex *ngIf="!hideOptional">
    <input matInput formControlName="securityGroups" type="text" placeholder="Security group:" title="Security group" autocomplete="off">
    <mat-hint>When specified, all worker nodes will be attached to this security group. If not specified, a security
      group will be created.
    </mat-hint>
  </mat-form-field>
  <mat-form-field fxFlex *ngIf="!hideOptional">
    <input matInput formControlName="network" type="text" placeholder="Network:" title="Network" autocomplete="off">
    <mat-hint>When specified, all worker nodes will be attached to this network. If not specified, a network, subnet &
      router will be created.
    </mat-hint>
  </mat-form-field>
</form>
