@import "../../../../assets/css/variables";

div.km-node-options {
  width: 100%;
  line-height: 3 * $line-height;
  font-size: $font-size-body;
  display: flex;

  mat-checkbox,
  label {
    flex: 1 1 100%;
  }
}

textarea.mat-input-element {
  line-height: 2 * $baseline-grid;
}

.km-node-options-form {
  margin-bottom: 2 * $baseline-grid;
}
