<div fxLayout="row"
     fxLayoutAlign=" center"
     fxLayoutGap="8px">
  <mat-chip-list *ngIf="labelKeys.length > 0">
    <div *ngFor="let labelKey of labelKeys; let i = index">
      <mat-chip class="km-chip-container"
                *ngIf="!limit || i < limit">
        <div>{{labelKey}}</div>
        <div class="km-chip-accent"
             *ngIf="!!labels[labelKey]">{{labels[labelKey]}}</div>
      </mat-chip>
    </div>
  </mat-chip-list>
  <span *ngIf="limit && labelKeys.length > limit"
        class="km-text">
    +{{labelKeys.length - limit}}
  </span>
  <div *ngIf="labelKeys.length === 0">{{emptyMessage}}</div>
</div>
