<!-- Custom Presets -->
<km-custom-presets-settings [cluster]="cluster">
</km-custom-presets-settings>

<!-- Cluster Provider Settings -->
<km-digitalocean-cluster-settings *ngIf="cluster.spec.cloud.digitalocean"
                                  [cluster]="cluster"></km-digitalocean-cluster-settings>

<km-aws-cluster-settings *ngIf="cluster.spec.cloud.aws"
                         [cluster]="cluster"></km-aws-cluster-settings>

<km-openstack-cluster-settings *ngIf="cluster.spec.cloud.openstack"
                               [cluster]="cluster"></km-openstack-cluster-settings>

<km-bringyourown-cluster-settings *ngIf="cluster.spec.cloud.bringyourown"
                                  [cluster]="cluster"></km-bringyourown-cluster-settings>

<km-hetzner-cluster-settings *ngIf="cluster.spec.cloud.hetzner"
                             [cluster]="cluster"></km-hetzner-cluster-settings>

<km-vsphere-cluster-settings *ngIf="cluster.spec.cloud.vsphere"
                             [cluster]="cluster"></km-vsphere-cluster-settings>

<km-azure-cluster-settings *ngIf="cluster.spec.cloud.azure"
                           [cluster]="cluster"></km-azure-cluster-settings>

<km-packet-cluster-settings *ngIf="cluster.spec.cloud.packet"
                            [cluster]="cluster"></km-packet-cluster-settings>

<km-gcp-cluster-settings *ngIf="cluster.spec.cloud.gcp"
                         [cluster]="cluster"></km-gcp-cluster-settings>

<km-kubevirt-cluster-settings [cluster]="cluster"
                              *ngIf="cluster.spec.cloud.kubevirt">
</km-kubevirt-cluster-settings>

<km-alibaba-cluster-settings *ngIf="cluster.spec.cloud.alibaba"
                             [cluster]="cluster"></km-alibaba-cluster-settings>

<!-- Extended Options -->
<ng-container *ngIf="!isInWizard">
  <km-cluster-provider-options [cluster]="cluster"></km-cluster-provider-options>
</ng-container>

<!-- SSH Keys -->
<km-cluster-ssh-keys [cluster]="cluster"
                     [selectedKeys]="clusterSSHKeys"></km-cluster-ssh-keys>
