<form [formGroup]="form"
      fxLayout="column"
      fxLayoutGap="16px">
  <mat-form-field>
    <mat-label>Number of CPUs</mat-label>
    <input matInput
           required
           [formControlName]="Controls.CPUs"
           type="text"
           autocomplete="off">
    <mat-error *ngIf="form.get(Controls.CPUs).hasError('required')">
      Number of CPUs is <strong>required</strong>.
    </mat-error>
    <mat-error *ngIf="form.get(Controls.CPUs).hasError('pattern')">
      Wrong quantity format, use values like 2, 3Gi and 2M.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Memory</mat-label>
    <input matInput
           required
           [formControlName]="Controls.Memory"
           type="text"
           autocomplete="off">
    <mat-error *ngIf="form.get(Controls.Memory).hasError('required')">
      Memory is <strong>required</strong>.
    </mat-error>
    <mat-error *ngIf="form.get(Controls.Memory).hasError('pattern')">
      Wrong quantity format, use values like 2, 3Gi and 2M.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Namespace</mat-label>
    <input matInput
           required
           [formControlName]="Controls.Namespace"
           type="text"
           autocomplete="off">
    <mat-hint>Namespace where node will be provisioned.</mat-hint>
    <mat-error *ngIf="form.get(Controls.Namespace).hasError('required')">
      Namespace is <strong>required</strong>.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>PVC Size</mat-label>
    <input matInput
           required
           [formControlName]="Controls.PVCSize"
           type="text"
           autocomplete="off">
    <mat-error *ngIf="form.get(Controls.PVCSize).hasError('required')">
      PVC Size is <strong>required</strong>.
    </mat-error>
    <mat-error *ngIf="form.get(Controls.PVCSize).hasError('pattern')">
      Wrong quantity format, use values like 2, 3Gi and 2M.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Source URL</mat-label>
    <input matInput
           required
           [formControlName]="Controls.SourceURL"
           type="text"
           autocomplete="off">
    <mat-hint>URL from which the imported image will be downloaded.</mat-hint>
    <mat-error *ngIf="form.get(Controls.SourceURL).hasError('required')">
      Source URL is <strong>required</strong>.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Storage Class Name</mat-label>
    <input matInput
           required
           [formControlName]="Controls.StorageClassName"
           type="text"
           autocomplete="off">
    <mat-error *ngIf="form.get(Controls.StorageClassName).hasError('required')">
      Storage Class Name is <strong>required</strong>.
    </mat-error>
  </mat-form-field>
</form>
