@import "../../../../assets/css/variables";

mat-card-header {
  padding: 0 (1.25 * $baseline-grid) 0 (7 * $baseline-grid) !important;
}

td:first-child,
th:first-child {
  padding-left: 7 * $baseline-grid !important;
}

::ng-deep mat-dialog-content {
  overflow-y: auto !important;
}
