@import "../../../../assets/css/colors";

.km-node-deployment-spinner {
  margin: 20px auto !important;
}

.km-node-deployment-health {
  text-align: center;
}

.km-node-deployment-actions {
  display: flex;
  justify-content: flex-end;
}

.km-node-deployment-action {
  color: $text-color !important;

  i {
    font-size: 21px;
  }

  .km-icon-edit {
    width: 21px;
    height: 21px;

    &.km-disabled {
      background-color: $disabled-button-color;
    }
  }
}
