<mat-card class="blue">
  <mat-card-content>
    <table class="km-node-deployment-table" mat-table [dataSource]="getDataSource()">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef class="km-header-cell"> # </th>
        <td mat-cell *matCellDef="let i = index"> {{i+1}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="km-header-cell"> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="replicas">
        <th mat-header-cell *matHeaderCellDef class="km-header-cell"> Replicas </th>
        <td mat-cell *matCellDef="let element"> {{element.spec.replicas}} </td>
      </ng-container>

      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef class="km-header-cell"> Created </th>
        <td mat-cell *matCellDef="let element"> {{element.creationTimestamp | date:'yyyy-MM-dd, h:mm:ss a'}} </td>
      </ng-container>

      <tr mat-header-row class="km-header-row" *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" class="km-mat-row"></tr>
    </table>
  </mat-card-content>
</mat-card>
