@import "../../../../assets/css/colors";

.km-node-deployment-spinner {
  margin: 20px auto !important;
}

.km-node-deployment-health {
  text-align: center;
}

.km-node-deployment-actions {
  display: flex;
  justify-content: flex-end;
}
