<mat-card class="km-with-table-header">
  <mat-card-header>
    <mat-card-title>
      Node Deployments
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table class="km-table"
           mat-table
           matSort
           matSortActive="name"
           matSortDirection="asc"
           [dataSource]="getDataSource()">
      <ng-container matColumnDef="status">
        <th mat-header-cell
            *matHeaderCellDef
            class="km-header-cell"></th>
        <td mat-cell
            *matCellDef="let element">
          <i [matTooltip]="getHealthStatus(element).message"
             [ngClass]="getHealthStatus(element).color"
             class="km-node-deployment-health"></i>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell
            *matHeaderCellDef
            class="km-header-cell"
            mat-sort-header>Name</th>
        <td mat-cell
            *matCellDef="let element">{{element.name}}</td>
      </ng-container>

      <ng-container matColumnDef="replicas">
        <th mat-header-cell
            *matHeaderCellDef
            class="km-header-cell">
          <span>Replicas&nbsp;</span>
          <span matTooltip="Number of available machines of desired machines from the template. A machine is considered as available when it is ready for at least 'minReadySeconds'.">
            <i class="fa fa-question-circle"
               aria-hidden="true"></i>
          </span>
        </th>
        <td mat-cell
            *matCellDef="let element">
          <span>{{!!element.status?.availableReplicas ? element.status.availableReplicas : 0}}/{{!!element.spec?.replicas ? element.spec.replicas : 0}}</span>
          <span *ngIf="element.status?.availableReplicas > element.spec.replicas"
                matTooltip="Number of available machines may be higher than number of desired machines from the template if deployment is updating.">
            <i class="fa fa-question-circle"
               aria-hidden="true"></i>
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="ver">
        <th mat-header-cell
            *matHeaderCellDef
            class="km-header-cell">{{getVersionHeadline(cluster.type, true)}}</th>
        <td mat-cell
            *matCellDef="let element">v{{element.spec.template.versions?.kubelet}}</td>
      </ng-container>

      <ng-container matColumnDef="os">
        <th mat-header-cell
            *matHeaderCellDef
            class="km-header-cell">Operating System</th>
        <td mat-cell
            *matCellDef="let element">{{getOperatingSystem(element)}}</td>
      </ng-container>

      <ng-container matColumnDef="created">
        <th mat-header-cell
            *matHeaderCellDef
            class="km-header-cell">Created</th>
        <td mat-cell
            *matCellDef="let element">
          <km-relative-time [date]="element.creationTimestamp"></km-relative-time>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell
            *matHeaderCellDef
            class="km-header-cell"></th>
        <td mat-cell
            *matCellDef="let element">
          <div class="km-table-actions km-node-deployment-actions">
            <ng-container [ngSwitch]="!!element.deletionTimestamp">
              <ng-container *ngSwitchCase="true">
                <mat-spinner [diameter]="30"
                             class="km-spinner"
                             color="accent"></mat-spinner>
              </ng-container>

              <ng-container *ngSwitchCase="false">
                <button mat-icon-button
                        class="km-node-deployment-action"
                        matTooltip="Edit Node Deployment"
                        (click)="showEditDialog(element, $event)"
                        [disabled]="!isEditEnabled()">
                  <i class="km-icon-edit"></i>
                </button>

                <button mat-icon-button
                        class="km-node-deployment-action"
                        matTooltip="Delete Node Deployment"
                        (click)="showDeleteDialog(element, $event)"
                        [disabled]="!isDeleteEnabled()">
                  <i class="km-icon-delete"
                     aria-hidden="true"></i>
                </button>
              </ng-container>
            </ng-container>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row
          class="km-header-row"
          *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row
          *matRowDef="let row; columns: displayedColumns"
          class="km-mat-row km-clickable"
          [attr.id]="row.id"
          (click)="goToDetails(row)"></tr>
    </table>

    <ng-container *ngIf="!nodeDeployments || nodeDeployments.length === 0">
      <div class="km-row km-no-item"
           *ngIf="isNodeDeploymentLoadFinished && clusterHealthStatus && clusterHealthStatus.css === 'km-status-running' || cluster.spec.cloud.bringyourown">
        No Node Deployments available.
      </div>
      <div class="km-row"
           *ngIf="!isNodeDeploymentLoadFinished || !clusterHealthStatus || clusterHealthStatus.css !== 'km-status-running' || !isClusterRunning && !!!cluster.spec.cloud.bringyourown">
        <mat-spinner color="accent"
                     class="km-node-deployment-spinner"
                     *ngIf="!cluster.spec.cloud.bringyourown"
                     [diameter]="30"></mat-spinner>
      </div>
    </ng-container>

    <mat-card [fxShow]="!!cluster.spec.cloud.bringyourown"
              class="km-mat-card-code-block">
      <mat-card-content>
        <div class="km-code-block">
          <p>
            #Install kubeadm on you local system & the worker node: https://kubernetes.io/docs/setup/independent/install-kubeadm/<br>
            <br>
            # ====================================<br>
            # ======= On your local system =======<br>
            # ====================================<br>
            #<br>
            # => Create a new token for the new node<br>
            kubeadm token --kubeconfig kubeconfig create --print-join-command<br>
            <br>
            # ====================================<br>
            # ======== On the worker node ========<br>
            # ====================================<br>
            #<br>
            #Use the command which got previously generated by kubeadm<br>
            #example:<br>
            #kubeadm join --token AAAAAA.BBBBBBBBBBBBB {{cluster.status.url}} --discovery-token-ca-cert-hash sha256:aaaabbbbcccc<br>
          </p>
        </div>
      </mat-card-content>
    </mat-card>

  </mat-card-content>
</mat-card>
