<mat-list-item class="km-project-selector"
               (click)="openDropdown(select)">
  <div class="km-projects-container">
    <mat-select #select
                placeholder="None"
                (selectionChange)="onSelectionChange($event)"
                [(value)]="selectedProject"
                [compareWith]="areProjectsEqual"
                disableOptionCentering>
      <mat-optgroup *ngIf="externalProjects.length > 0">
        <div>External projects</div>
        <mat-option *ngFor="let project of externalProjects"
                    [value]="project"
                    [disabled]="project.status !== 'Active'"
                    [matTooltip]="project.status !== 'Active' ? project.status + ' Project' : ''">
          {{project.name}}
        </mat-option>
      </mat-optgroup>
      <mat-optgroup *ngIf="myProjects">
        <div>My projects</div>
        <mat-option *ngFor="let project of myProjects"
                    [value]="project"
                    [disabled]="project.status !== 'Active'"
                    [matTooltip]="project.status !== 'Active' ? project.status + ' Project' : ''">
          {{project.name}}
        </mat-option>
      </mat-optgroup>
    </mat-select>
    <i class="km-projects-icon km-icon-arrow-down"></i>
  </div>
</mat-list-item>
