<mat-list-item class="km-project-selector"
               (click)="openDropdown(select)">
  <div class="km-projects-container">
    <mat-select #select
                placeholder="None"
                class="km-projects-select"
                (selectionChange)="onSelectionChange($event)"
                [ngModel]="selectedProject"
                [compareWith]="areProjectsEqual"
                disableOptionCentering>
      <mat-option *ngFor="let project of projects"
                  [value]="project"
                  [disabled]="project.status !== 'Active'"
                  [matTooltip]="project.status !== 'Active' ? project.status + ' Project' : ''">
        {{project.name}}
      </mat-option>
    </mat-select>
    <i class="km-projects-icon km-icon-arrow-down"></i>
  </div>
</mat-list-item>
