.km-add-ssh-key {
  margin-bottom: 50px;

  .mat-card-header {
    padding-bottom: 0;
  }

  .mat-card-title {
    font-size: 20px;
  }

  .km-ssh-key-textarea {
    width: 100%;
    height: 170px;
    textarea {
      height: 170px;
    }
  }
  .km-ssh-key-input {
    margin-top: 10px;
    width: 100%;

  }
}
