<form [formGroup]="addSSHKeyForm" novalidate>

  <div class="form-group" [ngClass]="{'has-danger': !addSSHKeyForm.controls.key.valid && addSSHKeyForm.controls.key.touched, 'has-success': addSSHKeyForm.controls.key.valid}">
    <label for="key" class="form-text text-muted">Key</label>
    <textarea id="key" formControlName="key" type="text" class="form-control" (change)="onNewKeyTextChanged()"></textarea>
    <small class="form-text text-muted">Remember to past only the public part of your SSH key and store the private part safely.</small>
  </div>

  <div class="form-group" [ngClass]="{'has-danger': !addSSHKeyForm.controls.name.valid && addSSHKeyForm.controls.name.touched, 'has-success': addSSHKeyForm.controls.name.valid}">
    <label for="name" class="form-text text-muted">Name</label>

    <md-input-container>
      <input id="name" mdInput formControlName="name" type="text" placeholder="Name">
    </md-input-container>

    <small class="form-text text-muted">The unique name of your SSH key</small>
  </div>

  <div class="form-group">
    <button class="btn btn-info" (click)="addSSHKey()" [disabled]="!addSSHKeyForm.valid">Add key</button>
  </div>
</form>

