<form [formGroup]="doNodeForm" fxLayout="column">
  <div fxFlex class="mat-select-container">
    <mat-form-field>
      <mat-select placeholder="Node Size*:" formControlName="size">
        <mat-option *ngIf="cloudSpec.digitalocean.token.length == 0" [value]="0">Please enter a valid DigitalOcean token first!</mat-option>
        <mat-option *ngIf="sizes.standard.length == 0 && sizes.optimized.length == 0" [value]="0">Loading sizes...</mat-option>

        <mat-optgroup *ngIf="sizes.standard.length > 0" label="Standard Droplets">
          <mat-option *ngFor="let size of sizes.standard" [value]="size.slug">
            {{ size.memory / 1024 }} GB RAM, {{ size.vcpus }} CPU{{ (size.vcpus!=1) ? 's' : '' }}, ${{ size.price_monthly }} per month
          </mat-option>
        </mat-optgroup>
        <mat-optgroup *ngIf="sizes.optimized.length > 0" label="Optimized Droplets">
          <mat-option *ngFor="let size of sizes.optimized" [value]="size.slug">
            {{ size.memory / 1024 }} GB RAM, {{ size.vcpus }} CPU{{ (size.vcpus!=1) ? 's' : '' }}, ${{ size.price_monthly }} per month
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
  </div>

  <div fxFlex="100%">
    <div class="node-options">
      <label fxFlex="50%">Backups</label>
      <mat-checkbox fxFlex="50%" id="backups" formControlName="backups"></mat-checkbox>
    </div>
    <div class="node-options">
      <label fxFlex="50%">IPv6</label>
      <mat-checkbox fxFlex="50%" id="ipv6" formControlName="ipv6"></mat-checkbox>
    </div>
    <div class="node-options">
      <label fxFlex="50%">Monitoring</label>
      <mat-checkbox fxFlex="50%" id="monitoring" formControlName="monitoring"></mat-checkbox>
    </div>
    <mat-form-field>
      <textarea matInput id="tags" formControlName="tags" placeholder="Tags" matTextareaAutosize></textarea>
      <mat-hint>seperate tags with comma</mat-hint>
    </mat-form-field>
  </div>

</form>
