@import "../../../assets/css/colors";

div.km-form-group-tags-header {
  margin: 30px 0 10px;
  font-size: 14px;
  border-bottom: 1px solid $border;
  padding-bottom: 15px;

  i.fa-plus {
    cursor: pointer;
  }
}

div.km-form-group-tags {
  display: flex;
  flex-direction: column;

  div.km-form-group-tags-inner {
    display: flex;
  }

  span.seperator {
    display: flex;
    flex: 1 1 10%;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    padding-bottom: 6px;
  }

  i.fa-times {
    display: flex;
    flex: 1 1 6%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

div.azure-options {
  width: 100%;
  line-height: 30px;
  font-size: 14px;
  display: flex;
  margin: 0 0 10px;

  mat-checkbox,
  label {
    flex: 1 1 100%;
  }
}
