<form [formGroup]="azureNodeForm"
      fxLayout="column">
  <div fxFlex
       class="mat-select-container">
    <mat-form-field class="km-with-hint">
      <mat-label>{{getSizesFormState()}}</mat-label>
      <mat-select [placeholder]="getSizesFormState()"
                  disableOptionCentering
                  formControlName="size">
        <mat-option *ngFor="let size of sizes"
                    [value]="size.name">
          {{ size.name }}
        </mat-option>
      </mat-select>
      <mat-hint *ngIf="showSizeHint()">Please enter valid credentials first.</mat-hint>
    </mat-form-field>
  </div>

  <div fxFlex
       *ngIf="!hideOptional">
    <div fxLayout="row"
         class="km-azure-options">
      <mat-checkbox id="assignPublicIP"
                    formControlName="assignPublicIP">Assign Public IP</mat-checkbox>
    </div>
  </div>

  <div class="km-form-group-tags-header"
       *ngIf="!hideOptional">
    Tags
    <i class="fa fa-plus"
       style="float: right;"
       aria-hidden="true"
       (click)="addTag()"></i>
  </div>
  <div class="km-form-group-tags"
       *ngIf="!hideOptional">
    <div fxFlex="100%"
         *ngFor="let tag of getTagForm(azureNodeForm); let i=index"
         formArrayName="tags">
      <div class="km-form-group-tags-inner"
           [formGroupName]="i">
        <mat-form-field fxFlex="42%">
          <mat-label>Key</mat-label>
          <input matInput
                 formControlName="key"
                 autocomplete="off">
        </mat-form-field>
        <span class="km-seperator">:</span>
        <mat-form-field fxFlex="42%">
          <mat-label>Value</mat-label>
          <input matInput
                 formControlName="value"
                 autocomplete="off">
        </mat-form-field>
        <i class="fa fa-times"
           aria-hidden="true"
           (click)="deleteTag(i)"></i>
      </div>
    </div>
  </div>

</form>
