<form [formGroup]="form"
      fxLayout="column">
  <div fxFlex
       class="mat-select-container">
    <mat-form-field class="km-with-hint">
      <mat-label>{{getSizesFormState()}}</mat-label>
      <mat-select [placeholder]="getSizesFormState()"
                  disableOptionCentering
                  formControlName="size">
        <mat-option *ngFor="let size of sizes"
                    [value]="size.name">
          {{ size.name }}
        </mat-option>
      </mat-select>
      <mat-hint *ngIf="showSizeHint()">Please enter valid credentials first.</mat-hint>
    </mat-form-field>
  </div>
</form>
