<form [formGroup]="form"
      fxFlex="100%"
      fxLayout="column"
      fxLayoutGap="16px">
  <mat-card-header>
    <mat-card-title class="km-color-primary">Provider</mat-card-title>
  </mat-card-header>
  <mat-button-toggle-group group="providerGroup"
                           [formControlName]="controls.Provider"
                           fxLayout="row wrap">
    <mat-button-toggle *ngFor="let provider of providers;"
                       value="{{provider}}">
      <span class="km-provider-logo km-provider-logo-{{provider}}"></span>
    </mat-button-toggle>
  </mat-button-toggle-group>

  <ng-container *ngIf="datacenters.length > 0">
    <mat-card-header>
      <mat-card-title class="km-color-primary">Datacenter</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-button-toggle-group group="datacenterGroup"
                               [formControlName]="controls.Datacenter"
                               fxLayout="row wrap">
        <mat-button-toggle *ngFor="let datacenter of datacenters;"
                           value="{{datacenter.metadata.name}}"
                           (click)="next()">
          <span class="flag-icon flag-icon-{{ datacenter.spec.country.toLowerCase() }}">
          </span>
          <div class="km-location">
            <span [ngClass]="{'km-country-prefix': !!getZone(datacenter)}">{{getLocation(datacenter)}}</span>
            <span>{{getZone(datacenter)}}</span>
          </div>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </mat-card-content>
  </ng-container>
</form>
