<div class="footer container bg-light-gray col-lg-12">
  <div class="row">
    <div class="col-md-4">
      <a href="https://loodse.com/en/" title="Startseite">
        <img src="https://w3alpha.com/cms/templates/166/img/footer_logo.svg" width="160" alt="Logo loodse.com">
      </a>
    </div>
    <div class="col-md-4">
      <ul class="list-inline social-buttons">
        <li><a href="https://www.twitter.com/loodse"><i class="fa fa-twitter"></i></a>
        </li>
        <li><a href="https://github.com/kubermatic/kubermatic"><i class="fa fa-github"></i></a>
        </li>
        <li><a href="http://slack.kubermatic.io/"><i class="fa fa-slack"></i></a>
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul class="list-inline quicklinks">
        <li><a href="#">Privacy Policy</a>
        </li>
        <li><a href="#">Terms of Use</a>
        </li>
      </ul>
    </div>
  </div>
</div>
