<form [formGroup]="osClusterForm" novalidate fxLayout="column">

  <md-input-container fxFlex [ngClass]="{'has-danger': !osClusterForm.controls.os_domain.valid && osClusterForm.controls.os_domain.touched, 'has-success': osClusterForm.controls.os_domain.valid}">
    <input id="os_domain" mdInput formControlName="os_domain" type="text" placeholder="Domain:" title="Domain" (change)="changeOpKey()">
    <small class="form-text text-danger" [hidden]="osClusterForm.controls.os_domain.valid || !osClusterForm.controls.os_domain.touched">Domain is required.</small>
  </md-input-container>

  <md-input-container fxFlex [ngClass]="{'has-danger': !osClusterForm.controls.os_tenant.valid && osClusterForm.controls.os_tenant.touched, 'has-success': osClusterForm.controls.os_tenant.valid}">
    <input id="os_tenant" mdInput formControlName="os_tenant" type="text" placeholder="Tenant/Project:" title="Tenant/Project" (change)="changeOpKey()">
    <small class="form-text text-danger" [hidden]="osClusterForm.controls.os_tenant.valid || !osClusterForm.controls.os_tenant.touched">Tenant/Project is required.</small>
  </md-input-container>

  <md-input-container fxFlex [ngClass]="{'has-danger': !osClusterForm.controls.os_username.valid && osClusterForm.controls.os_username.touched, 'has-success': osClusterForm.controls.os_username.valid}">
    <input id="os_username" mdInput formControlName="os_username" type="text" placeholder="Username:" title="Username" (change)="changeOpKey()">
    <small class="form-text text-danger" [hidden]="osClusterForm.controls.os_username.valid || !osClusterForm.controls.os_username.touched">Username is required.</small>
  </md-input-container>

  <md-input-container fxFlex [ngClass]="{'has-danger': !osClusterForm.controls.os_password.valid && osClusterForm.controls.os_password.touched, 'has-success': osClusterForm.controls.os_password.valid}">
    <input id="os_password" mdInput formControlName="os_password" type="text" placeholder="Password:" title="Password" (change)="changeOpKey()">
    <small class="form-text text-danger" [hidden]="osClusterForm.controls.os_password.valid || !osClusterForm.controls.os_password.touched">Password is required.</small>
  </md-input-container>

  <md-input-container fxFlex [ngClass]="{'has-danger': !osClusterForm.controls.os_network.valid && osClusterForm.controls.os_network.touched, 'has-success': osClusterForm.controls.os_network.valid}">
    <input id="os_network" mdInput formControlName="os_network" type="text" placeholder="Network name:" title="Network" (change)="changeOpKey()">
    <small class="form-text text-danger" [hidden]="osClusterForm.controls.os_network.valid || !osClusterForm.controls.os_network.touched">Network is required.</small>
  </md-input-container>

  <md-input-container fxFlex [ngClass]="{'has-danger': !osClusterForm.controls.os_security_groups.valid && osClusterForm.controls.os_security_groups.touched, 'has-success': osClusterForm.controls.os_security_groups.valid}">
    <input id="os_security_groups" mdInput formControlName="os_security_groups" type="text" placeholder="Security groups (comma separated):" title="Security groups" (change)="changeOpKey()">
    <small class="form-text text-danger" [hidden]="osClusterForm.controls.os_security_groups.valid || !osClusterForm.controls.os_security_groups.touched">At least one security groups is required.</small>
  </md-input-container>

  <md-input-container fxFlex [ngClass]="{'has-danger': !osClusterForm.controls.os_floating_ip_pool.valid && osClusterForm.controls.os_floating_ip_pool.touched, 'has-success': osClusterForm.controls.os_floating_ip_pool.valid}">
    <input id="os_floating_ip_pool" mdInput formControlName="os_floating_ip_pool" type="text" placeholder="Floating IP pool (external network name)" title="Floating IP pool" (change)="changeOpKey()">
  </md-input-container>

  {{ osClusterForm.status | json }}
</form>
