<mat-form-field fxFlex>
  <mat-label>{{ label }}</mat-label>
  <mat-select [(ngModel)]="selectedPreset"
              [disabled]="disabled"
              class="km-custom-credentials-select"
              panelClass="km-preset-dropdown">
    <mat-option *ngFor="let credentialName of presetList.names"
                [value]="credentialName">{{credentialName}}</mat-option>
    <mat-select-trigger fxFlex
                        fxLayout="row">
      <div fxFlex
           fxLayoutAlign="start">
        {{selectedPreset}}
      </div>

      <div fxFlex
           fxLayoutAlign="end">
        <button *ngIf="selectedPreset"
                (click)="selectedPreset=undefined; $event.stopPropagation()"
                mat-icon-button
                aria-label="Clear">
          <mat-icon class="km-custom-credentials-clear-icon"
                    inline="true">close</mat-icon>
        </button>
      </div>
    </mat-select-trigger>
  </mat-select>
</mat-form-field>
