@import "../../../../assets/css/variables";

.simple-notification-wrapper {
  bottom: $toolbar-height !important;
  right: $content-padding !important;
}

.km-notification {
  border-radius: $border-radius;
  box-shadow: $notification-border-box-shadow;
  min-height: unset !important;
  padding: unset !important;
  z-index: 2000 !important;

  .icon,
  .sn-content {
    display: none;
  }

  .sn-title {
    display: flex;
    font-size: $font-size-subhead !important;
    line-height: unset !important;
    padding: 0 !important;

    div {
      margin: auto;
    }

    .km-notification-type {
      align-items: center;
      border-radius: $border-radius 0 0 $border-radius;
      display: flex;
      height: inherit;
      justify-content: center;
      margin: 0 auto;
      width: $notification-side-padding !important;

      i {
        background-size: 2 * $baseline-grid;
        margin: 0 auto;
      }
    }

    .km-notification-content {
      flex: 100;
      padding: $notification-content-padding;
      word-break: break-word;

      &.small {
        font-size: $font-size-body !important;
      }
    }

    .km-notification-close-button {
      padding: 1.5 * $baseline-grid;

      button.km-icon-close {
        border: unset;
        cursor: pointer;
        outline: unset;
      }
    }
  }
}

.copy-action {
  cursor: pointer;
}
