$wizard-box-content-dc-logo-size: 125px;
$wizard-box-content-dc-margin-top: 0px;

$wizard-box-content-location-flag-size: 48px;
.mat-card {
  .mat-card-header {
    padding: 0;
    margin-bottom: 10px;
  }

  .mat-card-header-text {
    margin: 0;
  }

  .mat-card-title {
    margin: 0;
    h4 {
      font-weight: 400;
      margin: 10px 0;
      font-size: 18px;
      color: #444D58;
    }
  }

  .mat-card-content {
    form {
      padding-top: 10px;
    }
    p {
      color: #444D58;
      margin: 0 8px 5px;
    }
  }
}

.wizard-box-content {
  text-align: center;
  color: #000;
  font-weight: 600;
  padding: 11px 0;

  img.dc-logo {
    width: $wizard-box-content-dc-logo-size;
    margin-top: $wizard-box-content-dc-margin-top;
    margin-bottom: 10px;
  }
}



.wizard-box {
  margin: 5px;
  background: #fff;
  border: 1px solid #E3E8EC;
  cursor: pointer;
}

.wizard-box[disabled] {
  cursor: not-allowed;
}

.wizard-box.selected {
  background-color: #d5e3f5;
  cursor: default;
  border: 1px solid #03a9f4;
}

.wizard-box.selected:hover {
  background-color: #d5e3f5;
  cursor: default;
  border: 1px solid #03a9f4;
}

.wizard-box:hover {
  border: 1px solid #03a9f4;
  background-color: #d5e3f5;
}

.wizard-box:not([disabled]):not(.selected):hover {
  background: #f7f8f9;
}


div.location {
  font-weight: 300;
  font-size: 12px;
  padding: 0 5px;
}

image.location-flag {
  margin-top: 10px;
  width: $wizard-box-content-location-flag-size;
  height: $wizard-box-content-location-flag-size;
}
