<form [formGroup]="form">
  <div class="km-header">SSH Keys</div>
  <mat-form-field *ngIf="hasKeys()">
    <mat-label>SSH Keys</mat-label>
    <mat-select [formControlName]="Controls.Keys"
                multiple
                disableOptionCentering
                panelClass="km-multiple-values-dropdown"
                [compareWith]="compareValues">
      <mat-option *ngFor="let key of keys"
                  [value]="key">{{key.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button *ngIf="hasKeys()"
          (click)="addSSHKeyDialog()"
          mat-flat-button
          [disabled]="!canAdd()">Add SSH key
  </button>
  <div *ngIf="!hasKeys()">
    <p>You have no SSH keys</p>
    <button (click)="addSSHKeyDialog()"
            mat-flat-button
            [disabled]="!canAdd()">Add SSH key
    </button>
  </div>
</form>
