<div class="km-version-picker-container"
     fxFlex
     fxLayoutAlign="center center">
  <div class="km-version-picker-type"
       fxLayoutAlign="center center">
    <i class="km-icon-{{cluster.type}}"></i>
  </div>

  <km-property>
    <div key>{{getVersionHeadline(cluster.type, false)}}</div>
    <div value
         fxLayoutGap="4px">
      <span *ngIf="isClusterRunning && (updatesAvailable || downgradesAvailable)"
            (click)="changeClusterVersionDialog()"
            matTooltip="Click to change the version"
            class="km-copy">{{cluster.spec.version}}
        <i *ngIf="updatesAvailable"
           class="fa fa-arrow-up"></i>
      </span>
      <i *ngIf="someUpgradesRestrictedByKubeletVersion"
         matTooltip="Some Kubernetes versions are not available due to incompatible nodes running in the cluster. Upgrade or recreate your nodes before you can upgrade your cluster to the latest version."
         class="fa fa-exclamation-triangle orange"></i>
      <span *ngIf="!isClusterRunning || !(updatesAvailable || downgradesAvailable)">
        {{cluster.spec.version}}
      </span>
    </div>
  </km-property>
</div>
