@import "../../../../assets/css/colors";

.km-expansion-panel {
    margin-bottom: 20px;
    box-shadow: none !important;

    &.mat-expanded {
        background-color: $light-background;
        box-shadow: inset 0px 4px 4px rgba($text-color, 0.1) !important;
    }
}

.km-expansion-panel-header {
    background-color: $light-background;
    font-size: 14px;
    font-weight: bold;
    height: 40px !important;

    &:hover {
        background-color: #EEF5FF !important;
    }

    &.mat-expanded {
        height: 40px !important;
        background-color: $medium-background;
    }

    &.statusWaiting {
      background-color: rgba($waiting-background, 0.2) !important;
      &:hover {
        background-color: rgba($waiting-background, 0.2) !important;
      }
    }

    &.statusFailed, &.statusDeleting {
        background-color: $warning-background;
        &:hover {
            background-color: $warning-background !important;
        }
    }

    .km-expansion-panel-title {
        color: $primary;
        align-items: center;
        justify-content: center;
    }
}

.mat-expanded {
    overflow: hidden !important;
}

.km-action-row {
    width: 100%;
    padding: 0;
    border-top: none;

    .km-expansion-panel-header {
        width: 100%;
        background-color: #F7FAFF;
        &:hover {
            background-color: #F7FAFF !important;
        }

      &.statusWaiting {
        background-color: rgba($waiting-background, 0.2) !important;
        &:hover {
          background-color: rgba($waiting-background, 0.2) !important;
        }
      }

      &.statusFailed, &.statusDeleting {
          background-color: $warning-background;

          &:hover {
            background-color: $warning-background !important;
          }
        }
    }
}

.km-expansion-panel-body {
    display: block;


    &:nth-child(2) {
        margin-left: 20px;
    }
}

.iconRunning {
    display: inline-block;
    margin: 0 5px 0 0;
    width: 12px;
    height: 10px;
    background-image: url("../../../../assets/images/Running-Check.svg");
    background-repeat: no-repeat;
}

.iconFailed {
    display: inline-block;
    margin: 0 10px 0 5px;
    width: 2px;
    height: 10px;
    background-image: url("../../../../assets/images/Failed.svg");
    background-repeat: no-repeat;
}

.iconLogs {
    display: inline-block;
    margin: 0 5px 0 0;
    width: 12px;
    height: 10px;
    background-image: url("../../../../assets/images/Logs.svg");
    background-repeat: no-repeat;
}

.iconDocuments {
    display: inline-block;
    margin: 0 5px 0 0;
    width: 12px;
    height: 11px;
    background-image: url("../../../../assets/images/Documents.svg");
    background-repeat: no-repeat;
}

.iconDownload {
  display: inline-block;
  margin: 0 5px 0 0;
  width: 12px;
  height: 10px;
  background-image: url("../../../../assets/images/Download_blue.svg");
  background-repeat: no-repeat;
}

.iconArrowUp {
    display: inline-block;
    margin: 0 0 0 5px;
    width: 12px;
    height: 9px;
    background-image: url("../../../../assets/images/Arrow_up.svg");
    background-repeat: no-repeat;
}

.iconArrowDown {
    display: inline-block;
    margin: 0 0 0 5px;
    width: 12px;
    height: 9px;
    background-image: url("../../../../assets/images/Arrow_down.svg");
    background-repeat: no-repeat;
}

.fa-circle-o-notch {
    color: $waiting-status-color;
    margin-right: 3px;
}

div.clickable {
    color: $primary;
    cursor: pointer;

    &.inline {
        display: inline-block;
    }

    &.copy:active {
        color: rgba($primary, 0.7);
    }
}

strong.inlineSeperator {
    color: $primary;
    padding: 0 3px;
}

button:disabled {
    color: $disabled-button-color;
    cursor: default;
}

.km-machine-networks-menu-btn {
    margin-top: -10px;
}

div.km-scrollable-content {
    overflow-y: auto;
    max-height: 195px;
}

div.km-machine-network-spec {
    padding-top: 3px;
}
