<mat-expansion-panel class="km-expansion-panel"
                     hideToggle="true">
  <mat-expansion-panel-header class="km-expansion-panel-header"
                              *ngIf="!expand"
                              (click)="isExpand(true)"
                              [ngClass]="!!healthStatus ? healthStatus.css : ''">
    <mat-panel-title class="km-expansion-panel-title">
      More <span class="km-icon-arrow-down"></span>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div fxLayout>
    <div class="km-expansion-panel-body"
         fxFlex="50%">
      <mat-card class="blue km-small">
        <mat-card-header>
          <mat-card-title fxLayout>
            <div fxFlex="50%">
              <strong>Name</strong>
            </div>
            <div fxFlex="50%">
              <strong>Status</strong>
            </div>
            <!-- <div fxFlex="33%"></div> -->
          </mat-card-title>
        </mat-card-header>

        <mat-card-content fxLayout
                          class="km-row km-small">
          <div fxFlex="50%">
            <strong>API Server</strong>
          </div>
          <div fxFlex="50%">
            <span [ngClass]="getIcon('apiserver')"></span>
            {{ getStatus('apiserver') }}
          </div>
          <!-- <div class="km-clickable" fxFlex="33%">
            <span class="km-icon-logs"></span>
            <strong>View Logs</strong>
          </div> -->
        </mat-card-content>
        <mat-card-content fxLayout
                          class="km-row km-small">
          <div fxFlex="50%">
            <strong>Controller</strong>
          </div>
          <div fxFlex="50%">
            <span [ngClass]="getIcon('controller')"></span>
            {{ getStatus('controller') }}
          </div>
        </mat-card-content>
        <mat-card-content fxLayout
                          class="km-row km-small">
          <div fxFlex="50%">
            <strong>User Controller Manager</strong>
          </div>
          <div fxFlex="50%">
            <span [ngClass]="getIcon('userClusterControllerManager')"></span>
            {{ getStatus('userClusterControllerManager') }}
          </div>
        </mat-card-content>
        <mat-card-content fxLayout
                          class="km-row km-small">
          <div fxFlex="50%">
            <strong>etcd</strong>
          </div>
          <div fxFlex="50%">
            <span [ngClass]="getIcon('etcd')"></span>
            {{ getStatus('etcd') }}
          </div>
          <!-- <div class="km-clickable" fxFlex="33%">
            <span class="km-icon-logs"></span>
            <strong>View Logs</strong>
          </div> -->
        </mat-card-content>
        <mat-card-content fxLayout
                          class="km-row km-small">
          <div fxFlex="50%">
            <strong>Scheduler</strong>
          </div>
          <div fxFlex="50%">
            <span [ngClass]="getIcon('scheduler')"></span>
            {{ getStatus('scheduler') }}
          </div>
          <!-- <div class="km-clickable" fxFlex="33%">
            <span class="km-icon-logs"></span>
            <strong>View Logs</strong>
          </div> -->
        </mat-card-content>
        <mat-card-content fxLayout
                          class="km-row km-small">
          <div fxFlex="50%">
            <strong>Machine Controller</strong>
          </div>
          <div fxFlex="50%">
            <span [ngClass]="getIcon('machineController')"></span>
            {{ getStatus('machineController') }}
          </div>
          <!-- <div class="km-clickable" fxFlex="33%">
            <span class="km-icon-logs"></span>
            <strong>View Logs</strong>
          </div> -->
        </mat-card-content>

      </mat-card>
    </div>

    <div class="km-expansion-panel-body"
         fxFlex="50%">
      <mat-card class="blue km-small">
        <mat-card-header>
          <mat-card-title fxLayout>
            <div fxFlex="100%">
              <strong>Certificates and Keys</strong>
            </div>
          </mat-card-title>
        </mat-card-header>

        <!-- <mat-card-content class="km-row" fxLayout >
          <div fxFlex="50%">
            <strong>Root-CA</strong>
          </div>
          <div class="km-clickable" fxFlex="50%" (click)="decode('root-ca-certificate')">
            <span class="km-icon-download"></span>
            <strong>Certificate</strong>
          </div>
        </mat-card-content>
        <mat-card-content class="km-row" fxLayout >
          <div fxFlex="50%">
            <strong>Apiserver Cert</strong>
          </div>
          <div class="km-clickable" fxFlex="50%" (click)="decode('apiserver-cert-certificate')">
            <span class="km-icon-download"></span>
            <strong>Certificate</strong>
          </div>
        </mat-card-content>
        <mat-card-content class="km-row" fxLayout >
          <div fxFlex="50%">
            <strong>Apiserver kubelet-client</strong>
          </div>
          <div class="km-clickable" fxFlex="50%" (click)="decode('apiserver-kubelet-client-certificate')">
            <span class="km-icon-download"></span>
            <strong>Certificate</strong>
          </div>
        </mat-card-content> -->
        <mat-card-content fxLayout
                          class="km-row km-small">
          <div fxFlex="50%">
            <strong>Admin Token</strong>
          </div>
          <div>
            <div class="km-clickable km-inline"
                 (click)="revokeAdminTokenDialog()">
              <button [disabled]="!!userGroup && !userGroupConfig[userGroup].clusters.edit">Revoke</button>
            </div>
          </div>
        </mat-card-content>
        <!-- <mat-card-content class="km-row" fxLayout >
          <div fxFlex="50%">
            <strong>SSH (user: apiserver)</strong>
          </div>
          <div class="km-clickable" fxFlex="50%" (click)="decode('ssh-apiserver-rsa-public')">
            <span class="km-icon-download"></span>
            <strong>RSA Public</strong>
          </div>
        </mat-card-content> -->

      </mat-card>
    </div>
  </div>

  <div fxLayout
       *ngIf="!!cluster.spec.machineNetworks">
    <div class="km-expansion-panel-body"
         fxFlex="50%">
      <mat-card class="blue km-small">
        <mat-card-header>
          <mat-card-title fxLayout>
            <div fxFlex="95%">
              <strong>Machine Networks</strong>
            </div>
            <div fxFlex="5%">
              <button mat-icon-button
                      class="km-machine-networks-menu-btn"
                      [matMenuTriggerFor]="menu"
                      *ngIf="!cluster.spec.cloud.bringyourown">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu"
                        class="km-machine-networks-settings"
                        xPosition="before">
                <button mat-menu-item
                        (click)="addMachineNetwork()">
                  <i class="fa fa-plus"
                     style="margin-right: 5px;"
                     aria-hidden="true"></i>
                  <span>Add Machine Network</span>
                </button>
              </mat-menu>
            </div>
          </mat-card-title>
        </mat-card-header>

        <div class="km-scrollable-content">
          <ng-container *ngFor="let network of cluster.spec.machineNetworks; let i=index;">
            <mat-card-content fxLayout="column"
                              class="km-row km-small">
              <strong>Machine Network #{{i+1}}</strong>
              <div class="km-machine-network-spec"
                   fxLayout>
                <div fxFlex="50%"><strong>CIDR</strong></div>
                <div fxFlex="50%">{{ network.cidr }}</div>
              </div>
              <div class="km-machine-network-spec"
                   fxLayout>
                <div fxFlex="50%"><strong>DNS Servers</strong></div>
                <div fxFlex="50%">{{ network.dnsServers }}</div>
              </div>
              <div class="km-machine-network-spec"
                   fxLayout>
                <div fxFlex="50%"><strong>Gateway</strong></div>
                <div fxFlex="50%">{{ network.gateway }}</div>
              </div>
            </mat-card-content>
          </ng-container>
        </div>

      </mat-card>
    </div>

    <div class="km-expansion-panel-body"
         fxFlex="50%">
    </div>
  </div>

  <mat-action-row class="km-action-row">
    <mat-expansion-panel-header class="km-expansion-panel-header"
                                (click)="isExpand(false)"
                                [ngClass]="!!healthStatus ? healthStatus.css : ''">
      <mat-panel-title class="km-expansion-panel-title">
        Less <span class="km-icon-arrow-up"></span>
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-action-row>

</mat-expansion-panel>
