@import "../../../../assets/css/colors";

.km-expansion-panel {
  margin-bottom: 20px;
  box-shadow: none !important;

  &.mat-expanded {
    background-color: $light-background;
    box-shadow: inset 0 4px 4px rgba($text-color, 0.1) !important;
    border-radius: 0 0 5px 5px;
  }
}

.km-expansion-panel-header {
  font-size: 14px;
  font-weight: bold;
  height: 40px !important;
  background-color: $white-background !important;

  &:hover {
    background-color: $white-background !important;
  }

  &.mat-expanded {
    height: 40px !important;
  }

  .km-expansion-panel-title {
    color: $primary;
    align-items: center;
    justify-content: center;
  }
}

.mat-expanded {
  overflow: hidden !important;
}

.km-action-row {
  width: 100%;
  padding: 0;
  border-top: none;

  .km-expansion-panel-header {
    width: 100%;
  }
}

.km-expansion-panel-body {
  display: block;

  &:nth-child(2) {
    margin-left: 20px;
  }
}

.km-icon-running {
  margin: 0 5px 0 0;
}

.km-icon-failed {
  margin: 0 10px 0 5px;
}

.km-icon-arrow-up,
.km-icon-arrow-down {
  margin: 0 0 0 5px;
  background-color: $primary;
}

.fa-circle {
  color: $indicator-orange;
  margin-right: 3px;
}

div.km-clickable {
  color: $primary;
  cursor: pointer;

  &.km-inline {
    display: inline-block;
  }

  &.km-copy:active {
    color: rgba($primary, 0.7);
  }
}
