<div fxLayout>
  <div class="km-expansion-panel-body"
       fxFlex>

    <mat-card-content fxLayout
                      class="km-row km-small">
      <div fxFlex="50%">
        <strong>API Server</strong>
      </div>
      <div fxFlex="50%">
        <span [ngClass]="getIcon('apiserver')"></span>
        {{ getStatus('apiserver') }}
      </div>

    </mat-card-content>
    <mat-card-content fxLayout
                      class="km-row km-small">
      <div fxFlex="50%">
        <strong>Controller</strong>
      </div>
      <div fxFlex="50%">
        <span [ngClass]="getIcon('controller')"></span>
        {{ getStatus('controller') }}
      </div>
    </mat-card-content>
    <mat-card-content fxLayout
                      class="km-row km-small">
      <div fxFlex="50%">
        <strong>User Controller Manager</strong>
      </div>
      <div fxFlex="50%">
        <span [ngClass]="getIcon('userClusterControllerManager')"></span>
        {{ getStatus('userClusterControllerManager') }}
      </div>
    </mat-card-content>
    <mat-card-content fxLayout
                      class="km-row km-small">
      <div fxFlex="50%">
        <strong>etcd</strong>
      </div>
      <div fxFlex="50%">
        <span [ngClass]="getIcon('etcd')"></span>
        {{ getStatus('etcd') }}
      </div>

    </mat-card-content>
    <mat-card-content fxLayout
                      class="km-row km-small">
      <div fxFlex="50%">
        <strong>Scheduler</strong>
      </div>
      <div fxFlex="50%">
        <span [ngClass]="getIcon('scheduler')"></span>
        {{ getStatus('scheduler') }}
      </div>

    </mat-card-content>
    <mat-card-content fxLayout
                      class="km-row km-small">
      <div fxFlex="50%">
        <strong>Machine Controller</strong>
      </div>
      <div fxFlex="50%">
        <span [ngClass]="getIcon('machineController')"></span>
        {{ getStatus('machineController') }}
      </div>

    </mat-card-content>
  </div>
</div>
