@import "../../../../assets/css/colors";

.km-expansion-panel {
  margin-bottom: 20px;
  box-shadow: none !important;

  &.mat-expanded {
    background-color: $light-background;
    box-shadow: inset 0 4px 4px rgba($text-color, 0.1) !important;
  }
}

.km-expansion-panel-header {
  background-color: $light-background;
  font-size: 14px;
  font-weight: bold;
  height: 40px !important;

  &:hover {
    background-color: $light-background !important;
  }

  &.mat-expanded {
    height: 40px !important;
    background-color: $medium-background;
  }

  &.km-status-waiting {
    background-color: rgba($waiting-background, 0.2) !important;

    &:hover {
      background-color: rgba($waiting-background, 0.2) !important;
    }
  }

  &.km-status-failed,
  &.km-status-deleting {
    background-color: $warning-background;

    &:hover {
      background-color: $warning-background !important;
    }
  }

  .km-expansion-panel-title {
    color: $primary;
    align-items: center;
    justify-content: center;
  }
}

.mat-expanded {
  overflow: hidden !important;
}

.km-action-row {
  width: 100%;
  padding: 0;
  border-top: none;

  .km-expansion-panel-header {
    width: 100%;
    background-color: $medium-background;

    &:hover {
      background-color: $medium-background !important;
    }

    &.km-status-waiting {
      background-color: rgba($waiting-background, 0.2) !important;

      &:hover {
        background-color: rgba($waiting-background, 0.2) !important;
      }
    }

    &.km-status-failed,
    &.km-status-deleting {
      background-color: $warning-background;

      &:hover {
        background-color: $warning-background !important;
      }
    }
  }
}

.km-expansion-panel-body {
  display: block;

  &:nth-child(2) {
    margin-left: 20px;
  }
}

.km-icon-running {
  margin: 0 5px 0 0;
}

.km-icon-failed {
  margin: 0 10px 0 5px;
}

.km-icon-logs,
.km-icon-documents,
.km-icon-download {
  margin: 0 5px 0 0;
}

.km-icon-arrow-up,
.km-icon-arrow-down {
  margin: 0 0 0 5px;
}

.fa-circle-o-notch {
  color: $waiting-status-color;
  margin-right: 3px;
}

div.km-clickable {
  color: $primary;
  cursor: pointer;

  &.km-inline {
    display: inline-block;
  }

  &.km-copy:active {
    color: rgba($primary, 0.7);
  }
}

strong.km-inlineSeperator {
  color: $primary;
  padding: 0 3px;
}

button:disabled {
  color: $disabled-button-color;
  cursor: default;
}

.km-machine-networks-menu-btn {
  margin-top: -10px;
}

div.km-scrollable-content {
  overflow-y: auto;
  max-height: 195px;
}

div.km-machine-network-spec {
  padding-top: 3px;
}
