 .km-expansion-panel {
    margin-bottom: 20px;
    box-shadow: none !important;

    &.mat-expanded {
        background-color: #EDF4FE;
        box-shadow: inset 0px 4px 4px rgba(68, 77, 88, 0.1) !important;
    }
}

.km-expansion-panel-header {
    background-color: #EEF5FF;
    font-size: 14px;
    font-weight: bold;
    height: 40px !important;

    &:hover {
        background-color: #EEF5FF !important;
    }

    &.mat-expanded {
        height: 40px !important;
    }

    &.statusWaiting {
      background-color: rgba(255, 213, 92, 0.2) !important;
      &:hover {
        background-color: rgba(255, 213, 92, 0.2) !important;
      }
    }

    &.statusFailed, &.statusDeleting {
        background-color: #FFDAD9;
        &:hover {
            background-color: #FFDAD9 !important;
        }
    }

    .km-expansion-panel-title {
        color: #0086D4;
        align-items: center;
        justify-content: center;
    }
}

.mat-expanded {
    overflow: hidden !important;
}

.km-action-row {
    width: 100%;
    padding: 0;
    border-top: none;

    .km-expansion-panel-header {
        width: 100%;
        background-color: #F7FAFF;
        &:hover {
            background-color: #F7FAFF !important;
        }

      &.statusWaiting {
        background-color: rgba(255, 213, 92, 0.2) !important;
        &:hover {
          background-color: rgba(255, 213, 92, 0.2) !important;
        }
      }

      &.statusFailed, &.statusDeleting {
          background-color: #FFDAD9;

          &:hover {
            background-color: #FFDAD9 !important;
          }
        }
    }
}

.km-expansion-panel-body {
    display: block;
    //background-color: #FFFFFF;
    //padding: 0px 24px 0px 24px;
    //margin-top: 15px;

    &:nth-child(2) {
        margin-left: 20px;
    }

    .km-card-list {
        //padding: 15px 0px;
    }

    .km-card-list-header {
        font-size: 14px;
        //font-weight: bold;
        line-height: 16px;
        //margin-bottom: 10px;
    }

    .km-card-list-content {
        font-size: 14px;
        line-height: 16px;
    }
}

.iconRunning {
    display: inline-block;
    margin: 0 5px 0 0;
    width: 12px;
    height: 10px;
    background-image: url("../../../../assets/images/Running-Check.svg");
    background-repeat: no-repeat;
}

.iconFailed {
    display: inline-block;
    margin: 0 10px 0 5px;
    width: 2px;
    height: 10px;
    background-image: url("../../../../assets/images/Failed.svg");
    background-repeat: no-repeat;
}

.iconLogs {
    display: inline-block;
    margin: 0 5px 0 0;
    width: 12px;
    height: 10px;
    background-image: url("../../../../assets/images/Logs.svg");
    background-repeat: no-repeat;
}

.iconDocuments {
    display: inline-block;
    margin: 0 5px 0 0;
    width: 12px;
    height: 11px;
    background-image: url("../../../../assets/images/Documents.svg");
    background-repeat: no-repeat;
}

.iconDownload {
  display: inline-block;
  margin: 0 5px 0 0;
  width: 12px;
  height: 10px;
  background-image: url("../../../../assets/images/Download_blue.svg");
  background-repeat: no-repeat;
}

.iconArrowUp {
    display: inline-block;
    margin: 0 0 0 5px;
    width: 12px;
    height: 9px;
    background-image: url("../../../../assets/images/Arrow_up.svg");
    background-repeat: no-repeat;
}

.iconArrowDown {
    display: inline-block;
    margin: 0 0 0 5px;
    width: 12px;
    height: 9px;
    background-image: url("../../../../assets/images/Arrow_down.svg");
    background-repeat: no-repeat;
}

.fa-circle-o-notch {
    color: orange;
    margin-right: 3px;
}

div.clickable {
    color: #0086D4;
    cursor: pointer;

    &.inline {
        display: inline-block;
    }

    &.copy:active {
        color: rgba(2, 136, 209, 0.7);
    }
}

strong.inlineSeperator {
    color: #0086D4;
    padding: 0 3px;
}
