<mat-expansion-panel class="km-expansion-panel" hideToggle="true">
  <mat-expansion-panel-header class="km-expansion-panel-header" *ngIf="!expand" (click)="expandPanel()" [ngClass]="{'failedHeader': cluster.status.phase == 'Failed'}">
    <mat-panel-title class="km-expansion-panel-title">
      More <span class="iconArrowDown"></span>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div class="km-expansion-panel-body" *ngIf="health">
    <mat-card class="km-card-list">

      <mat-card-header class="km-card-list-header">
        <mat-card-title fxLayout>
          <div fxFlex="33%">
            <strong>Name</strong>
          </div>
          <div fxFlex="33%">
            <strong>Status</strong>
          </div>
          <div fxFlex="33%"></div>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content class="km-card-list-content" fxLayout >
        <div fxFlex="33%">
          <strong>API Server</strong>
        </div>
        <div fxFlex="33%">
          <span [ngClass]="{'iconRunning': health.apiserver, 'iconFailed': !health.apiserver}"></span>
          {{health.apiserver ? 'Running' : 'Failed'}}
        </div>
        <div class="clickable" fxFlex="33%">
          <span class="iconLogs"></span>
          <strong>View Logs</strong>
        </div>
      </mat-card-content>
      <mat-card-content class="km-card-list-content" fxLayout >
        <div fxFlex="33%">
          <strong>Controller</strong>
        </div>
        <div fxFlex="33%">
          <span [ngClass]="{'iconRunning': health.controller, 'iconFailed': !health.controller}"></span>
          {{health.controller ? 'Running' : 'Failed'}}
        </div>
        <div class="clickable" fxFlex="33%">
          <span class="iconLogs"></span>
          <strong>View Logs</strong>
        </div>
      </mat-card-content>
      <mat-card-content class="km-card-list-content" fxLayout >
        <div fxFlex="33%">
          <strong>Etcd</strong>
        </div>
        <div fxFlex="33%">
          <span [ngClass]="{'iconRunning': health.etcd, 'iconFailed': !health.etcd}"></span>
          {{health.etcd ? 'Running' : 'Failed'}}
        </div>
        <div class="clickable" fxFlex="33%">
          <span class="iconLogs"></span>
          <strong>View Logs</strong>
        </div>
      </mat-card-content>
      <mat-card-content class="km-card-list-content" fxLayout >
        <div fxFlex="33%">
          <strong>Scheduler</strong>
        </div>
        <div fxFlex="33%">
          <span [ngClass]="{'iconRunning': health.scheduler, 'iconFailed': !health.scheduler}"></span>
          {{health.scheduler ? 'Running' : 'Failed'}}
        </div>
        <div class="clickable" fxFlex="33%">
          <span class="iconLogs"></span>
          <strong>View Logs</strong>
        </div>
      </mat-card-content>
      <mat-card-content class="km-card-list-content" fxLayout >
        <div fxFlex="33%">
          <strong>Node Controller</strong>
        </div>
        <div fxFlex="33%">
          <span [ngClass]="{'iconRunning': health.nodeController, 'iconFailed': !health.nodeController}"></span>
          {{health.nodeController ? 'Running' : 'Failed'}}
        </div>
        <div class="clickable" fxFlex="33%">
          <span class="iconLogs"></span>
          <strong>View Logs</strong>
        </div>
      </mat-card-content>

    </mat-card>
  </div>

    <div class="km-expansion-panel-body">
    <mat-card class="km-card-list">

      <mat-card-header class="km-card-list-header">
        <mat-card-title fxLayout>
          <div fxFlex="100%">
            <strong>Certificates and Keys</strong>
          </div>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content class="km-card-list-content" fxLayout >
        <div fxFlex="33%">
          <strong>Root-CA</strong>
        </div>
        <div class="clickable" fxFlex="33%" (click)="decode('root-ca-certificate')">
          <span class="iconDownload"></span>
          <strong>Certificate</strong>
        </div>
        <div class="clickable" fxFlex="33%" (click)="decode('root-ca-key')">
          <span class="iconDownload"></span>
          <strong>Key</strong>
        </div>
      </mat-card-content>
      <mat-card-content class="km-card-list-content" fxLayout >
        <div fxFlex="33%">
          <strong>Apiserver Cert</strong>
        </div>
        <div class="clickable" fxFlex="33%" (click)="decode('apiserver-cert-certificate')">
          <span class="iconDownload"></span>
          <strong>Certificate</strong>
        </div>
        <div class="clickable" fxFlex="33%" (click)="decode('apiserver-cert-key')">
          <span class="iconDownload"></span>
          <strong>Key</strong>
        </div>
      </mat-card-content>
      <mat-card-content class="km-card-list-content" fxLayout >
        <div fxFlex="33%">
          <strong>Apiserver kubelet-client</strong>
        </div>
        <div class="clickable" fxFlex="33%" (click)="decode('apiserver-kubelet-client-certificate')">
          <span class="iconDownload"></span>
          <strong>Certificate</strong>
        </div>
        <div class="clickable" fxFlex="33%" (click)="decode('apiserver-kubelet-client-key')">
          <span class="iconDownload"></span>
          <strong>Key</strong>
        </div>
      </mat-card-content>
      <mat-card-content class="km-card-list-content" fxLayout >
        <div fxFlex="33%">
          <strong>Serviceaccount</strong>
        </div>
        <div fxFlex="33%"></div>
        <div class="clickable" fxFlex="33%" (click)="decode('serviceaccount-key')">
          <span class="iconDownload"></span>
          <strong>Key</strong>
        </div>
      </mat-card-content>
      <mat-card-content class="km-card-list-content" fxLayout >
        <div fxFlex="33%">
          <strong>Tokens</strong>
        </div>
        <div class="clickable" fxFlex="33%" ngxClipboard [cbContent]="cluster.address['adminToken']">
          <span class="iconDocuments"></span>
          <strong>Admin</strong>
        </div>
        <div class="clickable" fxFlex="33%" ngxClipboard [cbContent]="cluster.address['kubeletToken']">
          <span class="iconDocuments"></span>
          <strong>Kubelet</strong>
        </div>
      </mat-card-content>
      <mat-card-content class="km-card-list-content" fxLayout >
        <div fxFlex="33%">
          <strong>SSH (user: apiserver)</strong>
        </div>
        <div class="clickable" fxFlex="33%" (click)="decode('ssh-apiserver-rsa')">
          <span class="iconDownload"></span>
          <strong>RSA</strong>
        </div>
        <div class="clickable" fxFlex="33%" (click)="decode('ssh-apiserver-rsa-public')">
          <span class="iconDownload"></span>
          <strong>RSA Public</strong>
        </div>
      </mat-card-content>

    </mat-card>
  </div>

  <mat-action-row class="km-action-row">
    <mat-expansion-panel-header class="km-expansion-panel-header" (click)="expandPanel()" [ngClass]="{'failedHeader': cluster.status.phase == 'Failed'}">
      <mat-panel-title class="km-expansion-panel-title">
        Less <span class="iconArrowUp"></span>
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-action-row>

</mat-expansion-panel>