<h4>{{title}}</h4>
<form [formGroup]="taintsForm"
      fxLayout="column">
  <div formArrayName="taints">
    <div *ngFor="let taint of taintArray.controls; let i = index;"
         [formGroupName]="i"
         fxLayout="row"
         fxLayoutGap="10px">
      <mat-form-field fxFlex="30">
        <mat-label>Key</mat-label>
        <input matInput
               (keyup)="check(i)"
               name="key"
               formControlName="key">
        <mat-error *ngIf="taint.get('key').errors?.validLabelKeyUniqueness"
                   i18n>
          Key is not unique
        </mat-error>
        <mat-error *ngIf="taint.get('key').errors?.validLabelKeyPrefixPattern"
                   i18n>
          Prefix not allowed
        </mat-error>
        <mat-error *ngIf="taint.get('key').errors?.validLabelKeyNamePattern"
                   i18n>
          Name not allowed
        </mat-error>
        <mat-error *ngIf="taint.get('key').errors?.validLabelKeyPrefixLength"
                   i18n>
          Prefix is too long
        </mat-error>
        <mat-error *ngIf="taint.get('key').errors?.validLabelKeyNameLength"
                   i18n>
          Name is too long
        </mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="30">
        <mat-label>Value</mat-label>
        <input matInput
               (keyup)="check(i)"
               name="value"
               formControlName="value">
        <mat-error *ngIf="taint.get('value').errors?.validLabelValuePattern"
                   i18n>
          Value not allowed
        </mat-error>
        <mat-error *ngIf="taint.get('value').errors?.validLabelValueLength"
                   i18n>
          Value is too long
        </mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="30">
        <mat-label>Effect</mat-label>
        <mat-select formControlName="effect"
                    (keyup)="check(i)"
                    (change)="check(i)"
                    (valueChange)="check(i)"
                    (selectionChange)="check(i)">
          <mat-option *ngFor="let effect of availableEffects"
                      value="{{ effect }}">
            {{ effect }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button
              class="km-label-form-delete-button"
              *ngIf="isRemovable()"
              (click)="deleteTaint(i)">
        <i class="fa fa-trash-o"
           aria-hidden="true"></i>
      </button>
    </div>
  </div>
</form>
