<div class="km-buttom-navigation">
  <button type="button" class="btn-back" md-raised-button (click)="stepBack()" *ngIf="step !== 0">
    Back
  </button>
  <button type="button" md-raised-button color="primary" (click)="stepForward()"  [disabled]="!nextStep">
    <ng-container *ngIf="step < 4; else summaryStep">
      Next
    </ng-container>
    <ng-template #summaryStep>
      Create
    </ng-template>
  </button>
  <a type="button" class="cancel-button" routerLink="/clusters">Cancel</a>
</div>
