.km-buttom-navigation {
  margin-top: 10px;
  margin-bottom: 70px;

  button {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.4px;

    i {
      margin-left: 5px;
    }
  }
}
