@import '../../assets/css/colors';
@import '../../assets/css/variables';

h2 {
  font-weight: 400;
  margin-top: 0;
  color: $text-color;
}

h3 {
  display: inline-block;
  font-weight: 400;
  margin: 0;
  color: $text-color;
}

.km-machine-networks {
  margin-top: 55px;
}

.km-add-machine-network {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px dashed $border;
  border-radius: 5px;
  height: 50px;
  color: $text-color;
  font-weight: 400;
}

.km-single-machine-network {
  margin-bottom: 5px;
}

.km-machine-networks-form {
  flex-wrap: wrap;
}

.km-machine-networks-form-inner {
  margin-bottom: 30px;

  &.withPadding {
    padding-right: 30px;

    &:nth-child(2n+2) {
      padding-right: 0;
    }

    .km-add-machine-network {
      height: 230px;
    }
  }
}

.km-machine-networks-form-field {
  width: 100% !important;
}

.km-icon-close {
  cursor: pointer;
  width: 2 * $baseline-grid;
  height: 2 * $baseline-grid;
}
