<div fxLayout="column"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutGap="20px">
  <div fxFlex="100%">

    <form [formGroup]="machineNetworksForm"
          fxLayout
          class="km-machine-networks-form">
      <div fxFlex="{{width}}%"
           *ngFor="let tag of getMachineNetworksForm(machineNetworksForm); let i=index"
           formArrayName="machineNetworks"
           class="km-machine-networks-firm-inner"
           [ngClass]="width === 100 ? '' : 'withPadding'">
        <div class="km-form-group-tags-inner"
             [formGroupName]="i">
          <span class="km-single-machine-network">
            Machine Network #{{i+1}}
            <i class="fa fa-times"
               style="float: right"
               aria-hidden="true"
               (click)="deleteMachineNetwork(i)"></i>
          </span>

          <mat-form-field class="km-machine-networks-form-field">
            <mat-label>CIDR Range*</mat-label>
            <input matInput
                   formControlName="cidr"
                   autocomplete="off">
            <mat-hint>Example: 196.44.198.32/29</mat-hint>
            <mat-error *ngIf="machineNetworksForm.controls.machineNetworks.controls[i].controls.cidr.hasError('required')">
              CIDR is <strong>required</strong>.
            </mat-error>
            <mat-error *ngIf="machineNetworksForm.controls.machineNetworks.controls[i].controls.cidr.hasError('pattern')">
              Pattern is not valid.
            </mat-error>
          </mat-form-field>
          <mat-label>DNS Servers*</mat-label>
          <mat-form-field class="km-machine-networks-form-field">
            <input matInput
                   formControlName="dnsServers"
                   autocomplete="off">
            <mat-hint>DNS Servers separated with commas, example: 8.8.8.8, 8.8.8.4</mat-hint>
            <mat-error *ngIf="machineNetworksForm.controls.machineNetworks.controls[i].controls.dnsServers.hasError('required')">
              DNS Server is <strong>required</strong>.
            </mat-error>
            <mat-error *ngIf="machineNetworksForm.controls.machineNetworks.controls[i].controls.dnsServers.hasError('pattern')">
              Pattern is not valid.
            </mat-error>
          </mat-form-field>
          <mat-form-field class="km-machine-networks-form-field">
            <mat-label>Gateway*</mat-label>
            <input matInput
                   formControlName="gateway"
                   autocomplete="off">
            <mat-hint>Example: 10.0.0.1</mat-hint>
            <mat-error *ngIf="machineNetworksForm.controls.machineNetworks.controls[i].controls.gateway.hasError('required')">
              Gateway is <strong>required</strong>.
            </mat-error>
            <mat-error *ngIf="machineNetworksForm.controls.machineNetworks.controls[i].controls.gateway.hasError('pattern')">
              Pattern is not valid.
            </mat-error>
          </mat-form-field>
        </div>
        <mat-divider></mat-divider>
      </div>
    </form>

    <span class="km-add-machine-network"
          (click)="addMachineNetwork()">
      <i class="fa fa-plus"
         aria-hidden="true"></i>
      Add a new address range to pick worker addresses from
    </span>
  </div>
</div>
