<form [formGroup]="vsphereProviderSettingsForm"
      fxLayout="column">
  <mat-form-field fxFlex>
    <mat-label>Username*</mat-label>
    <input matInput
           formControlName="infraManagementUsername"
           name="infraManagementUsername"
           type="text"
           autocomplete="off">
    <mat-error *ngIf="vsphereProviderSettingsForm.controls.infraManagementUsername.hasError('required')">
      Username is <strong>required</strong>.
    </mat-error>
  </mat-form-field>
  <mat-form-field fxFlex>
    <mat-label>Password*</mat-label>
    <input matInput
           formControlName="infraManagementPassword"
           name="infraManagementPassword"
           type="password"
           autocomplete="off">
    <mat-error *ngIf="vsphereProviderSettingsForm.controls.infraManagementPassword.hasError('required')">
      Password is <strong>required</strong>.
    </mat-error>
  </mat-form-field>
  <mat-form-field fxFlex>
    <mat-label>VSphere Cloud Provider Username</mat-label>
    <input matInput
           formControlName="username"
           name="username"
           type="text"
           autocomplete="off">
  </mat-form-field>
  <mat-form-field fxFlex>
    <mat-label>VSphere Cloud Provider Password</mat-label>
    <input matInput
           formControlName="password"
           name="password"
           type="password"
           autocomplete="off">
  </mat-form-field>
</form>
