<form [formGroup]="vsphereProviderSettingsForm"
      fxLayout="column">
  <mat-form-field fxFlex>
    <input matInput
           formControlName="infraManagementUsername"
           type="text"
           placeholder="Username*:"
           autocomplete="off">
    <mat-error *ngIf="vsphereProviderSettingsForm.controls.infraManagementUsername.hasError('required')">
      Username is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field fxFlex>
    <input matInput
           formControlName="infraManagementPassword"
           type="password"
           placeholder="Password*:"
           autocomplete="off">
    <mat-error *ngIf="vsphereProviderSettingsForm.controls.infraManagementPassword.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field fxFlex>
    <input matInput
           formControlName="username"
           type="text"
           placeholder="VSphere Cloud Provider Username:"
           autocomplete="off">
  </mat-form-field>
  <mat-form-field fxFlex>
    <input matInput
           formControlName="password"
           type="password"
           placeholder="VSphere Cloud Provider Password:"
           autocomplete="off">
  </mat-form-field>
</form>
