# Compiled output.
/.angular/cache
/dist
/tmp
/coverage
/dashboard
/dist-themes

# Dependencies.
/node_modules

# IDEs and editors.
/.idea
.project
.classpath
.c9/
*.launch
.settings/
.vscode/*
.nvmrc

# Misc.
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings
.angular

# System files.
.DS_Store
Thumbs.db

# Generated.
bindata_assetfs.go
version.json

# Cypress.
cypress/screenshots
cypress/videos
cypress/plugins/index.js
cypress/plugins/cy-ts-preprocessor.js
cypress/tsconfig.json
