<mat-divider></mat-divider>
<div class="km-cluster-metrics"
     fxFlex
     fxLayoutAlign=" center">
  <div *ngIf="metrics"
       class="km-card-expansion-panel"
       fxFlex
       fxLayout="row wrap"
       fxLayoutAlign=" center">
    <km-horizontal-usage-graph title="Nodes CPU Usage"
                               unit="millicores"
                               [used]="metrics?.nodes?.cpuTotalMillicores"
                               [total]="metrics?.nodes?.cpuAvailableMillicores"></km-horizontal-usage-graph>

    <km-horizontal-usage-graph title="Nodes Memory Usage"
                               unit="MiB"
                               [used]="metrics?.nodes?.memoryTotalBytes"
                               [total]="metrics?.nodes?.memoryAvailableBytes"></km-horizontal-usage-graph>

    <km-horizontal-usage-graph title="Control Plane CPU Usage"
                               unit="millicores"
                               [used]="metrics?.controlPlane?.cpuTotalMillicores"></km-horizontal-usage-graph>

    <km-horizontal-usage-graph title="Control Plane Memory Usage"
                               unit="MiB"
                               [used]="metrics?.controlPlane?.memoryTotalBytes"></km-horizontal-usage-graph>
  </div>
  <mat-spinner *ngIf="!metrics"
               [diameter]="25"
               class="km-spinner"></mat-spinner>
</div>
