@import "../../../../assets/css/colors";

.km-sub-nav {
  color: $light-text-color;
  line-height: 40px;

  ul.km-breadcrumb {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      font-size: 14px;
      float: left;
      height: 36px;
      line-height: 36px;
      cursor: pointer;

      &::after {
        content: "/";
        padding: 0 5px;
        color: $light-text-color !important;
      }

      a {
        color: $light-text-color;
        text-decoration: none;

        &:hover {
          color: $primary;
        }
      }

      &:last-child {
        &,
        * {
          color: white !important;
        }

        &::after {
          display: none;
        }
      }
    }
  }
}
