<nav class="km-sub-nav"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="left"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <ul class="km-breadcrumb" fxFlex fxFlexOffset.xs="0">
    <li class="km-breadcrumb-item"><a routerLink="/projects">Home</a></li>
    <li *ngIf="!clusterName.length && activePageTitle !== 'Cluster details'" class="km-breadcrumb-item" [ngClass]="{'active': !clusterName}" >{{ activePageTitle }}</li>

    <ng-container *ngIf="clusterName.length">
      <li class="km-breadcrumb-item"><a routerLink="/projects/{{project}}/clusters">Manage Clusters</a></li>
      <li class="km-breadcrumb-item" [ngClass]="{'active': !!clusterName && !nodeDeployment}">{{clusterName}}</li>
      <li class="km-breadcrumb-item" *ngIf="nodeDeployment" [ngClass]="{'active': nodeDeployment}">{{nodeDeployment}}</li>
    </ng-container>
  </ul>
</nav>
