<div *ngIf="!loading">
  <div fxLayout>
      <h2 fxFlex="70%" class="component-heading">My Clusters</h2>
      <div fxFlex="30%" align="right" style="margin-bottom: 15px;margin-top: 25px;">
        <a routerLink="/wizard">
          <button md-raised-button color="primary" type="button">
            <i class="fa fa-plus" style="margin-right: 5px;" aria-hidden="true"></i>
            <span class="btn-text-default">Add Cluster</span>
          </button>
        </a>
      </div>
  </div>
  <md-card class="km-card-list">
    <md-card-header class="km-card-list-header">
      <md-card-title fxLayout>
        <div fxFlex="5%" fxFlex.sm="3%" fxHide.xs>#</div>
        <div fxFlex="35%" fxFlex.xs="40%">Cluster Name</div>
        <div fxFlex="13%" fxFlex.sm="20.66%" fxFlex.xs="25%">Provider</div>
        <div fxFlex="13%" fxHide.sm fxHide.xs>Seed Region</div>
        <div fxFlex="13%" fxHide.sm fxHide.xs>Region</div>
        <div fxFlex="13%" fxFlex.sm="20.66%" fxHide.xs>Status</div>
        <div fxFlex="13%" fxFlex.sm="20.66%" fxFlex.xs="35%">Health</div>
      </md-card-title>
    </md-card-header>
    <ng-container [ngSwitch]="!!clusters && clusters.length > 0">
    <div *ngSwitchCase="true" fxLayout="column">
      <kubermatic-cluster-item fxFlex *ngFor="let c of clusters; let i = index" [cluster]="c" [index]="i + 1"></kubermatic-cluster-item>
    </div>
    <div *ngSwitchCase="false" fxLayout fxLayoutGap="10px">
      <p fxFlex class="km-no-cluster" >No Cluster available. <a routerLink="/wizard">Please add a Cluster.</a></p>
    </div>
  </ng-container>
  </md-card>
</div>
<div *ngIf="loading" >
  <md-spinner color="accent" class="km-spinner"></md-spinner>
</div>
