.card {
  color: #333;

  .card-header {
    background: #f7f7f9;
    color: #333;

    a {
      float: right;
      margin-top: -7px;
    }
  }
}

.km-card-list {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 50px;

  .km-card-list-header {
    height: 30px;
    padding-bottom: 0;
    line-height: 30px;

    .mat-card-title {
      font-weight: 500;
      margin-bottom: 0;
    }
  }
}


.km-no-cluster {
  text-align: center;
  font-size: 14px;
  color: #BCC5D0;
  a {
    color: #0288d1;
  }
}

.km-spinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.mat-card-header-text {
  height: auto;
  margin: 0;
  width: auto;
}
