<div class="container">
  <div class="row">
    <h2 class="component-heading">My Clusters</h2>
  </div>
</div>

<div class="container card">
  <div class="row card-header">
    <div class="col-4">Cluster Name</div>
    <div class="col-3">DC of Nodes</div>
    <div class="col-2">Status</div>
    <div class="col-3">Health
      <a routerLink="/dashboard/wizard">
        <button type="button" class="btn btn-primary">
          <i class="fa fa-plus" style="margin-right: 5px;" aria-hidden="true"></i>Add Cluster
        </button>
      </a>
    </div>
  </div>

  <ng-container [ngSwitch]="!!clusters && clusters.length > 0">
    <div *ngSwitchCase="true">
      <kubermatic-cluster-item *ngFor="let c of clusters" [cluster]="c"></kubermatic-cluster-item>
    </div>
    <div *ngSwitchCase="false" class="row card-block">
      <div class="col-12 text-center text-muted">
        No Cluster available. Please add a Cluster.
      </div>
    </div>
  </ng-container>
</div>
