  <div fxLayout>
      <h2 fxFlex="70%" class="component-heading">My Clusters</h2>
      <div fxFlex="30%" align="right" style="margin-bottom: 15px;margin-top: 25px;">
        <a routerLink="/wizard">
          <button md-raised-button color="primary" type="button">
            <i class="fa fa-plus" style="margin-right: 5px;" aria-hidden="true"></i>Add Cluster
          </button>
        </a>
      </div>
  </div>
  <div md-card class="km-card-list">
    <div md-card-header fxLayout class="km-card-list-header">
        <div md-card-title fxFlex="5%">#</div>
        <div md-card-title fxFlex="35%">Cluster Name</div>
        <div md-card-title fxFlex="25%">Provider of Nodes</div>
        <div md-card-title fxFlex="15%">Status</div>
        <div md-card-title fxFlex="15%">Health</div>
    </div>
  <ng-container [ngSwitch]="!!clusters && clusters.length > 0">
    <div *ngSwitchCase="true">
      <kubermatic-cluster-item *ngFor="let c of clusters; let i = index" [cluster]="c" [index]="i + 1"></kubermatic-cluster-item>
    </div>
    <div *ngSwitchCase="false" fxLayout fxLayoutGap="10px">
      <p fxFlex class="km-no-cluster" >No Cluster available. <a routerLink="/wizard">Please add a Cluster.</a></p>
    </div>
  </ng-container>
 </div>

