<kubermatic-add-node-form [connect]="connect" [formGroup]="osNodeForm" (change)="onChange()">
  <mat-form-field fxFlex>
    <input id="node_count_osNodeForm" matInput formControlName="node_count"
      min="1" max="20" type="number" placeholder="Quantity of Nodes*:" title="node_count">
  </mat-form-field>

  <mat-form-field>
    <mat-select fxFlex class="mat-select-content" placeholder="Node Size*:" name="node_size" formControlName="node_size" (change)="onChange()">
      <mat-option *ngIf="!nodeSize.length" [value]="">Please add your Open Stack credentials first!</mat-option>
      <mat-option *ngFor="let size of nodeSize; let i = index;" [value]="size">
        {{size}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field fxFlex>
    <input id="os_node_image" matInput formControlName="os_node_image" placeholder="Image (Ubuntu only)*"
      title="Image">
  </mat-form-field>
</kubermatic-add-node-form>