<form [formGroup]="form"
      fxLayout="column">
  <div fxFlex
       class="mat-select-container">
    <mat-form-field>
      <mat-label>Node Size*</mat-label>
      <mat-select formControlName="size"
                  [panelClass]="isInWizard() ? '' : 'km-add-dialog-dropdown'"
                  disableOptionCentering>
        <mat-option *ngFor="let size of sizes"
                    [value]="size.name">
          {{size.name}} ({{size.vcpus}} vCPU, {{size.memory}} GB RAM, {{size.price | number: '1.2-5'}} USD per hour)
        </mat-option>
      </mat-select>
      <mat-hint>{{getSizeHint()}}</mat-hint>
    </mat-form-field>
  </div>

  <div fxFlex
       class="mat-select-container">
    <mat-form-field>
      <mat-label>Disk Type*</mat-label>
      <mat-select formControlName="disk_type"
                  [panelClass]="isInWizard() ? '' : 'km-add-dialog-dropdown'"
                  disableOptionCentering>
        <mat-option *ngFor="let type of diskTypes"
                    [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-form-field fxFlex>
    <mat-label>Disk Size in GB (gp2)*</mat-label>
    <input matInput
           formControlName="disk_size"
           min="10"
           max="16000"
           type="number"
           autocomplete="off">
  </mat-form-field>

  <mat-form-field fxFlex>
    <mat-label>AMI ID</mat-label>
    <input matInput
           formControlName="ami"
           autocomplete="off">
  </mat-form-field>

  <div fxFlex
       class="mat-select-container">
    <mat-form-field>
      <mat-label>{{getAvailabilityZoneFormState()}}</mat-label>
      <mat-select formControlName="availability_zone"
                  [panelClass]="isInWizard() ? '' : 'km-add-dialog-dropdown'"
                  disableOptionCentering>
        <mat-option *ngFor="let zone of zones"
                    [value]="zone.name">
          {{zone.name}}
        </mat-option>
      </mat-select>
      <mat-hint>{{getZoneHint()}}</mat-hint>
    </mat-form-field>
  </div>

  <div class="km-form-group-tags-header"
       *ngIf="!hideOptional">
    Tags
    <i class="fa fa-plus"
       style="float: right;"
       aria-hidden="true"
       (click)="addTag()"></i>
  </div>
  <div class="km-form-group-tags"
       *ngIf="!hideOptional">
    <div fxFlex="100%"
         *ngFor="let tag of getTagForm(form); let i=index"
         formArrayName="tags">
      <div class="km-form-group-tags-inner"
           [formGroupName]="i">
        <mat-form-field fxFlex="42%">
          <mat-label>Key</mat-label>
          <input matInput
                 formControlName="key"
                 autocomplete="off">
        </mat-form-field>
        <span class="km-seperator">:</span>
        <mat-form-field fxFlex="42%">
          <mat-label>Value</mat-label>
          <input matInput
                 formControlName="value"
                 autocomplete="off">
        </mat-form-field>
        <i class="fa fa-times"
           aria-hidden="true"
           (click)="deleteTag(i)"></i>
      </div>
    </div>
  </div>
</form>
