<form [formGroup]="form"
      fxLayout="column">
  <div fxFlex
       class="mat-select-container">
    <mat-form-field>
      <mat-label>Node Size*</mat-label>
      <input matInput
             formControlName="size"
             name="size"
             placeholder="Node Size*"
             [matAutocomplete]="autoSize">
      <mat-autocomplete #autoSize="matAutocomplete">
        <mat-option *ngFor="let size of filteredSizes"
                    [value]="size.name">
          {{size.name}} ({{size.vcpus}} vCPU, {{size.memory}} GB RAM, {{size.price | number: '1.2-5'}} USD per hour)
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="form.controls.size.hasError('mustBeInList') && !form.controls.size.hasError('required')">Input doesn't match options. Please choose from given options.</mat-error>
      <mat-error *ngIf="form.controls.size.hasError('required')">Size is <strong>required</strong>.</mat-error>
      <mat-hint>{{getSizeHint()}}</mat-hint>
    </mat-form-field>
  </div>

  <div fxFlex
       class="mat-select-container">
    <mat-form-field>
      <mat-label>Disk Type*</mat-label>
      <mat-select formControlName="disk_type"
                  [panelClass]="isInWizard() ? '' : 'km-add-dialog-dropdown'"
                  disableOptionCentering>
        <mat-option *ngFor="let type of diskTypes"
                    [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-form-field fxFlex>
    <mat-label>Disk Size in GB (gp2)*</mat-label>
    <input matInput
           formControlName="disk_size"
           min="10"
           max="16000"
           type="number"
           autocomplete="off">
  </mat-form-field>

  <mat-form-field fxFlex>
    <mat-label>{{getSubnetIDFormState()}}</mat-label>
    <input matInput
           formControlName="subnetID"
           name="subnetID"
           [placeholder]="getSubnetIDFormState()"
           [matAutocomplete]="autoSubnets">
    <mat-autocomplete #autoSubnets="matAutocomplete">
      <mat-optgroup *ngFor="let az of subnetAZ"
                    [label]="az">
        <mat-option *ngFor="let subnet of getSubnetToAZ(az)"
                    [value]="subnet.id">
          {{getSubnetOptionName(subnet)}}
        </mat-option>
      </mat-optgroup>
    </mat-autocomplete>
    <mat-error *ngIf="form.controls.subnetID.hasError('mustBeInList') && !form.controls.subnetID.hasError('required')">Input doesn't match options. Please choose from given options.</mat-error>
    <mat-error *ngIf="form.controls.subnetID.hasError('required')">Subnet ID & Availability Zone is <strong>required</strong>.</mat-error>
    <mat-hint>{{getSubnetIDHint()}}</mat-hint>
  </mat-form-field>

  <mat-form-field fxFlex>
    <mat-label>AMI ID</mat-label>
    <input matInput
           formControlName="ami"
           autocomplete="off">
  </mat-form-field>
</form>
