@import '../../../../assets/css/variables';

.km-events-long-text {
  line-height: 2 * $line-height !important;
}

.km-events-timestamp {
  min-width: 180px;
}

.km-mat-row td {
  padding-top: 1.25 * $baseline-grid;
  padding-bottom: 1.25 * $baseline-grid;
  line-height: 2 * $line-height;
}

mat-card-header {
  padding: 0 !important;
  cursor: pointer;
}

.km-toggled-events {
  padding-bottom: $baseline-grid;

  mat-card-header {
    border-radius: $border-radius;
  }
}

.km-events-title {
  float: right;
  padding-right: 3.75 * $baseline-grid;
  font-size: $subhead-font-size-base;

  i {
    margin-right: 1.25 * $baseline-grid;
  }
}

::ng-deep .mat-card-header-text {
  width: 100%;
}
