<mat-card [ngClass]="isShowEvents ? 'km-with-table-header' : 'km-with-table-header km-toggled-events'">
  <mat-card-header (click)="toggleEvents()">
    <mat-card-title>
      <i [ngClass]="isShowEvents ? 'km-icon-arrow-up' : 'km-icon-arrow-down'"></i>
      Events
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table class="km-table"
           mat-table
           [hidden]="!isShowEvents"
           [dataSource]="dataSource"
           matSort>
      <ng-container matColumnDef="status">
        <th mat-header-cell
            *matHeaderCellDef
            class="km-header-cell"></th>
        <td mat-cell
            *matCellDef="let element">
          <i [matTooltip]="element.type"
             [ngClass]="getTypeIcon(element)"></i>
        </td>
      </ng-container>

      <ng-container matColumnDef="message">
        <th mat-header-cell
            mat-sort-header
            *matHeaderCellDef
            class="km-header-cell">Message</th>
        <td mat-cell
            class="km-events-long-text"
            *matCellDef="let element">{{element.message}}</td>
      </ng-container>

      <ng-container matColumnDef="involvedObjectName">
        <th mat-header-cell
            mat-sort-header
            *matHeaderCellDef
            class="km-header-cell">Name</th>
        <td mat-cell
            class="km-events-long-text"
            *matCellDef="let element">{{element.involvedObject.name}}</td>
      </ng-container>

      <ng-container matColumnDef="involvedObjectKind">
        <th mat-header-cell
            mat-sort-header
            *matHeaderCellDef
            class="km-header-cell">Type</th>
        <td mat-cell
            class="km-events-long-text"
            *matCellDef="let element">{{element.involvedObject.type}}</td>
      </ng-container>

      <ng-container matColumnDef="count">
        <th mat-header-cell
            mat-sort-header
            *matHeaderCellDef
            class="km-header-cell">Count</th>
        <td mat-cell
            *matCellDef="let element">{{element.count}}</td>
      </ng-container>

      <ng-container matColumnDef="lastTimestamp">
        <th mat-header-cell
            mat-sort-header
            *matHeaderCellDef
            class="km-header-cell">Occurred</th>
        <td mat-cell
            class="km-events-long-text km-events-timestamp"
            *matCellDef="let element">
          <km-relative-time [date]="element.lastTimestamp"></km-relative-time>
        </td>
      </ng-container>

      <tr mat-header-row
          class="km-header-row"
          *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row
          *matRowDef="let row; columns: displayedColumns"
          class="km-mat-row"></tr>
    </table>


    <div *ngIf="!hasEvents() && isShowEvents"
         class="km-row km-no-item">
      No events available.
    </div>

    <div [hidden]="isPaginatorVisible()">
      <mat-paginator [pageSizeOptions]="[10, 20]"
                     showFirstLastButtons
                     class="km-paginator"></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
