@import "../../../assets/css/colors";
@import "../../../assets/css/variables";

.mat-card {
  color: $text-color;
  margin-top: 3 * $baseline-grid;
  padding: 3.75 * $baseline-grid;

  .mat-card-header {
    padding: 0 (3.75 * $baseline-grid) (3.75 * $baseline-grid);
  }

  .km-account-info {
    padding: 3.75 * $baseline-grid;

    .km-user {
      height: 3 * $baseline-grid;
      margin-right: 3.75 * $baseline-grid;
      width: 3 * $baseline-grid;
    }

    .km-account-info-name {
      font-size: $subhead-font-size-base-lg;
      line-height: 21px;
    }

    .km-account-info-email {
      font-size: $subhead-font-size-base;
    }
  }

  .km-account-settings {
    font-size: $subhead-font-size-base;
    padding: 3.75 * $baseline-grid;

    .km-account-settings-header {
      font-size: $subhead-font-size-base-lg;
      line-height: 21px;
      margin-bottom: 3 * $baseline-grid;
    }

    .km-account-settings-entry-label {
      width: 20 * $baseline-grid;
      line-height: 8 * $baseline-grid;
    }

    km-settings-status {
      margin-top: 10px;
    }
  }
}
