@import "../../../assets/css/variables";

.mat-card {
  margin-top: 3 * $baseline-grid;
  padding: 3.75 * $baseline-grid;

  .mat-card-header {
    padding: 0 (3.75 * $baseline-grid) (3.75 * $baseline-grid);
  }

  .km-account-info {
    padding: 3.75 * $baseline-grid;

    .km-user {
      height: 3 * $baseline-grid;
      margin-right: 3.75 * $baseline-grid;
      width: 3 * $baseline-grid;
    }

    .km-account-info-name {
      font-size: $subhead-font-size-base-lg;
      line-height: 21px;
    }

    .km-account-info-email {
      font-size: $subhead-font-size-base;
    }
  }

  .km-account-settings {
    font-size: $subhead-font-size-base;
    padding: 3.75 * $baseline-grid;

    .km-account-settings-header {
      font-size: $subhead-font-size-base-lg;
      line-height: 2.1 * $line-height;
      margin-bottom: 3 * $baseline-grid;
    }

    .km-account-settings-entry-label {
      width: 20 * $baseline-grid;
      line-height: 8 * $baseline-grid;
    }

    .km-account-settings-toggle {
      mat-button-toggle {
        min-height: 50px;
        max-height: 50px;
        min-width: 150px;
        max-width: 150px;
        border-radius: $border-radius;

        ::ng-deep.mat-button-toggle-label-content {
          font-weight: normal;
          font-size: $subhead-font-size-base;
        }
      }
    }

    .km-settings-status-margin {
      margin-top: 1.25 * $baseline-grid;
    }

    .km-settings-status-margin-sm {
      margin-top: .5 * $baseline-grid;
    }
  }
}
