<div fxLayout>
  <div fxFlex
       align="right">
    <button mat-flat-button
            type="button"
            (click)="goBack()">
      Go Back
    </button>
  </div>
</div>

<mat-card class="white">
  <mat-card-header>
    <mat-card-title>Account</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div *ngIf="!!user"
         class="km-account-info"
         fxLayout="row"
         fxFlex="50">
      <div class="km-icon-mask km-user"></div>
      <div>
        <div class="km-account-info-name">
          <span>{{user.name}}</span>
          <span *ngIf="user.isAdmin">&nbsp;(Administrator)</span>
        </div>
        <div class="km-account-info-email">{{user.email}}</div>
      </div>
    </div>
    <div *ngIf="!!settings"
         class="km-account-settings"
         fxFlex="50">
      <div class="km-account-settings-header">User Settings</div>
      <div>
        <div class="km-account-settings-entry-label">Items per page</div>
        <mat-form-field fxFlex="35">
          <mat-select disableOptionCentering
                      [(ngModel)]="settings.itemsPerPage"
                      (selectionChange)="onSettingsChange()">
            <mat-option *ngFor="let itemsPerPageOption of itemsPerPageOptions"
                        [value]="itemsPerPageOption">
              {{itemsPerPageOption}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <km-settings-status [isSaved]="isEqual(settings.itemsPerPage, apiSettings.itemsPerPage)"
                            class="km-settings-status-margin"></km-settings-status>
      </div>
      <div *ngIf="enableThemes"
           fxLayout="row">
        <div class="km-account-settings-entry-label">Theme</div>
        <mat-button-toggle-group [(value)]="settings.selectedTheme"
                                 (change)="onSettingsChange()"
                                 class="km-account-settings-toggle">
          <mat-button-toggle value="light">
            <i class="km-icon-mask km-icon-sun"></i>
            Light
          </mat-button-toggle>
          <mat-button-toggle value="dark">
            <i class="km-icon-mask km-icon-moon"></i>
            Dark
          </mat-button-toggle>
        </mat-button-toggle-group>
        <km-settings-status [isSaved]="isEqual(settings.selectedTheme, apiSettings.selectedTheme)"
                            class="km-settings-status-margin-sm"></km-settings-status>
      </div>

      <div>
        <div class="km-account-settings-entry-label">Default Project</div>
        <mat-form-field fxFlex="35">
          <mat-select disableOptionCentering
                      [(ngModel)]="settings.selectedProjectId"
                      (selectionChange)="onSettingsChange()"
                      [placeholder]="hasDefaultProject()">
            <mat-option value="">-- None --</mat-option>
            <mat-option *ngFor="let project of projects"
                        [value]="project.id">
              {{project.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <km-settings-status [isSaved]="isEqual(settings.selectedProjectId, apiSettings.selectedProjectId)"></km-settings-status>
      </div>

    </div>
  </mat-card-content>
</mat-card>
