@import 'variables';

.header {
  padding: 0 30px;
}

#km-add-allowed-registry-btn {
  height: 50px;
  margin: 2px 0;

  .km-icon-add {
    margin-left: 0;
    margin-right: 12px;
  }
}
