@import 'variables';

.header {
  min-height: 75px;
  padding: 0 30px;
}

.mat-card-title {
  .km-icon-add {
    margin-left: 0;
    margin-right: 12px;
  }
}

#km-add-allowed-registry-btn {
  height: 50px;
  margin: 2px 0;
}
