<nav class="sub-nav"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="left"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0"
     >
  <ul class="breadcrumb" fxFlex fxFlexOffset.xs="0">
    <li class="breadcrumb-item"><a routerLink="/clusters">Home</a></li>
    <li *ngIf="!clusterName.length" class="breadcrumb-item" [ngClass]="{'active': !clusterName}" >{{ activePageTitle }}</li>

    <ng-container  *ngIf="clusterName.length">
      <li class="breadcrumb-item"><a routerLink="/clusters">Manage Clusters</a></li>
      <li class="breadcrumb-item" [ngClass]="{'active': clusterName}">{{clusterName}}</li>
    </ng-container>
  </ul>
</nav>
