//@import "../../assets/css/ng2admin/conf/conf";
//@import "../../assets/css/bootstrap/variables";


.sub-nav {
  background-color: #fff;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #000;
  color: #000;

  ul.breadcrumb {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      font-size: 14px;
      float: left;
      &:after {
        content: "/";
        padding: 0 5px;
      }

      a {
        color: #000;
      }

      &.breadcrumb-item.active {
        color: #000;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }
    }


  }
}
