//@import "../../assets/css/ng2admin/conf/conf";
//@import "../../assets/css/bootstrap/variables";


.sub-nav {
  //background-color: #fff;
  //height: 40px;
  //line-height: 40px;
  //border-bottom: 1px solid #BCC5D0;
  color: #BCC5D0;
  line-height: 40px;

  ul.breadcrumb {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      font-size: 14px;
      float: left;
      &:after {
        content: "/";
        padding: 0 5px;
      }

      a {
        color: #BCC5D0;
        text-decoration: none;
      }

      &.breadcrumb-item.active, &:hover {
        color: #0288d1;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }
    }


  }
}
