@import "../../../../assets/css/colors";
@import "../../../../assets/css/variables";

.km-content-edit-sshkeys {
  overflow-y: hidden;
}

.km-sshkey-view,
.km-header-row,
.km-mat-row {
  background-color: transparent;
}

.km-mat-footer-row button {
  color: $medium-text-color;
  font-weight: normal;
  line-height: 5 * $line-height;

  &:hover {
    background-color: $hover;
  }
}

.km-mat-footer-row.km-no-sshkeys {
  border-style: dashed;
  border-radius: $border-radius;
}

.km-sshkey-item-actions {
  display: flex;
  justify-content: flex-end;
}

.km-table-actions button {
  opacity: 1;
}
