<form [connect]="['wizard', 'awsClusterForm']" [formGroup]="awsClusterForm" novalidate  fxLayout="column" (change)="onChange()">
  <p>
    We need a AWS Access Key and Secret Access Key <b>with write access</b>.
    You can create one
    <a target="_new" href="http://docs.aws.amazon.com/general/latest/gr/managing-aws-access-keys.html">here</a>.
  </p>
  <mat-form-field fxFlex>
    <input id="accessKeyId" [errorStateMatcher]="inputValidationService" matInput formControlName="accessKeyId" type="text" placeholder="Access Key ID*:">
    <mat-error *ngIf="awsClusterForm.controls.accessKeyId.hasError('minlength') && !awsClusterForm.controls.accessKeyId.hasError('required')">
        Access Key ID must be minimum <strong>16</strong> characters long.
    </mat-error>
    <mat-error *ngIf="awsClusterForm.controls.accessKeyId.hasError('maxlength') && !awsClusterForm.controls.accessKeyId.hasError('required')">
        Access Key ID must be maximum <strong>32</strong> characters long.
    </mat-error>
    <mat-error *ngIf="awsClusterForm.controls.accessKeyId.hasError('required')">
        Access Key ID is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field fxFlex>
    <input id="secretAccessKey" [errorStateMatcher]="inputValidationService" matInput formControlName="secretAccessKey" type="password" placeholder="Secret Access Key*:">
    <mat-error *ngIf="awsClusterForm.controls.secretAccessKey.hasError('required')">
      Secret Access Key is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field fxFlex *ngIf="awsClusterForm.controls['aws_cas'].value">
    <input type="text" matInput id="vpcId" name="vpcId" formControlName="vpcId"
           ng-trim="true" placeholder="VPC ID (optional):" autocomplete="off" />
  </mat-form-field>
  <mat-form-field fxFlex *ngIf="awsClusterForm.controls['aws_cas'].value">
    <input type="text" matInput id="subnetId" name="subnetId" formControlName="subnetId"
           ng-trim="true" placeholder="Subnet ID (optional):" autocomplete="off" />
  </mat-form-field>
  <div class="slider-box">
    <mat-slide-toggle id="aws_cas" formControlName="aws_cas">Extend Provider settings</mat-slide-toggle>
  </div>
</form>
