/deep/ .mat-input-wrapper {
  margin: 5px 0 0 0;
}

.mat-select-container {
  padding-top: 15px;
  padding-bottom: 20px;
  .mat-select {
    width: 100%;
  }
}

.slider-box {
  margin-top: 15px;
  margin-bottom: 10px;
}

.text-danger { 
  color: #e91e62;
}