<form [formGroup]="awsClusterForm" novalidate  fxLayout="column" (change)="onChange()">
  <p>
    We need a AWS Access Key and Secret Access Key <b>with write access</b>.
    You can create one
    <a target="_new" href="http://docs.aws.amazon.com/general/latest/gr/managing-aws-access-keys.html">here</a>.
  </p>
  <md-input-container fxFlex>
    <input id="accessKeyId" mdInput [errorStateMatcher]="inputValidationService.isValid"  formControlName="accessKeyId" type="text" placeholder="Access Key ID:" title="accessKeyId">
    <small class="form-text text-danger" [hidden]="awsClusterForm.controls.accessKeyId.valid || !awsClusterForm.controls.accessKeyId.touched">Access Key ID must be between 16 and 32 characters long.</small>
  </md-input-container>
  <md-input-container fxFlex>
    <input id="secretAccessKey" mdInput [errorStateMatcher]="inputValidationService.isValid"  formControlName="secretAccessKey" type="text" placeholder="Secret Access Key:" title="secretAccessKey">
    <small class="form-text text-danger" [hidden]="awsClusterForm.controls.secretAccessKey.valid || !awsClusterForm.controls.secretAccessKey.touched">Secret access key is required.</small>
  </md-input-container>
  <md-input-container fxFlex>
    <input type="text" mdInput id="vpcId" name="vpcId" formControlName="vpcId"
           ng-trim="true" placeholder="VPC ID (optional):" autocomplete="off" />
  </md-input-container>
  <md-input-container fxFlex>
    <input type="text" mdInput id="subnetId" name="subnetId" formControlName="subnetId"
           ng-trim="true" placeholder="Subnet ID (optional):" autocomplete="off" />
  </md-input-container>
</form>
