<form [formGroup]="deleteForm"
      id="km-delete-cluster-dialog"
      class="km-dialog-box"
      (keydown.enter)="deleteCluster()">
  <km-dialog-title title="Delete Cluster"></km-dialog-title>

  <mat-dialog-content>
    <p>Are you sure you want to permanently delete cluster "<strong>{{cluster.name}}</strong>"?</p>

    <mat-form-field>
      <mat-label>Cluster Name*</mat-label>
      <input id="km-delete-cluster-dialog-input"
             matInput
             type="text"
             title="Cluster name"
             (blur)="onChange($event)"
             (keyup)="onChange($event)"
             #clusterNameInput>
    </mat-form-field>

    <div class="km-delete-cluster-checkbox">
      <mat-checkbox formControlName="clusterLBCleanupCheckbox"></mat-checkbox>
      <mat-label>Cleanup connected Load Balancers</mat-label>
    </div>

    <div class="km-delete-cluster-checkbox">
      <mat-checkbox formControlName="clusterVolumeCleanupCheckbox"></mat-checkbox>
      <mat-label>Cleanup connected volumes (PVs and PVCs)</mat-label>
    </div>

    <div class="km-dialog-warning">
      <i class="km-icon-warning"></i>
      <div>Deactivating clean up may result in leftover resources at your provider.</div>
    </div>

  </mat-dialog-content>
  <mat-dialog-actions>
    <button id="km-delete-cluster-dialog-delete-btn"
            (click)="deleteCluster()"
            mat-dialog-close
            mat-flat-button
            [disabled]="!inputNameMatches()">
      Delete
    </button>
  </mat-dialog-actions>
</form>
