<div (keydown.enter)="deleteCluster()">
 <mat-toolbar>
    Delete Cluster confirmation
    <button mat-icon-button mat-dialog-close>
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
  </mat-toolbar>

  <mat-dialog-content>
    <div class="mat-dialog-content">
      <p>You are on the way to delete the cluster "{{humanReadableName}}". Deletion of clusters cannot be UNDONE!</p>
      <p>If you know what you are doing, <strong>please type the name of the cluster</strong>:</p>

      <mat-form-field style="width: 100%" >
        <input id="name" matInput type="text" placeholder="Name of the Cluster:" title="Cluster name" (blur)="onChange($event)" (keyup)="onChange($event)">
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-dialog-close mat-raised-button>
      Close
    </button>
    <button (click)="deleteCluster()" mat-dialog-close mat-raised-button color="primary" class="mat-primary" [disabled]="!disableDeleteCluster">
      Delete
    </button>
  </mat-dialog-actions>
</div>






