@import "../../../../assets/css/variables";
@import "../../../../assets/css/colors";

.km-delete-cluster-checkbox {
  margin-bottom: $baseline-grid;

  .mat-checkbox {
    margin-right: 2 * $baseline-grid;
  }
}

.km-delete-cluster-warning {
  display: flex;
  margin: 2 * $baseline-grid 0;

  mat-icon {
    color: $indicator-orange;
    margin-right: $baseline-grid;
  }
}

.mat-form-field {
  margin-top: $baseline-grid;
}
