@import "../../../../assets/css/variables";
@import "../../../../assets/css/colors";

.km-delete-cluster-checkbox {
  margin-bottom: $baseline-grid;

  .mat-checkbox {
    margin-right: 2 * $baseline-grid;
  }
}

.mat-form-field {
  margin-top: $baseline-grid;
}
