<form [formGroup]="deleteForm"
      id="km-delete-cluster-dialog"
      class="km-dialog-box"
      (keydown.enter)="deleteCluster()">
  <km-dialog-title title="Delete Cluster"></km-dialog-title>

  <mat-dialog-content>
    <div class="mat-dialog-content">
      <p>You are on the way to delete the cluster "{{cluster.name}}". Deletion of clusters cannot be UNDONE!</p>

      <div class="km-delete-cluster-checkbox">
        <label fxFlex="60%">Cleanup connected Load Balancers</label>
        <mat-checkbox fxFlex="40%"
                      formControlName="clusterLBCleanupCheckbox"></mat-checkbox>
      </div>

      <div class="km-delete-cluster-checkbox">
        <label fxFlex="60%">Cleanup connected volumes (PVs and PVCs)</label>
        <mat-checkbox fxFlex="40%"
                      formControlName="clusterVolumeCleanupCheckbox"></mat-checkbox>
      </div>

      <div class="km-delete-cluster-warning">
        <mat-icon fxFlexAlign="center">warning</mat-icon>
        <span>Be aware, that if you don't select the checkboxes above some leftover resources might still exist at your cloud provider after the cluster will be deleted.</span>
      </div>

      <p>If you know what you are doing, <strong>please type the name of the cluster</strong>:</p>

      <mat-form-field class="km-delete-cluster-name-input">
        <input id="km-delete-cluster-dialog-input"
               matInput
               type="text"
               placeholder="Name of the Cluster:"
               title="Cluster name"
               (blur)="onChange($event)"
               (keyup)="onChange($event)"
               #clusterNameInput>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button id="km-delete-cluster-dialog-delete-btn"
            (click)="deleteCluster()"
            mat-dialog-close
            mat-flat-button
            [disabled]="!inputNameMatches()">
      Delete
    </button>
  </mat-dialog-actions>
</form>
