@import "../../../../assets/css/variables";
@import "../../../../assets/css/colors";

.km-delete-cluster-name-input {
  width: 100%;
}

.km-delete-cluster-checkbox {
  font-size: $body-font-size-base;
  margin-bottom: $baseline-grid;
}

.km-delete-cluster-warning {
  display: flex;
  margin: 2 * $baseline-grid 0;

  mat-icon {
    color: $indicator-orange;
    margin-right: $baseline-grid;
  }
}
