<mat-toolbar>
  Connect to the Cluster
  <button mat-icon-button mat-dialog-close>
    <i class="fa fa-times" aria-hidden="true"></i>
  </button>
</mat-toolbar>
<mat-dialog-content>
  <div class="mat-dialog-content">
    <p>Download the kubeconfig
      <button class="download-kubeconfig-btn" mat-raised-button color="primary" >
        <a [attr.href]="downloadKubeconfigUrl()" target="_blank">
          <span class="button download"></span>
          Download config
        </a>
      </button>
    </p>
    <p>Configure kubectl command line by running the following command in Directory where the kubeconfig is located:</p>
    <div class="code-block">$ export KUBECONFIG=$PWD/kubeconfig</div>
    <p>Then start a proxy to connect to the Kubernetes control plane:</p>
    <div class="code-block">$ kubectl proxy</div>
    <p>Then open the Dashboard interface by navigating to the following location in your browser:</p>
    <div class="km-button-link" fxLayout>
      <a href="http://localhost:8001/ui" target="_blank" class="button white">
        http://localhost:8001/ui
      </a>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-dialog-close mat-raised-button>
    Close
  </button>
</mat-dialog-actions>

