button.close {
  position: absolute;
  right: 20px;
}

.btn-right {
  float: right;
}

.mat-toolbar {
  border: none;
  padding: 0;
  position: relative;
}

.mat-dialog-content {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


p {
  line-height: 22px;
}


.code-block {
  background-color: #F7FAFF;
  padding: 5px 15px;
  font-size: 14px;
  line-height: 20px;
  font-family: "Menlo", monospace;
}

.download {
  display: inline-block;
  margin: 0 5px 0 0;
  width: 12px;
  height: 10px;
  background-image: url("../../../../assets/images/Download_white.svg");
  background-repeat: no-repeat;
}

.download-kubeconfig-btn {
  a {
    display: flex;
    align-items: center;
    width: auto;
    height: 100%;
    text-decoration: none;
    color: white;
    vertical-align: baseline !important;
    padding: 0 16px;
  }
  a.disabled {
    color: rgba(0, 0, 0, 0.38);
  }
}

.km-button-link {
  margin-bottom: 20px;
}
