<mat-toolbar>
  Connect to the Cluster
  <button mat-icon-button mat-dialog-close>
    <i class="fa fa-times" aria-hidden="true"></i>
  </button>
</mat-toolbar>
<mat-dialog-content>
  <div class="mat-dialog-content">
    <a class="download-kubeconfig-btn" mat-raised-button color="primary" href="{{ getDownloadURL() }}" target="_blank">Download config</a>
    <p>Configure kubectl command line by running the following command in Directory where the kubeconfig-{{cluster.name}} is located:</p>
    <p class="code-block copy" ngxClipboard [cbContent]="copy('exportKubeconfig')" matTooltip="click to copy">$ export KUBECONFIG=$PWD/kubeconfig-{{cluster.name}}</p>
    <p>Then start a proxy to connect to the Kubernetes control plane:</p>
    <p class="code-block copy" ngxClipboard [cbContent]="copy('kubectlProxy')" matTooltip="click to copy">$ kubectl proxy</p>
    <p>Then open the Dashboard interface by navigating to the following location in your browser:</p>
    <p class="km-button-link">
      <a href="http://localhost:8001/api/v1/namespaces/kube-system/services/https:kubernetes-dashboard:/proxy/" target="_blank" class="button white">
        http://localhost:8001/api/v1/namespaces/kube-system/services/https:kubernetes-dashboard:/proxy/
      </a>
    </p>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-dialog-close mat-raised-button>
    Close
  </button>
</mat-dialog-actions>

