<div *ngIf="cluster" fxLayouts class="km-card-list-content">
  <!-- *ngIf="cluster.dc.metadata.name" -->
  <div [routerLink]="['/dc', cluster.dc.metadata.name,'cluster', cluster.metadata.name]">
  <div fxFlex="5%">{{index}}</div>
  <div fxFlex="35%">
    <span>
      <img src="/assets/images/clouds/loodsecluster.png" class="icon-seed-cluster" alt="Loodse Seed Cluster Icon" height="30" />
      <p>{{cluster.spec.humanReadableName}}</p>
    </span>
  </div>
  <div fxFlex="25%">
    <ng-container [ngSwitch]="!!cluster.spec.cloud">
      <span *ngSwitchCase="true">
        <img *ngIf="cluster.spec.cloud.aws" src="/assets/images/clouds/aws.png" class="icon-seed-cluster" alt="Cluster Icon" height="30" />
        <img *ngIf="cluster.spec.cloud.digitalocean" src="/assets/images/clouds/digitalocean.png" class="icon-seed-cluster" alt="Cluster Icon" height="30" />
        <img *ngIf="cluster.spec.cloud.baremetal" src="/assets/images/clouds/baremetal.png" class="icon-seed-cluster" alt="Cluster Icon" height="30" />
        <img *ngIf="cluster.spec.cloud.openstack" src="/assets/images/clouds/openstack.png" class="icon-seed-cluster" alt="Cluster Icon" height="30" />

        <p>{{cluster.spec.cloud.dc}}</p>
      </span>
      <p *ngSwitchCase="false" class="text-muted">
        No cloud provider selected
      </p>
    </ng-container>
  </div>
  <div fxFlex="15%">{{cluster.status.phase}}</div>
  <div fxFlex="15%" >
    <kubermatic-cluster-health-status *ngIf="cluster.status.health" [health]="cluster.status.health"></kubermatic-cluster-health-status>
  </div>
  </div>
</div>
