<form [formGroup]="azureSettingsForm"
      fxLayout="column">
  <mat-form-field fxFlex>
    <input matInput
           formControlName="clientID"
           type="password"
           placeholder="Client ID*:"
           autocomplete="off">
    <mat-error *ngIf="azureSettingsForm.controls.clientID.hasError('required')">
      Client ID is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field fxFlex>
    <input matInput
           formControlName="clientSecret"
           type="password"
           placeholder="Client Secret*:"
           autocomplete="off">
    <mat-error *ngIf="azureSettingsForm.controls.clientSecret.hasError('required')">
      Client Secret is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field fxFlex>
    <input matInput
           formControlName="tenantID"
           type="password"
           placeholder="Tenant ID*:"
           autocomplete="off">
    <mat-error *ngIf="azureSettingsForm.controls.tenantID.hasError('required')">
      Tenant ID is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field fxFlex>
    <input matInput
           formControlName="subscriptionID"
           type="password"
           placeholder="Subscription ID*:"
           autocomplete="off">
    <mat-error *ngIf="azureSettingsForm.controls.subscriptionID.hasError('required')">
      Subscription ID is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field fxFlex
                  *ngIf="!hideOptional">
    <input matInput
           formControlName="resourceGroup"
           type="text"
           placeholder="Resource Group:"
           autocomplete="off">
  </mat-form-field>

  <mat-form-field fxFlex
                  *ngIf="!hideOptional">
    <input matInput
           formControlName="routeTable"
           type="text"
           placeholder="Route Table:"
           autocomplete="off">
  </mat-form-field>

  <mat-form-field fxFlex
                  *ngIf="!hideOptional">
    <input matInput
           formControlName="securityGroup"
           type="text"
           placeholder="Security Group:"
           autocomplete="off">
  </mat-form-field>

  <mat-form-field fxFlex
                  *ngIf="!hideOptional">
    <input matInput
           formControlName="subnet"
           type="text"
           placeholder="Subnet:"
           autocomplete="off">
  </mat-form-field>

  <mat-form-field fxFlex
                  *ngIf="!hideOptional">
    <input matInput
           formControlName="vnet"
           type="text"
           placeholder="VNet:"
           autocomplete="off">
  </mat-form-field>
</form>
