<form [formGroup]="azureSettingsForm"
      fxLayout="column">
  <mat-form-field fxFlex>
    <mat-label>Client ID*</mat-label>
    <input matInput
           formControlName="clientID"
           type="password"
           autocomplete="off">
    <mat-error *ngIf="azureSettingsForm.controls.clientID.hasError('required')">
      Client ID is <strong>required</strong>.
    </mat-error>
  </mat-form-field>

  <mat-form-field fxFlex>
    <mat-label>Client Secret*</mat-label>
    <input matInput
           formControlName="clientSecret"
           type="password"
           autocomplete="off">
    <mat-error *ngIf="azureSettingsForm.controls.clientSecret.hasError('required')">
      Client Secret is <strong>required</strong>.
    </mat-error>
  </mat-form-field>

  <mat-form-field fxFlex>
    <mat-label>Tenant ID*</mat-label>
    <input matInput
           formControlName="tenantID"
           type="password"
           autocomplete="off">
    <mat-error *ngIf="azureSettingsForm.controls.tenantID.hasError('required')">
      Tenant ID is <strong>required</strong>.
    </mat-error>
  </mat-form-field>

  <mat-form-field fxFlex>
    <mat-label>Subscription ID*</mat-label>
    <input matInput
           formControlName="subscriptionID"
           type="password"
           autocomplete="off">
    <mat-error *ngIf="azureSettingsForm.controls.subscriptionID.hasError('required')">
      Subscription ID is <strong>required</strong>.
    </mat-error>
  </mat-form-field>

  <mat-form-field fxFlex
                  *ngIf="!hideOptional">
    <mat-label>Resource Group</mat-label>
    <input matInput
           formControlName="resourceGroup"
           type="text"
           autocomplete="off">
  </mat-form-field>

  <mat-form-field fxFlex
                  *ngIf="!hideOptional">
    <mat-label>Route Table</mat-label>
    <input matInput
           formControlName="routeTable"
           type="text"
           autocomplete="off">
  </mat-form-field>

  <mat-form-field fxFlex
                  *ngIf="!hideOptional">
    <mat-label>Security Group</mat-label>
    <input matInput
           formControlName="securityGroup"
           type="text"
           autocomplete="off">
  </mat-form-field>

  <mat-form-field fxFlex
                  *ngIf="!hideOptional">
    <mat-label>Subnet</mat-label>
    <input matInput
           formControlName="subnet"
           type="text"
           autocomplete="off">
  </mat-form-field>

  <mat-form-field fxFlex
                  *ngIf="!hideOptional">
    <mat-label>VNet</mat-label>
    <input matInput
           formControlName="vnet"
           type="text"
           autocomplete="off">
  </mat-form-field>
</form>
