
.km-card-progress-bar {
  margin-bottom: 10px;
  padding-top: 14px;
  background-color: #0288d1;

  .mat-card-title {

    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0px;
    padding-right: 15px;

    i {
      color: #fff;
    }
  }
}

.wizard-step {
  padding-top: 8px;
  //position: relative;
  color: #fff;
  font-weight: bold;
}
