<mat-card class="km-card-progress-bar" fxLayout fxLayoutGap="25px">
  <mat-card-title fxFlex class="wizard-step" >
    <span [style.cursor]="getCurser(0)" (click)="gotoStep(0)">
      <small [ngClass]="getTitleClass(0)">Name</small>
      <i [ngClass]="getIconClass(0)"></i>
    </span>
  </mat-card-title>
  <mat-card-title fxFlex class="wizard-step">
    <span [style.cursor]="getCurser(1)" (click)="gotoStep(1)">
      <small [ngClass]="getTitleClass(1)">Provider</small>
      <i [ngClass]="getIconClass(1)"></i>
    </span>
  </mat-card-title>
  <mat-card-title fxFlex class="wizard-step">
    <span [style.cursor]="getCurser(2)" (click)="gotoStep(2)">
      <small [ngClass]="getTitleClass(2)">Datacenter</small>
      <i [ngClass]="getIconClass(2)"></i>
    </span>
  </mat-card-title>
  <mat-card-title fxFlex class="wizard-step">
    <span [style.cursor]="getCurser(3)" (click)="gotoStep(3)">
      <small [ngClass]="getTitleClass(3)">Settings</small>
      <i [ngClass]="getIconClass(3)"></i>
    </span>
  </mat-card-title>
  <mat-card-title fxFlex class="wizard-step">
    <span [style.cursor]="getCurser(4)" (click)="gotoStep(4)">
      <small [ngClass]="getTitleClass(4)">Summary</small>
      <i [ngClass]="getIconClass(4)"></i>
    </span>
  </mat-card-title>
</mat-card>
