@import "../../../assets/css/colors";

.km-card-progress-bar.mat-card {
  padding: 5px 10px 16px;
  background-color: $alternative-dark;
  border-radius: 0;

  .mat-card-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 0;
    padding-right: 15px;
    text-align: center;

    i {
      color: $white-text-color;
      margin-left: 5px;

      &.fa-check {
        color: $indicator-green;
      }
    }
  }

  .km-wizard-step {
    padding-top: 8px;
    color: $white-text-color;
    font-weight: bold;

    .km-title-unchecked {
      color: $light-button-color;
    }
  }
}
