@import "../../../../../assets/css/variables";

.mat-dialog-container {
  width: 200px;
  padding: 0;
}

.km-select-addon-dialog-option-container {
  border-radius: $border-radius;
  cursor: pointer;
  padding: 3 * $baseline-grid;
  margin: $baseline-grid 0;

  .km-select-addon-dialog-option-desc {
    font-size: $body-font-size-base;
    line-height: $subhead-font-size-base;
    margin-top: 2 * $baseline-grid;
  }
}
