@import "../../../../../assets/css/colors";
@import "../../../../../assets/css/variables";

.mat-dialog-container {
  width: 200px;
  padding: 0;
}

.km-select-addon-dialog-option-container {
  box-shadow: 0 0 0 1px $separator;
  border-radius: $border-radius;
  cursor: pointer;
  padding: 3 * $baseline-grid;
  margin: $baseline-grid 0;

  &:hover {
    box-shadow: 0 0 0 2px $quaternary-hover;
    transition: all .5s ease;
  }

  .km-select-addon-dialog-option-desc {
    color: $text-color;
    font-size: $body-font-size-base;
    line-height: $subhead-font-size-base;
    margin-top: 2 * $baseline-grid;
  }
}
