
<div *ngIf="clusters" >

  <div *ngFor="let cluster of clusters; let i = index"  class="km-card-list-content">
    <div fxLayout [routerLink]="['/cluster', cluster.metadata.name]" class="km-card-list-content-item">
      <div fxFlex="3%" fxFlex.sm="3%" fxHide.xs>{{i + 1}}</div>
      <div fxFlex="38%" fxFlex.xs="40%">
        <span>
          <img fxHide.xs src="/assets/images/clouds/loodsecluster.png" class="icon-seed-cluster" alt="Loodse Seed Cluster Icon" height="30" />
          <p fxHide.gt-sm >{{getShortClusterName(cluster.spec.humanReadableName)}}</p>
          <p fxHide.lt-md >{{this.cluster.spec.humanReadableName}}</p>


        </span>
      </div>
      <div fxFlex="16%" fxFlex.sm="20.66%" fxFlex.xs="25%">
        <ng-container [ngSwitch]="!!cluster.spec.cloud">
          <span *ngSwitchCase="true">
            <img *ngIf="cluster.spec.cloud.aws" src="/assets/images/clouds/aws.png" class="icon-seed-cluster" alt="Cluster Icon" height="30" />
            <img *ngIf="cluster.spec.cloud.digitalocean" src="/assets/images/clouds/digitalocean.png" class="icon-seed-cluster" alt="Cluster Icon" height="30" />
            <img *ngIf="cluster.spec.cloud.baremetal" src="/assets/images/clouds/baremetal.png" class="icon-seed-cluster" alt="Cluster Icon" height="30" />
            <img *ngIf="cluster.spec.cloud.openstack" src="/assets/images/clouds/openstack.png" class="icon-seed-cluster" alt="Cluster Icon" height="17" style="padding-top: 7px;" />
          </span>
          <p *ngSwitchCase="false" class="text-muted">
            No provider
          </p>
        </ng-container>
      </div>
      <div fxFlex="16%" fxHide.sm fxHide.xs>{{cluster.status.seed}}</div>
      <div fxFlex="16%" fxHide.sm fxHide.xs>{{cluster.spec.cloud.dc}}</div>
      <div fxFlex="16%" fxFlex.sm="20.66%" fxHide.xs>{{cluster.status.phase}}</div>
      <!--div fxFlex="13%" fxFlex.sm="20.66%" fxFlex.xs="35%">
        <kubermatic-cluster-health-status [health]="cluster.status.health"></kubermatic-cluster-health-status>
      </div-->
    </div>
  </div>
</div>
