<form [formGroup]="awsProviderSettingsForm"
      fxLayout="column">
  <mat-form-field fxFlex>
    <mat-label>Access Key ID*</mat-label>
    <input matInput
           formControlName="accessKeyId"
           type="password"
           autocomplete="off">
    <mat-error *ngIf="awsProviderSettingsForm.controls.accessKeyId.hasError('required')">
      Access key ID is <strong>required</strong>.
    </mat-error>
  </mat-form-field>
  <mat-form-field fxFlex>
    <mat-label>Secret Access Key*</mat-label>
    <input matInput
           formControlName="secretAccessKey"
           type="password"
           autocomplete="off">
    <mat-error *ngIf="awsProviderSettingsForm.controls.secretAccessKey.hasError('required')">
      Secret Access Key is <strong>required</strong>.
    </mat-error>
  </mat-form-field>
</form>
