//@import "../../assets/css/ng2admin/conf/conf";
//@import "../../assets/css/bootstrap/variables";

.wizard-content {
  /*padding: 5px;
  max-height: calc(100vh - 210px);
  overflow-y: auto;*/
}

.wizard-footer {
  padding: 5px;
}

.wizard-step {
  //margin-left: 16px;
  //padding-left: 16px;
  padding-top: 8px;
  border-bottom: 1px solid #d0d0d0;
  position: relative;
}
.wizard-step.done {
  border-bottom-color: green;
}

.wizard-step-body {
  //margin-left: 16px;
  margin-top: 0;
  min-height: 48px;
  overflow-y:hidden;
  overflow-x:hidden;
  padding-bottom: 16px;
  color: #000;

  .wizard-step {
    .tbd{
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      opacity: 0.3;
    }

    .disabled {
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      opacity: 0.3;
    }

    .tbd {
      filter: opacity(50%) grayscale(80%);
    }
  }
}

.wizard-step-circle {
  width: 36px;
  height: 36px;
  border-radius: 36px;
  position: absolute;
  top: 0  ;
  left: -18px;
  text-align: center;
  line-height: 34px;
}
.wizard-step.done .wizard-step-circle {
  background-color: green;
  color: white;
  border: 1px solid green;
}
.wizard-step.active .wizard-step-circle {
  background-color: green;
  color: white;
  border: 1px solid green;
}
.wizard-step.tbd .wizard-step-circle {
  background-color: #d0d0d0;
  color: #808080;
  border-color: #d0d0d0;
}
.wizard-step.tbd .wizard-step-body {
  filter: opacity(50%) grayscale(50%);
}

// arrow box--------

$wizard-box-size: 200px;
$wizard-box-content-dc-logo-size: 125px;
$wizard-box-content-cloud-logo-size: 120px;
$wizard-box-content-location-flag-size: 48px;
$wizard-box-content-dc-margin-top: 0px;
$wizard-box-content-cloud-margin-top: 50px;

.wizard-box-text {
  color: #000;
  font-weight: 400;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  a {
    color: #0288d1;
  }
}

.wizard-box-title {
  @extend .wizard-box-text;
  text-align: center;
  padding-bottom: 0;
}

.wizard-box-text-primary {
  color: #000;
  font-weight: 300;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.wizard-box-content {
  text-align: center;
  color: #000;
  font-weight: 600;
  padding: 11px 0;

  img.dc-logo {
    width: $wizard-box-content-dc-logo-size;
    margin-top: $wizard-box-content-dc-margin-top;
    margin-bottom: 10px;
  }

  img.cloud-logo {
    width: $wizard-box-content-cloud-logo-size;
    margin-top: $wizard-box-content-cloud-margin-top;
    margin-bottom: 15px;
  }

  div.name {
    font-weight: 300;
    font-size: 16px;
    padding: 5px;
  }

  div.cluster-name {
    font-weight: 600;
    font-size: 2em;
    line-height: 120%;
    margin-top: 50px;
    padding: 0 10px;
  }

  div.node-count {
    font-weight: 600;
    font-size: 7em;
    margin-top: 15px;
  }

  div.location {
    font-weight: 300;
    font-size: 14px;
    padding: 5px;
  }

  image.location-flag {
    margin-top: 10px;
    width: $wizard-box-content-location-flag-size;
    height: $wizard-box-content-location-flag-size;
  }
}

.wizard-box {
  max-width: $wizard-box-size;
  max-height: $wizard-box-size;
  min-height: $wizard-box-size;
  width: $wizard-box-size;
  margin: 15px auto;
  /*border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;*/
  background: #fff;
  border: 1px solid #E3E8EC;
  cursor: pointer;
  //float: left;
  min-height: 198px;
  &.small {
    max-width: $wizard-box-size / 2;
    max-height: $wizard-box-size / 2;
    min-height: $wizard-box-size / 2;
    width: $wizard-box-size / 2;
  }
}

.wizard-box[disabled] {
  cursor: not-allowed;
}

.wizard-box.selected {
  background-color: #d5e3f5;
  cursor: default;
  border: 1px solid #03a9f4;
}

.wizard-box.selected:hover {
  background-color: #d5e3f5;
  cursor: default;
  border: 1px solid #03a9f4;
}

.wizard-box:hover {
  border: 1px solid #03a9f4;
  background-color: #d5e3f5;
}

.wizard-box:not([disabled]):not(.selected):hover {
  background: #f7f8f9;
}



.wizard-box[disabled] > i {
  color: #717171
}

.km-card-progress-bar {
  .mat-card-title {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 0px;
    padding-bottom: 10px;
    padding-right: 15px;

    i {
      color: green;
    }
  }
}
