@import "../../assets/css/ng2admin/conf/conf";
@import "../../assets/css/bootstrap/variables";

.dashboard-content {
  padding-top: 50px;
}

// wizard--------------

.wizard-headline {
  padding-top: 25px;
  color: $primary;
  font-weight: $font-bold;
}

.wizard-step {
  margin-left: 16px;
  padding-left: 16px;
  padding-top: 8px;
  border-left: 2px solid #d0d0d0;
  position: relative;
}
.wizard-step.done {
  border-left-color: #049516;
}
.wizard-step:last-child {
  border-left: none;
}

.wizard-step-body {
  margin-left: 16px;
  margin-top: 0;
  min-height: 48px;
  overflow-y:hidden;
  overflow-x:hidden;
  padding-bottom: 16px;
  color: $primary;

  .wizard-step {
    .tbd{
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      opacity: 0.3;
    }

    .disabled {
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      opacity: 0.3;
    }

    .tbd {
      filter: opacity(50%) grayscale(80%);
    }
  }
}

.wizard-step-circle {
  width: 36px;
  height: 36px;
  border-radius: 36px;
  position: absolute;
  top: 0  ;
  left: -18px;
  text-align: center;
  line-height: 34px;
}
.wizard-step.done .wizard-step-circle {
  background-color: #049516;
  color: white;
  border: 2px solid #049516;
}
.wizard-step.active .wizard-step-circle {
  background-color: #049516;
  color: white;
  border: 2px solid #049516;
}
.wizard-step.tbd .wizard-step-circle {
  background-color: #d0d0d0;
  color: #808080;
  border-color: #d0d0d0;
}
.wizard-step.tbd .wizard-step-body {
  filter: opacity(50%) grayscale(50%);
}

//cloud-thumbnail--------------

.cloud-thumbnail {
  padding-top: 15px;
  padding-bottom: 15px;
}
.cloud-thumbnail a:focus { text-decoration:none; }
.cloud-thumbnail a:hover { text-decoration:none; }
.cloud-thumbnail a:active { text-decoration:none; }
.cloud-thumbnail .logo {
  margin-top: 0;
  margin-bottom: 15px;
  height: 50px;
}
.cloud-thumbnail .caption {
  text-align: center;
  padding: 0;
}
.cloud-thumbnail.selected .caption {
  text-align: center;
  padding: 0;
  color: #ffffff;
}
.cloud-thumbnail.selected {
  background-color: #059eff;
}

// arrow box--------

$arrow-box-size: 200px;
$arrow-box-content-dc-logo-size: 70px;
$arrow-box-content-cloud-logo-size: 90px;
$arrow-box-content-location-flag-size: 32px;
$arrow-box-content-dc-margin-top: 10px;
$arrow-box-content-cloud-margin-top: ($arrow-box-size - $arrow-box-content-cloud-logo-size)/2;

.arrow-box-title {
  text-align: center;
  align-items: center;
  max-width: 220px;
  color: $primary;
  font-weight: $font-normal;
}

.arrow-box-description {
  text-align: center;
  align-items: center;
  max-width: 220px;
  color: $primary;
  font-weight: $font-thin;
}

.arrow-box-content {
  text-align: center;
  color: $primary;
  font-weight: $font-bold;

  img.dc-logo {
    width: $arrow-box-content-dc-logo-size;
    margin-top: $arrow-box-content-dc-margin-top;
    margin-bottom: 15px;
  }

  img.cloud-logo {
    width: $arrow-box-content-cloud-logo-size;
    margin-top: $arrow-box-content-cloud-margin-top;
    margin-bottom: 15px; //2,66, 1,64 1,772
  }

  div.name {
    font-weight: $font-thin;
    font-size: $font-size-lg;
    padding: 5px;
  }

  div.location {
    font-weight: $font-thin;
    font-size: $font-size-base;
    padding: 5px;
  }

  image.location-flag {
    margin-top: 10px;
    width: $arrow-box-content-location-flag-size;
    height: $arrow-box-content-location-flag-size;
  }
}

.arrow-box {
  max-width: $arrow-box-size;
  max-height: $arrow-box-size;
  margin: 15px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  background: #fbfbfc;
  border: 1px solid $primary;
  cursor: pointer;
}

.arrow-box[disabled] {
  cursor: not-allowed;
}

.arrow-box.selected {
  background-color: #dcebff;
  cursor: default;
}

.arrow-box.selected:hover {
  background-color: #d5e3f5;
  cursor: default;
}

.arrow-box:not([disabled]):not(.selected):hover {
  background: #f7f8f9;
}

.arrow-box-completed.arrow-box-color_primary:not([disabled]) {
  border: 1px solid #00BDCC;
}

.arrow-box-completed.arrow-box-color_secondary:not([disabled]) {
  border: 1px solid #00969e;
}

.arrow-box.arrow-box-color_primary:hover {
  border: 1px solid #00BDCC;
}

.arrow-box.arrow-box-color_secondary:hover {
  border: 1px solid #00969e;
}

.arrow-box[disabled] > i {
  color: #717171
}

.arrow-box.arrow-box-completed.arrow-box-color_primary:before {
  border-left-color: #00BDCC;
}

.arrow-box.arrow-box-completed.arrow-box-color_secondary:before {
  border-left-color: #00969e;
}
