.wizard-step {
  padding-top: 8px;
  position: relative;
  color: #fff;
  font-weight: bold;
}
.wizard-step.done {
  border-bottom-color: green;
}

.wizard-step-body {
  //margin-left: 16px;
  margin-top: 0;
  min-height: 48px;
  overflow-y:hidden;
  overflow-x:hidden;
  padding-bottom: 16px;
  color: #000;

  .wizard-step {
    .tbd{
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      opacity: 0.3;
    }

    .disabled {
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      opacity: 0.3;
    }

    .tbd {
      filter: opacity(50%) grayscale(80%);
    }
  }
}

.wizard-step-circle {
  width: 36px;
  height: 36px;
  border-radius: 36px;
  position: absolute;
  top: 0  ;
  left: -18px;
  text-align: center;
  line-height: 34px;
}
.wizard-step.done .wizard-step-circle {
  background-color: green;
  color: white;
  border: 1px solid green;
}
.wizard-step.active .wizard-step-circle {
  background-color: green;
  color: white;
  border: 1px solid green;
}
.wizard-step.tbd .wizard-step-circle {
  background-color: #d0d0d0;
  color: #808080;
  border-color: #d0d0d0;
}
.wizard-step.tbd .wizard-step-body {
  filter: opacity(50%) grayscale(50%);
}

// arrow box--------

$wizard-box-size: 200px;
$wizard-box-content-dc-logo-size: 125px;
$wizard-box-content-location-flag-size: 48px;
$wizard-box-content-dc-margin-top: 0px;
$wizard-box-content-cloud-margin-top: 50px;
$wizard-box-content-cloud-logo-size: 80px;

.wizard-box-content {
  text-align: center;
  color: #000;
  font-weight: 600;
  padding: 11px 0;

  img.dc-logo {
    width: $wizard-box-content-dc-logo-size;
    margin-top: $wizard-box-content-dc-margin-top;
    margin-bottom: 10px;
  }

  img.cloud-logo {
    width: $wizard-box-content-cloud-logo-size;
    margin-top: $wizard-box-content-cloud-margin-top;
    margin-bottom: 15px;
    position: relative;
    top: 20px;
    bottom: 0;
    margin-top: -25%;
  }

  div.name {
    font-weight: 300;
    font-size: 16px;
    padding: 5px;
  }

  div.cluster-name {
    font-weight: 600;
    font-size: 2em;
    line-height: 120%;
    margin-top: 60px;
    padding: 0 10px;
  }

  div.node-count {
    font-weight: 600;
    font-size: 7em;
    margin-top: 15px;
    line-height: 110px;
  }

  div.location {
    font-weight: 300;
    font-size: 12px;
    padding: 0 5px;
  }

  image.location-flag {
    margin-top: 10px;
    width: $wizard-box-content-location-flag-size;
    height: $wizard-box-content-location-flag-size;
  }
}

.wizard-box {
  margin: 15px auto;
  /*border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;*/
  background: #fff;
  border: 1px solid #E3E8EC;
  cursor: pointer;
  float: left;
}

.wizard-box[disabled],
.wizard-box-provider [disabled] {
  cursor: not-allowed;
}

.wizard-box.selected,
.wizard-box-provider.selected {
  background-color: #d5e3f5;
  cursor: default;
  border: 1px solid #03a9f4;
}

.wizard-box.selected:hover,
.wizard-box-provider.selected:hover {
  background-color: #d5e3f5;
  cursor: default;
  border: 1px solid #03a9f4;
}

.wizard-box:hover,
.wizard-box-provider:hover {
  border: 1px solid #03a9f4;
  background-color: #d5e3f5;
}

.wizard-box:not([disabled]):not(.selected):hover,
.wizard-box-provider:not([disabled]):not(.selected):hover {
  background: #f7f8f9;
}



.wizard-box[disabled] > i,
.wizard-box-provider[disabled] > i {
  color: #717171
}

.km-card-progress-bar {
  margin-bottom: 10px;
  padding-top: 14px;
  .mat-card-title {

    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0px;
    padding-right: 15px;

    i {
      color: #fff;
    }
  }
}


// New Styling Create Cluster

.mat-card {
  .mat-card-header {
    padding: 0;
    margin-bottom: 10px;
  }

  .mat-card-header-text {
    margin: 0;
  }

.mat-card-title {
  margin: 0;
    h4 {
      font-weight: 400;
      margin: 10px 0;
      font-size: 18px;
      color: #444D58;
    }
  }

  .mat-card-content {
    form {
      padding-top: 10px;
    }
    p {
      color: #444D58;
      margin: 0 8px 5px;
    }
  }
}

.wizard-box-provider {
  margin-top: 10px;
}

.wizard-box-provider {
  background: #fff;
  border: 1px solid #E3E8EC;
  cursor: pointer;
  min-height: 140px;
}

.wizard-box-title {
  text-align: center;
  padding-bottom: 5px;
}

.wizard-box-summary {
  background: #fff;
  border: 1px solid #E3E8EC;
  cursor: pointer;
  min-height: 205px;
}

// img provider
img.cloud-logo {
  width: $wizard-box-content-cloud-logo-size ;
  margin-bottom: 15px;
}

// create cluster form fields

/deep/ .mat-input-wrapper {
    margin: 5px 0 0 0;
}

.mat-select-container {
  padding-top: 15px;
  padding-bottom: 20px;
   .mat-select {
     width: 100%;
   }
}
