@import "../../assets/css/colors";
@import "../../assets/css/variables";

.mat-card {
  margin-bottom: 50px;
  padding: (2 * $baseline-grid) (3.75 * $baseline-grid) (3.75 * $baseline-grid) (3.75 * $baseline-grid);

  .mat-card-header {
    padding: 0;
    margin-bottom: 1.25 * $baseline-grid;
    height: 6 * $baseline-grid;
  }

  .mat-card-title {
    margin: 0;

    h4 {
      font-weight: 400;
      margin: (1.25 * $baseline-grid) 0;
      font-size: $subhead-font-size-base-lg;
      color: $text-color;
    }
  }

  .mat-card-content {
    form {
      padding-top: 1.25 * $baseline-grid;
    }

    p {
      color: $text-color;
      margin: 0 $baseline-grid (0.625 * $baseline-grid);
    }
  }
}

// Navigation buttons.
.km-button-navigation {
  margin-top: 5 * $baseline-grid;
  text-align: left;
}

.km-project-status-info {
  color: $indicator-red;
  font-size: $small-font-size-base;
  margin-left: 1.875 * $baseline-grid;
}

.km-wizard-wrapper {
  box-shadow: $border-box-shadow;
  border-radius: $border-radius;
}

::ng-deep .mat-card-header .mat-card-title {
  padding: (2 * $baseline-grid) 0 0 0;
}
