<kubermatic-progress [steps]="steps" [currentStepIndex]="currentStepIndex" [currentStep]="currentStep"></kubermatic-progress>

<mat-card>
  <!-- Cluster Spec -->
  <kubermatic-set-cluster-spec [cluster]="cluster" *ngIf="currentStep.name === 'set-cluster-spec'"></kubermatic-set-cluster-spec>

  <!-- Cluster Provider -->
  <kubermatic-set-provider [cluster]="cluster" *ngIf="currentStep.name === 'set-provider'"></kubermatic-set-provider>

  <!-- Cluster Datacenter -->
  <kubermatic-set-datacenter [cluster]="cluster" *ngIf="currentStep.name === 'set-datacenter'"></kubermatic-set-datacenter>

  <!-- Provider Settings -->
  <kubermatic-set-settings [cluster]="cluster" [clusterSSHKeys]="clusterSSHKeys" [nodeData]="addNodeData" *ngIf="currentStep.name === 'set-provider-settings'"></kubermatic-set-settings>

  <!-- Machine Networks -->
  <kubermatic-set-machine-networks [cluster]="cluster" [nodeData]="addNodeData" *ngIf="currentStep.name === 'set-machine-networks'"></kubermatic-set-machine-networks>

  <!-- Provider Summary -->
  <kubermatic-summary *ngIf="currentStep.name === 'summary'" [clusterSSHKeys]="clusterSSHKeys"
                      [nodeData]="addNodeData"
                      [cluster]="cluster"
                      [providerFormData]="clusterProviderFormData"
                      [datacenterFormData]="clusterDatacenterFormData"
                      [clusterSSHKeys]="clusterSSHKeys"></kubermatic-summary>

  <!-- Navigation Buttons -->
  <div class="buttom-navigation">
    <button type="button" class="btn-back" mat-raised-button (click)="stepBack()" *ngIf="currentStepIndex !== 0">
      Back
    </button>
    <button *ngIf="currentStepIndex < steps.length - 1" type="button" [disabled]="!currentStep.valid()" mat-raised-button color="primary" (click)="stepForward()">
      Next
    </button>
    <button *ngIf="currentStep.name === 'set-machine-networks' && !!cluster.spec.machineNetworks && cluster.spec.machineNetworks.length === 0" type="button" mat-raised-button color="primary" (click)="stepForward()">
      Skip
    </button>
    <button *ngIf="currentStepIndex == steps.length - 1" [disabled]="creating || project.status !== 'Active'" type="button" mat-raised-button color="primary" (click)="createCluster()">
      Create
    </button>
    <span class="project-status-info" *ngIf="currentStepIndex == steps.length - 1 && project.status !== 'Active'">Project isn't ready yet, please wait a few more minutes.</span>
    <a type="button" class="cancel-button" routerLink="/projects/{{project.id}}/clusters">Cancel</a>
  </div>

</mat-card>
