@import "../../assets/css/colors";
@import "../../assets/css/variables";

.mat-card {
  margin-bottom: 50px;
  padding: $baseline-grid * 3;

  .mat-card-header {
    padding: 0;
    margin-bottom: 10px;
    height: 6 * $baseline-grid;
  }

  .mat-card-title {
    margin: 0;

    h4 {
      font-weight: 400;
      margin: 10px 0;
      font-size: 18px;
      color: $text-color;
    }
  }

  .mat-card-content {
    form {
      padding-top: 10px;
    }

    p {
      color: $text-color;
      margin: 0 8px 5px;
    }
  }
}

// navigation buttons

.km-button-navigation {
  margin-top: 35px;
  text-align: left;
}

.km-project-status-info {
  color: $indicator-red;
  font-size: 10px;
  margin-left: 15px;
}

.km-wizard-wrapper {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}
