<div class="container">
  <div class="row justify-content-center">
    <h2 class="wizard-headline">Create a Kubernetes Cluster</h2>
  </div>
</div>


<div class="container">
  <div class="wizard-content">
    <div class="wizard-step" [ngClass]="{'active': currentStep === 0, 'done': currentStep > 0, 'tbd': currentStep < 0}">
      <span *ngIf="currentStep > 0" class="wizard-step-circle fa fa-check" aria-hidden="true" [style.cursor]="'pointer'"  (click)="gotoStep(0)"></span>
      <span *ngIf="currentStep <= 0" class="wizard-step-circle">1</span>
      <div class="wizard-step-body">
        <h4>Name your Kubernetes cluster</h4>
        <div [hidden]="currentStep !== 0">
          <div class="col-8 wizard-box-text">This is how you will identify your Kubernetes cluster instance. Choose a name that is easy for you to remember.</div>
          <form [formGroup]="clusterNameForm" novalidate>
            <div class="col-6 form-group" [ngClass]="{'has-danger': !clusterNameForm.controls.name.valid, 'has-success': clusterNameForm.controls.name.valid}">
              <input id="name" formControlName="name" type="text" class="form-control" title="name">
              <button type="button" class="btn btn-link btn-sm text-primary" style="cursor: pointer;" (click)="refreshName()">Generate name</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="wizard-step" [ngClass]="{'active': currentStep === 1, 'done': currentStep > 1, 'tbd': currentStep < 1}">
      <span *ngIf="currentStep > 1" class="wizard-step-circle fa fa-check" aria-hidden="true" [style.cursor]="'pointer'" (click)="gotoStep(1)"></span>
      <span *ngIf="currentStep <= 1" class="wizard-step-circle">2</span>
      <div class="wizard-step-body">
        <h4>Select the cloud provider for your nodes</h4>
        <div [hidden]="currentStep !== 1">
          <div class="col-8 wizard-box-text">This is the cloud provider the Kubernetes nodes are deployed in by Kubermatic.
            Your nodes can be placed in any cloud you like, but for performance reasons as near to the master as possible.</div>
          <div class="row justify-content-center">
            <div *ngFor="let cloud of supportedNodeProviders; let i = index;" class="col-sm wizard-box"
                 [ngClass]="{'selected': selectedCloud === cloud, 'wizard-box-color_primary': i % 2 === 0, 'wizard-box-color_secondary': i % 2 !== 0}"
                 (click)="selectCloud(cloud)">
              <div class="col-xs wizard-box-content justify-content-center">
                <img class="cloud-logo" src="/assets/images/clouds/{{cloud}}.png" alt="{{cloud}}">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="wizard-step" [ngClass]="{'active': currentStep === 2, 'done': currentStep > 2, 'tbd': currentStep < 2}">
      <span *ngIf="currentStep > 2" class="wizard-step-circle fa fa-check" aria-hidden="true" [style.cursor]="'pointer'" (click)="gotoStep(2)"></span>
      <span *ngIf="currentStep <= 2" class="wizard-step-circle">3</span>
      <div class="wizard-step-body">
        <h4>Select the datacenter of your cloud provider</h4>
        <div [hidden]="currentStep !== 2">
          <div class="col-8 wizard-box-text">This is the cloud provider the Kubernetes nodes are deployed in by Kubermatic.
            Your nodes can be placed in any cloud you like, but for performance reasons as near to the master as possible.</div>

          <div [hidden]="selectedCloud === 'bringyourown'">
            <div class="row justify-content-center">
              <div *ngFor="let dc of groupedDatacenters[selectedCloud]; let i = index;" class="col-xs-6 wizard-box"
                   [ngClass]="{'selected': !!selectedCloudRegion && selectedCloudRegion.metadata.name === dc.metadata.name, 'wizard-box-color_primary': i % 2 === 0, 'wizard-box-color_secondary': i % 2 !== 0}"
                   (click)="selectCloudRegion(dc)">

                <div class="col-xs wizard-box-content justify-content-center">
                  <img class="dc-logo" src="/assets/images/clouds/{{selectedCloud}}.png" alt="{{dc.spec.provider}}">
                  <div class="name">
                    {{dc.metadata.name}}
                  </div>
                  <div class="location">
                    {{dc.spec.location}}
                  </div>
                  <img class="location-flag" src="/assets/images/flags/32/{{dc.spec.country}}.png" alt="{{dc.spec.country}}" />
                </div>
              </div>
            </div>
          </div>

          <div [hidden]="selectedCloud !== 'bringyourown'" class="col-6">
            <div class="wizard-box-text">
              You <i>bring your own</i> nodes, how you like, whereever you like. You are on your own, but
              you have full flexibility. Install the nodes on any cloud provider of your choice or in your
              own datacenter or on bare-metal.
            </div>
            <div class="wizard-box-text">
              Only requirement for now: your provider has to support Ubuntu 16.04 and a private network.
            </div>
            <div class="wizard-box-text">
              Instructions will be provided in the cluster details.
            </div>
            <div class="wizard-box-text-primary">
              <label style="cursor: pointer;"><input type="checkbox" value="" [(ngModel)]="acceptBringYourOwn">Fantastic, this is exactly what I want.</label>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="wizard-step" [ngClass]="{'active': currentStep === 3, 'done': currentStep > 3, 'tbd': currentStep < 3}">
      <span *ngIf="currentStep > 3" class="wizard-step-circle fa fa-check" aria-hidden="true" [style.cursor]="'pointer'" (click)="gotoStep(3)"></span>
      <span *ngIf="currentStep <= 3" class="wizard-step-circle">4</span>
      <div class="wizard-step-body">
        <h4>Provide credentials & Settings</h4>
        <div [hidden]="currentStep !== 3">

          <div [hidden]="selectedCloud !== 'aws'">
            <div class="col-8 wizard-box-text">
              We need a AWS Access Key and Secret Access Key <b>with write access</b>.
              You can create one
              <a target="_new" href="http://docs.aws.amazon.com/general/latest/gr/managing-aws-access-keys.html">here</a>.
              <br>
              Moreover, select at least one Authorized SSH Key from your AWS account.
              You can add more <a target="_new" href="https://console.aws.amazon.com/ec2/v2/home?region={{selectedCloudRegion}}#KeyPairs:sort=keyName">here</a>.
            </div>

            <form [formGroup]="awsForm" novalidate class="col-6">
              <div class="form-group" [ngClass]="{'has-danger': !awsForm.controls.username.valid && awsForm.controls.username.touched, 'has-success': awsForm.controls.username.valid}">
                <label for="username" class="form-text text-muted">User name:</label>
                <input id="username" formControlName="username" type="text" class="form-control">
                <small class="form-text text-danger" [hidden]="awsForm.controls.username.valid || !awsForm.controls.username.touched">Your AWS user identifier.</small>
              </div>
              <div class="form-group" [ngClass]="{'has-danger': !awsForm.controls.access_key_id.valid && awsForm.controls.access_key_id.touched, 'has-success': awsForm.controls.access_key_id.valid}">
                <label for="access_key_id" class="form-text text-muted">Access Key ID:</label>
                <input id="access_key_id" formControlName="access_key_id" type="text" class="form-control">
                <small class="form-text text-danger" [hidden]="awsForm.controls.access_key_id.valid || !awsForm.controls.access_key_id.touched">Access Key ID must be between 16 and 32 characters long.</small>
              </div>
              <div class="form-group" [ngClass]="{'has-danger': !awsForm.controls.secret_access_key.valid && awsForm.controls.secret_access_key.touched, 'has-success': awsForm.controls.secret_access_key.valid}">
                <label for="secret_access_key" class="form-text text-muted">Secret Access Key:</label>
                <input id="secret_access_key" formControlName="secret_access_key" type="text" class="form-control">
                <small class="form-text text-danger" [hidden]="awsForm.controls.secret_access_key.valid || !awsForm.controls.secret_access_key.touched">Secret access key is required.</small>
              </div>
              <div class="form-group">
                <label for="ssh_key" class="form-text text-muted">Authorized SSH Key:</label>
                <div [ngSwitch]="!!sshKeys && sshKeys.length > 0">
                  <div class="form-group" [ngClass]="{'has-danger': !awsForm.controls.ssh_key.valid && awsForm.controls.ssh_key.touched, 'has-success': awsForm.controls.ssh_key.valid}">
                    <select multiple class="form-control" id="ssh_key" name="sshKeys" formControlName="ssh_key" *ngSwitchCase="true">
                      <option *ngFor="let key of sshKeys" [value]="key.name">{{key.name + ' - ' + key.fingerprint}}</option>
                    </select>
                  </div>
                  <button type="button" class="btn btn-link btn-sm text-primary" style="cursor: pointer;" routerLink="profile" *ngSwitchCase="false">You have not added any SSH keys. Please add one first.</button>
                </div>
                <small class="form-text text-muted">In addition, one more SSH key is authorized automatically for the Kubernetes apiserver
                  to provide kubectl logs, port-forward and exec functionality.</small>
                <div class="form-text text-danger" *ngIf="selectedCloudProviderApiError">Connection error: {{ selectedCloudProviderApiError }}</div>
              </div>
              <div class="form-group" [ngClass]="{'has-danger': !awsForm.controls.node_count.valid && awsForm.controls.node_count.touched,
              'has-success': awsForm.controls.node_count.valid && awsForm.controls.node_count.touched}">
                <label for="aws_node_count" class="form-text text-muted">Node count:</label>
                <input id="aws_node_count" formControlName="node_count" type="number" min="1" max="20" class="form-control">
                <small class="form-text text-danger"  [hidden]="awsForm.controls.node_count.valid || !awsForm.controls.node_count.touched">Node count is invalid.</small>
              </div>
              <div class="form-group">
                <label for="node_size" class="form-text text-muted">Node Size:</label>
                <select class="form-control" id="node_size" name="nodeSize" formControlName="node_size">
                  <option value="" disabled="true" [selected]="!node_size">Please select a node size!</option>
                  <option *ngFor="let size of nodeSize; let i = index;" [value]="size"> {{size}}</option>
                </select>
              </div>
            </form>
          </div>

          <div [hidden]="selectedCloud !== 'digitalocean'">
            <div class="col-8 wizard-box-text">
              We need a DigitalOcean Personal Access Token <b>with write access</b>.
              You can create one <a target="_new" href="https://cloud.digitalocean.com/settings/api/tokens/new">here</a>.
              <br>
              Moreover, select at least one Authorized SSH Key from your DigitalOcean account.
              You can add more <a target="_new" href="https://cloud.digitalocean.com/settings/security">here</a>.
            </div>

            <form [formGroup]="digitalOceanForm" novalidate class="col-6">
              <div class="form-group" [ngClass]="{'has-danger': !digitalOceanForm.controls.access_token.valid && digitalOceanForm.controls.access_token.touched, 'has-success': digitalOceanForm.controls.access_token.valid}">
                <label for="access_token" class="form-text text-muted">Personal Access Token:</label>
                <input id="access_token" formControlName="access_token" type="text" class="form-control">
                <small class="form-text text-danger" [hidden]="digitalOceanForm.controls.access_token.valid || !digitalOceanForm.controls.access_token.touched">DigitalOcean Personal Access Tokens must be exactly 64 characters long.</small>
              </div>
              <div class="form-group">
                <label for="digitalocean_ssh_key" class="form-text text-muted">Authorized SSH Key:</label>
                <div [ngSwitch]="!!sshKeys && sshKeys.length > 0">
                  <div class="form-group" [ngClass]="{'has-danger': !digitalOceanForm.controls.ssh_key.valid && digitalOceanForm.controls.ssh_key.touched, 'has-success': digitalOceanForm.controls.ssh_key.valid}">
                    <select multiple class="form-control" id="digitalocean_ssh_key" name="sshKeys" formControlName="ssh_key" *ngSwitchCase="true">
                      <option *ngFor="let key of sshKeys" [value]="key.name">{{key.name + ' - ' + key.fingerprint}}</option>
                    </select>
                  </div>
                  <button type="button" class="btn btn-link btn-sm text-primary" style="cursor: pointer;" routerLink="profile" *ngSwitchCase="false">You have not added any SSH keys. Please add one first.</button>
                </div>
                <small class="form-text text-muted">In addition, one more SSH key is authorized automatically for the Kubernetes apiserver
                  to provide kubectl logs, port-forward and exec functionality</small>.
                <div class="form-text text-danger" *ngIf="selectedCloudProviderApiError">Connection error: {{ selectedCloudProviderApiError }}</div>
              </div>
              <div class="form-group" [ngClass]="{'has-danger': !digitalOceanForm.controls.node_count.valid && digitalOceanForm.controls.node_count.touched, 'has-success': digitalOceanForm.controls.node_count.valid}">
                <label for="digitalocean_node_count" class="form-text text-muted">Node count:</label>
                <input id="digitalocean_node_count" formControlName="node_count" type="number" min="1" max="20" class="form-control">
                <small class="form-text text-danger"  [hidden]="digitalOceanForm.controls.node_count.valid || !digitalOceanForm.controls.node_count.touched">Node count is invalid.</small>
              </div>
            </form>
          </div>

          <div [hidden]="selectedCloud !== 'bringyourown'">
            <div class="col-8 wizard-box-text">
              You provide your own nodes. We don't need your credentials, but we also cannot help you. Deal?<br>
              <br>
              For non-interactive installation of the kubermatic debian package, you have to tell us about the
              private network interface of your nodes. It will be used for the
              <a href="https://github.com/coreos/flannel">Flannel</a> network traffic.
            </div>

            <form [formGroup]="bringYourOwnForm" novalidate class="col-6">
              <div class="form-group" [ngClass]="{'has-danger': !bringYourOwnForm.controls.pif.valid, 'has-success': bringYourOwnForm.controls.pif.valid}">
                <label for="pif" class="form-text text-muted">Private network interface:</label>
                <input id="pif" formControlName="pif" type="text" class="form-control">
                <small class="form-text text-muted">Must be a Linux network device name, e.g. eth1 or eth0:1.</small>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="wizard-step" [ngClass]="{'active': currentStep === 4, 'done': currentStep > 4, 'tbd': currentStep < 4}">
      <span *ngIf="currentStep > 4" class="wizard-step-circle fa fa-check" aria-hidden="true" [style.cursor]="'pointer'" (click)="gotoStep(4)"></span>
      <span *ngIf="currentStep <= 4" class="wizard-step-circle">5</span>
      <div class="wizard-step-body">
        <h4>Summary</h4>
        <div [hidden]="currentStep !== 4">
          <div class="row justify-content-center">

            <div class="justify-content-center">
              <div class="wizard-box-title">Cluster name</div>
              <div class="col-xs-6 wizard-box wizard-box-color_secondary">
                <div class="col-xs wizard-box-content justify-content-center">
                  <div class="cluster-name">
                    {{ clusterNameForm.controls.name.value }}
                  </div>
                </div>
              </div>
            </div>

            <div [hidden]="selectedCloud === 'bringyourown'" class="justify-content-center" *ngIf="selectedCloudRegion">
              <div class="wizard-box-title">Datacenter of nodes</div>
              <div class="col-xs-6 wizard-box wizard-box-color_secondary">
                <div class="col-xs wizard-box-content justify-content-center">
                  <img class="dc-logo" src="/assets/images/clouds/{{selectedCloud}}.png" alt="{{selectedCloudRegion.spec.provider}}">
                  <div class="name">
                    {{ selectedCloudRegion.metadata.name }}
                  </div>
                  <div class="location">
                    {{ selectedCloudRegion.spec.location }}
                  </div>
                  <img class="location-flag" src="/assets/images/flags/32/{{selectedCloudRegion.spec.country}}.png" alt="{{selectedCloudRegion.spec.country}}" />
                </div>
              </div>
            </div>

            <div [hidden]="selectedCloud === 'bringyourown'" class="justify-content-center">
              <div class="wizard-box-title">Node count</div>
              <div class="row justify-content-center wizard-box wizard-box-color_secondary">
                <div class="row wizard-box-content">
                  <div class="col align-self-center node-count">
                    {{ getNodeCount() }}
                  </div>
                  <div class="w-100"></div>
                  <div class="col align-self-center name">
                    {{ getNodeSize() }}
                  </div>
                </div>
              </div>
            </div>

            <div [hidden]="selectedCloud !== 'bringyourown'" class="justify-content-center">
              <div class="wizard-box-title">Datacenter of nodes</div>
              <div class="col-sm wizard-box wizard-box-color_secondary">
                <div class="col-xs wizard-box-content justify-content-center">
                  <img class="cloud-logo" src="/assets/images/clouds/{{selectedCloud}}.png" alt="{{selectedCloud}}">
                </div>
              </div>
            </div>
          </div>

          <div class="row justify-content-center">
            <button class="btn btn-warning col-8" (click)="createClusterAndNode()">Create cluster</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="wizard-footer btn-group row" role="group" aria-label="navigation">
    <button type="button" class="col-xs-6 btn btn-primary" (click)="stepBack()" [disabled]="!canStepBack()">
      <i class="fa fa-chevron-left" style="margin-right: 5px;" aria-hidden="true"></i>Back
    </button>
    <button type="button" class="col-xs-6 btn btn-success" (click)="stepForward()" [disabled]="!canStepForward()">
      Next<i class="fa fa-chevron-right" style="margin-left: 5px;" aria-hidden="true"></i>
    </button>
  </div>

</div>
