<div class="container" fxLayout="column">
  <mat-nav-list>
    <!-- Menus for logged in users -->
    <div class="km-sidenav-top">
      <mat-list-item class="km-projects">
        <div class="km-projects-container">
          <mat-label fxLayout="row">
            <span>Selected Project</span>
            <div class="health-state" *ngIf="!!selectedProject">
              <i [matTooltip]="selectedProject.status" [ngClass]="projectService.getProjectStateIconClass()"></i>
            </div>
          </mat-label>
          <mat-select #select placeholder="Select Project" (selectionChange)="selectionChange($event, selectedProject, select)" [ngModel]="selectedProject" [compareWith]="projectService.compareProjectsEquality" disableOptionCentering>
            <mat-option (click)="addProject()">+ Add Project</mat-option>
            <mat-option *ngFor="let project of projects" [value]="project">
              {{ project.name }}
            </mat-option>
          </mat-select>
        </div>
      </mat-list-item>

      <mat-list-item [ngClass]="projectService.isProjectSelected('create-cluster')">
        <a mat-line [routerLink]="getRouterLink('wizard')"  [ngClass]="checkUrl('/wizard', 'routerLink')"><i class="fa fa-magic fa-lg"></i> Create Cluster</a>
      </mat-list-item>

      <mat-list-item [ngClass]="projectService.isProjectSelected('clusters')">
        <a mat-line [routerLink]="getRouterLink('clusters')" [ngClass]="checkUrl('/clusters', 'routerLink')"><i class="iconCluster" [ngClass]="checkUrl('/clusters', 'icon')"></i> Manage Clusters</a>
      </mat-list-item>

      <mat-list-item [ngClass]="projectService.isProjectSelected('sshKeys')">
        <a mat-line [routerLink]="getRouterLink('sshkeys')" [ngClass]="checkUrl('/sshkeys', 'routerLink')"><i class="iconKey" [ngClass]="checkUrl('/sshkeys', 'icon')"></i> Manage SSH keys</a>
      </mat-list-item>

      <mat-list-item [ngClass]="projectService.isProjectSelected('members')">
        <a mat-line [routerLink]="getRouterLink('members')" [ngClass]="checkUrl('/members', 'routerLink')"><i class="iconMember" [ngClass]="checkUrl('/members', 'icon')"></i> Members</a>
      </mat-list-item>

      <mat-list-item>
        <a mat-line routerLink="/projects" [ngClass]="checkUrl('/projects', 'routerLink')"><i class="iconProject" [ngClass]="checkUrl('/projects', 'icon')"></i> Projects</a>
      </mat-list-item>
    </div>
  </mat-nav-list>
  <!--kubermatic-theme-picker></kubermatic-theme-picker-->
</div>
