@import "../../../../assets/css/colors";
@import "../../../../assets/css/variables";

.container {
  width: $sidenav-width;
  background-color: $primary;
  height: 100%;
  color: $secondary;

  mat-list-item i {
    background-color: $secondary;
  }

  div.mat-select-value > span {
    color: red !important;
    font-size: 100px;
  }
}

.mat-nav-list {
  padding: 0 !important;

  .mat-list-item,
  a {
    font-size: 14px;
    font-weight: 400;
    color: $secondary;
    height: $toolbar-height;

    &.km-projects {
      height: $toolbar-height;
      border-bottom: 2px solid #00a3d9;

      .km-projects-container {
        display: flex;
        flex-direction: column;
        padding: 0 15px;
        width: 100%;

        mat-label {
          margin: 5px 0;
        }

        mat-select {
          font-weight: 600;
          line-height: 35px;
        }
      }
    }
  }

  a {
    padding: 10px 30px !important;
    display: flex;
    align-items: center;

    &:hover,
    &.active {
      color: #dcf3fa;
      background-color: #31586f;

      i {
        background-color: #dcf3fa;
      }
    }

    i {
      width: 20px;
      margin-right: 10px;
    }
  }
}

.km-disabled {
  pointer-events: none;
  cursor: default;

  a {
    opacity: 40%;
  }
}
