@import "../../../../assets/css/colors";
@import "../../../../assets/css/variables";

.km-option-add-project {
  color: $light-text-color;
}

.container {
  width: $sidenav-width;
  background-color: $alternative-dark;
  height: 100%;

  * {
    color: $secondary;
  }

  .mat-nav-list {
    padding: 0 !important;

    .mat-list-item,
    a {
      height: $toolbar-height;

      &.km-projects {
        height: $toolbar-height - ($sidenav-border-width / 2);
        border-bottom: $alternative solid $sidenav-border-width;
      }
    }

    a {
      font-size: $subhead-font-size-base-lg;
      padding: (1.25 * $baseline-grid) (3.75 * $baseline-grid) !important;
      display: flex;
      align-items: center;

      &:hover,
      &.active {
        color: $secondary-light;
        background-color: $primary-light;

        i {
          background-color: $secondary-light;
        }
      }

      i {
        width: 20px;
        margin-right: 2 * $baseline-grid;
      }
    }

    .mat-list-item i {
      background-color: $secondary;
    }

    .km-disabled {
      cursor: default;
      opacity: 0.4;
      pointer-events: none;
    }
  }

  .km-nav-custom-container {
    background-color: $primary-dark;
    border-top: $primary-light solid $sidenav-border-width;

    .mat-list-item a {
      font-size: $subhead-font-size-base;

      i {
        background-color: transparent;
        display: inline-block;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
      }

      &:hover {
        background-color: $alternative-dark;

        i {
          -webkit-filter: brightness(115%);
        }
      }
    }

    .km-custom-list-item {
      height: 6.25 * $baseline-grid;
      font-size: $subhead-font-size-base;

      a {
        height: 6.25 * $baseline-grid;
      }
    }
  }

  .km-sidenav-bottom {
    border-top: $primary-light solid $sidenav-border-width;
    font-size: $subhead-font-size-base;

    .mat-list-item a i {
      width: 2 * $baseline-grid;
      height: 2 * $baseline-grid;
    }
  }
}
