@import "../../../../assets/css/colors";

.mat-nav-list {
  padding: 0 !important;
  .mat-list-item, a {
    font-size: 14px;
    font-weight: 400;
    color: $text-color;
    height: 40px;

    &.km-projects {
      height: 85px;
      border-bottom: 1px solid $border;

      .km-projects-container {
        display: flex;
        flex-direction: column;
        padding: 0 15px;

        mat-label {
          margin: 5px 0;
        }

        mat-select {
          font-weight: 600;
          line-height: 35px;

          mat-option[value='addProject'] {
            border-bottom: 1px solid $border;
          }
        }
      }
    }

    i {
      color: $text-color;
    }
  }
  a {
    padding: 10px 30px !important;
    display: flex;
    align-items: center;
    &:hover, &.active {
      color: #fff;
      background-color: $primary;

      i {
        color: #fff;
      }
    }

    i {
      width: 20px;
      margin-right: 10px;
    }
  }
  
}
