@import "../../../../assets/css/colors";
@import "../../../../assets/css/variables";

.mat-nav-list {
  padding: 0 !important;

  .mat-list-item,
  a {
    font-size: 14px;
    font-weight: 400;
    color: $text-color;
    height: 40px;

    &.km-projects {
      height: 85px;
      border-bottom: 1px solid $border;

      .km-projects-container {
        display: flex;
        flex-direction: column;
        padding: 0 15px;
        width: 100%;

        mat-label {
          margin: 5px 0;
        }

        mat-select {
          font-weight: 600;
          line-height: 35px;
        }

        .km-health-state {
          margin-left: 6px;
          text-align: center;

          i.red {
            color: $warning-status-color;
          }

          i.green {
            color: $healthy-status-color;
          }

          i.orange {
            color: $waiting-status-color;
          }
        }
      }
    }

    i {
      color: $text-color;
    }
  }

  a {
    padding: 10px 30px !important;
    display: flex;
    align-items: center;

    &:hover,
    &.active {
      color: $white-text-color;
      background-color: $primary;

      i {
        color: $white-text-color;
      }
    }

    i {
      width: 20px;
      margin-right: 10px;
    }
  }
}

mat-option[value='addProject'] {
  border-bottom: 1px solid $border !important;
  font-weight: 600;
}

.km-disabled {
  pointer-events: none;
  cursor: default;

  a {
    color: $light-text-color !important;
  }
}

.km-nav-header {
  color: $text-color;
  font-size: $caption-font-size-base;
  font-weight: 600;
  margin: (1.5 * $baseline-grid) (3.5 *  $baseline-grid);
  text-transform: uppercase;
}
