<div class="container"
     fxLayout="column">
  <mat-nav-list>
    <div class="km-sidenav-top">
      <mat-list-item class="km-projects">
        <div class="km-projects-container">
          <mat-select #select
                      placeholder="Project"
                      (selectionChange)="selectionChange($event, selectedProject, select)"
                      [ngModel]="selectedProject"
                      [compareWith]="projectService.compareProjectsEquality"
                      disableOptionCentering>
            <mat-option *ngFor="let project of projects"
                        [value]="project">
              {{project.name}}
            </mat-option>
            <mat-option (click)="addProject()">+ Add Project</mat-option>
          </mat-select>
        </div>
      </mat-list-item>

      <mat-list-item [ngClass]="projectService.isProjectSelected('clusters')">
        <a id="km-nav-item-clusters"
           mat-line
           [routerLink]="getRouterLink('clusters')"
           [ngClass]="getLinkClass('clusters')"><i class="km-icon-cluster"
             [ngClass]="getIconClass('clusters')"></i> Clusters</a>
      </mat-list-item>

      <mat-list-item [ngClass]="projectService.isProjectSelected('sshKeys')">
        <a mat-line
           [routerLink]="getRouterLink('sshkeys')"
           [ngClass]="getLinkClass('sshkeys')"><i class="km-icon-key"
             [ngClass]="getIconClass('sshkeys')"></i> SSH Keys</a>
      </mat-list-item>

      <mat-list-item [ngClass]="projectService.isProjectSelected('members')">
        <a id="km-nav-item-members"
           mat-line
           [routerLink]="getRouterLink('members')"
           [ngClass]="getLinkClass('members')"><i class="km-icon-member"
             [ngClass]="getIconClass('members')"></i> Members</a>
      </mat-list-item>

      <mat-list-item>
        <a id="km-nav-item-projects"
           mat-line
           routerLink="/projects"
           [ngClass]="getLinkClass('projects')"><i class="km-icon-project"
             [ngClass]="getIconClass('projects')"></i> Projects</a>
      </mat-list-item>
    </div>
  </mat-nav-list>
</div>
