<div class="container"
     fxLayout="column">
  <mat-nav-list>
    <div class="km-sidenav-top">
      <mat-list-item class="km-projects">
        <div class="km-projects-container">
          <mat-label>Project</mat-label>
          <mat-select #select
                      placeholder="None"
                      (selectionChange)="selectionChange($event, selectedProject, select)"
                      [ngModel]="selectedProject"
                      [compareWith]="projectService.compareProjectsEquality"
                      disableOptionCentering>
            <mat-option *ngFor="let project of projects"
                        [value]="project">
              {{project.name}}
            </mat-option>
            <mat-option (click)="addProject()">+ Add Project</mat-option>
          </mat-select>
          <div class="km-projects-icon km-icon-arrow-down-2"></div>
        </div>
      </mat-list-item>

      <div [matTooltip]="getTooltip('clusters')">
        <mat-list-item [ngClass]="projectService.getMenuItemClass('clusters')">
          <a id="km-nav-item-clusters"
             mat-line
             fxLayoutAlign=" center"
             [routerLink]="getRouterLink('clusters')"
             [ngClass]="getLinkClass('clusters')">
            <i class="km-icon-cluster"></i> Clusters</a>
        </mat-list-item>
      </div>

      <div [matTooltip]="getTooltip('sshKeys')">
        <mat-list-item [ngClass]="projectService.getMenuItemClass('sshKeys')">
          <a mat-line
             fxLayoutAlign=" center"
             [routerLink]="getRouterLink('sshkeys')"
             [ngClass]="getLinkClass('sshkeys')">
            <i class="km-icon-key"></i> SSH Keys</a>
        </mat-list-item>
      </div>

      <div [matTooltip]="getTooltip('members')">
        <mat-list-item [ngClass]="projectService.getMenuItemClass('members')">
          <a id="km-nav-item-members"
             mat-line
             fxLayoutAlign=" center"
             [routerLink]="getRouterLink('members')"
             [ngClass]="getLinkClass('members')">
            <i class="km-icon-member"></i> Members</a>
        </mat-list-item>
      </div>

      <mat-list-item>
        <a id="km-nav-item-projects"
           mat-line
           fxLayoutAlign=" center"
           routerLink="/projects"
           [ngClass]="getLinkClass('projects')">
          <i class="km-icon-project"></i> Projects</a>
      </mat-list-item>
    </div>
  </mat-nav-list>
  <!--side border-->
  <mat-nav-list *ngIf="customLinks && customLinks.length > 0"
                class="km-nav-custom-container"
                fxFlex>
    <mat-list-item *ngFor="let link of customLinks">
      <a [href]="link.url"
         mat-line
         target="_blank">
        <i [class]="getCustomIcon(link)"></i>
        <span>{{link.label}}</span>
      </a>
    </mat-list-item>
  </mat-nav-list>
</div>
