<div>
  <mat-toolbar>
    Add Member
    <button mat-icon-button mat-dialog-close>
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
  </mat-toolbar>
  <mat-dialog-content>
    <div class="mat-dialog-content">
      <form [formGroup]="addMemberForm" fxLayout="column">

        <mat-form-field fxFlex>
          <input matInput formControlName="email" type="email" placeholder="Email*:" autocomplete="off">
          <mat-error *ngIf="addMemberForm.controls.email.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex>
          <mat-select placeholder="Group*:" formControlName="group">
            <mat-option value="owners">Owner</mat-option>
            <mat-option value="editors">Editor</mat-option>
            <mat-option value="viewers">Viewer</mat-option>
          </mat-select>
          <mat-error *ngIf="addMemberForm.controls.group.hasError('required')">
            Group is <strong>required</strong>
          </mat-error>
        </mat-form-field>

      </form>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
  <button mat-dialog-close mat-raised-button>
    Close
  </button>
  <button mat-raised-button color="primary" (click)="addMember()" [disabled]="!addMemberForm.valid">
    Add
  </button>
  </mat-dialog-actions>
</div>
