<div id="km-add-member-dialog"
     class="km-dialog-box">
  <km-dialog-title title="Add Member"></km-dialog-title>
  <mat-dialog-content>
    <div class="mat-dialog-content">
      <form [formGroup]="addMemberForm"
            fxLayout="column">

        <mat-form-field fxFlex>
          <mat-label>Email*</mat-label>
          <input id="km-add-member-dialog-email-input"
                 matInput
                 formControlName="email"
                 type="email"
                 autocomplete="off"
                 cdkFocusInitial>
          <mat-error *ngIf="addMemberForm.controls.email.hasError('required')">
            Email is <strong>required</strong>.
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex>
          <mat-label>Group*</mat-label>
          <mat-select id="km-add-member-dialog-group-combobox"
                      formControlName="group">
            <mat-option value="owners">Owner</mat-option>
            <mat-option value="editors">Editor</mat-option>
            <mat-option value="viewers">Viewer</mat-option>
          </mat-select>
          <mat-error *ngIf="addMemberForm.controls.group.hasError('required')">
            Group is <strong>required</strong>
          </mat-error>
        </mat-form-field>

      </form>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button id="km-add-member-dialog-add-btn"
            mat-flat-button
            (click)="addMember()"
            [disabled]="!addMemberForm.valid">
      Add
    </button>
  </mat-dialog-actions>
</div>
