<form [formGroup]="openstackProviderSettingsForm"
      fxLayout="column">
  <mat-form-field fxFlex>
    <mat-label>Username*</mat-label>
    <input matInput
           formControlName="username"
           type="text"
           title="Username"
           autocomplete="off">
    <mat-error *ngIf="openstackProviderSettingsForm.controls.username.hasError('required')">
      Username is <strong>required</strong>.
    </mat-error>
  </mat-form-field>
  <mat-form-field fxFlex>
    <mat-label>Password*</mat-label>
    <input matInput
           formControlName="password"
           type="password"
           title="Password"
           autocomplete="off">
    <mat-error *ngIf="openstackProviderSettingsForm.controls.password.hasError('required')">
      Password is <strong>required</strong>.
    </mat-error>
  </mat-form-field>
</form>
