<div class="health-state">
  <div md-button class="fa fa-dot-circle-o"  mdTooltip="apiserver" [ngClass]="getHealthStatusColor('apiserver')"></div>
  <div md-button class="fa fa-dot-circle-o"  mdTooltip="controller" [ngClass]="getHealthStatusColor('controller')"></div>
  <div md-button class="fa fa-dot-circle-o"  mdTooltip="etcd" [ngClass]="getHealthStatusColor('etcd')"></div>
  <div md-button class="fa fa-dot-circle-o"  mdTooltip="scheduler" [ngClass]="getHealthStatusColor('scheduler')"></div>


</div>

