<div fxLayout="row" fxLayoutGap="20px" class="km-expansion-panel-chart">
  <div fxFlex="50%">
    <google-chart [data]="cpuChartData"></google-chart>
  </div>
  <div fxFlex="50%">
    <google-chart [data]="memoryChartData"></google-chart>
  </div>
</div>

<div fxLayout="row" fxLayoutGap="20px" class="km-expansion-panel-chart">
  <div fxFlex="50%">
    <google-chart [data]="diskChartData"></google-chart>
  </div>
  <div fxFlex="50%">
    <google-chart [data]="resourceSummaryChartData"></google-chart>
  </div>
</div>


