<form [formGroup]="form"
      fxLayout="column">
  <mat-form-field fxFlex>
    <mat-label>Username*</mat-label>
    <input matInput
           formControlName="infraManagementUsername"
           name="infraManagementUsername"
           type="text"
           autocomplete="off">
    <mat-error *ngIf="form.controls.infraManagementUsername.hasError('required')">
      Username is <strong>required</strong>.
    </mat-error>
  </mat-form-field>
  <mat-form-field fxFlex>
    <mat-label>Password*</mat-label>
    <input matInput
           formControlName="infraManagementPassword"
           name="infraManagementPassword"
           type="password"
           autocomplete="off">
    <mat-error *ngIf="form.controls.infraManagementPassword.hasError('required')">
      Password is <strong>required</strong>.
    </mat-error>
  </mat-form-field>
  <mat-form-field fxFlex
                  *ngIf="!hideOptional">
    <mat-label>VSphere Cloud Provider Username</mat-label>
    <input matInput
           formControlName="username"
           name="username"
           type="text"
           autocomplete="off">
  </mat-form-field>
  <mat-form-field fxFlex
                  *ngIf="!hideOptional">
    <mat-label>VSphere Cloud Provider Password</mat-label>
    <input matInput
           formControlName="password"
           name="password"
           type="password"
           autocomplete="off">
  </mat-form-field>
  <mat-form-field fxFlex
                  *ngIf="!hideOptional">
    <mat-label>{{getNetworkFormState()}}</mat-label>
    <mat-select [placeholder]="getNetworkFormState()"
                disableOptionCentering
                formControlName="vmNetName">
      <mat-optgroup *ngFor="let type of getKeys()"
                    [label]="type">
        <mat-option *ngFor="let item of networkList[type]"
                    [value]="item.absolutePath">
          {{item.relativePath}}
        </mat-option>
      </mat-optgroup>
    </mat-select>
    <mat-hint *ngIf="showNetworkHint()">Please enter your credentials first.</mat-hint>
  </mat-form-field>

  <mat-form-field fxFlex
                  *ngIf="!hideOptional">
    <mat-label>{{getFolderFormState()}}</mat-label>
    <input matInput
           formControlName="folder"
           name="folder"
           [placeholder]="getFolderFormState()"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let item of folders"
                  [value]="item.path">
        {{item.path}}
      </mat-option>
    </mat-autocomplete>
    <mat-hint *ngIf="showFolderHint()">Please enter your credentials first.</mat-hint>
  </mat-form-field>

</form>
