<form [formGroup]="vsphereSettingsForm"
      fxLayout="column">
  <mat-form-field fxFlex>
    <mat-label>Username*</mat-label>
    <input matInput
           formControlName="infraManagementUsername"
           type="text"
           autocomplete="off">
    <mat-error *ngIf="vsphereSettingsForm.controls.infraManagementUsername.hasError('required')">
      Username is <strong>required</strong>.
    </mat-error>
  </mat-form-field>
  <mat-form-field fxFlex>
    <mat-label>Password*</mat-label>
    <input matInput
           formControlName="infraManagementPassword"
           type="password"
           autocomplete="off">
    <mat-error *ngIf="vsphereSettingsForm.controls.infraManagementPassword.hasError('required')">
      Password is <strong>required</strong>.
    </mat-error>
  </mat-form-field>
  <mat-form-field fxFlex
                  *ngIf="!hideOptional">
    <mat-label>VSphere Cloud Provider Username</mat-label>
    <input matInput
           formControlName="username"
           type="text"
           autocomplete="off">
  </mat-form-field>
  <mat-form-field fxFlex
                  *ngIf="!hideOptional">
    <mat-label>VSphere Cloud Provider Password</mat-label>
    <input matInput
           formControlName="password"
           type="password"
           autocomplete="off">
  </mat-form-field>
  <mat-form-field fxFlex
                  *ngIf="!hideOptional">
    <mat-label>{{getNetworkFormState()}}</mat-label>
    <mat-select [placeholder]="getNetworkFormState()"
                formControlName="vmNetName">
      <mat-option *ngFor="let item of networks"
                  [value]="item.name">
        {{item.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

</form>
