<form [formGroup]="vsphereSettingsForm" fxLayout="column">
  <mat-form-field fxFlex>
    <input matInput formControlName="username" type="text" placeholder="Username*:" autocomplete="off">
    <mat-error *ngIf="vsphereSettingsForm.controls.username.hasError('required')">
      Username is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field fxFlex>
    <input matInput formControlName="password" type="password" placeholder="Password*:" autocomplete="off">
    <mat-error *ngIf="vsphereSettingsForm.controls.password.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field fxFlex *ngIf="!hideOptional">
    <input matInput formControlName="vmNetName" type="vmNetName" placeholder="Network:" autocomplete="off">
  </mat-form-field>
</form>
