<form [formGroup]="packetProviderSettingsForm"
      fxLayout="column">
  <mat-form-field fxFlex>
    <mat-label>API Token*</mat-label>
    <input matInput
           formControlName="apiKey"
           type="password"
           autocomplete="off">
    <mat-error *ngIf="packetProviderSettingsForm.controls.apiKey.hasError('required')">
      Packet API key is <strong>required</strong>.
    </mat-error>
    <mat-error *ngIf="packetProviderSettingsForm.controls.apiKey.hasError('maxlength')">
      Packet API key must be less than <strong>256</strong> characters long.
    </mat-error>
  </mat-form-field>

  <mat-form-field fxFlex>
    <mat-label>Project ID*</mat-label>
    <input matInput
           formControlName="projectID"
           type="text"
           autocomplete="off">
    <mat-error *ngIf="packetProviderSettingsForm.controls.projectID.hasError('required')">
      Packet project ID is <strong>required</strong>.
    </mat-error>
    <mat-error *ngIf="packetProviderSettingsForm.controls.projectID.hasError('maxlength')">
      Packet project ID must be less than <strong>256</strong> characters long.
    </mat-error>
  </mat-form-field>

  <div fxFlex
       class="mat-select-container">
    <mat-form-field>
      <mat-label>Billing Cycle</mat-label>
      <mat-select formControlName="billingCycle">
        <mat-option *ngFor="let billingCycle of getAvailableBillingCycles()"
                    [value]="billingCycle">
          {{billingCycle}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>
