@import '../../assets/css/variables';

div.km-os-options {
  line-height: 3 * $line-height;
  font-size: $font-size-body;
  margin: 0 0 (1.25 * $baseline-grid);
}

mat-button-toggle-group[group='operatingSystemGroup'] {
  flex-wrap: wrap;

  .mat-button-toggle {
    border-radius: $border-radius;
    max-width: 170px;
    min-width: 120px;
    min-height: 60px;
    max-height: 60px;
    outline: none;

    i {
      margin-right: 1.25 * $baseline-grid;
      min-width: 28px;
      min-height: 28px;
      filter: grayscale(100%);
    }

    &.mat-button-toggle-checked {
      i {
        filter: none;
      }
    }
  }

  ::ng-deep .mat-button-toggle-label-content {
    font-size: $font-size-subhead;
    font-weight: normal;
  }
}

.km-randomize-btn {
  position: absolute;
  right: -0.625 * $baseline-grid;
  top: 0;
}

.km-randomize-btn ::ng-deep .mat-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-icon-button i {
  background-color: transparent;
}
