<form [formGroup]="form"
      fxLayout="row"
      fxLayoutGap="30px"
      fxLayout.md="column"
      fxLayoutGap.md="30px"
      fxLayout.sm="column"
      fxLayoutGap.sm="30px"
      fxLayout.xs="column"
      fxLayoutGap.xs="30px">
  <div fxFlex="50%"
       fxLayout="column"
       fxLayoutGap="16px">
    <mat-card-title>Basic</mat-card-title>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input [formControlName]="Controls.Name"
             id="km-node-name-input"
             matInput
             type="text"
             autocomplete="off">
      <button mat-icon-button
              class="km-randomize-btn"
              matTooltip="Generate name"
              (click)="generateName()">
        <i class="km-icon-randomize"></i>
      </button>
      <mat-hint>Leave it empty to use server-side generation.</mat-hint>
      <mat-error *ngIf="form.get(Controls.Name).hasError( 'pattern')">
        Name can only contain alphanumeric characters and dashes (a-z, 0-9 and -).
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Replicas</mat-label>
      <input [formControlName]="Controls.Count"
             id="km-node-count-input"
             matInput
             type="number"
             min="0"
             autocomplete="off"
             required>
      <mat-error *ngIf="form.get(Controls.Count).hasError('required')">Number of replicas is required.</mat-error>
      <mat-error *ngIf="form.get(Controls.Count).hasError('ipsMissing')">Not enough IPs left. Reduce number of replicas or
        add more machine networks.
      </mat-error>
    </mat-form-field>

    <div fxLayout="column">
      <mat-button-toggle-group group="operatingSystemGroup"
                               [formControlName]="Controls.OperatingSystem">
        <mat-button-toggle [value]="OperatingSystem.Ubuntu"
                           *ngIf="!isOpenshiftCluster()">
          <i class="km-os-image-ubuntu"></i>
          Ubuntu
        </mat-button-toggle>
        <mat-button-toggle [value]="OperatingSystem.CentOS">
          <i class="km-os-image-centos"></i>
          CentOS
        </mat-button-toggle>
        <mat-button-toggle [value]="OperatingSystem.ContainerLinux"
                           *ngIf="!isProvider(NodeProvider.HETZNER) && !isOpenshiftCluster()">
          <i class="km-os-image-container-linux"></i>
          Container Linux
        </mat-button-toggle>
        <mat-button-toggle [value]="OperatingSystem.SLES"
                           *ngIf="isProvider(NodeProvider.AWS) && !isOpenshiftCluster()">
          <i class="km-os-image-sles"></i>
          SLES
        </mat-button-toggle>
      </mat-button-toggle-group>

      <div fxLayout="row"
           fxLayoutGap="16px">
        <!-- Options for Ubuntu and CenOS -->
        <div *ngIf="isOsSelected(OperatingSystem.Ubuntu) || isOsSelected(OperatingSystem.CentOS) || isOsSelected(OperatingSystem.SLES)"
             class="km-os-options">
          <mat-checkbox [id]="Controls.UpgradeOnBoot"
                        [formControlName]="Controls.UpgradeOnBoot">Upgrade system on first boot
          </mat-checkbox>
        </div>

        <!-- Options for Container Linux -->
        <div *ngIf="isOsSelected(OperatingSystem.ContainerLinux)"
             class="km-os-options">
          <mat-checkbox [id]="Controls.DisableAutoUpdate"
                        [formControlName]="Controls.DisableAutoUpdate">Disable auto-update
          </mat-checkbox>
        </div>

        <div class="km-os-options">
          <mat-checkbox [id]="Controls.DynamicConfig"
                        [formControlName]="Controls.DynamicConfig">Dynamic kubelet config
          </mat-checkbox>
        </div>
      </div>
    </div>

    <km-label-form title="Node Labels"
                   [labels]="labels"
                   (labelsChange)="onLabelsChange($event)"></km-label-form>

    <km-taint-form title="Node Taints"
                   [taints]="taints"
                   (taintsChange)="onTaintsChange($event)"></km-taint-form>
  </div>

  <div fxFlex="50%"
       fxLayout="column"
       fxLayoutGap="16px">
    <mat-card-title>{{ providerDisplayName }}</mat-card-title>
    <kubermatic-basic-node-data [provider]="provider"
                                [formControlName]="Controls.ProviderBasic">
    </kubermatic-basic-node-data>

    <ng-container *ngIf="!isBasicViewOnly()">
      <kubermatic-extended-node-data [provider]="provider"
                                     [visible]="true"
                                     [formControlName]="Controls.ProviderExtended"></kubermatic-extended-node-data>
    </ng-container>
  </div>
</form>
