<form [formGroup]="form"
      fxLayout="column"
      fxLayoutGap="16px">
  <mat-form-field fxFlex
                  class="km-with-hint">
    <mat-label>Access Key ID</mat-label>
    <input matInput
           [formControlName]="controls.AccessKeyID"
           [name]="controls.AccessKeyID"
           type="password"
           autocomplete="off"
           required>
    <mat-hint>
      We need a AWS Access Key with write access. You can create one&nbsp;<a target="_blank"
         rel="noopener"
         href="http://docs.aws.amazon.com/general/latest/gr/managing-aws-access-keys.html">here</a>.
    </mat-hint>
    <mat-error *ngIf="form.get(controls.AccessKeyID).hasError('required')">
      Access key ID is <strong>required</strong>.
    </mat-error>
  </mat-form-field>

  <mat-form-field fxFlex
                  class="km-with-hint">
    <mat-label>Secret Access Key</mat-label>
    <input matInput
           [formControlName]="controls.SecretAccessKey"
           [name]="controls.SecretAccessKey"
           type="password"
           autocomplete="off"
           required>
    <mat-hint>
      We need a AWS Secret Access Key with write access. You can create one&nbsp;<a target="_blank"
         rel="noopener"
         href="http://docs.aws.amazon.com/general/latest/gr/managing-aws-access-keys.html">here</a>.
    </mat-hint>
    <mat-error *ngIf="form.get(controls.SecretAccessKey).hasError('required')">
      Secret access key is <strong>required</strong>.
    </mat-error>
  </mat-form-field>

  <mat-form-field fxFlex
                  class="km-with-hint">

    <mat-label>{{ vpcLabel }}</mat-label>
    <input matInput
           [formControlName]="controls.VPCID"
           [name]="controls.VPCID"
           [matAutocomplete]="auto"
           required>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let vpc of vpcIds"
                  [value]="vpc.vpcId">
        {{vpc.displayName}}
      </mat-option>
    </mat-autocomplete>
    <mat-hint>When specified, all worker nodes will be attached to this VPC. If not specified, the default VPC will be used.</mat-hint>
    <mat-error *ngIf="form.get(controls.VPCID).hasError('pattern')">
      The VPC ID needs to look similar to 'vpc-3a2f9851'.
    </mat-error>
    <mat-error *ngIf="form.get(controls.VPCID).hasError('required')">
      The VPC ID is <strong>required</strong>.
    </mat-error>
  </mat-form-field>
</form>
