<div fxLayout>
  <div fxFlex
       align="right">
    <button mat-flat-button
            type="button"
            color="tertiary"
            (click)="resetDefaults()">
      Reset to Default
    </button>
    <div fxFlex></div>
    <button mat-flat-button
            type="button"
            (click)="goBack()">
      Go Back
    </button>
  </div>
</div>

<mat-card class="white">
  <mat-card-header>
    <mat-card-title>Admin Settings</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div *ngIf="!!settings"
         class="km-admin-settings">
      <div fxLayout="row">
        <div class="km-admin-settings-label">
          <span>Cleanup on Cluster Deletion</span>
          <div class="km-info-icon"
               matTooltip="Set &quot;clean up connected load balancers&quot; and &quot;clean up connected volumes (PVs and PVCS)&quot; checkboxes on Cluster Deletion to enabled by default. Enable &quot;Enforce&quot; to make users unable to edit the checkboxes.">i</div>
        </div>
        <mat-checkbox [(ngModel)]="settings.cleanupOptions.Enabled"
                      (change)="onSettingsChange()">Enable by Default</mat-checkbox>
        <mat-checkbox [(ngModel)]="settings.cleanupOptions.Enforced"
                      (change)="onSettingsChange()">Enforce</mat-checkbox>
        <km-settings-status [isSaved]="isEqual(settings.cleanupOptions, apiSettings.cleanupOptions)"></km-settings-status>
      </div>

      <div fxLayout="row">
        <div class="km-admin-settings-label">
          <span>Displayed Distributions</span>
          <div class="km-info-icon"
               matTooltip="Deactivate the distributions you want to hide from the users.">i</div>
        </div>
        <mat-button-toggle-group group="clusterSpecTypeGroup"
                                 class="km-cluster-spec-type"
                                 multiple="true">
          <mat-button-toggle value="kubernetes">
            <i class="km-icon-kubernetes"></i>
            Kubernetes
          </mat-button-toggle>
          <mat-button-toggle value="openshift">
            <i class="km-icon-openshift"></i>
            OpenShift
          </mat-button-toggle>
        </mat-button-toggle-group>
        <km-settings-status [isSaved]="isEqual(settings.clusterTypeOptions, apiSettings.clusterTypeOptions)"></km-settings-status>
      </div>

      <div fxLayout="row">
        <div class="km-admin-settings-label">Node Deployment</div>
        <mat-form-field class="km-admin-settings-field-nd">
          <mat-label>Initial Node Deployment Replicas</mat-label>
          <input matInput
                 type="number"
                 min="0"
                 max="50"
                 autocomplete="off"
                 [(ngModel)]="settings.defaultNodeCount"
                 (change)="onSettingsChange()">
        </mat-form-field>
        <km-settings-status [isSaved]="isEqual(settings.defaultNodeCount, apiSettings.defaultNodeCount)"></km-settings-status>
      </div>
    </div>
  </mat-card-content>
</mat-card>
