@import "../../../assets/css/variables";

.mat-card {
  margin-top: $content-padding !important;

  .mat-card-header {
    padding: 0 (3.75 * $baseline-grid);
  }

  .mat-card-content {
    padding: 3.75 * $baseline-grid;
  }

  .km-admin-settings {
    font-size: $font-size-subhead;

    .entry-label {
      min-width: 32 * $baseline-grid;
    }

    .km-icon-info,
    .km-icon-warning {
      min-height: 2 * $baseline-grid;
      margin-left: .5 * $baseline-grid;
      min-width: 2 * $baseline-grid;
    }

    .km-account-settings-toggle {
      mat-button-toggle {
        min-height: 50px;
        max-height: 50px;
        min-width: 150px;
        max-width: 150px;
        border-radius: $border-radius;
        margin-bottom: 0;

        .tech-preview-name {
          line-height: 2.2 * $line-height;
        }

        .tech-preview-tag {
          border-radius: 4px;
          font-size: $font-size-small;
          line-height: 1.2 * $line-height;
        }

        i {
          -webkit-filter: grayscale(100%);
          -ms-filter: grayscale(100%);
          filter: grayscale(100%);
        }

        &:hover {
          background-color: transparent;
          transition: all .5s ease;
        }

        &.mat-button-toggle-checked {
          background-color: transparent;

          i {
            -webkit-filter: none;
            -ms-filter: none;
            filter: none;
          }
        }

        ::ng-deep.mat-button-toggle-label-content {
          font-weight: normal;
          font-size: $font-size-subhead;
        }
      }
    }

    .km-admin-settings-field-nd {
      width: 25.5 * $baseline-grid;
    }

    mat-checkbox {
      margin-right: 6 * $baseline-grid;
    }
  }
}
