@import "../../../assets/css/variables";

.mat-card:not(.km-with-table-header) {
  margin-top: $content-padding !important;

  .mat-card-header {
    padding: 0 (3.75 * $baseline-grid);
  }

  .mat-card-content {
    padding: 3.75 * $baseline-grid;
  }

  .km-admin-settings {
    font-size: $font-size-subhead;

    .km-icon-info {
      margin-left: .5 * $baseline-grid;
    }

    .km-account-settings-toggle {
      mat-button-toggle {
        min-height: 50px;
        max-height: 50px;
        min-width: 150px;
        max-width: 150px;
        border-radius: $border-radius;
        margin-bottom: 0;

        i {
          -webkit-filter: grayscale(100%);
          -ms-filter: grayscale(100%);
          filter: grayscale(100%);
        }

        &:hover {
          background-color: transparent;
          transition: all .5s ease;
        }

        &.mat-button-toggle-checked {
          background-color: transparent;

          i {
            -webkit-filter: none;
            -ms-filter: none;
            filter: none;
          }
        }

        ::ng-deep.mat-button-toggle-label-content {
          font-weight: normal;
          font-size: $font-size-subhead;
        }
      }
    }

    .km-admin-settings-field-nd {
      width: 25.5 * $baseline-grid;
    }

    mat-checkbox {
      margin-right: 6 * $baseline-grid;
    }
  }
}

.km-with-table-header .mat-card-header {
  padding-left: 3.75 * $baseline-grid !important;
}

.km-provider-logo {
  background-position: left !important;
  max-height: 3.5 * $baseline-grid;
  max-width: 14 * $baseline-grid !important;
  min-height: 3.5 * $baseline-grid;
  min-width: 5 * $baseline-grid !important;
  margin: $baseline-grid $baseline-grid 0 0;
}

.km-table-actions {
  display: flex;
  justify-content: flex-end;
}

.datacenter-filters {
  .clear-filter {
    line-height: 2.5 * $line-height;
    margin-right: 0.625 * $baseline-grid !important;
    right: 3.75 * $baseline-grid;
    top: -0.75 * $baseline-grid;
    max-height: 3 * $baseline-grid;
    max-width: 3 * $baseline-grid;
    position: absolute;
  }
}
