<form [formGroup]="gcpSettingsForm"
      fxLayout="column">
  <mat-form-field fxFlex>
    <mat-label>Service Account*</mat-label>
    <input id="km-gcp-serviceAccount-input"
           matInput
           formControlName="serviceAccount"
           type="password"
           autocomplete="off">
    <mat-error *ngIf="gcpSettingsForm.controls.serviceAccount.hasError('required')">
      Service Account is <strong>required</strong>.
    </mat-error>
  </mat-form-field>

  <mat-form-field fxFlex>
    <mat-label>Firewall Rule Name*</mat-label>
    <input id="km-gcp-firewallRuleName-input"
           matInput
           formControlName="firewallRuleName"
           type="password"
           autocomplete="off">
    <mat-error *ngIf="gcpSettingsForm.controls.firewallRuleName.hasError('required')">
      Firewall Rule Name is <strong>required</strong>.
    </mat-error>
  </mat-form-field>

  <mat-form-field fxFlex>
    <mat-label>Network*</mat-label>
    <input id="km-gcp-network-input"
           matInput
           formControlName="network"
           type="password"
           autocomplete="off">
    <mat-error *ngIf="gcpSettingsForm.controls.network.hasError('required')">
      Network is <strong>required</strong>.
    </mat-error>
  </mat-form-field>

  <mat-form-field fxFlex>
    <mat-label>Subnetwork*</mat-label>
    <input id="km-gcp-subnetwork-input"
           matInput
           formControlName="subnetwork"
           type="password"
           autocomplete="off">
    <mat-error *ngIf="gcpSettingsForm.controls.subnetwork.hasError('required')">
      Subnetwork is <strong>required</strong>.
    </mat-error>
  </mat-form-field>
</form>
