<md-card  fxFlex *ngIf="provider.name !== 'bringyourown'">
    <md-card-header>
      <md-card-title>
        <h4>
          Node settings
        </h4>
      </md-card-title>
    </md-card-header>
    <md-card-content fxLayout="column">
        <kubermatic-add-node 
            [provider]="provider" 
            [connect]="['wizard', 'nodeForm']"
            (nodeModelChanges)="changeNodeModel($event)"
            (formChanges)="changeForm($event)"></kubermatic-add-node>
    </md-card-content>
</md-card>