@import "../../../assets/css/colors";
@import "../../../assets/css/variables";

.km-icon-delete {
  width: 14px;
  height: 14px;
}

button:disabled {
  .km-icon-delete {
    color: $disabled-text-color;
  }
}

// setting menu
.km-cluster-detail-actions {
  padding-bottom: 15px;

  mat-button {
    margin-left: 5px;
  }

  .mat-icon-button i {
    height: 24px;
    width: 24px;
  }
}

.km-provider-menu-btn {
  color: $text-color;
  margin-right: 3.5 * $baseline-grid !important;
}

.km-provider-menu {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.km-cluster-health {
  margin-right: 2.5 * $baseline-grid;
  font-size: $subhead-font-size-base;
  vertical-align: middle;
}

.mat-icon.km-icon-edit {
  width: 18px !important;
  height: 18px !important;
}

.km-provider-logo {
  margin-top: - $baseline-grid / 2;
  min-width: 14 * $baseline-grid;
}
