<ng-container *ngIf="isLoaded()">
  <div fxLayout class="cluster-detail-actions">
    <div fxFlex="100%" align="right" style="margin-top: 25px; margin-bottom: 12px;">
      <button class="add-node-btn"
              mat-raised-button color="primary"
              (click)="addNode()"
              [disabled]="cluster.status.phase != 'Running'"
              [fxHide]="cluster.provider === 'bringyourown'">
          <i class="fa fa-plus" style="margin-right: 5px;" aria-hidden="true"></i>
          Add Node
      </button>
      <button class="connect-kubeconfig-btn" (click)="connectClusterDialog()" mat-button mat-raised-button color="primary" [disabled]="cluster.status.phase != 'Running'">
        Connect
      </button>
      <button class="download-kubeconfig-btn" mat-button mat-raised-button color="primary" [disabled]="cluster.status.phase != 'Running'">
        <a [attr.href]="cluster.status.phase != 'Running' ? null : downloadKubeconfigUrl()" target="_blank" [ngClass]="{'disabled': cluster.status.phase != 'Running'}">
          <span class="button" [ngClass]="{'download': cluster.status.phase == 'Running', 'downloadDisabled': cluster.status.phase != 'Running'}"></span>
          Download config
        </a>
      </button>
      <button mat-button (click)="deleteClusterDialog()" mat-raised-button >
        <i class="fa fa-trash-o" aria-hidden="true" style="margin-right: 5px; color: #0288d1;" color="primary"></i>
        Delete Cluster
      </button>
    </div>
  </div>

  <mat-card class="km-card-list km-card-list-info" [ngClass]="{'statusRunning': cluster.status.phase == 'Running', 'statusFailed': cluster.status.phase == 'Failed', 'statusWaiting': cluster.status.phase != 'Running' && cluster.status.phase != 'Failed'}">
    <mat-card-header class="km-card-list-header">
      <mat-card-title>
        <span ngxClipboard [cbContent]="cluster.spec.humanReadableName" matTooltip="click to copy" class="copy">{{cluster.spec.humanReadableName}}</span>
        <kubermatic-cluster-health-status [health]="cluster.status.health" [phase]="cluster.status.phase"></kubermatic-cluster-health-status>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="km-card-list-content" fxLayout >
      <div fxFlex="20%">
        <strong>Status:</strong>
      </div>
      <div fxFlex="25%">{{cluster.status.phase}}</div>
      <div fxFlex="20%">
        <strong>Master Version:</strong>
      </div>
      <div fxFlex="35%">
        {{cluster.spec.masterVersion}}
        <small (click)="upgradeClusterDialog()" [hidden]="cluster.status.phase != 'Running' || upgradesList.length === 0">upgrade available</small>
      </div>
    </mat-card-content>
    <mat-card-content class="km-card-list-content" fxLayout>
    </mat-card-content>

  </mat-card>
  <kubermatic-cluster-secrets [health]="cluster.status.health" [cluster]="cluster"></kubermatic-cluster-secrets>

  <mat-card class="km-card-list">
    <mat-card-header class="km-card-list-header providerinfo" >
      <mat-card-title fxLayout>
        <div fxFlex="25%">Provider</div>
        <div fxFlex="35%">Node Region</div>
        <div fxFlex="40%">
          SSH keys
          <span class="km-card-ssh-tooltip" matTooltip="You can only login into the nodes with the user ‘apiserver’.">
            <i class="fa fa-question-circle" aria-hidden="true"></i>
          </span>
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="km-card-list-content" fxLayout>
      <div fxFlex="25%">
        <ng-container *ngIf="cluster.provider === 'bringyourown'">
          <img src="/assets/images/clouds/{{cluster.provider}}.png" class="icon-seed-cluster" alt="Cluster Icon" height="30" />
        </ng-container>
        <ng-container *ngIf="cluster.provider !== 'bringyourown'">
          <img src="/assets/images/clouds/{{nodeDc.spec.provider}}.png" class="icon-seed-cluster" alt="Cluster Icon" height="30" />
        </ng-container>
      </div>
      <div fxFlex="35%" class="km-provider-region" >
        <ng-container *ngIf="cluster.provider !== 'bringyourown'">
          <span class="{{'flag-icon flag-icon-' + nodeDc.spec.country.toLowerCase()}}"></span>
          <span class="location">{{nodeDc.spec.country}} / {{nodeDc.spec.location}}</span>
        </ng-container>
      </div>
      <div fxFlex="40%">
        <ng-container [ngSwitch]="sshKeys.length > 0">
          <ul class="km-ssh-keys-list"  *ngSwitchCase="true">
            <li *ngFor="let key of sshKeys.slice(0, 3)">
              <i class="fa fa-key"></i>
              {{key.spec.name}}
            </li>

            <div class="km-ssh-keys-list-more" *ngIf="sshKeys.length > 3">
              <div class="km-more-sshKeys-btn" (click)="loadMoreSshKeys(true)" *ngIf="!moreSshKeys">
                <strong>More</strong>
                <span class="iconArrowDown"></span>
              </div>
              <div class="km-more-sshKeys" *ngIf="moreSshKeys">
                <li *ngFor="let key of sshKeys.slice(3, sshKeys.length+1)">
                  <i class="fa fa-key"></i>
                  {{key.spec.name}}
                </li>
              </div>
              <div class="km-more-sshKeys-btn" (click)="loadMoreSshKeys(false)" *ngIf="moreSshKeys">
                <strong>Less</strong>
                <span class="iconArrowUp"></span>
              </div>
            </div>

          </ul>
          <ng-container *ngSwitchCase="false">no SSH key selected</ng-container>
        </ng-container>
      </div>
    </mat-card-content>
  </mat-card>

  <kubermatic-node [nodes]="nodes" [clusterName]="cluster.metadata.name" [nodeProvider]="cluster.provider" [clusterRunning]="cluster.isRunning()" [datacenter]="datacenter"></kubermatic-node>

  <mat-card [fxShow]="cluster.provider == 'bringyourown'">
    <mat-card-content>
      <div class="code-block">
        <p>
          #Install kubeadm on you local system & the worker node: https://kubernetes.io/docs/setup/independent/install-kubeadm/<br>
          <br>
          # ====================================<br>
          # ======= On your local system =======<br>
          # ====================================<br>
          #<br>
          # => Create a new token for the new node<br>
          kubeadm token --kubeconfig kubeconfig create --print-join-command<br>
          <br>
          # ====================================<br>
          # ======== On the worker node ========<br>
          # ====================================<br>
          #<br>
          #Use the command which got previously generated by kubeadm<br>
          #example:<br>
          #kubeadm join --token AAAAAA.BBBBBBBBBBBBB {{cluster.address.externalName}}{{cluster.address.externalPort}} --discovery-token-ca-cert-hash sha256:aaaabbbbcccc<br>
        </p>
      </div>
    </mat-card-content>
  </mat-card>
  <div style="margin-bottom: 70px;"></div>
</ng-container>

<div *ngIf="!isLoaded()">
  <mat-spinner color="accent" class="km-spinner"></mat-spinner>
</div>
