@import "../../../assets/css/colors";
@import "../../../assets/css/variables";

.km-change-version {
  small {
    margin-left: 10px;
    color: $primary;
  }
}

a.km-download-kubeconfig-btn {
  display: inline-block;
}

.km-ssh-keys-more {
  color: $light-text-color;
  cursor: default;
  user-select: none;
}

.km-icon-delete {
  width: 14px;
  height: 14px;
}

button:disabled {
  .km-icon-delete {
    color: $disabled-text-color;
  }
}

// setting menu
.km-cluster-detail-actions {
  padding-bottom: 15px;

  mat-button {
    margin-left: 5px;
  }
}

.km-provider-menu {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.km-cluster-health {
  margin-left: 10px;
  vertical-align: middle;
}

.mat-icon.km-icon-edit {
  width: 18px !important;
  height: 18px !important;
}

.km-provider-logo {
  min-width: 12 * $baseline-grid;
}

.km-cluster-type {
  display: flex;
  align-items: center;
  margin-top: 3px;

  i {
    max-width: 25px;
    max-height: 25px;
  }
}
