<ng-container *ngIf="isLoaded()">
  <div fxLayout
       class="km-cluster-detail-actions">
    <div fxFlex="100%"
         align="right">
      <button id="km-delete-cluster-btn"
              mat-flat-button
              color="tertiary"
              (click)="deleteClusterDialog()"
              [disabled]="!isDeleteEnabled()">
        Delete
      </button>
      <div fxFlex></div>
      <button mat-flat-button
              color="alternative"
              (click)="addNode()"
              [fxHide]="nodeDc.spec.provider === 'bringyourown'"
              [disabled]="!isAddNodeDeploymentsEnabled()">
        Add Node Deployment
      </button>
      <button class="km-connect-kubeconfig-btn"
              (click)="connectClusterDialog()"
              mat-flat-button
              [disabled]="!!clusterHealthStatus && (clusterHealthStatus.css !== 'km-status-running')">
        Connect
      </button>
      <button class="km-share-kubeconfig-btn"
              (click)="shareConfigDialog()"
              mat-flat-button
              [disabled]="!!clusterHealthStatus && (clusterHealthStatus.css !== 'km-status-running')"
              *ngIf="!!config.share_kubeconfig">
        Share
      </button>
      <a class="km-download-kubeconfig-btn"
         mat-flat-button
         disabled="{{ !isClusterRunning }}"
         href="{{getDownloadURL()}}"
         target="_blank">
        Download Config
      </a>
    </div>
  </div>

  <mat-card class="white"
            [ngClass]="!!clusterHealthStatus ? clusterHealthStatus.css : ''">
    <mat-card-header>
      <mat-card-title>
        <span ngxClipboard
              [cbContent]="cluster.name"
              matTooltip="Click to copy"
              class="km-copy km-cluster-name">{{cluster.name}}</span>
        <i [matTooltip]="!!clusterHealthStatus ? clusterHealthStatus.message : ''"
           [ngClass]="!!clusterHealthStatus ? clusterHealthStatus.color : ''"
           class="km-cluster-health"></i>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="row wrap"
                      class="km-row">
      <km-property>
        <div key>Cluster ID</div>
        <div value
             ngxClipboard
             [cbContent]="cluster.id"
             matTooltip="Click to copy"
             class="km-copy">
          {{cluster.id}}
        </div>
      </km-property>
      <km-property>
        <div key>Master Version</div>
        <div value
             fxLayoutGap="4px">
          <span *ngIf="isClusterRunning && (updatesAvailable || downgradesAvailable)"
                (click)="changeClusterVersionDialog()"
                matTooltip="Click to change the version"
                class="km-copy">{{cluster.spec.version}}
            <i *ngIf="updatesAvailable"
               class="fa fa-arrow-up"></i>
          </span>
          <i *ngIf="someUpgradesRestrictedByKubeletVersion"
             matTooltip="Some Kubernetes versions are not available due to incompatible nodes running in the cluster. Upgrade or recreate your nodes before you can upgrade your cluster to the latest version."
             class="fa fa-exclamation-triangle orange"></i>
          <span *ngIf="!isClusterRunning || !(updatesAvailable || downgradesAvailable)">
            {{cluster.spec.version}}
          </span>
        </div>
      </km-property>
    </mat-card-content>
  </mat-card>
  <kubermatic-cluster-secrets [cluster]="cluster"
                              [datacenter]="datacenter"></kubermatic-cluster-secrets>

  <mat-card class="blue">
    <mat-card-header>
      <mat-card-title fxLayout>
        <div fxFlex="42%">Provider</div>
        <div fxFlex="30%">Node Region</div>
        <div fxFlex="25%">
          SSH keys
          <span matTooltip="You can login into the nodes with the user 'root', 'ubuntu' or 'core'.">
            <i class="fa fa-question-circle"
               aria-hidden="true"></i>
          </span>
        </div>
        <div fxFlex="3%"
             class="provider-menu">
          <button mat-icon-button
                  class="km-provider-menu-btn"
                  [matMenuTriggerFor]="menu"
                  *ngIf="!cluster.spec.cloud.bringyourown">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu"
                    class="km-provider-edit-settings">
            <button mat-menu-item
                    (click)="editProviderSettings()"
                    [disabled]="!isEditEnabled()">
              <mat-icon class="km-icon-edit black"></mat-icon>
              <span>Edit Settings</span>
            </button>
            <button mat-menu-item
                    (click)="editSSHKeys()"
                    [disabled]="!isSSHKeysEditEnabled()">
              <mat-icon class="km-icon-edit black"></mat-icon>
              <span>Manage SSH keys</span>
            </button>
          </mat-menu>
        </div>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="km-row"
           fxLayout>
        <div fxFlex="42%">
          <span class="km-provider-logo km-provider-logo-{{nodeDc.spec.provider}}"></span>
        </div>
        <div fxFlex="30%"
             class="km-region">
          <ng-container *ngIf="nodeDc.spec.provider !== 'bringyourown'">
            <span class="{{'flag-icon flag-icon-' + nodeDc.spec.country.toLowerCase()}}"></span>
            <span class="km-location">{{nodeDc.spec.country}} / {{nodeDc.spec.location}}</span>
          </ng-container>
        </div>
        <div fxFlex="25%">
          <ng-container [ngSwitch]="sshKeys.length > 0">
            <ul class="km-ssh-keys-list"
                *ngSwitchCase="true">
              <li *ngFor="let key of sshKeys.slice(0, 3)">
                <i class="fa fa-key"></i>
                {{key.name}}
              </li>
              <div class="km-ssh-keys-list-more"
                   *ngIf="sshKeys.length > 3">
                <div class="km-more-sshKeys-btn"
                     (click)="loadMoreSshKeys(true)"
                     *ngIf="!moreSshKeys">
                  <strong>More</strong>
                  <span class="km-icon-arrow-down"></span>
                </div>
                <div class="km-more-sshKeys"
                     *ngIf="moreSshKeys">
                  <li *ngFor="let key of sshKeys.slice(3, sshKeys.length+1)">
                    <i class="fa fa-key"></i>
                    {{key.name}}
                  </li>
                </div>
                <div class="km-more-sshKeys-btn"
                     (click)="loadMoreSshKeys(false)"
                     *ngIf="moreSshKeys">
                  <strong>Less</strong>
                  <span class="km-icon-arrow-up"></span>
                </div>
              </div>
            </ul>
          </ng-container>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="km-pre-card-title">Node Deployments</div>
  <kubermatic-node-deployment-list [cluster]="cluster"
                                   [nodeDeployments]="nodeDeployments"
                                   (changeNodeDeployment)="reloadClusterNodes()"
                                   [datacenter]="datacenter"
                                   [projectID]="projectID"
                                   [clusterHealthStatus]="clusterHealthStatus"
                                   [isClusterRunning]="isClusterRunning"
                                   [isNodeDeploymentLoadFinished]="isNodeDeploymentLoadFinished"></kubermatic-node-deployment-list>

  <div *ngIf="nodes.length > 0">
    <div class="km-pre-card-title">
      <ng-container>Nodes&nbsp;</ng-container>
      <span matTooltip="Single Node management is being deprecated in favour of Node Deployments. This table displays only the Nodes that are not controlled by other resources (i.e. children of Node Deployment).">
        <i class="fa fa-warning"
           aria-hidden="true"></i>
      </span>
    </div>
    <kubermatic-node-list [cluster]="cluster"
                          [nodes]="nodes"
                          (deleteNode)="reloadClusterNodes()"
                          [datacenter]="datacenter"
                          [projectID]="projectID"
                          [clusterHealthStatus]="clusterHealthStatus"
                          [isClusterRunning]="isClusterRunning"></kubermatic-node-list>
  </div>

  <div class="km-pre-card-title">Cluster Events</div>
  <km-event-list [events]="events"></km-event-list>

  <div class="km-bottom-spacer"></div>
</ng-container>

<div *ngIf="!isLoaded()">
  <mat-spinner color="accent"
               class="km-spinner"></mat-spinner>
</div>
