@import "../../../assets/css/variables";

.km-addon-card-content {
  padding: 0 (7 * $baseline-grid);
}

.km-cluster-detail-actions {
  padding-bottom: 2.5 * $baseline-grid;

  .mat-button {
    margin-left: 0.625 * $baseline-grid;
  }

  .mat-icon-button i {
    height: 3 * $baseline-grid;
    width: 3 * $baseline-grid;
  }
}

.km-cluster-name {
  font-weight: 500 !important;
}

.km-provider-menu {
  display: flex;
  align-items: center;
  margin-right: 1.25 * $baseline-grid;
}

.km-cluster-health {
  margin-right: 2.5 * $baseline-grid;
  font-size: $font-size-subhead;
  vertical-align: middle;
}

.mat-icon.km-icon-edit {
  width: 2.25 * $baseline-grid !important;
  height: 2.25 * $baseline-grid !important;
}

.km-provider-logo-value {
  display: flex;
  align-items: center;
}

.km-provider-logo {
  margin-top: - $baseline-grid / 2;
  min-width: 14 * $baseline-grid;

  &.km-provider-logo-aws {
    min-width: 5 * $baseline-grid;
  }
}

.km-share-kubeconfig-btn,
.km-download-kubeconfig-btn {
  margin-right: 1.25 * $baseline-grid;
}

::ng-deep .km-property-container {
  margin: (.75 * $baseline-grid) (6.25 * $baseline-grid) (.75 * $baseline-grid) 0 !important;
}
