@import "../../../assets/css/colors";

.km-change-version {
  small {
    margin-left: 10px;
    color: $primary;
  }
}

a.km-download-kubeconfig-btn {
  display: inline-block;
}

.km-ssh-keys-list {
  list-style-type: none;
  margin: 8px 0 0 0;
  padding: 0;

  li {
    margin-bottom: 3px;
    line-height: 25px;

    i {
      color: $primary;
      margin-right: 5px;
    }
  }

  .km-more-sshKeys-btn {
    font-size: 14px;
    color: $primary;
    cursor: pointer;

    span {
      margin-left: 5px;
    }
  }
}

.fa-trash-o {
  color: $primary;
}

button:disabled {
  .fa-trash-o {
    color: $disabled-text-color;
  }
}

// health dot header
kubermatic-cluster-health-status {
  display: inline-block;
  margin-left: 7px;
}

// setting menu
.km-cluster-detail-actions {
  padding-bottom: 15px;

  mat-button {
    margin-left: 5px;
  }
}

.km-provider-menu-btn {
  margin-top: -5px;
}

.km-cluster-health {
  margin-left: 10px;
  vertical-align: middle;
}

.km-provider-logo-openshift {
  min-height: 40px;
}
