<ng-container *ngIf="isLoaded()">
  <div fxLayout class="cluster-detail-actions">
    <div fxFlex="100%" align="right" style="margin-top: 25px; margin-bottom: 12px;">
      <button class="add-node-btn"
              mat-raised-button color="primary"
              (click)="addNode()"
              [disabled]="!isClusterRunning"
              [fxHide]="nodeDc.spec.provider === 'bringyourown'">
          <i class="fa fa-plus" style="margin-right: 5px;" aria-hidden="true"></i>
          Add Node
      </button>
      <button class="connect-kubeconfig-btn" (click)="connectClusterDialog()" mat-button mat-raised-button color="primary" [disabled]="!isClusterRunning">
        Connect
      </button>
      <a class="download-kubeconfig-btn" mat-raised-button disabled="{{ !isClusterRunning }}" color="primary" href="{{ getDownloadURL() }}" target="_blank">Download config</a>
      <button mat-button (click)="deleteClusterDialog()" mat-raised-button >
        <i class="fa fa-trash-o" aria-hidden="true" style="margin-right: 5px; color: #0288d1;" color="primary"></i>
        Delete Cluster
      </button>
    </div>
  </div>

  <mat-card class="km-card-list km-card-list-info" [ngClass]="clusterHealthClass">
    <mat-card-header class="km-card-main-header">
      <mat-card-title>
        <span ngxClipboard [cbContent]="cluster.spec.humanReadableName" matTooltip="click to copy" class="copy cluster-name">{{cluster.spec.humanReadableName}}</span>
        <kubermatic-cluster-health-status [cluster]="cluster"></kubermatic-cluster-health-status>
      </mat-card-title>
    </mat-card-header>
    <mat-card-subtitle class="km-card-list-subtitle" *ngIf="cluster.spec.pause" fxLayout >
      <div fxFlex="100%" class="km-conditionsMessage">
        <p class="km-pauseReason">{{cluster.spec.pauseReason}}</p>
      </div>
    </mat-card-subtitle>
    <mat-card-content class="km-card-list-content" fxLayout>
      <div fxFlex="20%">
        <strong>Master Version:</strong>
      </div>
      <div fxFlex="35%">
        <span (click)="changeClusterVersionDialog()" matTooltip="click to change version" class="copy change-version">{{cluster.spec.version}}
        <small [hidden]="!isClusterRunning || !updatesAvailable">upgrade available</small></span>
      </div>
    </mat-card-content>


  </mat-card>
  <kubermatic-cluster-secrets [cluster]="cluster" [datacenter]="datacenter"></kubermatic-cluster-secrets>

  <mat-card class="blue">
    <mat-card-header >
      <mat-card-title fxLayout>
        <div fxFlex="45%">Provider</div>
        <div fxFlex="30%">Node Region</div>
        <div fxFlex="25%">
          SSH keys
          <span class="km-card-ssh-tooltip" matTooltip="You can login into the nodes with the user 'root', 'ubuntu' or 'core'.">
            <i class="fa fa-question-circle" aria-hidden="true"></i>
          </span>
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row" fxLayout>
        <div fxFlex="45%" fxLayoutAlign="left center">
          <img src="/assets/images/clouds/{{nodeDc.spec.provider}}.png" class="provider-logo" alt="Cluster Icon" />
        </div>
        <div fxFlex="30%" class="region">
          <ng-container *ngIf="nodeDc.spec.provider !== 'bringyourown'">
            <span class="{{'flag-icon flag-icon-' + nodeDc.spec.country.toLowerCase()}}"></span>
            <span class="location">{{nodeDc.spec.country}} / {{nodeDc.spec.location}}</span>
          </ng-container>
        </div>
        <div fxFlex="25%">
          <ng-container [ngSwitch]="sshKeys.length > 0">
            <ul class="km-ssh-keys-list"  *ngSwitchCase="true">
              <li *ngFor="let key of sshKeys.slice(0, 3)">
                <i class="fa fa-key"></i>
                {{key.spec.name}}
              </li>

              <div class="km-ssh-keys-list-more" *ngIf="sshKeys.length > 3">
                <div class="km-more-sshKeys-btn" (click)="loadMoreSshKeys(true)" *ngIf="!moreSshKeys">
                  <strong>More</strong>
                  <span class="iconArrowDown"></span>
                </div>
                <div class="km-more-sshKeys" *ngIf="moreSshKeys">
                  <li *ngFor="let key of sshKeys.slice(3, sshKeys.length+1)">
                    <i class="fa fa-key"></i>
                    {{key.spec.name}}
                  </li>
                </div>
                <div class="km-more-sshKeys-btn" (click)="loadMoreSshKeys(false)" *ngIf="moreSshKeys">
                  <strong>Less</strong>
                  <span class="iconArrowUp"></span>
                </div>
              </div>

            </ul>
            <ng-container *ngSwitchCase="false">no SSH key selected</ng-container>
          </ng-container>
        </div>
      </div>

    </mat-card-content>
  </mat-card>

  <kubermatic-node-list [cluster]="cluster" [nodes]="nodes" (deleteNode)="reloadClusterNodes()" [datacenter]="datacenter"></kubermatic-node-list>

  <div style="margin-bottom: 70px;"></div>
</ng-container>

<div *ngIf="!isLoaded()">
  <mat-spinner color="accent" class="km-spinner"></mat-spinner>
</div>
