@import "../../../assets/css/colors";

.change-version {
  small {
    margin-left: 10px;
    color: $primary;
  }
}

.add-node-btn {
  width: 120px;
}

a.download-kubeconfig-btn {
  display: inline-block;

  /deep/span.mat-button-wrapper {
    display: flex;
    height: 100%;
    align-items: center;
  }
}

.km-ssh-keys-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    margin-bottom: 3px;
    i {
      color: $primary;
      margin-right: 5px;
    }
  }
  .km-more-sshKeys-btn {
    font-size: 14px;
    color: $primary;
    cursor: pointer;
  }
}


// sshkeys
.iconArrowUp {
    display: inline-block;
    width: 12px;
    height: 9px;
    background-image: url("../../../assets/images/Arrow_up.svg");
    background-repeat: no-repeat;
}

.iconArrowDown {
    display: inline-block;
    width: 12px;
    height: 9px;
    background-image: url("../../../assets/images/Arrow_down.svg");
    background-repeat: no-repeat;
}


// health dot header
kubermatic-cluster-health-status {
  display: inline-block;
  margin-left: 7px;
}

// setting menu
/deep/.mat-menu-content {
  padding: 0 !important;
}


.cluster-detail-actions {
  padding-bottom: 15px;

  mat-button {
    margin-left: 5px;
  }
}
