@import '../../../../assets/css/colors';
@import '../../../../assets/css/variables';

.km-property-container {
  margin: (.75 * $baseline-grid) (8 * $baseline-grid) (.75 * $baseline-grid) 0;
}

.km-property-label {
  color: $medium-text-color;
  font-size: $caption-font-size-base;
  line-height: 1.75 * $baseline-grid;
  margin-bottom: $baseline-grid / 2;
  min-height: 1.75 * $baseline-grid;
}

.km-property-value {
  color: $text-color;
  font-size: $subhead-font-size-base;
  line-height: 3 * $baseline-grid;
  margin-bottom: $baseline-grid;
  min-height: 3 * $baseline-grid;
  word-break: break-all;
}
