<form [formGroup]="vsphereNodeForm"
      fxLayout="column">
  <div fxFlex
       class="mat-select-container">
    <mat-form-field>
      <mat-label>Number of CPUs*</mat-label>
      <input matInput
             formControlName="cpu"
             min="1"
             type="number"
             autocomplete="off">
      <mat-error *ngIf="vsphereNodeForm.controls.cpu.hasError('required')">
        Number of CPUs is <strong>required</strong>.
      </mat-error>
      <mat-error *ngIf="vsphereNodeForm.controls.cpu.hasError('min')">
        Number of CPUs have to be at least 1.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Memory in MB*</mat-label>
      <input matInput
             formControlName="memory"
             min="512"
             type="number"
             autocomplete="off">
    </mat-form-field>
  </div>
</form>
