<div class="km-frontpage-content"
     fxLayout="column"
     fxLayoutAlign="center center">
  <p class="km-frontpage-inner-text">Scale Apps with one click<br>
    in the cloud or in your own datacenter</p>
  <a mat-raised-button
     class="login-button"
     id="login-button"
     (click)="login()"
     href="{{getOIDCProviderURL()}}">Login / Sign-in</a>
</div>

<div class="km-frontpage-bg"></div>
<particles *ngIf="isInitialized"
           [params]="myParams"
           [style]="myStyle"
           width="100"
           height="100"></particles>
