@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

.frontpage-bg {
  background-color: #0288d1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.mat-card {
  max-width: 400px;
  height: 120px;
  z-index: 1;
}

.frontpage-content {
  margin-top: 15%;


  .frontpage-inner-text {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 25px;
  }

  .mat-raised-button {
    line-height: 57px !important;
    color: #0288d1;
    font-size: 28px;
    font-family: 'Titillium Web', sans-serif;
    width: 470px;
    height: 60px;
    font-weight: 600 !important;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);

    &:hover {
      background-color: rgba(255, 255, 255, 0.9);
    }
  }
}