@import "../../../assets/css/colors";
@import "../../../assets/css/fonts";

.km-frontpage-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.km-frontpage-content {
  margin-top: 15%;

  .km-frontpage-inner-text {
    text-align: center;
    color: $white-text-color;
    text-transform: uppercase;
    font-family: $primary-font-sans-serif;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 25px;
  }

  .mat-raised-button {
    line-height: 57px !important;
    color: $primary;
    font-size: 28px;
    font-family: $primary-font-sans-serif;
    width: 470px;
    height: 60px;
    font-weight: 600 !important;
    z-index: 1;
    background-color: $raised-button;

    &:hover {
      background-color: $raised-button-hover;
    }
  }
}

.mat-card {
  max-width: 400px;
  height: 120px;
  z-index: 1;
}
