@import "../../../assets/css/colors";
@import "../../../assets/css/fonts";
@import "../../../assets/css/variables";

$button-margin: 5 * $baseline-grid;

.km-frontpage-bg {
  background-color: $alternative-dark;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.km-frontpage-content {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

  .km-frontpage-inner-text {
    text-align: center;
    color: $white-text-color;
    font-family: $secondary-font;
    font-size: 28px;
    font-weight: 500;
    line-height: 42px;
    margin-bottom: $button-margin;
    text-shadow: 2px 2px 2px $disabled-text-color;
  }

  .mat-raised-button {
    color: $alternative-dark;
    font-size: 20px;
    font-family: $primary-font-sans-serif;
    font-weight: 500 !important;
    line-height: 50px !important;
    width: 200px;
    height: 50px;
    background-color: #fff;
  }
}
