@import "../../../../assets/css/variables";

:host {
  counter-reset: section-number;
}

.section {
  margin: (2 * $baseline-grid) 0 (5 * $baseline-grid);

  .header {
    font-size: $font-size-subhead-lg;
    margin-bottom: 2 * $baseline-grid;

    &::before {
      border: 1px solid;
      border-radius: 50%;
      counter-increment: section-number;
      content: counter(section-number);
      display: inline-block;
      height: 3 * $baseline-grid;
      text-align: center;
      margin-right: 1.5 * $baseline-grid;
      width: 3 * $baseline-grid;
    }
  }

  .properties {
    .os {
      margin: $baseline-grid 0 (3 * $baseline-grid);
    }

    .network-id {
      margin-bottom: 2 * $baseline-grid;
    }
  }
}

::ng-deep km-property-boolean {
  .km-property-label {
    display: none !important;
  }

  i {
    margin-right: 1.5 * $baseline-grid !important;
  }
}

::ng-deep .km-property-container {
  margin: 0 0 (0.6 * $baseline-grid) !important;
}

.km-provider-logo {
  max-width: 100px !important;
  margin: (1.25 * $baseline-grid) 0;
}

.km-os-image {
  display: inline-block;
  height: 28px;
  width: 28px;
}

.km-icon-key {
  cursor: default;
  margin-right: 2 * $baseline-grid;
  user-select: none;
}
