@import '../../../assets/css/variables';

.km-set-machine-networks {
  padding: 0;

  h4 {
    margin-top: 0;
    font-weight: 400;
  }
}

.km-warning,
#configure-machine-networks {
  font-size: $subhead-font-size-base;
}
