<div fxLayout="row"
     fxLayout.md="column"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutGap="30px">
  <div fxFlex="50%"
       class="km-ext-opt">
    <div class="km-header"
         *ngIf="isExtended && !cluster.spec.cloud.digitalocean && !cluster.spec.cloud.packet">
      Extended Provider Settings
    </div>
    <kubermatic-cluster-provider-options [cluster]="cluster"></kubermatic-cluster-provider-options>
  </div>
  <div fxFlex="50%"
       class="km-ext-opt">
    <div class="km-header"
         *ngIf="isExtended">Extended Node Settings
    </div>
    <kubermatic-node-data-options [nodeData]="nodeData"
                                  [cloudSpec]="cluster.spec.cloud"
                                  [isInWizard]="isInWizard()"></kubermatic-node-data-options>
  </div>
</div>
