<div fxLayout="row"
     fxLayout.md="column"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutGap="30px">
  <mat-card fxFlex="50%"
            class="km-ext-opt">
    <mat-card-header>
      <mat-card-title class="km-color-primary"
                      *ngIf="!cluster.spec.cloud.digitalocean">Extended Provider Settings</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column">
      <kubermatic-cluster-provider-options [cluster]="cluster"></kubermatic-cluster-provider-options>
    </mat-card-content>
  </mat-card>
  <mat-card fxFlex="50%"
            class="km-ext-opt">
    <mat-card-header>
      <mat-card-title class="km-color-primary">Extended Node Settings</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column">
      <kubermatic-node-data-options [nodeData]="nodeData"
                                    [cloudSpec]="cluster.spec.cloud"
                                    [isInWizard]="isInWizard()"></kubermatic-node-data-options>
    </mat-card-content>
  </mat-card>
</div>
