@import "../../../../assets/css/colors";
@import "../../../../assets/css/variables";

.mat-tab-group {
  margin-bottom: 2.5 * $baseline-grid;
}

.km-add-node-outer {
  overflow-y: hidden;
}

.km-icon-warning {
  width: $baseline-grid * 3.5;
  height: $baseline-grid * 3.5;
  background-color: $indicator-orange;
  background-size: $baseline-grid * 1.75;
}
