.kd-add-nodes-dialog {
  max-width: 400px;
  min-width: 400px;
}

.mat-tab-group {
  margin-bottom: 20px;
}

.km-add-node-outer {
  overflow-y: hidden;
}

.km-add-node-inner {
  overflow-y: auto;
  max-height: 370px;
  margin-bottom: 15px;
}
