@import "../../../../assets/css/variables";

.mat-tab-group {
  margin-bottom: 2.5 * $baseline-grid;
}

.km-add-node-outer {
  overflow-y: hidden;
}

.km-add-node-inner {
  overflow-y: auto;
  margin-bottom: 2 * $baseline-grid;
}
