<div class="km-dialog-box km-add-nodes-dialog"
     *ngIf="data.nodeData">
  <km-dialog-title [title]="getDialogLabel()"></km-dialog-title>
  <mat-tab-group class="km-change-view"
                 (selectedTabChange)="onTabChange($event)"
                 *ngIf="!data.cluster.spec.cloud.hetzner && !data.cluster.spec.cloud.bringyourown">
    <mat-tab label="Simple"></mat-tab>
    <mat-tab label="Extended"></mat-tab>
  </mat-tab-group>
  <mat-dialog-content class="km-add-node-outer">
    <div class="mat-dialog-content km-add-node-inner">
      <kubermatic-node-data [cluster]="data.cluster"
                            [nodeData]="data.nodeData"
                            [existingNodesCount]="data.existingNodesCount"></kubermatic-node-data>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-flat-button
            [mat-dialog-close]="data"
            [disabled]="!data?.nodeData?.valid"
            class="btn btn-primary">
      {{getDialogLabel()}}
    </button>
  </mat-dialog-actions>
</div>
