@import "../../../assets/css/variables";

.km-terms {
  font-size: 14px;
  padding: (5 * $baseline-grid) (7 * $baseline-grid);
  margin-top: 2.5 * $baseline-grid;

  p {
    font-size: 14px;
  }

  span {
    display: block;
    margin-bottom: 20px;

    p,
    h3 {
      margin: 0 0 10px 0;
    }
  }
}
