<div class="toolbar-container">

  <div fxFlex
       fxLayout="row"
       fxLayoutAlign="start center"
       fxLayoutGap="20px">

    <i class="km-icon-terminal"></i>
    <div>
      <p class="toolbar-text-cloud-shell">Cloud Shell</p>
      <p class="toolbar-text-cloud-terminal">Terminal</p>
    </div>
  </div>

  <div fxFlex
       fxLayout="row"
       fxLayoutAlign="end center">
    <button mat-icon-button
            matTooltip="Close terminal"
            (click)="onClose()">
      <i class="km-icon-close km-pointer"></i>
    </button>
  </div>
</div>
