<div style="max-width: 400px; min-width: 400px;">
  <md-toolbar>
    <div class="md-toolbar">
      <h4 class="modal-title" id="myModalLabel"> Add Node</h4>
    </div>
    <button md-icon-button md-dialog-close>
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
  </md-toolbar>
  <md-dialog-content>
    <div class="md-dialog-content">
      <div [formGroup]="form">
        <md-input-container style="width: 100%;">
          <input id="node_count" mdInput formControlName="node_count" type="number" min=1
                 placeholder="Quantity of Nodes:"
                 title="node_count">
        </md-input-container>

        <div style="margin: 21px 0 14px">
          <md-select style="width: 100%;" placeholder="Instance type:" formControlName="instance_type">
            <md-option *ngFor="let type of instanceTypes; let i = index;" [value]="type">
              {{type}}
            </md-option>
          </md-select>
        </div>

        <md-input-container style="width: 100%;">
          <input mdInput formControlName="ami" ng-trim="true" placeholder="AMI ID:" autocomplete="off"/>
        </md-input-container>

        <md-input-container style="width: 100%;">
          <input mdInput formControlName="root_size" type="number" min=10 max=16000 placeholder="Disk size in GB (gp2):"
                 title="Disk size">
        </md-input-container>
      </div>
    </div>
  </md-dialog-content>

  <md-dialog-actions>
    <button md-dialog-close md-raised-button>
      close
    </button>
    <button md-raised-button md-dialog-close color="primary" value="submit" (click)="addNode()" class="btn btn-primary">
      Add Node(s)
    </button>
  </md-dialog-actions>
</div>
