// global cleanup

$wizard-box-content-dc-logo-size: 125px;
$wizard-box-content-dc-margin-top: 0px;

.mat-card-header {
  padding: 0;
  margin-bottom: 10px;
  border: none;
}

.mat-card-header-text {
  margin: 0;
}

.mat-card-title {
  margin: 0;
  h4 {
    font-weight: 600;
    margin: 10px 0;
    font-size: 18px;
    color: #444D58;
  }
}

.mat-card-content {
  form {
    margin: 35px 0 0;
  }
  p {
    color: #BDC6D1;
    font-size: 12px;
    margin: 0;
  }
}


// local
div.location {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  padding: 0 5px;
  color: #000000;
  word-break: break-word;
  white-space: pre-line;
  text-align: center;
  margin-top: -8px;
}

.flag-icon {
  font-size: 25px;
  margin-bottom: 5px;
}



/deep/ mat-button-toggle-group[group='datacenterGroup'] {
  background-color: transparent;
  box-shadow: none !important;
  flex-wrap: wrap;

  /deep/ mat-button-toggle {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid #e3e8ec;
    cursor: pointer;
    max-width: 90px;
    min-width: 90px;
    margin-right: 15px;
    margin-bottom: 15px;

    &:hover {
      border: 1px solid #0288d1;
    }
  }

  /deep/.mat-button-toggle-checked {
    background-color: #FFFFFF;
    border: 1px solid #0288d1;
  }

  /deep/ .mat-button-toggle-label {
    display: flex;
    width: 100%;
    height: 100%;
  }

  /deep/ .mat-button-toggle-label-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    width: 100%;
  }
}
