$flag-icon-css-path: '~flag-icon-css/flags' !default;
@import "~flag-icon-css/sass/flag-icon";

$wizard-box-content-dc-logo-size: 125px;
$wizard-box-content-dc-margin-top: 0px;

.mat-card-header {
  padding: 0;
  margin-bottom: 10px;
  border: none;
}

.mat-card-header-text {
  margin: 0;
}

.mat-card-title {
  margin: 0;
  h4 {
    font-weight: 600;
    margin: 10px 0;
    font-size: 18px;
    color: #444D58;
  }
}

.mat-card-content {
  form {
    margin: 35px 0 0;
  }
  p {
    color: #BDC6D1;
    font-size: 12px;
    margin: 0;
  }
}

.wizard-box-content {
  text-align: center;
  color: #000;
  font-weight: 600;
  padding: 11px 0;

  img.dc-logo {
    width: $wizard-box-content-dc-logo-size;
    margin-top: $wizard-box-content-dc-margin-top;
    margin-bottom: 10px;
  }
}

.wizard-box {
  margin: 5px;
  background: #fff;
  border: 1px solid #E3E8EC;
  cursor: pointer;
}

.wizard-box[disabled] {
  cursor: not-allowed;
}

.wizard-box.selected {
  cursor: default;
  border: 1px solid #0288D1;
}

.wizard-box.selected:hover {
  cursor: default;
  border: 1px solid #0288D1;
}

.wizard-box:hover {
  border: 1px solid #0288D1;
}

.wizard-box:not([disabled]):not(.selected):hover {
  background: #f7f8f9;
}

div.location {
  font-weight: 300;
  font-size: 12px;
  padding: 0 5px;
}

.flag-icon {
  font-size: 40px;
  margin-bottom: 5px;
}
