@import '../../../assets/css/colors';
@import '../../../assets/css/variables';

mat-button-toggle-group[group='datacenterGroup'] {
  flex-wrap: wrap;

  mat-button-toggle {
    margin-top: 1.25 * $baseline-grid;
    max-width: 160px;
    min-width: 160px;
  }

  div.km-location {
    font-weight: normal;
    font-size: $subhead-font-size-base;
    line-height: 1.6 * $line-height;
    padding: 0 0 0 (1.875 * $baseline-grid);
    color: $text-color;
    word-break: break-word;
    white-space: normal;
    text-align: left;
    max-width: 105px;
    display: inline-block;

    ::ng-deep .km-country-prefix {
      display: block;
      font-size: $caption-font-size-base;
      line-height: 1.4 * $line-height;
    }
  }

  .flag-icon {
    line-height: 2 * $line-height;
    height: 20px;
    width: 20px;
    transform: scaleX(1.5);
    display: inline-block;
  }
}
