<md-card>
  <md-card-header>
    <md-card-title>
      <h4>Select the datacenter of your cloud provider</h4>
    </md-card-title>
  </md-card-header>
  <md-card-content>
    <p>This is the cloud provider the Kubernetes nodes are deployed in by Kubermatic.
      Your nodes can be placed in any cloud you like, but for performance reasons as near to the master as possible.</p>
    <div fxLayoutAlign="center" fxLayout="row wrap">
      <div class="wizard-box" fxFlex="100px" *ngFor="let dc of datacenter; let i = index;"
           [ngClass]="{'selected': !!selectedProviderRegion && selectedProviderRegion.metadata.name === dc.metadata.name, 'wizard-box-color_primary': i % 2 === 0, 'wizard-box-color_secondary': i % 2 !== 0}"
           (click)="selectDatacenter(dc)">
        <!-- TODO: OnClick go to next step -->
        <!-- TODO: Refresh Button is no region shown -->
        <div class="wizard-box-content">
          <img class="location-flag" src="/assets/images/flags/48/{{dc.spec.country}}.png" alt="{{dc.spec.country}}" />
          <div class="location">
            {{dc.spec.location}}
          </div>
        </div>
      </div>
    </div>
  </md-card-content>
</md-card>
