<mat-card-header>
  <mat-card-title>
    <h4>Select the datacenter of your cloud provider</h4>
  </mat-card-title>
</mat-card-header>
<mat-card-content>
  <p>This is the cloud provider the Kubernetes nodes are deployed in by Kubermatic. Your nodes can be placed in any cloud you
    like, but for performance reasons as near to the master as possible.</p>
  <form *ngIf="datacenters" [connect]="['wizard', 'setDatacenterForm']" [formGroup]="setDatacenterForm" fxLayoutAlign="left"
    fxLayout="row wrap">
    <label class="wizard-box" 
           fxFlex="90px" 
           *ngFor="let dc of datacenters[selectedProvider]; let i = index;" 
           [ngClass]="{
              'selected': !!selectedDatacenter && selectedDatacenter.metadata.name === dc.metadata.name, 
              'wizard-box-color_primary': i % 2 === 0, 'wizard-box-color_secondary': i % 2 !== 0}"
      [attr.for]="dc.metadata.name">
      <!-- TODO: OnClick go to next step -->
      <!-- TODO: Refresh Button is no region shown -->
      <div class="wizard-box-content">
        <span class="{{'flag-icon flag-icon-' + dc.spec.country.toLowerCase()}}"></span>
        <div class="location">
          {{dc.spec.location}}
        </div>
      </div>
      <input style="display: none" type="radio" [attr.name]="dc.metadata.name" formControlName="datacenter" [value]="dc" [attr.id]="dc.metadata.name">
    </label>
  </form>
</mat-card-content>
