<mat-card-header>
  <mat-card-title>
    <h4 *ngIf="!cluster.spec.cloud.bringyourown">Select the datacenter of your cloud provider</h4>
    <h4 *ngIf="cluster.spec.cloud.bringyourown">Select the datacenter for your master components</h4>
  </mat-card-title>
</mat-card-header>
<mat-card-content>
  <p *ngIf="!cluster.spec.cloud.bringyourown">This is the datacenter of your cloud provider. Your worker nodes will get deployed there.</p>
  <p *ngIf="cluster.spec.cloud.bringyourown">This is the kubermatic datacenter you want your master components to run in.</p>
  <form [formGroup]="setDatacenterForm" fxLayoutAlign="left" fxLayout="row wrap">
    <mat-button-toggle-group group="datacenterGroup" formControlName="datacenter">
      <mat-button-toggle *ngFor="let datacenter of datacenters;" value="{{datacenter.metadata.name}}">
        <span class="flag-icon flag-icon-{{ datacenter.spec.country.toLowerCase() }}">
        </span>
        <div class="km-location">
          {{ datacenter.spec.location }}
        </div>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </form>
</mat-card-content>
