<div *ngIf="!loading">

      <mat-card class="blue km-member-view">
        <mat-card-header>
          <mat-card-title fxLayout matSort (matSortChange)="sortData($event)" matSortActive="name" matSortDirection="asc">
            <div fxFlex="35%" fxFlex.sm="20.66%" fxFlex.xs="25%" mat-sort-header="name">
              <strong>Name</strong>
            </div>
            <div fxFlex="35%" fxFlex.sm="20.66%" fxFlex.xs="25%" mat-sort-header="email">
              <strong>Email</strong>
            </div>
            <div fxFlex="20%" fxFlex.sm="20.66%" fxFlex.xs="25%">
              <strong>Group</strong>
            </div>
            <div fxFlex="10%" fxHide.sm fxHide.xs>
              <strong></strong>
            </div>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayout="column" [ngSwitch]="!!members && members.length > 0 ">
          <ng-container *ngSwitchCase="true">
            <kubermatic-member-item *ngFor="let member of sortedMembers; let i = index;" [index]="i" [project]="project" [member]="member" fxFlex></kubermatic-member-item>
          </ng-container>
          <ng-container *ngSwitchCase="false">
            <div fxFlex class="row odd no-item">No Member available. Please add a Member.</div>
          </ng-container>
          <ng-container>
            <div class="row add-member-button">
              <button class="btn-in-box" (click)="addMember()" [disabled]="!!userGroup && !userGroupConfig[userGroup].members.invite">+ Add Member</button>
            </div>
          </ng-container>
        </mat-card-content>
      </mat-card>

</div>
<div *ngIf="loading" >
  <mat-spinner color="accent" class="km-spinner"></mat-spinner>
</div>
