<form [formGroup]="formGroup"
      fxLayout="column">
  <mat-form-field>
    <mat-label>Number of CPUs*</mat-label>
    <input matInput
           formControlName="cpus"
           type="text"
           autocomplete="off">
    <mat-error *ngIf="formGroup.controls.cpus.hasError('required')">
      Number of CPUs is <strong>required</strong>.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Memory*</mat-label>
    <input matInput
           formControlName="memory"
           type="text"
           autocomplete="off">
    <mat-error *ngIf="formGroup.controls.memory.hasError('required')">
      Memory is <strong>required</strong>.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Namespace*</mat-label>
    <input matInput
           formControlName="namespace"
           type="text"
           autocomplete="off">
    <mat-hint>Namespace where node will be provisioned.</mat-hint>
    <mat-error *ngIf="formGroup.controls.namespace.hasError('required')">
      Namespace is <strong>required</strong>.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>PVC Size*</mat-label>
    <input matInput
           formControlName="pvcSize"
           type="text"
           autocomplete="off">
    <mat-error *ngIf="formGroup.controls.pvcSize.hasError('required')">
      PVC Size is <strong>required</strong>.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Source URL*</mat-label>
    <input matInput
           formControlName="sourceURL"
           type="text"
           autocomplete="off">
    <mat-hint>URL from which the imported image will be downloaded.</mat-hint>
    <mat-error *ngIf="formGroup.controls.sourceURL.hasError('required')">
      Source URL is <strong>required</strong>.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Storage Class Name*</mat-label>
    <input matInput
           formControlName="storageClassName"
           type="text"
           autocomplete="off">
    <mat-error *ngIf="formGroup.controls.storageClassName.hasError('required')">
      Storage Class Name is <strong>required</strong>.
    </mat-error>
  </mat-form-field>
</form>
