$primary: #203f58;

$primary-light: #31586f;

$primary-dark: #03223b;

$secondary: #b9ccdf;

$secondary-light: #dcf3fa;

$alternative: #00a3d9;

$indicator-green: #1dc67f;

$indicator-orange: #f7b500;

$indicator-red: #eb5757;

$border: #e3e8ec;

$text-color: #4d555c;

$footer-text-color: #a5aeb8;

$medium-text-color: #777;

$light-text-color: #bcc5d0;

$white-text-color: #fff;

$grey-background: #f5f6f7;

$light-background: #eef5ff;

$medium-background: #f7faff;

$warning-background: #ffdad9;

$waiting-background: #ffd55c;

$light-button-color: #bdc6d1;

$disabled-button-color: #d4d4d4;

$disabled-text-color: rgba(0, 0, 0, 0.26);

$pending: rgba($waiting-background, 0.1);

$pending-hover: rgba($waiting-background, 0.2);

$deleting: rgba($warning-background, 0.15);

$deleting-hover: rgba($warning-background, 0.25);

$light-primary: rgba($primary, 0.7);

$light-border: rgba($border, 0.3);

$raised-button: rgba(255, 255, 255, 0.8);

$raised-button-hover: rgba(255, 255, 255, 0.9);

$checkbox-frame: #c1c9d4;
