$primary: #0081ae;

$primary-hover: #00a3d9;

$primary-light: #31586f;

$primary-dark: #03223b;

$secondary: #b9ccdf;

$secondary-light: #dcf3fa;

$alternative: #00a3d9;

$alternative-dark: #203f58;

$alternative-light: #edf9fc;

$tertiary-hover: #fafcfc;

$quaternary: #3bc6ad;

$quaternary-hover: #21dfa9;

$indicator-green: #1dc67f;

$indicator-orange: #f7b500;

$indicator-red: #eb5757;

$attention: #f58b1e;

$border: #e3e8ec;

$separator: #e0e3e5;

$hover: #f1f3f4;

$text-color: #4d555c;

$alternative-text-color: #1b658f;

$footer-text-color: #a5aeb8;

$medium-text-color: #7e868f;

$light-text-color: #bcc5d0;

$white-text-color: #fff;

$white-background: #fff;

$grey-background: #edeff0;

$light-background: #fafcfc;

$medium-background: #f7faff;

$warning-background: #ffdad9;

$waiting-background: #ffd55c;

$light-button-color: #bdc6d1;

$disabled-button-color: #d4d4d4;

$disabled-text-color: rgba(0, 0, 0, 0.26);

$alternative-disabled-text-color: #97b1c0;

$pending: rgba($waiting-background, 0.1);

$pending-hover: rgba($waiting-background, 0.2);

$deleting: rgba($warning-background, 0.15);

$deleting-hover: rgba($warning-background, 0.25);

$light-primary: rgba($primary, 0.7);

$light-border: rgba($border, 0.3);

$raised-button: rgba(255, 255, 255, 0.8);

$raised-button-hover: rgba(255, 255, 255, 0.9);

$checkbox-frame: #c1c9d4;
