$primary: #0288d1;

$secondary: #75B7DD;

$warning: #ff5454;

$border: #E3E8EC;

$text-color: #444D58;

$medium-text-color: #777777;

$light-text-color: #BCC5D0;

$white-text-color: #FFFFFF;

$light-background: #EEF5FF;

$medium-background: #F7FAFF;

$warning-background: #FFDAD9;

$waiting-background: #FFD55C;

$waiting-status-color: orange;

$healthy-status-color: #79c447;

$warning-status-color: $warning;

$light-button-color: #BDC6D1;

$pending: rgba($waiting-background, 0.1);
