@import "~@angular/material/theming";
@import "theme";

$colors-dark: (
  primary: #00a3d9,
  primary-hover: #4dc3ea,
  primary-dark: #4dc3ea,
  secondary: #00cca7,
  secondary-hover: #67dab9,
  secondary-dark: #67dab9,
  indicator-green: #1dc67f,
  indicator-orange: #f7b500,
  indicator-red: #eb5757,
  footer-text: #fff,
  sidenav-text: #fff,
  sidenav-text-hover: #fff,
  sidenav-background: #2b2b2c,
  sidenav-background-hover: #3c3d3e,
  sidenav-background-active: #343536,
  sidenav-background-custom: #1c1c1d,
  sidenav-divider: #373738,
  sidenav-divider-top: #575859,
  tooltip-background: #373738,
  wizard-step-background: #b6ebfc,
  wizard-step-background-active: #b9ccdf,
  shadow: 0 4px 4px rgba(#000, .08),
);

$theme-dark: mat-dark-theme(mat-palette($mat-blue), mat-palette($mat-light-blue), mat-palette($mat-pink));

// sass-lint:disable function-name-format
$background: map-get($theme-dark, background);
$background: map_merge($background, (background: #000));
$background: map_merge($background, (hover: #2d2d2e));
$background: map_merge($background, (app-bar: #2b2b2c));
$background: map_merge($background, (card: #202021));
$background: map_merge($background, (dialog: #2b2b2c));
$theme-dark: map_merge($theme-dark, (background: $background));

$foreground: map-get($theme-dark, foreground);
$foreground: map_merge($foreground, (text: #fff));
$foreground: map_merge($foreground, (secondary-text: #b8b8b8));
$foreground: map_merge($foreground, (divider: #464647));
$theme-dark: map_merge($theme-dark, (foreground: $foreground));
// sass-lint:enable function-name-format

.dark {
  @include angular-material-theme($theme-dark);
  @include km-theme($theme-dark, $colors-dark);

  // Swap header logo.
  .km-header-logo {
    background-image: url("/assets/images/branding/logo-dark.svg") !important;
  }

  // Make icons and logos white.
  .km-provider-logo,
  .km-addon-logo,
  footer i,
  *[class*="km-os-image-"] {
    filter: invert(.25) brightness(100) contrast(100);
  }
}
