footer {
  background-color: #005b9f;
  color: #fff;
  position: fixed;
  bottom: 0;
  height: 40px;
  padding: 0 10px;
  width: 100%;


  .km-copy {
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    line-height: 35px;
    a {
      color: #fff;
      font-size: 14px;
      font-weight: 400;
      text-decoration: none;
    }
  }
  .km-footer-nav {
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      li {
        float: right;
        a {
          margin: 5px;
          text-decoration: none;
          display: inline-block;
          height: 24px;
          width: 24px;
          text-align: center;

          i {
            color: #fff;
          }
        }
      }
    }
  }
}
