footer {
  z-index: 1;
  background-color: $white-text-color;
  color: $text-color;
  border-top: 1px solid $border;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 40px;
  padding: 0 10px;
  width: 100%;

  .km-copyright,
  .km-info {
    position: absolute;
    left: 10px;
    text-align: left;
    font-size: 13px;
    font-weight: 400;
    line-height: 40px;

    &.km-info-right {
      text-align: right;
      right: 35px;
      left: auto;
    }

    a {
      color: $text-color;
      font-size: 14px;
      font-weight: 400;
      text-decoration: none;
    }

    .km-info-item {
      margin: 0;
      display: inline-block;

      &.km-clickable {
        cursor: pointer;
        outline: none;
      }

      &.km-seperator {
        padding: 0 10px;
      }
    }
  }

  .km-footer-nav {
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;

      li {
        float: right;

        a {
          margin: 8px 5px;
          text-decoration: none;
          display: inline-block;
          height: 24px;
          width: 24px;
          text-align: center;

          i {
            color: $text-color;
          }
        }
      }
    }
  }

  .km-social {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;

    li {
      float: none;

      a {
        display: flex;
        align-items: center;
      }
    }
  }
}
