@import "variables";

@mixin km-image($size) {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  display: inline-block;
  height: $size;
  width: $size;
}

@mixin km-image-mask($size) {
  @include km-image($size);

  background-color: #4d555c;
  mask-repeat: no-repeat !important;
  mask-size: contain !important;
  mask-position: center !important;

  &:disabled {
    background-color: #d4d4d4;
  }
}

.km-header-logo {
  background-image: url("/assets/images/branding/logo.svg");
  background-repeat: no-repeat;
}

.km-frontpage-background {
  @include km-image(100%);

  background-image: url("/assets/images/branding/bg.svg");
  background-size: cover !important;
  background-attachment: fixed;
}

.km-error-background {
  @include km-image(80%);

  background-image: url("/assets/images/branding/404-illustration-light.svg");
}

.km-user {
  @include km-image-mask(3 * $baseline-grid);

  mask-image: url("/assets/images/icons/user.svg");
}

.km-icon-bell {
  @include km-image-mask(3 * $baseline-grid);

  mask-image: url("/assets/images/icons/bell.svg");
}

.km-icon-filter {
  @include km-image-mask(3 * $baseline-grid);

  mask-image: url("/assets/images/icons/filter.svg");
}

.km-icon-clear {
  @include km-image-mask(3 * $baseline-grid);

  mask-image: url("/assets/images/icons/clear.svg");
}

.km-icon-collapse-menu {
  @include km-image(3 * $baseline-grid);

  mask-image: url("/assets/images/icons/collapse-menu.svg");
}

.km-icon-delete {
  @include km-image-mask(2.25 * $baseline-grid);

  mask-image: url("/assets/images/icons/trash.svg");
}

.km-icon-edit {
  @include km-image-mask(2.25 * $baseline-grid);

  mask-image: url("/assets/images/icons/edit.svg");
}

.km-icon-regenerate {
  @include km-image-mask(2.25 * $baseline-grid);

  mask-image: url("/assets/images/icons/regenerate.svg");
}

.km-icon-warning {
  @include km-image($baseline-grid * 2);

  background: #eb5757 url("/assets/images/icons/warning.svg");
  background-size: $baseline-grid * 1.5 !important;
  border-radius: 50%;
  margin: ($baseline-grid / 2) ($baseline-grid * 1.8) ($baseline-grid / 2) 0;
}

.km-icon-tick {
  @include km-image($baseline-grid * 2);

  background: #1dc67f url("/assets/images/icons/tick.svg");
  background-size: $baseline-grid * 1.5 !important;
  border-radius: 50%;
  margin: ($baseline-grid / 2) ($baseline-grid * 1.8) ($baseline-grid / 2) 0;
}

.km-icon-tick-blue {
  @include km-image-mask(1.5 * $baseline-grid);

  background-color: #0081ae;
  mask-image: url("/assets/images/icons/tick.svg");
}

.km-icon-download {
  @include km-image-mask(2.5 * $baseline-grid);

  mask-image: url("/assets/images/icons/download.svg");
  background-color: #fff;
}

.km-icon-share {
  @include km-image-mask(2.5 * $baseline-grid);

  mask-image: url("/assets/images/icons/share.svg");
  background-color: #fff;
}

.km-icon-copy {
  @include km-image-mask(2.5 * $baseline-grid);

  mask-image: url("/assets/images/icons/copy.svg");
  background-color: #fff;
}

.km-icon-copy-small {
  @include km-image-mask(1.75 * $baseline-grid);

  mask-image: url("/assets/images/icons/copy-small.svg");
  background-color: #fff;
}

.km-icon-cluster {
  @include km-image-mask(2.75 * $baseline-grid);

  mask-image: url("/assets/images/icons/clusters.svg");
  cursor: pointer;
}

.km-icon-key {
  @include km-image-mask(2.75 * $baseline-grid);

  mask-image: url("/assets/images/icons/ssh-keys.svg");
  cursor: pointer;
}

.km-icon-member {
  @include km-image-mask(2.75 * $baseline-grid);

  mask-image: url("/assets/images/icons/members.svg");
  cursor: pointer;
}

.km-icon-serviceaccount {
  @include km-image-mask(2.75 * $baseline-grid);

  mask-image: url("/assets/images/icons/service-accounts.svg");
  cursor: pointer;
}

.km-icon-randomize {
  @include km-image(2 * $baseline-grid);

  background-image: url("/assets/images/icons/randomize.svg");
  position: absolute;
}

.km-icon-arrow-down {
  @include km-image-mask(1.5 * $baseline-grid);

  mask-image: url("/assets/images/icons/arrow-down.svg");
}

.km-icon-arrow-up {
  @include km-image-mask(1.5 * $baseline-grid);

  mask-image: url("/assets/images/icons/arrow-down.svg");
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.km-icon-arrow-left {
  @include km-image-mask(1.75 * $baseline-grid);

  mask-image: url("/assets/images/icons/arrow-down.svg");
  mask-size: 2 * $baseline-grid;
  cursor: pointer;
  margin: 0;
  padding: 0;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.km-icon-close {
  @include km-image-mask(2.5 * $baseline-grid);

  mask-image: url("/assets/images/icons/close.svg");
}

.km-icon-info {
  @include km-image(2 * $baseline-grid);

  background-image: url("/assets/images/icons/info.svg");
  cursor: pointer;
}

.km-icon-add {
  @include km-image-mask(2.25 * $baseline-grid);

  mask-image: url("/assets/images/icons/close.svg");
  transform: rotate(45deg);
}

.km-icon-running {
  @include km-image-mask(2 * $baseline-grid);

  margin-right: $baseline-grid;
  mask-image: url("/assets/images/icons/tick.svg");
  background-color: #1dc67f;
}

.km-icon-failed {
  @include km-image-mask(2 * $baseline-grid);

  margin-right: $baseline-grid;
  mask-image: url("/assets/images/icons/warning.svg");
  background-color: #eb5757;
}

.km-icon-disabled {
  @include km-image-mask(2 * $baseline-grid);

  margin-right: $baseline-grid;
  mask-image: url("/assets/images/icons/close.svg");
  background-color: #7e868f;
}

.km-icon-labels {
  @include km-image-mask(3 * $baseline-grid);

  mask-image: url("/assets/images/icons/labels.svg");
}

.km-icon-owner {
  @include km-image-mask(3 * $baseline-grid);

  mask-image: url("/assets/images/icons/owner.svg");
}

.km-icon-role {
  @include km-image-mask(3 * $baseline-grid);

  mask-image: url("/assets/images/icons/role.svg");
}

.km-icon-projects-table {
  @include km-image-mask(3 * $baseline-grid);

  mask-image: url("/assets/images/icons/projects-table.svg");
}

.km-icon-projects-card {
  @include km-image-mask(3 * $baseline-grid);

  mask-image: url("/assets/images/icons/projects-cards.svg");
}

.km-icon-sun {
  @include km-image-mask(3 * $baseline-grid);

  margin-right: 1.25 * $baseline-grid;
  mask-image: url("/assets/images/icons/sun.svg");
}

.km-icon-moon {
  @include km-image-mask(3 * $baseline-grid);

  margin-right: 1.25 * $baseline-grid;
  mask-image: url("/assets/images/icons/moon.svg");
}

.km-icon-kubernetes {
  @include km-image(3.75 * $baseline-grid);

  background-image: url("/assets/images/icons/kubernetes.svg");
  margin-right: 1.25 * $baseline-grid;
}

.km-icon-openshift {
  @include km-image(3.75 * $baseline-grid);

  background-image: url("/assets/images/icons/openshift.svg");
  margin-right: 1.25 * $baseline-grid;
}

.km-provider-logo-alibaba {
  @include km-image(3.75 * $baseline-grid);

  background-image: url("/assets/images/clouds/alibaba.svg");
  min-height: 3.75 * $baseline-grid;
}

.km-provider-logo-aws {
  @include km-image(3.75 * $baseline-grid);

  background-image: url("/assets/images/clouds/aws.svg");
  min-height: 3.75 * $baseline-grid;
}

.km-provider-logo-azure {
  @include km-image(3.75 * $baseline-grid);

  background-image: url("/assets/images/clouds/azure.png");
  min-height: 3.75 * $baseline-grid;
}

.km-provider-logo-baremetal {
  @include km-image(3.75 * $baseline-grid);

  background-image: url("/assets/images/clouds/baremetal.png");
  min-height: 3.75 * $baseline-grid;
}

.km-provider-logo-bringyourown {
  @include km-image(3.75 * $baseline-grid);

  background-image: url("/assets/images/clouds/bringyourown.svg");
  min-height: 3.75 * $baseline-grid;
}

.km-provider-logo-digitalocean {
  @include km-image(3.75 * $baseline-grid);

  background-image: url("/assets/images/clouds/digitalocean.png");
  min-height: 3.75 * $baseline-grid;
}

.km-provider-logo-fake {
  @include km-image(3.75 * $baseline-grid);

  background-image: url("/assets/images/clouds/fake.png");
  min-height: 3.75 * $baseline-grid;
}

.km-provider-logo-gcp {
  @include km-image(3.75 * $baseline-grid);

  background-image: url("/assets/images/clouds/gcp.svg");
  min-height: 3.75 * $baseline-grid;
}

.km-provider-logo-hetzner {
  @include km-image(3.75 * $baseline-grid);

  background-image: url("/assets/images/clouds/hetzner.png");
  min-height: 3.75 * $baseline-grid;
}

.km-provider-logo-openstack {
  @include km-image(3.75 * $baseline-grid);

  background-image: url("/assets/images/clouds/openstack.png");
  min-height: 3.75 * $baseline-grid;
}

.km-provider-logo-packet {
  @include km-image(3.75 * $baseline-grid);

  background-image: url("/assets/images/clouds/packet.svg");
  min-height: 3.75 * $baseline-grid;
}

.km-provider-logo-kubevirt {
  @include km-image(3.75 * $baseline-grid);

  background-image: url("/assets/images/clouds/kubevirt.svg");
  min-height: 3.75 * $baseline-grid;
}

.km-provider-logo-vsphere {
  @include km-image(3.75 * $baseline-grid);

  background-image: url("/assets/images/clouds/vsphere.png");
  min-height: 3.75 * $baseline-grid;
}

.km-os-image-centos {
  @include km-image(3 * $baseline-grid);

  background-image: url("/assets/images/os/centos.svg");
}

.km-os-image-container-linux {
  @include km-image(3 * $baseline-grid);

  background-image: url("/assets/images/os/container-linux.svg");
}

.km-os-image-ubuntu {
  @include km-image(3 * $baseline-grid);

  background-image: url("/assets/images/os/ubuntu.svg");
}

.km-os-image-sles {
  @include km-image(3 * $baseline-grid);

  background-image: url("/assets/images/os/sles.svg");
}
