@import "colors";
@import "variables";

// logo
.km-header-logo {
  background-image: url("/assets/images/logo/kubermatic.svg");
  background-repeat: no-repeat;
}

// login & logout
.km-login {
  background-image: url("/assets/images/login.svg");
  background-repeat: no-repeat;
  background-size: auto 10px;
  background-position: center left;
}

.km-logout {
  background-image: url("/assets/images/logout.svg");
  background-size: auto 10px;
  background-repeat: no-repeat;
  background-position: center left;
}

// icons
.km-icon-delete {
  display: inline-block;
  width: 18px;
  height: 18px;
  mask: url("/assets/images/icons/trash.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  cursor: pointer;
  background-color: $text-color;

  &:disabled {
    background-color: $disabled-button-color;
  }
}

.km-icon-edit {
  display: inline-block;
  width: 18px;
  height: 18px;
  mask: url("/assets/images/icons/edit.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  cursor: pointer;
  background-color: $text-color;

  &:disabled {
    background-color: $disabled-button-color;
  }
}

.km-icon-regenerate {
  display: inline-block;
  width: 18px;
  height: 18px;
  mask: url("/assets/images/icons/regenerate.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  cursor: pointer;
  background-color: $text-color;

  &:disabled {
    background-color: $disabled-button-color;
  }
}

.km-icon-warning {
  display: inline-block;
  width: $baseline-grid * 2;
  height: $baseline-grid * 2;
  margin: ($baseline-grid / 2) ($baseline-grid * 1.8) ($baseline-grid / 2) 0;
  background: $indicator-red url("/assets/images/icons/warning.svg") no-repeat;
  background-size: $baseline-grid * 1.5;
  background-position: center;
  border-radius: $baseline-grid;
}

.km-icon-tick {
  display: inline-block;
  width: $baseline-grid * 2;
  height: $baseline-grid * 2;
  margin: ($baseline-grid / 2) ($baseline-grid * 1.8) ($baseline-grid / 2) 0;
  background: $indicator-green url("/assets/images/icons/tick.svg") no-repeat;
  background-size: $baseline-grid * 1.5;
  background-position: center;
  border-radius: $baseline-grid;
}

.km-icon-download {
  display: inline-block;
  width: 20px;
  height: 20px;
  mask: url("/assets/images/icons/download.svg");
  mask-repeat: no-repeat;
  mask-size: cover;
  background-color: $white-background;
}

.km-icon-share {
  display: inline-block;
  width: 20px;
  height: 20px;
  mask: url("/assets/images/icons/share.svg");
  mask-repeat: no-repeat;
  mask-size: cover;
  background-color: $white-background;
}

.km-icon-copy {
  display: inline-block;
  width: 20px;
  height: 20px;
  mask: url("/assets/images/icons/copy.svg");
  mask-repeat: no-repeat;
  mask-size: cover;
  background-color: $white-background;
}

.km-icon-cluster {
  display: inline-block;
  width: 22px;
  height: 22px;
  mask: url("/assets/images/icons/clusters.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  cursor: pointer;
}

.km-icon-key {
  display: inline-block;
  width: 22px;
  height: 22px;
  mask: url("/assets/images/icons/ssh-keys.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  cursor: pointer;
}

.km-icon-member {
  display: inline-block;
  width: 22px;
  height: 22px;
  mask: url("/assets/images/icons/members.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  cursor: pointer;
}

.km-icon-serviceaccount {
  display: inline-block;
  width: 22px;
  height: 22px;
  mask: url("/assets/images/icons/service-accounts.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  cursor: pointer;
}

.km-icon-randomize {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("/assets/images/icons/randomize.svg");
  background-repeat: no-repeat;
  background-size: cover;
  right: $baseline-grid;
  top: 1.25 * $baseline-grid;
  position: absolute;
  cursor: pointer;
}

.km-icon-arrow-down {
  display: inline-block;
  width: 12px;
  height: 12px;
  mask: url("/assets/images/icons/arrow-down.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  background-color: $text-color;
}

.km-icon-arrow-up {
  display: inline-block;
  width: 12px;
  height: 12px;
  mask: url("/assets/images/icons/arrow-down.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  background-color: $text-color;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.km-icon-arrow-left {
  display: inline-block;
  width: 14px;
  height: 14px;
  mask: url("/assets/images/icons/arrow-down.svg");
  mask-repeat: no-repeat;
  mask-size: 16px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.km-icon-close {
  width: 20px;
  height: 20px;
  background-image: url("/assets/images/close.svg");
  background-repeat: no-repeat;
  background-color: transparent;
}

.km-icon-running {
  display: inline-block;
  margin: 0 5px 0 0;
  width: 12px;
  height: 10px;
  background-image: url("/assets/images/Running-Check.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.km-icon-failed {
  display: inline-block;
  margin: 0 10px 0 5px;
  width: 2px;
  height: 10px;
  background-image: url("/assets/images/Failed.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.km-icon-logs {
  display: inline-block;
  margin: 0 5px 0 0;
  width: 12px;
  height: 10px;
  background-image: url("/assets/images/Logs.svg");
  background-repeat: no-repeat;
}

.km-icon-kubernetes {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-image: url("/assets/images/icons/kubernetes.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.km-icon-openshift {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-image: url("/assets/images/icons/openshift.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

// provider logos
.km-provider-logo-aws {
  background-image: url("/assets/images/clouds/aws.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 30px;
}

.km-provider-logo-azure {
  background-image: url("/assets/images/clouds/azure.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 30px;
}

.km-provider-logo-baremetal {
  background-image: url("/assets/images/clouds/baremetal.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 30px;
}

.km-provider-logo-bringyourown {
  background-image: url("/assets/images/clouds/bringyourown.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 30px;
}

.km-provider-logo-digitalocean {
  background-image: url("/assets/images/clouds/digitalocean.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 30px;
}

.km-provider-logo-fake {
  background-image: url("/assets/images/clouds/fake.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 30px;
}

.km-provider-logo-hetzner {
  background-image: url("/assets/images/clouds/hetzner.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 30px;
}

.km-provider-logo-loodsecluster {
  background-image: url("/assets/images/clouds/loodsecluster.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 30px;
}

.km-provider-logo-openstack {
  background-image: url("/assets/images/clouds/openstack.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 30px;
}

.km-provider-logo-packet {
  background-image: url("/assets/images/clouds/packet.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 30px;
}

.km-provider-logo-vsphere {
  background-image: url("/assets/images/clouds/vsphere.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 30px;
}

// operating system logos
.km-os-image-centos {
  background-image: url("/assets/images/operating-system/centos.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center left;
}

.km-os-image-containerlinux {
  background-image: url("/assets/images/operating-system/containerlinux.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center left;
}

.km-os-image-ubuntu {
  background-image: url("/assets/images/operating-system/ubuntu.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center left;
}
