@import "~@angular/material/theming";
@import "theme";

$colors-light: (
  primary: #0081ae,
  primary-hover: #00a3d9,
  primary-dark: #1b658f,
  secondary: #3bc6ad,
  secondary-hover: #21dfa9,
  secondary-dark: #1c8282,
  indicator-green: #1dc67f,
  indicator-orange: #f7b500,
  indicator-red: #eb5757,
  footer-text: #a5aeb8,
  sidenav-text: #b9ccdf,
  sidenav-text-hover: #dcf3fa,
  sidenav-background: #203f58,
  sidenav-background-hover: #234d66,
  sidenav-background-active: #31586f,
  sidenav-background-custom: #03223b,
  sidenav-divider: #31586f,
  sidenav-divider-top: #00a3d9,
  tooltip-background: #31586f,
  wizard-step-background: #b6ebfc,
  wizard-step-background-active: #b9ccdf,
  shadow: 0 4px 4px rgba(#000, .08),
);

$theme-light: mat-light-theme(mat-palette($mat-blue), mat-palette($mat-light-blue), mat-palette($mat-pink));

// sass-lint:disable function-name-format
$background: map-get($theme-light, background);
$background: map_merge($background, (background: #edeff0));
$background: map_merge($background, (app-bar: #fff));
$theme-light: map_merge($theme-light, (background: $background));

$foreground: map-get($theme-light, foreground);
$foreground: map_merge($foreground, (text: #4d555c));
$foreground: map_merge($foreground, (secondary-text: #7e868f));
$foreground: map_merge($foreground, (divider: #e0e3e5));
$theme-light: map_merge($theme-light, (foreground: $foreground));
// sass-lint:enable function-name-format

.light {
  @include angular-material-theme($theme-light);
  @include km-theme($theme-light, $colors-light);
}
