$font-primary: 'Roboto', Helvetica, Arial, sans-serif;
$font-primary-mono: 'Roboto Mono', monospace;
$font-secondary: 'Ubuntu', sans-serif;

$font-size-head: 24px !default;
$font-size-card-title: 20px !default;
$font-size-subhead-lg: 18px !default;
$font-size-subhead: 16px !default;
$font-size-body: 14px !default;
$font-size-caption: 12px !default;
$font-size-small: 10px !default;

$baseline-grid: 8px;
$line-height: 10px;
$border-radius: 5px;
$scrollbar-size: 5px;
$toolbar-height: 60px;
$sidenav-width: 240px;
$sidenav-border-width: 2px;
$content-padding: 30px;
$dialog-padding: 30px;
$dialog-width: 660px;
$dialog-max-height: 660px;
$notification-width: 37.5 * $baseline-grid;
$notification-height: 20 * $baseline-grid;
$notification-min-height: 12 * $baseline-grid;
$notification-margin: 0 (3 * $baseline-grid) (10 * $baseline-grid) 0;
$notification-panel-height: 500px;
$notification-panel-width: 350px;
$type-toggle-width: 150px;
$property-usage-bar-min-width: 280px;
$notification-border-box-shadow:  0 5px 5px rgba(0, 0, 0, 0.2), 0 8px 10px rgba(0, 0, 0, 0.14), 0 3px 14px rgba(0, 0, 0, 0.12);
$border-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 3px rgba(0, 0, 0, 0.12);
$border-box-shadow-hover: 0 3px 5px rgba(0, 0, 0, 0.2), 0 6px 10px rgba(0, 0, 0, 0.14), 0 1px 18px rgba(0, 0, 0, 0.12);
$border-box-shadow-inset: inset 0 4px 4px rgba(0, 0, 0, 0.1);
