$footer-height: 25px;

// BOOTSTRAP
//$icon-font-path: "/fonts/bootstrap/";

$success: #000;
$primary: #000;
$default-text: #000;
$top-height: 20px;


@mixin titillium-font {
  font-family: "Titillium Web", "Roboto", "Kaushan Script", Helvetica, Arial, cursive;
}
