@function rem($multiplier) {
  $font-size: 10px;

  @return $multiplier * $font-size;
}

$head-font-size-base: rem(2.4) !default;
$subhead-font-size-base-lg: rem(1.8) !default;
$subhead-font-size-base: rem(1.6) !default;
$body-font-size-base: rem(1.4) !default;
$caption-font-size-base: rem(1.2) !default;

$baseline-grid: 8px;

$toolbar-height: 7.5 * $baseline-grid;
$sidenav-width: 30 * $baseline-grid;
$sidenav-border-width: $baseline-grid / 4;
$content-padding: 3.75 * $baseline-grid;
