html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  @include titillium-font;

  background-color: #F1F1F1;
  color: $text-color;
}

// spinner

.km-spinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

// card

.mat-card-header-text {
  height: auto;
  margin: 0;
  width: auto;
}


// global
.code-block {
  background-color: $medium-background;
  padding: 5px 15px;
  font-size: 14px;
  line-height: 20px;
  font-family: "Menlo", monospace;
  p {
    color: $text-color !important;
    font-family: "Menlo", monospace;
  }
}

// global

.mat-card-header {
  margin-bottom: 10px;
  border: none;

}

.mat-card-title {
  margin: 0;
  h4 {
    font-weight: 600;
    margin: 10px 0;
    font-size: 18px;
    color: $text-color;
  }
}

.mat-card-content {
  .mat-form-field {
    .mat-input-placeholder-wrapper .mat-input-placeholder {
      color: $light-button-color;
      font-weight: 600;
      font-size: 14px;
    }
  }
  p {
    color: $light-button-color;
    font-size: 12px;
    margin: 0 0 15px;
  }
  button {
    background-color: transparent;
    border: none;
    color: $primary;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    padding: 0;
    &:hover {
      color: $primary;
    }
  }
}

// Sidenav

.mat-nav-list {
  .mat-list-item-content {
    padding: 0 !important;
  }
}

 // Projects
.km-project-toggle {
  .mat-tab-header {
    border-bottom: none;
  }
  .mat-ink-bar {
    visibility: hidden !important;
    height: 0;
  }
  .mat-tab-label {
    background-color: $secondary !important;
    opacity: 1;
    margin-right: 3px;
    padding: 0;
    &.mat-tab-disabled {
      background-color: $disabled-button-color !important;
    }
    &.mat-tab-label-active {
      opacity: 1;
      .mat-tab-label-content {
        width: 100%;
        height: 100%;
        background-color: $primary;
        color: $white-text-color;
      }
    }
    .mat-tab-label-content {
      text-transform: uppercase;
      font-size: 16px;
    }
  }
}

// Step Provider and Datacenter

mat-button-toggle-group {
  background-color: transparent;
  box-shadow: none !important;

  mat-button-toggle {
    margin-right: 20px;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid $border;
    cursor: pointer;
    max-width: 90px;
    min-width: 90px;
    min-height: 90px;
    max-height: 90px;

    &:hover {
      border: 1px solid $primary;
    }
  }

  .mat-button-toggle-checked {
    background-color: #FFFFFF;
    border: 1px solid $primary;
  }

  .mat-button-toggle-label {
    width: 100%;
    height: 100%;
  }

  .mat-button-toggle-label-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

mat-button-toggle-group[group='datacenterGroup'] {
  .mat-button-toggle-label-content {
    flex-direction: column;
    padding: 20px 0;
    width: 100%;
  }
}

mat-button-toggle-group[group='providerGroup'] {
  .mat-button-toggle-label-content {
    height: 100%;
  }
}

.mat-card.blue {
  padding: 0px;
  margin: 20px 0 0 0;

  .mat-card-header {
    padding: 10px 24px;
    margin: 0;
    height: 30px;
    line-height: 30px;
    background-color: $primary;
    color: #fff;
    .mat-card-header-text {
      width: 100%;
      margin: 0px;
      .mat-card-title {
        font-weight: 500;
        padding: 0;
        margin: 0;
      }
    }
  }

  &.small .mat-card-header {
    height: 20px;
    line-height: 20px;
  }

  .mat-card-content {
    line-height: 40px;

    &.row, .row {
      line-height: 40px;
      padding: 10px 24px;
      &.small {
        padding: 10px 24px;
        margin: 0;
        line-height: normal;
      }

      &.accordion {
        padding-bottom: 0;
        > div:first-child {
          padding-bottom: 10px;
        }
      }

      div {
        outline: none;
      }

      .cluster-name {
        line-height: 40px;
      }

      &.odd {
        background-color: $medium-background;
      }

      &.statusRunning:hover {
        background-color: $light-background;
      }

      &.statusWaiting {
        background-color: rgba($waiting-background, 0.1);

        &:hover {
          background-color: rgba($waiting-background, 0.2);
        }
      }

      &.statusFailed, &.statusDeleting {
        background-color: rgba($warning-background, 0.15);

        &:hover {
          background-color: rgba($warning-background, 0.25);
        }
      }

      &.no-item, .no-item {
        text-align: center;
        font-size: 14px;
        color: $text-color;
      }

      p {
        line-height: normal;
        color: $text-color;
        margin: 0;
        font-size: 14px;
      }

      .region {
        display: flex;
        align-items: center;
        .flag-icon {
          font-size: 24px;
          margin-right: 10px;
        }
      }
    }
  }
}

.provider-logo {
  height: auto !important;
  width: auto !important;
  max-height: 40px !important;
  max-width: 70px !important;
}

.mat-card.white {
  padding: 0;
  margin: 0;

  &.statusWaiting {
    background-color: rgba($waiting-background, 0.1);
  }

  &.statusFailed, &.statusDeleting {
    background-color: rgba($warning-background, 0.15);
  }

  .mat-card-header {
    padding: 20px 24px 0px;
    margin: 0;
    .mat-card-header-text {
      width: 100%;
      margin: 0px;
      .mat-card-title {
        font-weight: 500;
        padding: 0;
        margin: 0;
        font-size: 18px;
        line-height: 28px;

        .cluster-name {
          float: left;
        }
      }
    }
  }

  .mat-card-subtitle {
    .pauseReason {
      margin-top: 0;
      color: $warning-status-color;
    }
  }

  .mat-card-content {
    line-height: 40px;
    &.row, .row {
      line-height: 40px;
      padding: 10px 24px;
    }
  }
}

// modal close icon

button.close {
  position: absolute;
  right: 20px;
}

.mat-toolbar {
  border: none;
  padding: 0;
  position: relative;
}

mat-dialog-content {
  margin-bottom: 15px;
}

// Input Fields

.mat-form-field-wrapper {
  margin: 3px 0 !important;
}

.mat-input-wrapper {
  margin: 0 8px;
}

.mat-form-field {
  width: 100%;
}

.mat-select-value-text {
  font-size: 14px;
}


// Scrollbar
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: $light-text-color;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: $light-text-color;
}
::-webkit-scrollbar-thumb:active {
  background: $light-text-color;
}
::-webkit-scrollbar-track {
  background: $light-text-color;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: $light-text-color;
}
::-webkit-scrollbar-track:active {
  background: $light-text-color;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

mat-card-header {
  .mat-card-title {
    padding-top: 0px;
    font-size: 18px;
  }

  .mat-card-header-text {
    width: 100%;
    margin: 0;
  }
}

// copy text
.copy {
  cursor: pointer;

  &:hover {
    color: $primary;
  }
  &:active {
    color: rgba($primary, 0.7);
  }
}

// List Header sorting arrow
.mat-sort-header-arrow {
   margin: auto 0 auto 6px !important;
}


// mat card remove border

.mat-card {
  box-shadow: none !important;
  border-radius: 0 !important;
}

// input styling

.mat-input-wrapper {
  margin: 1.5em 0 1em;
  padding-bottom: 6px;
}

.mat-select-placeholder {
  font-size: 14px !important;
}

.mat-input-placeholder, .mat-form-field-label {
  font-size: 14px !important;
  color: $light-button-color !important;
  font-weight: 500 !important;
}

.mat-form-field-underline {
  background-color: $border !important;
}

.mat-form-field-invalid .mat-form-field-label {
  color: $warning-status-color !important;
}

.mat-checkbox-frame {
  border-color: #C1C9D4;
}

.mat-checkbox-background {
  background-color: transparent;
}

.mat-checkbox-checked.mat-accent {
  .mat-checkbox-background {
    background-color: transparent;
  }
  .mat-checkbox-frame {
    border-color: $text-color;
  }
}

.mat-checkbox-checkmark {
  fill: $text-color;
}

.mat-checkbox-checkmark-path {
  stroke: $text-color !important;
}

.mat-input-wrapper {
  margin: 5px 0 0 0;
}

.mat-form-field {
  width: 100%;
}

.mat-select {
  width: 100%;
}

.mat-select-container {
  padding: 0;
}


// Mat Tab Toggle
.km-change-view {
  .mat-tab-group.mat-primary .mat-tab-label:focus, .mat-tab-group.mat-primary .mat-tab-link:focus, .mat-tab-nav-bar.mat-primary .mat-tab-label:focus, .mat-tab-nav-bar.mat-primary .mat-tab-link:focus {
    background-color: transparent !important;
  }
  .mat-tab-label {
    height: 36px !important;
    min-width: 120px !important;
  }
}


// tooltip
.mat-tooltip {
  background-color: rgba($primary, 0.7) !important;
  margin-top: 5px !important;
}


// button shadow

.mat-raised-button {
  height: 30px;
  line-height: 16px !important;
  margin-left: 5px !important;
  font-weight: 500 !important;
}


// loading indicater
#km-top-progress-bar {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  width:100%;
  z-index: 5000;
}

.km-progress-bar-container {
  background-color: $border;
}

// overlay background

.mat-button-focus-overlay {
  background-color: transparent !important;
}
// modal

button.close {
  position: absolute;
  right: 20px;
}

.btn-right {
  float: right;
}

.dialog {
  width: 545px;
}

@media screen and (max-width: 745px) {
  .dialog {
    width: 100%;
  }
}

.mat-dialog-content {
  margin-top: 0;
}

.mat-toolbar {
  border: none;
  padding: 0;
  font-size: 18px;
  font-weight: 600;
  position: relative;
}

.mat-toolbar {
  background-color: $primary !important;
  color: white !important;
  margin-bottom: 10px;

  .mat-dialog-info {
    margin-left: 10px;
  }

  .fa-pencil {
    margin-left: 15px;
    margin-right: 10px;
  }
}

// modal action
.mat-dialog-actions {
  justify-content: center;

  button {
    font-size: 14px;
    font-weight: 600 !important;
    border-radius: 0px;
    padding: 0px 22px;
    line-height: 16px;
    &.mat-raised-button {
      color: $text-color;
    }

    &.mat-raised-button.mat-primary {
      color: #fff;
      background-color: $secondary;
    }

    &.mat-raised-button.mat-primary[disabled] {
      color: #fff;
      background-color: $border;
      box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    }
  }
}

.mat-dialog-container {
  padding: 0 !important;
  max-width: 600px;
  border-radius: 0;
  .mat-toolbar-row {
    position: relative;
  }

  .mat-toolbar {
    height: 50px;

    .mat-toolbar-row {
      height: 30px;
    }
    h4 {
      font-weight: 500;
      font-size: 14px;
      margin: 0;
    }
    button {
      position: absolute;
      font-size: 20px;
      right: 7px;
      top: 3px;
      i {
        color: white;
      }
    }
  }

  .mat-dialog-content {
    padding: 0 10px;
    margin: 0px;

    p {
      font-size: 14px;
      font-weight: 400;
    }

    .mat-input-wrapper {
      margin: 8px 0;
    }
    .mat-input-infix {
      font-size: 14px;
    }
  }

  .mat-dialog-actions {

    &:last-child {
      margin-bottom: 12px;
    }
    button {
      margin-right: 10px;
    }
  }
}

.mat-dialog-container .mat-dialog-content .mat-input-wrapper {
  margin: 0;
}


// provider message

.provider-message {
  height: 52px;
  background-color: $medium-background;
  margin: 5px 0;
  padding-left: 15px;
  padding-right: 15px;
  color: $text-color;
  text-align: center;
  a {
    color: $primary;
    text-decoration: none;
  }
}

// download kubeconfig button
.download-kubeconfig-btn {
  span.mat-button-wrapper {
    display: flex;
    height: 100%;
    align-items: center;
  }
}

// cluster details: edit provider settings
.km-provider-edit-settings {
  .mat-menu-content {
    padding: 0 !important;
  }
}

// Icons
mat-list-item.disabled {
  i {
    opacity: 0.3;
  }
}

.btn-in-box:disabled {
  color: $disabled-button-color;
}

.iconDelete {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size:contain;
  cursor: pointer;
  &.white {
    background-image: url("/assets/images/icons/white/delete-white.png");
  }
  &.black {
    background-image: url("/assets/images/icons/black/delete-black.png");
  }
  &:disabled {
    opacity: 0.3;
  }
}

.iconEdit {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size:contain;
  cursor: pointer;
  &.white {
    background-image: url("/assets/images/icons/white/edit-white.png");
  }
  &.black {
    background-image: url("/assets/images/icons/black/edit-black.png");
  }
  &:disabled {
    opacity: 0.3;
  }
}

.iconCluster {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size:contain;
  cursor: pointer;
  &.white {
    background-image: url("/assets/images/icons/white/cluster-white.png");
  }
  &.black {
    background-image: url("/assets/images/icons/black/cluster-black.png");
  }
}

.iconKey {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size:contain;
  cursor: pointer;
  &.white {
    background-image: url("/assets/images/icons/white/key-white.png");
  }
  &.black {
    background-image: url("/assets/images/icons/black/key-black.png");
  }
}

.iconProject {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size:contain;
  cursor: pointer;
  &.white {
    background-image: url("/assets/images/icons/white/project-white.png");
  }
  &.black {
    background-image: url("/assets/images/icons/black/project-black.png");
  }
}

.iconMember {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size:contain;
  cursor: pointer;
  &.white {
    background-image: url("/assets/images/icons/white/member-white.png");
  }
  &.black {
    background-image: url("/assets/images/icons/black/member-black.png");
  }
}
