@import "colors";
@import "fonts";
@import "variables";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;

  @include titillium-font;

  background-color: $grey-background;
  color: $text-color;
}

// spinner
.km-spinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

// card
.mat-card-header-text {
  height: auto;
  margin: 0;
  width: auto;
}

// global
.km-code-block {
  background-color: $medium-background;
  padding: 5px 15px;
  font-size: 14px;
  line-height: 20px;
  font-family: $code-block;

  p {
    color: $text-color !important;
    font-family: $code-block;
  }
}

// global
.km-table {
  width: 100%;

  .km-header-row {
    background-color: $primary;
    height: 6 * $baseline-grid;
  }

  .km-header-cell,
  .mat-sort-header-button {
    color: $white-text-color;
    font-size: 14px;
  }

  tr.mat-row:nth-child(even) {
    background-color: $medium-background;
  }

  tr.mat-row:hover {
    background-color: $light-background !important;
  }

  td.mat-cell {
    border-bottom-width: 0;
    line-height: 3 * $baseline-grid;
    padding-right: 2 * $baseline-grid;
    padding-top: .5 * $baseline-grid;

    &:last-of-type {
      padding-right: 2 * $baseline-grid;
    }

    &:first-of-type {
      padding-left: 2 * $baseline-grid;
    }

    &.mat-column-provider {
      padding-top: .5 * $baseline-grid;
      padding-bottom: .5 * $baseline-grid;
    }
  }
}

.mat-column-status {
  width: 2 * $baseline-grid;
}

.mat-card-header {
  margin-bottom: 10px;
  border: none;

  .mat-card-title {
    padding-top: 0;
    font-size: 14px;
  }

  .mat-card-header-text {
    width: 100%;
    margin: 0;
  }
}

.mat-card-title {
  margin: 0;

  h4 {
    font-weight: 600;
    margin: 10px 0;
    font-size: 18px;
    color: $text-color;
  }
}

.mat-button-toggle-group-appearance-standard {
  border: none;
}

.mat-button-toggle-group-appearance-standard .mat-button-toggle + .mat-button-toggle {
  border-left: solid 1px rgba(0, 0, 0, 0.12);

  &:hover {
    border-left: solid 1px $primary;
  }
}

.mat-card-content {
  .mat-form-field {
    .mat-input-placeholder-wrapper .mat-input-placeholder {
      color: $light-button-color;
      font-weight: 600;
      font-size: 14px;
    }
  }

  p {
    color: $light-button-color;
    font-size: 12px;
    margin: 0 0 15px;
  }

  button {
    background-color: transparent;
    border: none;
    color: $primary;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    padding: 0;
  }
}

// Notifications
simple-notifications * {
  cursor: auto;
  z-index: 2000;
}

// Sidenav
.mat-nav-list {
  .mat-list-item-content {
    padding: 0 !important;
  }
}

// Projects
.km-project-toggle {
  .mat-tab-header {
    border-bottom: none;
  }

  .mat-ink-bar {
    visibility: hidden !important;
    height: 0;
  }

  .mat-tab-label {
    background-color: $secondary !important;
    opacity: 1;
    margin-right: 3px;
    padding: 0;

    &.mat-tab-disabled {
      background-color: $disabled-button-color !important;
    }

    &.mat-tab-label-active {
      opacity: 1;

      .mat-tab-label-content {
        width: 100%;
        height: 100%;
        background-color: $primary;
        color: $white-text-color;
      }
    }

    .mat-tab-label-content {
      text-transform: uppercase;
      font-size: 16px;
    }
  }
}

// Step Provider and Datacenter

mat-button-toggle-group {
  background-color: transparent;
  box-shadow: none !important;

  mat-button-toggle {
    margin-right: 20px;
    display: flex;
    align-items: center;
    background-color: $white-text-color;
    border: 1px solid $border;
    cursor: pointer;
    max-width: 90px;
    min-width: 90px;
    min-height: 90px;
    max-height: 90px;

    &:hover {
      border: 1px solid $primary;
    }
  }

  .mat-button-toggle-checked {
    background-color: $white-text-color;
    border: 1px solid $primary;
  }

  .mat-button-toggle-label {
    width: 100%;
    height: 100%;
  }

  .mat-button-toggle-label-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

mat-button-toggle-group[group='datacenterGroup'] {
  .mat-button-toggle-label-content {
    flex-direction: column;
    padding: 20px 0;
    width: 100%;
  }

  .mat-button-toggle-button {
    height: 100%;
  }
}

mat-button-toggle-group[group='providerGroup'] {
  .mat-button-toggle-label-content {
    height: 100%;
    padding: 0 10px;
  }

  .mat-button-toggle-button {
    height: 100%;
  }
}

.mat-card.blue {
  padding: 0;
  margin: 20px 0 0 0;

  .mat-card-header {
    padding: 10px 24px;
    margin: 0;
    height: 30px;
    line-height: 30px;
    background-color: $primary;
    color: $white-text-color;

    .mat-card-header-text {
      width: 100%;
      margin: 0;

      .mat-card-title {
        font-weight: 500;
        padding: 0;
        margin: 0;
      }
    }
  }

  &.km-small .mat-card-header {
    height: 20px;
    line-height: 20px;
  }

  .mat-card-content {
    line-height: 40px;

    &.km-row,
    .km-row {
      line-height: 40px;
      padding: 10px 24px;

      &.km-small {
        padding: 10px 24px;
        margin: 0;
        line-height: normal;
      }

      &.km-accordion {
        padding-bottom: 0;

        > div:first-child {
          padding-bottom: 10px;
        }
      }

      div {
        outline: none;
      }

      .km-cluster-name {
        line-height: 40px;
      }

      &.km-odd {
        background-color: $medium-background;
      }

      &.km-status-running:hover {
        background-color: $light-background;
      }

      &.km-status-waiting {
        background-color: $pending;

        &:hover {
          background-color: $pending-hover;
        }
      }

      &.km-status-failed,
      &.km-status-deleting {
        background-color: $deleting;

        &:hover {
          background-color: $deleting-hover;
        }
      }

      &.km-no-item,
      .km-no-item {
        text-align: center;
        font-size: 14px;
        color: $text-color;
      }

      p {
        line-height: normal;
        color: $text-color;
        margin: 0;
        font-size: 14px;
      }

      .km-region {
        align-items: center;

        .flag-icon {
          font-size: 24px;
          margin-right: 10px;
        }
      }
    }
  }
}

.km-provider-logo {
  display: block;
  height: 100% !important;
  width: 100% !important;
  max-height: 40px !important;
  max-width: 70px !important;
}

.mat-card.white {
  padding: 0;
  margin: 0;

  &.km-status-waiting {
    background-color: $pending;
  }

  &.km-status-failed,
  &.km-status-deleting {
    background-color: $deleting;
  }

  .mat-card-header {
    padding: 20px 24px 0;
    margin: 0;

    .mat-card-header-text {
      width: 100%;
      margin: 0;

      .mat-card-title {
        font-weight: 500;
        padding: 0;
        margin: 0;
        font-size: 18px;
        line-height: 28px;

        .km-cluster-name {
          float: left;
        }
      }
    }
  }

  .mat-card-subtitle {
    .km-pause-reason {
      margin-top: 0;
      color: $indicator-red;
    }
  }

  .mat-card-content {
    line-height: 40px;

    &.km-row,
    .km-row {
      line-height: 40px;
      padding: 10px 24px;
    }
  }
}

.km-dialog-box {
  min-width: $dialog-width;
}

// Input Fields

.mat-form-field-wrapper {
  margin: 3px 0 !important;
}

.mat-select-value-text {
  font-size: 14px;
}

// Scrollbar
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: $light-text-color;
  border: 0 none $white-text-color;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: $light-text-color;
}

::-webkit-scrollbar-thumb:active {
  background: $light-text-color;
}

::-webkit-scrollbar-track {
  background: $medium-background;
  border: 0 none $white-text-color;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: $medium-background;
}

::-webkit-scrollbar-track:active {
  background: $medium-background;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

// copy text
.km-copy {
  cursor: pointer;

  &:hover {
    color: $primary;
  }

  &:active {
    color: $light-primary;
  }
}

// List Header sorting arrow
.mat-sort-header-arrow {
  margin: auto 0 auto 6px !important;
  color: $white-text-color !important;
}

// mat card remove border
.mat-card {
  box-shadow: none !important;
  border-radius: 0 !important;
}

// input styling
.mat-select-placeholder {
  font-size: 14px !important;
}

.mat-input-placeholder,
.mat-form-field-label {
  font-size: 14px !important;
  color: $light-button-color !important;
  font-weight: 500 !important;
}

.mat-form-field-underline {
  background-color: $border !important;
}

.mat-form-field-invalid .mat-form-field-label {
  color: $indicator-red !important;
}

.mat-checkbox-frame {
  border-color: $checkbox-frame;
}

.mat-checkbox-background {
  background-color: transparent;
}

.mat-checkbox-checked.mat-accent {
  .mat-checkbox-background {
    background-color: transparent;
  }

  .mat-checkbox-frame {
    border-color: $text-color;
  }
}

.mat-checkbox-checkmark {
  fill: $text-color;
}

.mat-checkbox-checkmark-path {
  stroke: $text-color !important;
}

.mat-input-wrapper {
  margin: 5px 0 0 0;
}

.mat-form-field {
  width: 100%;
}

.mat-select {
  width: 100%;
}

.mat-select-container {
  padding: 0;
}

// Mat Tab Toggle
.km-change-view {
  .mat-tab-group.mat-primary .mat-tab-label:focus,
  .mat-tab-group.mat-primary .mat-tab-link:focus,
  .mat-tab-nav-bar.mat-primary .mat-tab-label:focus,
  .mat-tab-nav-bar.mat-primary .mat-tab-link:focus {
    background-color: transparent !important;
  }

  .mat-tab-label {
    height: 36px !important;
    min-width: 120px !important;
  }
}

// tooltip
.mat-tooltip {
  background-color: $light-primary !important;
  margin-top: 5px !important;
}

// button shadow

.mat-raised-button {
  height: 30px;
  line-height: 16px !important;
  margin-left: 5px !important;
  font-weight: 500 !important;
}

// loading indicater
#km-top-progress-bar {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  z-index: 5000;
}

.km-progress-bar-container {
  background-color: $border;
}

// overlay background

.mat-button-focus-overlay {
  background-color: transparent !important;
}
// modal
.km-btn-right {
  float: right;
}

.km-dialog {
  width: $dialog-width;
}

@media screen and (max-width: 745px) {
  .km-dialog {
    width: 100%;
  }
}

// provider message

.km-provider-message {
  height: 52px;
  background-color: $medium-background;
  margin: 5px 0;
  padding-left: 15px;
  padding-right: 15px;
  color: $text-color;
  text-align: center;

  a {
    color: $primary;
    text-decoration: none;
  }
}

// cluster details: edit provider settings
.km-provider-edit-settings,
.km-machine-networks-settings {
  .mat-menu-content {
    padding: 0 !important;
  }
}

mat-list-item.disabled {
  i {
    opacity: 0.3;
  }
}

.km-btn-in-box:disabled {
  color: $disabled-button-color;
}

.km-action-button-icon {
  margin-right: 5px;
}

.km-pre-card-title {
  margin-top: 30px;
  color: $text-color;
  font-size: 18px;
  font-weight: 500;
}

.km-warning {
  color: $indicator-red !important;
}

.km-muted {
  color: $light-text-color;
}

.km-link:hover {
  cursor: pointer;
  color: $primary;
}

.km-clickable {
  cursor: pointer;
  outline: none;
}

// Tags
div.km-form-group-tags-header {
  margin: 30px 0 10px;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid $border;
  padding-bottom: 15px;

  i.fa-plus {
    cursor: pointer;
  }
}

div.km-form-group-tags {
  display: flex;
  flex-direction: column;

  div.km-form-group-tags-inner {
    display: flex;
  }

  span.km-seperator {
    display: flex;
    flex: 1 1 10%;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    padding-bottom: 6px;
  }

  i.fa-times {
    display: flex;
    flex: 1 1 6%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

.km-add-node-inner .km-form-group-tags-inner mat-form-field {
  width: 45% !important;
}

// Health statuses
.green {
  color: $indicator-green;
}

.orange {
  color: $indicator-orange;
}

.red {
  color: $indicator-red;
}

// Bottom spacer.
.km-bottom-spacer {
  margin-bottom: 9 * $baseline-grid;
}

// Buttons.
.mat-button,
.mat-flat-button,
.mat-raised-button {
  font-size: $subhead-font-size-base;
  line-height: 5 * $baseline-grid !important;
  background-color: $primary;
  color: $white-text-color;

  &:not(:first-child) {
    margin-left: 1.25 * $baseline-grid !important;
  }

  &:hover {
    background-color: $primary-hover;
  }

  &.mat-alternative {
    background-color: $quaternary;

    &:hover {
      background-color: $quaternary;
    }
  }

  &.mat-tertiary {
    background-color: transparent;
    color: $medium-text-color;
    border: 1px solid $footer-text-color;

    &:hover {
      background-color: $tertiary-hover;
    }
  }
}

// Dialogs.
.mat-dialog-container {
  .mat-dialog-title {
    color: $text-color;
    font-weight: normal;
  }

  .mat-dialog-content {
    font-size: 16px;
    font-weight: 400;

    p {
      margin: 0 0 $baseline-grid;
    }
  }

  .mat-dialog-actions {
    justify-content: flex-end;
  }
}
