@import "colors";
@import "fonts";
@import "variables";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;

  @include titillium-font;

  background-color: $grey-background;
  color: $text-color;
}

// spinner
.km-spinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

// global
.km-table {
  width: 100%;
  border-radius: 5px;
  border-collapse: separate;
  border-spacing: 0;

  tr:first-child th:first-child {
    border-top-left-radius: 5px;
  }

  tr:first-child th:last-child {
    border-top-right-radius: 5px;
  }

  td:first-child:not(.km-serviceaccount-token):not(.km-key-publickey) {
    padding-left: 30px !important;
  }

  td:last-child:not(.km-serviceaccount-token):not(.km-key-publickey) {
    padding-right: 30px !important;
  }

  .km-header-row {
    background-color: $white-text-color;
    border-radius: 5px;
    border-collapse: separate;
    line-height: 4 * $line-height;
  }

  .km-header-cell,
  .mat-sort-header-button {
    color: $text-color;
    font-size: $body-font-size-base;
    font-weight: normal;
    border-bottom: none;
    padding: 0;
  }

  .km-header-cell:last-of-type {
    padding-right: 30px;
  }

  .km-header-cell:first-of-type {
    padding-left: 30px;
  }

  .mat-header-row {
    height: auto;
    line-height: 4 * $line-height;
  }

  .km-mat-row.km-clickable:hover {
    background-color: $hover;
  }

  td.mat-cell {
    border-top: 1px solid $separator;
    border-bottom-width: 0;
    line-height: 5 * $line-height;
    padding-right: 2 * $baseline-grid;
    font-size: $subhead-font-size-base;

    &:last-of-type {
      padding-right: 2 * $baseline-grid;
    }

    &:first-of-type {
      padding-left: 2 * $baseline-grid;
    }

    &.mat-column-provider {
      padding-top: .5 * $baseline-grid;
      padding-bottom: .5 * $baseline-grid;
    }
  }

  // transition for buttons in tables
  .km-table-actions button {
    opacity: 0;
    transition: visibility 0s 0s, opacity 0s ease-out;
  }

  tr:hover button {
    opacity: 1;
    transition: opacity 0.1s ease-out;
  }
}

.km-table-dropdown {
  margin: 0;
  padding: 0 !important;
  background-color: $light-background;

  .km-header-row,
  .km-mat-row {
    background-color: $light-background;
  }

  tr:first-child td:first-child {
    border-top-left-radius: 5px;
  }

  tr:first-child td:last-child {
    border-top-right-radius: 5px;
  }

  td.mat-cell {
    border-top: 1px solid $dropdown-border;
  }

  td:first-child {
    border-left: 1px solid $dropdown-border;
  }

  td:last-child {
    border-right: 1px solid $dropdown-border;
  }
}

.km-paginator {
  border-radius: 0 0 5px 5px;
  border-top: 1px solid $separator;
}

.mat-button-toggle-group-appearance-standard {
  border: none;
}

.mat-button-toggle-group-appearance-standard .mat-button-toggle + .mat-button-toggle {
  border-left: solid 1px rgba(0, 0, 0, 0.12);

  &:hover {
    border-left: solid 1px $primary;
  }
}

.mat-card-content {
  p {
    color: $light-button-color;
    font-size: 12px;
    margin: 0 0 15px;
  }

  button {
    border: none;
    color: $primary;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    padding: 0;
  }
}

// Notifications
simple-notifications * {
  cursor: auto;
  z-index: 2000;
}

// Sidenav
.mat-nav-list {
  .mat-list-item-content {
    padding: 0 !important;
  }
}

// Projects
.km-project-toggle {
  .mat-tab-header {
    border-bottom: none;
  }

  .mat-ink-bar {
    visibility: hidden !important;
    height: 0;
  }

  .mat-tab-label {
    background-color: $secondary !important;
    opacity: 1;
    margin-right: 3px;
    padding: 0;

    &.mat-tab-disabled {
      background-color: $disabled-button-color !important;
    }

    &.mat-tab-label-active {
      opacity: 1;

      .mat-tab-label-content {
        width: 100%;
        height: 100%;
        background-color: $primary;
        color: $white-text-color;
      }
    }

    .mat-tab-label-content {
      text-transform: uppercase;
      font-size: 16px;
    }
  }
}

// Step Provider and Datacenter

mat-button-toggle-group {
  background-color: transparent;
  box-shadow: none !important;

  mat-button-toggle {
    margin-right: 20px;
    display: flex;
    align-items: center;
    background-color: $white-text-color;
    border: 1px solid $border;
    cursor: pointer;
    max-width: 90px;
    min-width: 90px;
    min-height: 90px;
    max-height: 90px;

    &:hover {
      border: 1px solid $primary;
    }
  }

  .mat-button-toggle-checked {
    background-color: $white-text-color;
    border: 1px solid $primary;
  }

  .mat-button-toggle-label {
    width: 100%;
    height: 100%;
  }

  .mat-button-toggle-label-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

mat-button-toggle-group[group='datacenterGroup'] {
  .mat-button-toggle-label-content {
    flex-direction: column;
    padding: 20px 0;
    width: 100%;
  }

  .mat-button-toggle-button {
    height: 100%;
  }
}

mat-button-toggle-group[group='providerGroup'] {
  .mat-button-toggle-label-content {
    height: 100%;
    padding: 0 10px;
  }

  .mat-button-toggle-button {
    height: 100%;
  }
}

mat-card-header > div > mat-card-title > div {
  margin: $baseline-grid 0;
  font-size: $body-font-size-base;
}

.mat-card.km-with-table-header {
  padding: 30px 0;
  margin: 20px 0 0 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 3px rgba(0, 0, 0, 0.12) !important;
  border-radius: 5px !important;

  .mat-card-header {
    padding: 0 30px;
    margin: 0;
    line-height: 1.6 * $line-height;
    background-color: $white-text-color;
    color: $text-color;
    border-radius: 5px 5px 0 0;
  }

  &.km-small .mat-card-header {
    font-size: 10px !important;
    line-height: 1.6 * $line-height;
  }

  .mat-card-content {
    line-height: 5 * $line-height;

    &.km-row,
    .km-row {
      line-height: 5 * $line-height;
      padding: 0 30px;
      border-top: 1px solid $separator;

      &.km-small {
        padding: 10px 24px;
        margin: 0;
        line-height: 2 * $line-height;
      }

      &.km-accordion {
        padding-bottom: 0;

        > div:first-child {
          padding-bottom: 10px;
        }
      }

      div {
        outline: none;
      }

      &.km-odd {
        background-color: $medium-background;
      }

      &.km-status-running:hover {
        background-color: $light-background;
      }

      &.km-status-waiting {
        background-color: $pending;

        &:hover {
          background-color: $pending-hover;
        }
      }

      &.km-status-failed,
      &.km-status-deleting {
        background-color: $deleting;

        &:hover {
          background-color: $deleting-hover;
        }
      }

      &.km-no-item,
      .km-no-item {
        text-align: center;
        font-size: 14px;
        color: $text-color;
      }

      p {
        line-height: normal;
        color: $text-color;
        margin: 0;
        font-size: 14px;
      }

      .km-region {
        align-items: center;

        .flag-icon {
          font-size: 24px;
          margin-right: 10px;
        }
      }
    }
  }
}

.km-provider-logo {
  display: block;
  height: 100% !important;
  width: 100% !important;
  max-height: 30px !important;
  max-width: 70px !important;
}

.mat-card.white {
  padding: 30px 0;
  margin: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 3px rgba(0, 0, 0, 0.12) !important;
  border-radius: 5px !important;

  &.km-cluster-details {
    padding: 30px 0 0 0;
  }

  &.km-status-waiting {
    background-color: $pending;
  }

  &.km-status-failed,
  &.km-status-deleting {
    background-color: $deleting;
  }

  .mat-card-header {
    margin: 0;

    .mat-card-header-text {
      width: 100%;
      margin: 0;

      .mat-card-title {
        padding: 0;
        margin: 0;
        align-items: baseline;
      }
    }
  }

  .mat-card-subtitle {
    .km-pause-reason {
      margin-top: 0;
      color: $indicator-red;
    }
  }

  .mat-card-content {
    line-height: 5 * $line-height;

    &.km-row,
    .km-row {
      line-height: 5 * $line-height;
      padding: 0;
    }

    .km-content-wrap {
      padding: 0 30px;
      display: flex;
      flex-flow: row wrap;
    }
  }
}

// Scrollbar
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: $light-text-color;
  border: 0 none $white-text-color;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: $light-text-color;
}

::-webkit-scrollbar-thumb:active {
  background: $light-text-color;
}

::-webkit-scrollbar-track {
  background: $medium-background;
  border: 0 none $white-text-color;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: $medium-background;
}

::-webkit-scrollbar-track:active {
  background: $medium-background;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

// copy text
.km-copy {
  cursor: pointer;

  &:hover {
    color: $primary;
  }

  &:active {
    color: $light-primary;
  }
}

// List Header sorting arrow
.mat-sort-header-arrow {
  margin: auto 0 auto 6px !important;
  color: $text-color !important;

  .mat-sort-header-stem,
  .mat-sort-header-pointer-left,
  .mat-sort-header-pointer-right,
  .mat-sort-header-pointer-middle {
    background: none;
  }
}

[aria-sort='ascending'] {
  .mat-sort-header-arrow {
    .mat-sort-header-indicator {
      &::before {
        content: url("/assets/images/icons/arrow-up.svg");
        position: absolute;
        transform: translateY(3px);
      }
    }
  }
}

[aria-sort='descending'] {
  .mat-sort-header-arrow {
    .mat-sort-header-indicator {
      &::before {
        content: url("/assets/images/icons/arrow-up.svg");
        transform: rotate(180deg) translateY(4px);
        position: absolute;
      }
    }
  }
}

// mat card remove border
.mat-card {
  box-shadow: none !important;
}

// Mat Tab Toggle
.km-change-view {
  .mat-tab-group.mat-primary .mat-tab-label:focus,
  .mat-tab-group.mat-primary .mat-tab-link:focus,
  .mat-tab-nav-bar.mat-primary .mat-tab-label:focus,
  .mat-tab-nav-bar.mat-primary .mat-tab-link:focus {
    background-color: transparent !important;
  }

  .mat-tab-label {
    height: 36px !important;
    min-width: 120px !important;
  }
}

// tooltip
.mat-tooltip {
  background-color: $light-primary !important;
  margin-top: 5px !important;
}

// button shadow

.mat-raised-button {
  height: 30px;
  line-height: 16px !important;
  margin-left: 5px !important;
  font-weight: 500 !important;
}

// loading indicater
#km-top-progress-bar {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  z-index: 5000;
}

.km-progress-bar-container {
  background-color: $border;
}

// overlay background

.mat-button-focus-overlay {
  background-color: transparent !important;
}
// modal
.km-btn-right {
  float: right;
}

// provider message

.km-provider-message {
  height: 52px;
  background-color: $medium-background;
  margin: 5px 0;
  padding-left: 15px;
  padding-right: 15px;
  color: $text-color;
  text-align: center;

  a {
    color: $primary;
    text-decoration: none;
  }
}

// cluster details: edit provider settings
.km-provider-edit-settings,
.km-machine-networks-settings {
  .mat-menu-content {
    padding: 0 !important;
  }
}

mat-list-item.disabled {
  i {
    opacity: 0.3;
  }
}

.km-btn-in-box:disabled {
  color: $disabled-button-color;
}

.km-action-button-icon {
  margin-right: 5px;
}

.km-warning {
  color: $indicator-red !important;
}

.km-muted {
  color: $light-text-color;
}

.km-link:hover {
  cursor: pointer;
  color: $primary;
}

.km-clickable {
  cursor: pointer;
  outline: none;
}

// Tags
div.km-form-group-tags-header {
  margin: 30px 0 10px;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid $border;
  padding-bottom: 15px;

  i.fa-plus {
    cursor: pointer;
  }
}

div.km-form-group-tags {
  display: flex;
  flex-direction: column;

  div.km-form-group-tags-inner {
    display: flex;
  }

  span.km-seperator {
    display: flex;
    flex: 1 1 10%;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    padding-bottom: 6px;
  }

  i.fa-times {
    display: flex;
    flex: 1 1 6%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

.km-add-node-inner .km-form-group-tags-inner mat-form-field {
  width: 45% !important;
}

// Card headers.
.mat-card-header .mat-card-title {
  color: $text-color;
  padding: $baseline-grid 0 (2 * $baseline-grid);
  font-size: 20px;
  font-weight: 400 !important;

  i {
    margin: 0 (3 * $baseline-grid) 0 (4 * $baseline-grid);
  }
}

.mat-card-header-text {
  margin: 0 !important;
}

// Health statuses.
.green {
  color: $indicator-green;
}

.orange {
  color: $indicator-orange;
}

.red {
  color: $indicator-red;
}

// Row width.
.mat-column-status,
.mat-column-stateArrow {
  width: 2 * $baseline-grid;
}

// Remove background overlay added by the menu.
.mat-drawer-container {
  background-color: transparent;
}

// Buttons.
.mat-button,
.mat-flat-button,
.mat-raised-button {
  font-size: $subhead-font-size-base;
  line-height: 5 * $baseline-grid !important;
  background-color: $primary;
  color: $white-text-color;

  &:not(:first-child) {
    margin-left: 1.25 * $baseline-grid !important;
  }

  &:hover:not([disabled]) {
    background-color: $primary-hover;
  }

  &.mat-alternative:not([disabled]) {
    background-color: $quaternary;

    &:hover {
      background-color: $quaternary-hover;
    }
  }

  &.mat-tertiary:not([disabled]) {
    background-color: transparent;
    color: $medium-text-color;
    border: 1px solid $footer-text-color;

    &:hover {
      background-color: $tertiary-hover;
    }
  }

  &.km-small-button {
    min-width: unset;
  }
}

// Inputs.
mat-form-field.mat-form-field {
  color: $text-color;
  width: 100%;

  &.km-with-hint {
    margin-bottom: 15px;
  }
}

span.mat-select-value-text {
  color: $text-color;
}

div.mat-form-field-outline.mat-form-field-outline-thick {
  color: $quaternary;
}

mat-form-field.mat-form-field-should-float:not(.mat-focused):not(.ng-invalid):not(.mat-form-field-disabled) div.mat-form-field-flex:hover label {
  transition: all .2s ease;
  color: $quaternary-dark;
}

mat-form-field.mat-focused:not(.ng-invalid) label,
mat-form-field.mat-focused.ng-pristine label {
  color: $alternative-text-color;
}

// Checkboxes.
.mat-checkbox-checked .mat-checkbox-background {
  background-color: $primary !important;
}

.mat-checkbox-frame {
  border: 2px solid $separator;
  border-radius: 5px;
}

// Dialogs.
.mat-dialog-container {
  min-width: $dialog-width !important;
  max-width: $dialog-width !important;
  color: $text-color;

  .mat-dialog-title {
    font-weight: normal;
  }

  .mat-dialog-content {
    font-size: 16px;
    font-weight: 400;
    max-height: $dialog-max-height;

    a {
      text-decoration: none;
      color: $primary;
    }

    p {
      margin: 0 0 $baseline-grid;
    }

    .km-dialog-warning {
      display: flex;
      margin: 2 * $baseline-grid 0;
    }
  }

  .mat-dialog-actions {
    justify-content: flex-end;
    padding: 0;
    margin: 0;
  }
}

// Tooltips.
.mat-tooltip-panel {
  height: 4 * $baseline-grid;
}

// Code blocks.
.km-code-block {
  background-color: $grey-background;
  border-radius: $baseline-grid / 1.5;
  margin: ($baseline-grid * 2) 0;
  padding: ($baseline-grid * 1.5) ($baseline-grid * 2);
  font-size: $body-font-size-base;
  line-height: 20px;
  font-family: $code-block;
  color: $text-color;
}

// Font colors.
.km-color-primary {
  color: $primary !important;
}
