$primary: #0081ae;
$primary-active: #234d66;
$quaternary: #3bc6ad;
$indicator-green: #1dc67f;
$indicator-orange: #f7b500;
$indicator-red: #eb5757;
$border: #e3e8ec;
$separator: #e0e3e5;
$hover: #f1f3f4;
$hover-dark: #c9ccce;
$text-color: #4d555c;
$medium-text-color: #7e868f;
$white-background: #fff;
$grey-background: #edeff0;
$disabled-button-color: #d4d4d4;
