$primary: #0081ae;
$primary-hover: #00a3d9;
$primary-light: #31586f;
$primary-dark: #03223b;
$primary-active: #234d66;
$secondary: #b9ccdf;
$secondary-light: #dcf3fa;
$secondary-dark: #b6ebfc;
$tertiary-hover: #fafcfc;
$quaternary: #3bc6ad;
$quaternary-dark: #1c8282;
$quaternary-hover: #21dfa9;
$indicator-green: #1dc67f;
$indicator-orange: #f7b500;
$indicator-red: #eb5757;
$border: #e3e8ec;
$dropdown-border: #cad1d9;
$separator: #e0e3e5;
$hover: #f1f3f4;
$hover-dark: #c9ccce;
$text-color: #4d555c;
$medium-text-color: #7e868f;
$white-text-color: #fff;
$white-background: #fff;
$grey-background: #edeff0;
$light-background: #fafcfc;
$medium-background: #f7faff;
$waiting-background: #ffd55c;
$light-button-color: #bdc6d1;
$disabled-button-color: #d4d4d4;
$disabled-text-color: rgba(0, 0, 0, 0.26);
$pending: rgba($waiting-background, 0.1);
$pending-hover: rgba($waiting-background, 0.2);
$deleting: rgba(#ffdad9, 0.15);
$deleting-hover: rgba(#ffdad9, 0.25);
$light-primary: rgba($primary, 0.7);
