@import "~@angular/material/theming";

@include mat-core();


// Customizations go here, for instance:
$primary: mat-palette($mat-light-blue, 700, 500, 800);
$lighter: mat-palette($mat-light-blue, 100, 200, 300);
$accent:  mat-palette($mat-pink, 500, 600, 700);


// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($primary, $lighter, $accent);

@include angular-material-theme($app-theme);

