@import "colors";
@import "variables";

// Branding.
.km-header-logo {
  background-image: url("/assets/images/branding/logo.svg");
  background-repeat: no-repeat;
}

.km-frontpage-bg {
  background: url("/assets/images/branding/bg.svg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.km-user {
  mask: url("/assets/images/icons/user.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  width: 3 * $baseline-grid;
  height: 3 * $baseline-grid;
  background-color: $text;
  display: inline-block;
}

// icons
.km-icon-delete {
  display: inline-block;
  width: 2.25 * $baseline-grid;
  height: 2.25 * $baseline-grid;
  mask: url("/assets/images/icons/trash.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  cursor: pointer;
  background-color: $text;

  &:disabled {
    background-color: $disabled-button-color;
  }
}

.km-icon-edit {
  display: inline-block;
  width: 2.25 * $baseline-grid;
  height: 2.25 * $baseline-grid;
  mask: url("/assets/images/icons/edit.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  cursor: pointer;
  background-color: $text;

  &:disabled {
    background-color: $disabled-button-color;
  }
}

.km-icon-regenerate {
  display: inline-block;
  width: 2.25 * $baseline-grid;
  height: 2.25 * $baseline-grid;
  mask: url("/assets/images/icons/regenerate.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  cursor: pointer;
  background-color: $text;

  &:disabled {
    background-color: $disabled-button-color;
  }
}

.km-icon-warning {
  display: inline-block;
  width: $baseline-grid * 2;
  height: $baseline-grid * 2;
  margin: ($baseline-grid / 2) ($baseline-grid * 1.8) ($baseline-grid / 2) 0;
  background: $indicator-red url("/assets/images/icons/warning.svg") no-repeat;
  background-size: $baseline-grid * 1.5;
  background-position: center;
  border-radius: 50%;
}

.km-icon-tick {
  display: inline-block;
  width: $baseline-grid * 2;
  height: $baseline-grid * 2;
  margin: ($baseline-grid / 2) ($baseline-grid * 1.8) ($baseline-grid / 2) 0;
  background: $indicator-green url("/assets/images/icons/tick.svg") no-repeat;
  background-size: $baseline-grid * 1.5;
  background-position: center;
  border-radius: $baseline-grid;
}

.km-icon-tick-blue {
  background-color: $primary;
  display: inline-block;
  width: $baseline-grid * 1.5;
  height: $baseline-grid * 1.5;
  mask: url("/assets/images/icons/tick.svg") no-repeat;
  mask-repeat: no-repeat;
  mask-size: cover;
}

.km-icon-download {
  display: inline-block;
  width: 2.5 * $baseline-grid;
  height: 2.5 * $baseline-grid;
  mask: url("/assets/images/icons/download.svg");
  mask-repeat: no-repeat;
  mask-size: cover;
  background-color: $white-background;
}

.km-icon-share {
  display: inline-block;
  width: 2.5 * $baseline-grid;
  height: 2.5 * $baseline-grid;
  mask: url("/assets/images/icons/share.svg");
  mask-repeat: no-repeat;
  mask-size: cover;
  background-color: $white-background;
}

.km-icon-copy {
  display: inline-block;
  width: 2.5 * $baseline-grid;
  height: 2.5 * $baseline-grid;
  mask: url("/assets/images/icons/copy.svg");
  mask-repeat: no-repeat;
  mask-size: cover;
  background-color: $white-background;
}

.km-icon-cluster {
  display: inline-block;
  width: 2.75 * $baseline-grid;
  height: 2.75 * $baseline-grid;
  mask: url("/assets/images/icons/clusters.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  cursor: pointer;
  background-color: $text;
}

.km-icon-key {
  display: inline-block;
  width: 2.75 * $baseline-grid;
  height: 2.75 * $baseline-grid;
  mask: url("/assets/images/icons/ssh-keys.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  cursor: pointer;
}

.km-icon-member {
  display: inline-block;
  width: 2.75 * $baseline-grid;
  height: 2.75 * $baseline-grid;
  mask: url("/assets/images/icons/members.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  cursor: pointer;
}

.km-icon-serviceaccount {
  display: inline-block;
  width: 2.75 * $baseline-grid;
  height: 2.75 * $baseline-grid;
  mask: url("/assets/images/icons/service-accounts.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  cursor: pointer;
}

.km-icon-randomize {
  display: inline-block;
  width: 2 * $baseline-grid;
  height: 2 * $baseline-grid;
  background-image: url("/assets/images/icons/randomize.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  cursor: pointer;
}

.km-icon-arrow-down {
  display: inline-block;
  width: 1.5 * $baseline-grid;
  height: 1.5 * $baseline-grid;
  mask: url("/assets/images/icons/arrow-down.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  background-color: $text;
}

.km-icon-arrow-up {
  display: inline-block;
  width: 1.5 * $baseline-grid;
  height: 1.5 * $baseline-grid;
  mask: url("/assets/images/icons/arrow-down.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  background-color: $text;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.km-icon-arrow-left {
  display: inline-block;
  width: 1.75 * $baseline-grid;
  height: 1.75 * $baseline-grid;
  mask: url("/assets/images/icons/arrow-down.svg");
  mask-repeat: no-repeat;
  mask-size: 2 * $baseline-grid;
  cursor: pointer;
  margin: 0;
  padding: 0;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.km-icon-close {
  width: 2.5 * $baseline-grid;
  height: 2.5 * $baseline-grid;
  mask: url("/assets/images/icons/close.svg");
  mask-repeat: no-repeat;
  mask-size: cover;
  background-color: $text;
}

.km-icon-info {
  display: inline-block;
  width: 2 * $baseline-grid;
  height: 2 * $baseline-grid;
  cursor: pointer;
  background-image: url("/assets/images/icons/info.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}

.km-icon-add {
  display: inline-block;
  width: 18px;
  height: 18px;
  mask: url("/assets/images/icons/close.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  cursor: pointer;
  background-color: $text;
  transform: rotate(45deg);

  &:disabled {
    background-color: $disabled-button-color;
  }
}

.km-icon-running {
  display: inline-block;
  margin-right: $baseline-grid;
  width: 2 * $baseline-grid;
  height: 2 * $baseline-grid;
  mask: url("/assets/images/icons/tick.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  background: $indicator-green;
}

.km-icon-failed {
  display: inline-block;
  margin-right: $baseline-grid;
  width: 2 * $baseline-grid;
  height: 2 * $baseline-grid;
  mask: url("/assets/images/icons/warning.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  background: $indicator-red;
}

.km-icon-disabled {
  display: inline-block;
  margin-right: $baseline-grid;
  width: 2 * $baseline-grid;
  height: 2 * $baseline-grid;
  mask: url("/assets/images/icons/close.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  background: $medium-text-color;
}

.km-icon-labels {
  display: inline-block;
  width: 3 * $baseline-grid;
  height: 3 * $baseline-grid;
  mask: url("/assets/images/icons/labels.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  background-color: $text;
}

.km-icon-owner {
  display: inline-block;
  width: 3 * $baseline-grid;
  height: 3 * $baseline-grid;
  mask: url("/assets/images/icons/owner.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  background-color: $text;
}

.km-icon-role {
  display: inline-block;
  width: 3 * $baseline-grid;
  height: 3 * $baseline-grid;
  mask: url("/assets/images/icons/role.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  background-color: $text;
}

.km-icon-projects-table {
  display: inline-block;
  width: 3 * $baseline-grid;
  height: 3 * $baseline-grid;
  mask: url("/assets/images/icons/projects-table.svg");
  mask-repeat: no-repeat;
  mask-size: cover;
  background-color: $text;
}

.km-icon-projects-card {
  display: inline-block;
  width: 3 * $baseline-grid;
  height: 3 * $baseline-grid;
  mask: url("/assets/images/icons/projects-cards.svg");
  mask-repeat: no-repeat;
  mask-size: cover;
  background-color: $text;
}

.km-icon-kubernetes {
  display: inline-block;
  width: 3.75 * $baseline-grid;
  height: 3.75 * $baseline-grid;
  margin-right: 1.25 * $baseline-grid;
  background-image: url("/assets/images/icons/kubernetes.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.km-icon-openshift {
  display: inline-block;
  width: 3.75 * $baseline-grid;
  height: 3.75 * $baseline-grid;
  margin-right: 1.25 * $baseline-grid;
  background-image: url("/assets/images/icons/openshift.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.km-icon-sun {
  display: inline-block;
  width: 3 * $baseline-grid;
  height: 3 * $baseline-grid;
  margin-right: 1.25 * $baseline-grid;
  mask-image: url("/assets/images/icons/sun.svg");
  mask-repeat: no-repeat;
  mask-size: cover;
}

.km-icon-moon {
  display: inline-block;
  width: 3 * $baseline-grid;
  height: 3 * $baseline-grid;
  margin-right: 1.25 * $baseline-grid;
  mask-image: url("/assets/images/icons/moon.svg");
  mask-repeat: no-repeat;
  mask-size: cover;
}

// provider logos
.km-provider-logo-aws {
  background-image: url("/assets/images/clouds/aws.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  min-height: 3.75 * $baseline-grid;
}

.km-provider-logo-azure {
  background-image: url("/assets/images/clouds/azure.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  min-height: 3.75 * $baseline-grid;
}

.km-provider-logo-baremetal {
  background-image: url("/assets/images/clouds/baremetal.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  min-height: 3.75 * $baseline-grid;
}

.km-provider-logo-bringyourown {
  background-image: url("/assets/images/clouds/bringyourown.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  min-height: 3.75 * $baseline-grid;
}

.km-provider-logo-digitalocean {
  background-image: url("/assets/images/clouds/digitalocean.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  min-height: 3.75 * $baseline-grid;
}

.km-provider-logo-fake {
  background-image: url("/assets/images/clouds/fake.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  min-height: 3.75 * $baseline-grid;
}

.km-provider-logo-gcp {
  background-image: url("/assets/images/clouds/gcp.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  min-height: 3.75 * $baseline-grid;
}

.km-provider-logo-hetzner {
  background-image: url("/assets/images/clouds/hetzner.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  min-height: 3.75 * $baseline-grid;
}

.km-provider-logo-loodsecluster {
  background-image: url("/assets/images/clouds/loodsecluster.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  min-height: 3.75 * $baseline-grid;
}

.km-provider-logo-openstack {
  background-image: url("/assets/images/clouds/openstack.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  min-height: 3.75 * $baseline-grid;
}

.km-provider-logo-packet {
  background-image: url("/assets/images/clouds/packet.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  min-height: 3.75 * $baseline-grid;
}

.km-provider-logo-kubevirt {
  background-image: url("/assets/images/clouds/kubevirt.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  min-height: 3.75 * $baseline-grid;
}

.km-provider-logo-vsphere {
  background-image: url("/assets/images/clouds/vsphere.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  min-height: 3.75 * $baseline-grid;
}

// Operating system logos.
.km-os-image-centos {
  background-image: url("/assets/images/os/centos.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center left;
  height: 3 * $baseline-grid;
  width: 3 * $baseline-grid;
}

.km-os-image-container-linux {
  background-image: url("/assets/images/os/container-linux.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center left;
  height: 3 * $baseline-grid;
  width: 3 * $baseline-grid;
}

.km-os-image-ubuntu {
  background-image: url("/assets/images/os/ubuntu.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center left;
  height: 3 * $baseline-grid;
  width: 3 * $baseline-grid;
}
