// Third party styles.
$flag-icon-square-path: '/4x3';
$flag-icon-css-path: '../../../node_modules/flag-icon-css/flags';

@import '../../../node_modules/flag-icon-css/sass/flag-icon';
@import "ubuntu-font/ubuntu";

// Application styles.
@import "variables";
@import "images";
@import "theme";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  font-family: $font-primary;
  background-color: #edeff0;
  color: #4d555c;
}
