.dialog {
  width: 545px;
}

@media screen and (max-width: 745px) {
  .dialog {
    width: 100%;
  }
}


.mat-dialog-content {
  margin-top: 0;
}

.mat-toolbar {
  border: none;
  padding: 0;
  color: #444D58;
  font-size: 18px;
  font-weight: 600;
}

.mat-toolbar-single-row {
  height: auto;
}

.mat-card-title {
  font-size: 20px;
}

.km-ssh-key-textarea {
  width: 100%;

  textarea {
    height: 170px;
  }
}
.km-ssh-key-input {
  width: 100%;
}

.mat-dialog-actions {
  justify-content: center;
  
  button {
    font-size: 14px;
    font-weight: 600 !important;
    letter-spacing: 0.4px;
    border-radius: 4px;
    &.mat-raised-button {
      color: #444D58;
    }

    &.mat-raised-button.mat-primary {
      color: #fff;
    }

    &.mat-raised-button.mat-primary[disabled] {
      color: #fff;
      background-color: #BDC6D1;
      box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    }
  }
}
