<md-card class="km-card-list"  *ngIf="nodeSizes">
  <md-card-header class="km-card-list-header" fxLayout>
    <md-card-title>
      Add Node
    </md-card-title>
  </md-card-header>

  <md-card-content fxLayout class="km-card-list-content">
    <form [formGroup]="addNodeForm" >


      <md-input-container style="width: 100%">
        <input id="node_count" mdInput formControlName="node_count" min="1" max="20" type="number" placeholder="Quantity of Nodes:" title="node_count">
      </md-input-container>


   <!--

       <md-select style="width: 100%; margin-top: 10px;" placeholder="Node Size:" name="node_size" formControlName="node_size">
        <md-option ngIf="cluster.dc.spec.provider == 'aws" *ngFor="let size of nodeSize; let i = index;" [value]="size">
          {{size}}
        </md-option>
        <md-option ngIf="cluster.dc.spec.provider == 'digitalocean" *ngFor="let size of nodeSize; let i = index;" [value]="size.slug">
          {{ size.memory / 1024 }} GB RAM, {{ size.vcpus }} CPU{{ (size.vcpus!=1) ? 's' : '' }}, ${{ size.price_monthly }} per month
        </md-option>
      </md-select>-->

      <div class="form-group" *ngIf="cluster.dc.spec.provider == 'digitalocean'">
        <select id="node_size" formControlName="node_size" class="form-control">
          <option value="" [disabled]="true" [selected]="!addNodeForm.controls['node_size'].value">Please select a node size!</option>
          <ng-container [ngSwitch]="cluster.dc.spec.provider">
            <ng-container *ngSwitchCase="'digitalocean'">
              <option *ngFor="let size of nodeSizes; let i = index;" [value]="size.slug">
                {{ size.memory / 1024 }} GB RAM, {{ size.vcpus }} CPU{{ (size.vcpus!=1) ? 's' : '' }}, ${{ size.price_monthly }} per month
              </option>
            </ng-container>
          </ng-container>
        </select>
      </div>

      <ng-container *ngIf="cluster.dc.spec.provider == 'aws'">
        <md-select style="width: 100%; margin-top: 10px; margin-bottom: 10px;" placeholder="Node Size:" name="node_size" formControlName="node_size">
          <md-option *ngFor="let size of nodeSizes; let i = index;" [value]="size">
            {{size}}
          </md-option>
        </md-select>

        <md-input-container style="width: 100%" >
          <input id="disk_size" mdInput formControlName="disk_size" min="8" max="200" type="number" placeholder="Disk size in GB (gp2):" title="disk_size">
        </md-input-container>

        <md-input-container style="width: 100%" >
          <input id="container_linux_version" mdInput formControlName="container_linux_version" type="text" placeholder="Set CoreOS Version manually (optional):" title="container_linux_version">
          <small>Show stable <a href="https://aws.amazon.com/marketplace/pp/B01H62FDJM?qid=1490197183896&sr=0-1&ref_=srh_res_product_title#" target="_blank">CoreOS Versions</a> </small>
        </md-input-container>
      </ng-container>
      <button type="submit" md-raised-button color="primary" value="submit" (click)="addNode()" class="btn btn-primary" [disabled]="!addValidForm()">Add Node(s)</button>
    </form>
  </md-card-content>
</md-card>
