<form [formGroup]="form"
      fxLayout="column">
  <mat-form-field fxFlex>
    <mat-label>Access Key ID*</mat-label>
    <input matInput
           formControlName="accessKeyId"
           name="accessKeyId"
           type="password"
           autocomplete="off">
    <mat-hint>
      We need a AWS Access Key with write access. You can create one&nbsp;<a target="_blank"
         rel="noopener"
         href="http://docs.aws.amazon.com/general/latest/gr/managing-aws-access-keys.html">here</a>.
    </mat-hint>
    <mat-error *ngIf="form.controls.accessKeyId.hasError('required')">
      Access key ID is <strong>required</strong>.
    </mat-error>
  </mat-form-field>
  <mat-form-field fxFlex>
    <mat-label>Secret Access Key*</mat-label>
    <input matInput
           formControlName="secretAccessKey"
           name="secretAccessKey"
           type="password"
           autocomplete="off">
    <mat-hint>
      We need a AWS Secret Access Key with write access. You can create one&nbsp;<a target="_blank"
         rel="noopener"
         href="http://docs.aws.amazon.com/general/latest/gr/managing-aws-access-keys.html">here</a>.
    </mat-hint>
    <mat-error *ngIf="form.controls.secretAccessKey.hasError('required')">
      Secret access key is <strong>required</strong>.
    </mat-error>
  </mat-form-field>

  <mat-form-field fxFlex
                  *ngIf="!hideOptional">
    <mat-label>Security Group ID</mat-label>
    <input matInput
           formControlName="securityGroup"
           name="securityGroup"
           type="text"
           autocomplete="off">
    <mat-hint>When specified, all worker nodes will be attached to this security group. If not specified, a security group will be created.</mat-hint>
    <mat-error *ngIf="form.controls.securityGroup.hasError('pattern')">
      The security group ID need to look similar to 'sg-a2c195ca'.
    </mat-error>
  </mat-form-field>

  <mat-form-field fxFlex
                  *ngIf="!hideOptional">
    <mat-label>VPC ID</mat-label>
    <input matInput
           formControlName="vpcId"
           name="vpcId"
           type="text"
           autocomplete="off">
    <mat-hint>When specified, all worker nodes will be attached to this VPC. If not specified, the default VPC will be used.</mat-hint>
    <mat-error *ngIf="form.controls.vpcId.hasError('pattern')">
      The VPC ID needs to look similar to 'vpc-3a2f9851'.
    </mat-error>
  </mat-form-field>

  <mat-form-field fxFlex
                  *ngIf="!hideOptional">
    <mat-label>{{getSubnetIDFormState()}}</mat-label>
    <mat-select [placeholder]="getSubnetIDFormState()"
                disableOptionCentering
                formControlName="subnetId">
      <mat-option *ngFor="let subnet of subnetIds"
                  [value]="subnet.id">
        {{subnet.name}} ({{subnet.id}}, {{subnet.availability_zone}})
      </mat-option>
    </mat-select>
    <mat-hint>When specified, all worker nodes will be attached to this Subnet. If not specified, the default Subnet will be used.</mat-hint>
    <mat-error *ngIf="form.controls.subnetId.hasError('pattern')">
      The subnet ID needs to look similar to 'subnet-36275b5d'.
    </mat-error>
  </mat-form-field>

  <mat-form-field fxFlex
                  *ngIf="!hideOptional">
    <mat-label>Route Table ID</mat-label>
    <input matInput
           formControlName="routeTableId"
           name="routeTableId"
           type="text"
           autocomplete="off">
    <mat-hint>When specified, all worker nodes will be attached to this Route table. If not specified, the default Route Table will be used.</mat-hint>
    <mat-error *ngIf="form.controls.routeTableId.hasError('pattern')">
      The route table ID needs to look similar to 'rtb-0bd18f60'.
    </mat-error>
  </mat-form-field>
  <mat-form-field fxFlex
                  *ngIf="!hideOptional">
    <mat-label>Instance Profile Name</mat-label>
    <input matInput
           formControlName="instanceProfileName"
           name="instanceProfileName"
           type="text"
           autocomplete="off">
  </mat-form-field>
</form>
