// global

/deep/ .mat-input-wrapper {
  margin: 5px 0 0 0;
}

.slider-box {
  margin-top: 15px;
  margin-bottom: 10px;
}

.text-danger {
  color: #e91e62;
}

.provider-message {
  height: 52px;
  background-color: #F7FAFF;
  margin: 5px 0;
  padding-left: 15px;
  padding-right: 15px;
  color: #444D58;
  text-align: center;
  a {
    color: #0288d1;
    text-decoration: none;
  }
}
