<ng-container [ngSwitch]="!!sshKeys && sshKeys.length > 0">
    <mat-card *ngSwitchCase="false" style="margin-bottom: 20px;">
      <mat-card-content>
        You have not added any SSH keys yet.
      </mat-card-content>
    </mat-card>

    <ng-container *ngSwitchCase="true">
      <mat-card class="km-card-list">
        <mat-card-header class="km-card-list-header">
          <mat-card-title fxLayout>
            <div fxFlex="50%" fxFlex.sm="40%">SSH Keys</div>
            <div fxFlex="50%" fxFlex.sm="60%">Fingerprint</div>
          </mat-card-title>
        </mat-card-header>
        <ng-container *ngIf="sshKeys && sshKeys.length > 0">
          <kubermatic-ssh-key-item 
            *ngFor="let key of sshKeys; let odd = odd" 
            [sshKey]="key" 
            [isOdd]="odd"
            (deleteSshKey)="deleteSSHKey($event)">
          </kubermatic-ssh-key-item>
        </ng-container>
      </mat-card>
    </ng-container>
</ng-container>
