

.km-fingerprint {
  border-top: 1px solid #E3E8EC;
  padding-top: 10px;
  margin-top: 20px;
  color: #0288d1;
}

.km-card-list-header {
  border: none;
  padding-bottom: 20px;
  
  .mat-card-title {
    font-weight: 600;
    font-size: 18px;
  }
  color: #444D58;
}

.mat-card {
  padding-bottom: 0;
  margin-top: 15px;
}
