<km-dialog-title title="Token"></km-dialog-title>
<mat-dialog-content>
  <div class="mat-dialog-content">
    <p class="km-code-block km-copy"
       ngxClipboard
       [cbContent]="serviceaccountToken.token"
       matTooltip="click to copy">{{serviceaccountToken.token}}</p>
  </div>

  <div class="km-dialog-warning">
    <i class="km-icon-warning"></i>
    <div>Store this token securely on your device. It will not be displayed again.</div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <a class="km-small-button"
     mat-flat-button
     color="alternative"
     [href]="downloadUrl"
     [download]="downloadTitle"
     target="_blank">
    <i class="km-icon-download"></i>
  </a>
  <button mat-dialog-close
          mat-flat-button>
    Got it
  </button>
</mat-dialog-actions>
