<km-dialog-title title="Token"></km-dialog-title>
<mat-dialog-content>
  <div class="mat-dialog-content">
    <p>
      <i class="fa fa-exclamation-triangle"></i>
      Make sure to save this token at a safe place on your own device. It <strong>cannot</strong> be displayed again after closing this window.
    </p>
    <p class="km-code-block km-copy"
       ngxClipboard
       [cbContent]="serviceaccountToken.token"
       matTooltip="click to copy">{{serviceaccountToken.token}}</p>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <a mat-flat-button
     [href]="downloadUrl"
     [download]="downloadTitle"
     target="_blank">
    Download Token
  </a>
  <button mat-dialog-close
          mat-flat-button
          color="alternative">
    Close
  </button>
</mat-dialog-actions>
