@import "../../../../assets/css/colors";
@import "../../../../assets/css/variables";

.km-code-block {
  word-break: break-all;
}

.fa-exclamation-triangle {
  color: $attention;
  margin-right: 0.625 * $baseline-grid;
}
