<div class="km-dialog-box"
     id="km-confirmation-dialog"
     (keydown.enter)="onEnterKeyDown()">
  <mat-toolbar>
    <span class="km-dialog-title">{{data.title}}</span>
    <button mat-icon-button
            mat-dialog-close>
      <i class="fa fa-times"
         aria-hidden="true"></i>
    </button>
  </mat-toolbar>
  <mat-dialog-content>
    <div class="mat-dialog-content">
      <p>{{data.message}}</p>

      <mat-form-field *ngIf="!!data.compareName && data.compareName.length > 0">
        <input id="km-confirmation-dialog-input"
               matInput
               type="text"
               placeholder={{data.inputPlaceholder}}
               title={{data.inputTitle}}
               (blur)="onChange($event)"
               (keyup)="onChange($event)">
      </mat-form-field>

    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button
            [mat-dialog-close]="false"
            id="km-confirmation-dialog-cancel-btn">
      {{data.cancelLabel}}
    </button>
    <button mat-raised-button
            color="primary"
            class="mat-primary"
            [mat-dialog-close]="true"
            id="km-confirmation-dialog-confirm-btn"
            [disabled]="!inputNameMatches()">
      {{data.confirmLabel}}
    </button>
  </mat-dialog-actions>
</div>
