<form [formGroup]="form"
      fxLayout="column">
  <mat-form-field fxFlex>
    <mat-label>API Token*</mat-label>
    <input matInput
           formControlName="token"
           name="token"
           type="password"
           autocomplete="off">
    <mat-hint>We need a Hetzner API token. You can create one in your project access settings.</mat-hint>
    <mat-error *ngIf="form.controls.token.hasError('required')">
      Token is <strong>required</strong>.
    </mat-error>
    <mat-error *ngIf="(form.controls.token.hasError('minlength')
                      || form.controls.token.hasError('maxlength'))">
      Tokens must be exactly <strong>64</strong> characters long.
    </mat-error>
  </mat-form-field>
</form>
