<form [formGroup]="hetznerSettingsForm"
      fxLayout="column">
  <div fxLayoutAlign="center center"
       class="km-provider-message">
    We need a Hetzner API token.
    You can create one in your project access settings.
  </div>
  <mat-form-field fxFlex>
    <mat-label>API Token*</mat-label>
    <input matInput
           formControlName="token"
           type="password"
           autocomplete="off">
    <mat-error *ngIf="hetznerSettingsForm.controls.token.hasError('required')">
      Token is <strong>required</strong>.
    </mat-error>
    <mat-error *ngIf="(hetznerSettingsForm.controls.token.hasError('minlength')
                      || hetznerSettingsForm.controls.token.hasError('maxlength'))">
      Tokens must be exactly <strong>64</strong> characters long.
    </mat-error>
  </mat-form-field>
</form>
