@import "../../assets/css/colors";
@import "../../assets/css/variables";

.km-key-publickey {
  padding: 0 !important;
}

.km-sshkey-item-actions {
  display: flex;
  justify-content: flex-end;
}

.km-publickey-wrapper {
  background-color: $light-background;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.1);
  padding: 15px 30px 20px 60px;

  .km-publickey-content {
    .km-publickey-name {
      text-transform: uppercase;
      color: $text-color;
      line-height: 30px;
    }

    .km-publickey {
      font-size: $caption-font-size-base;
      line-height: 18px;
      word-break: break-all;
    }
  }
}
