@import "../../assets/css/colors";
@import "../../assets/css/variables";

.km-key-publickey {
  padding: 0 !important;
}

.km-sshkey-item-actions {
  display: flex;
  justify-content: flex-end;
}

.km-publickey-wrapper {
  background-color: $light-background;
  box-shadow: $border-box-shadow-inset;
  padding: (1.875 * $baseline-grid) (3.75 * $baseline-grid) (2.5 * $baseline-grid) (7.5 * $baseline-grid);

  .km-publickey-content {
    .km-publickey-name {
      text-transform: uppercase;
      color: $text-color;
      line-height: 3 * $line-height;
    }

    .km-publickey {
      font-size: $caption-font-size-base;
      line-height: 1.8 * $line-height;
      word-break: break-all;
    }
  }
}
