// global cleanup

.ssh-key-header {
  background: #f7f7f9;
  color: #000;
}

.ssh-key-name {
  padding-left: 5px;
}

.ssh-key-action {
  cursor: pointer;
}

.ssh-key-publickey {
  padding: 5px;
  word-wrap: break-word;
  color: #000;
}


// global duplicated
.km-spinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
