@import "../../assets/css/colors";
@import "../../assets/css/variables";

.km-key-publickey {
  padding: 0 !important;
}

.km-sshkey-item-actions {
  display: flex;
  justify-content: flex-end;
}

.km-publickey-wrapper {
  background-color: $light-background;
  padding: 23px 20px 15px;

  .km-publickey-content {
    .km-publickey-name {
      font-weight: 500;
      text-transform: uppercase;
      color: $text-color;
      padding: 10px 24px;
      line-height: 30px;
    }

    .km-publickey {
      padding: 15px 20px;
      font-size: $caption-font-size-base;
      line-height: 18px;
      word-break: break-all;
    }
  }
}
