@import "../../../../assets/css/colors";
@import "../../../../assets/css/variables";

.km-short-name-box {
  display: flex;
}

.km-short-name-circle-wrapper {
  margin-left: -0.625 * $baseline-grid;
}

.km-short-name-circle {
  display: flex;
  width: 4 * $baseline-grid;
  height: 4 * $baseline-grid;
  line-height: 3 * $line-height;
  text-align: center;
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  &:first-child {
    margin-left: 0;
  }
}
