<div>
  <md-toolbar>
    <div class="md-toolbar">
      <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
      <h4 class="modal-title" id="myModalLabel">Delete Node confirmation</h4>
    </div>
    <button md-icon-button md-dialog-close>
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
  </md-toolbar>


  <md-dialog-content>
      <div class="md-dialog-content">
        <p>You are on the way to delete the node "{{ nodeName }}". Deletion of nodes cannot be UNDONE!</p>
      </div>
  </md-dialog-content>
  <md-dialog-actions>
    <button md-dialog-close md-raised-button >
      close
    </button>
    <button (click)="deleteNode(nodeName)" md-dialog-close md-raised-button color="primary" class="md-primary">
      delete
    </button>
  </md-dialog-actions>
</div>
