@import '../../../assets/css/variables';

.km-floating-ip-checkbox {
  font-size: $font-size-body;
  display: flex;
  line-height: $baseline-grid * 4;
  margin: ($baseline-grid * 2) 0 ($baseline-grid * 2);
  width: 100%;
}

.km-custom-disk-size {
  height: 51px;
  display: flex;

  .mat-checkbox {
    margin-top: auto;
    margin-bottom: auto;
  }
}

::ng-deep .km-floating-ip-checkbox .mat-checkbox-label,
::ng-deep .km-custom-disk-size .mat-checkbox-label {
  display: flex;
  align-items: center;
}

.km-icon-info {
  margin-left: 0.625 * $baseline-grid;
}
