<form [formGroup]="form"
      fxLayout="column">
  <div fxFlex
       class="mat-select-container">
    <div fxLayout="row"
         fxLayoutGap="10px">
      <mat-form-field>
        <mat-label>{{getFlavorsFormState()}}</mat-label>
        <input matInput
               formControlName="flavor"
               name="flavor"
               [placeholder]="getFlavorsFormState()"
               [matAutocomplete]="autoFlavors">
        <mat-autocomplete #autoFlavors="matAutocomplete">
          <mat-option *ngFor="let flavor of filteredFlavors"
                      [value]="flavor.slug">
            {{flavor.slug}} - {{ flavor.memory / 1024 }} GB RAM, {{ flavor.vcpus }} CPU{{ (flavor.vcpus!=1) ? 's' : '' }}, {{ flavor.disk }} GB Disk
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="form.controls.flavor.hasError('mustBeInList') && !form.controls.flavor.hasError('required')">Input doesn't match options. Please choose from given options.</mat-error>
        <mat-error *ngIf="form.controls.flavor.hasError('required')">Flavor is <strong>required</strong>.</mat-error>
        <mat-hint *ngIf="showFlavorHint()">Please enter a valid token first.</mat-hint>
      </mat-form-field>
      <div class="km-custom-disk-size">
        <mat-checkbox id="customDiskSize"
                      formControlName="customDiskSize">
          Custom disk
          <i class="km-icon-info km-custom-disk-size-info-icon"
             matTooltip="If you enable custom disk, an additional network storage volume will be created and used as the disk for the VM."></i>
        </mat-checkbox>
      </div>
    </div>

    <ng-container *ngIf="!!form.controls.customDiskSize.value">
      <mat-form-field>
        <mat-label>Disk Size in GB</mat-label>
        <input matInput
               formControlName="disk_size"
               min="10"
               max="16000"
               type="number"
               autocomplete="off">
        <mat-hint>An additional network storage volume will be created and used as the disk for the VM.</mat-hint>
      </mat-form-field>
    </ng-container>
  </div>

  <div class="km-floating-ip-checkbox">
    <mat-checkbox fxFlex="50%"
                  formControlName="useFloatingIP">
      Allocate Floating IP
      <i *ngIf="isFloatingIPEnforced()"
         class="km-icon-info"
         matTooltip="Floating IP usage is enforced by selected datacenter"></i>
    </mat-checkbox>
  </div>

  <mat-form-field>
    <mat-label>Image*</mat-label>
    <input matInput
           formControlName="image"
           autocomplete="off">
  </mat-form-field>
</form>
