<form [formGroup]="osNodeForm"
      fxLayout="column">
  <div fxFlex
       class="mat-select-container">
    <mat-form-field class="km-with-hint">
      <mat-label>{{getFlavorsFormState()}}</mat-label>
      <mat-select formControlName="flavor"
                  disableOptionCentering
                  [panelClass]="isInWizard() ? '' : 'km-add-dialog-dropdown'"
                  [placeholder]="getFlavorsFormState()">
        <mat-option *ngFor="let flavor of flavors"
                    [value]="flavor.slug">
          {{flavor.slug}} - {{ flavor.memory / 1024 }} GB RAM, {{ flavor.vcpus }} CPU{{ (flavor.vcpus!=1) ? 's' : '' }}, {{ flavor.disk }} GB Disk
        </mat-option>
      </mat-select>
      <mat-hint *ngIf="showFlavorHint()">Please enter a valid token first.</mat-hint>
    </mat-form-field>
    <div class="km-floating-ip-checkbox">
      <mat-checkbox fxFlex="50%"
                    formControlName="useFloatingIP">
        Allocate Floating IP
        <i *ngIf="isFloatingIPEnforced()"
           class="fa fa-info-circle km-floating-ip-checkbox-info-icon"
           matTooltip="Floating IP usage is enforced by selected datacenter"></i>
      </mat-checkbox>
    </div>
  </div>
</form>
