<form [formGroup]="osNodeForm"
      fxLayout="column">
  <div fxFlex
       class="mat-select-container">
    <div fxLayout="row"
         fxLayoutGap="10px">
      <mat-form-field class="km-with-hint">
        <mat-label>{{getFlavorsFormState()}}</mat-label>
        <mat-select formControlName="flavor"
                    disableOptionCentering
                    [panelClass]="isInWizard() ? '' : 'km-add-dialog-dropdown'"
                    [placeholder]="getFlavorsFormState()">
          <mat-option *ngFor="let flavor of flavors"
                      [value]="flavor.slug">
            {{flavor.slug}} - {{ flavor.memory / 1024 }} GB RAM, {{ flavor.vcpus }} CPU{{ (flavor.vcpus!=1) ? 's' : '' }}, {{ flavor.disk }} GB Disk
          </mat-option>
        </mat-select>
        <mat-hint *ngIf="showFlavorHint()">Please enter a valid token first.</mat-hint>
      </mat-form-field>
      <ng-container *ngIf="!osNodeForm.controls.disk_size.value">
        <button mat-flat-button
                fxFlex="22"
                class="mat-primary km-change-disk-button"
                type="button"
                (click)="osNodeForm.controls.disk_size.setValue(50)">Change disk size</button>
      </ng-container>
    </div>

    <ng-container *ngIf="!!osNodeForm.controls.disk_size.value">
      <mat-form-field>
        <mat-label>Disk Size in GB</mat-label>
        <input matInput
               formControlName="disk_size"
               min="10"
               max="16000"
               type="number"
               autocomplete="off">
        <mat-hint>If you change the disk size, an additional network storage volume will be created and used as the disk for the VM.</mat-hint>
      </mat-form-field>
    </ng-container>

    <div class="km-floating-ip-checkbox">
      <mat-checkbox fxFlex="50%"
                    formControlName="useFloatingIP">
        Allocate Floating IP
        <i *ngIf="isFloatingIPEnforced()"
           class="fa fa-info-circle km-floating-ip-checkbox-info-icon"
           matTooltip="Floating IP usage is enforced by selected datacenter"></i>
      </mat-checkbox>
    </div>
  </div>
</form>
