@import '../../../assets/css/colors';
@import '../../../assets/css/variables';

.km-floating-ip-checkbox {
  font-size: 14px;
  display: flex;
  line-height: $baseline-grid * 4;
  margin: ($baseline-grid / 2) 0 ($baseline-grid * 2);
  width: 100%;
}

.km-floating-ip-checkbox-info-icon {
  color: $light-text-color;
  padding-left: $baseline-grid / 2;
  position: relative;
}
