.km-node-row {
  margin-bottom: 10px;
  border-bottom: 1px solid #E3E8EC;
  padding-bottom: 10px;
  div:first-child {
    padding-left: 8px;
  }

  div:last-child {
    padding-right: 8px;
  }
}

button {
  float: right;
}

.health-state {
  i.red {
    color: #ff5454;
  }

  i.green {
    color: #79c447;
  }
}


.km-delete-node {
  float: right;
  color: #0288d1;
  border:1px solid #0288d1;
  border-radius: 0;
}
