.km-node-row {
  margin-bottom: 10px;
  border-bottom: 1px solid #E3E8EC;
  padding-bottom: 10px;
  div:first-child {
    padding-left: 8px;
  }

  div:last-child {
    padding-right: 8px;
  }
}

.km-single-node {
  line-height: 38px;
}

.km-conditionsMessage {
  border-top: 1px solid rgba(227,232,236, 0.3);
  margin-top: 10px;
  p {
    margin: 10px auto 0;
    color: #ff5454;
  }
}

button {
  float: right;
}

.health-state {
  text-align: center;

  i.red {
    color: #ff5454;
  }

  i.green {
    color: #79c447;

  }

  i.orange {
    color: orange;
  }
}


.km-delete-node {
  float: right;
  color: #0288d1;
  border:1px solid #0288d1;
  border-radius: 0;
}
