<div  class="km-node-row">
  <div fxLayout class="km-single-node">
    <div fxFlex="5%">{{index}}</div>
    <div fxFlex="25%">
      {{node.metadata.name}}
    </div>

    <div fxFlex="10%">
      <span *ngIf="!!node.status.allocatable"> {{node.status.allocatable.cpu}} CPU, {{node.status.allocatable.memory | uppercase }}</span>
    </div>
    <div fxFlex="25%">
      <span *ngIf="!!node.status.nodeInfo">{{node.status.nodeInfo.kubeletVersion}}</span>
    </div>
    <div fxFlex="15%">
      {{node.metadata.annotations["node.k8s.io/public-ip"]}}
    </div>
    <div fxFlex="10%" class="health-state">
        <i [ngClass]="getNodeHealth()"></i>
    </div>
    <div >
      <button md-button (click)="deleteNodeDialog()" md-raised-button >Delete Node</button>
    </div>
  </div>
  <div fxLayout *ngIf="conditionsMessage" class="km-conditionsMessage">
    <p color="accent">{{conditionsMessage}}</p>
  </div>
</div>

