<div class="row card-block">
  <div class="col-4">
    {{node.metadata.name}}
  </div>
  <div class="col-1">
    {{node.status.cpu}} CPU, {{node.status.memory | uppercase }}
  </div>
  <div class="col-2">
    <span *ngIf="node.status.versions">{{node.status.versions.os}}</span>
  </div>
  <div class="col-2">
    {{node.status.addresses.public}}
  </div>
  <div class="col-2 health-state">
      <i class="fa fa-dot-circle-o" [class.green]="node.status.condition.healthy"></i>
  </div>
  <div class="col-1">
    <kubermatic-node-delete-confirmation [nodeName]="node.metadata.name" [nodeUID]="node.metadata.uid" [clusterName]="clusterName" [seedDcName]="seedDcName"></kubermatic-node-delete-confirmation>

  </div>
</div>
