<form [formGroup]="packetNodeForm"
      fxLayout="column">
  <div fxFlex
       class="mat-select-container">
    <mat-form-field>
      <mat-label>Node Size*</mat-label>
      <mat-select formControlName="type"
                  [panelClass]="isInWizard() ? '' : 'km-add-dialog-dropdown'"
                  disableOptionCentering>
        <mat-option *ngFor="let type of instanceTypes"
                    [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-form-field>
    <mat-label>Tags</mat-label>
    <input matInput
           id="tags"
           formControlName="tags">
    <mat-hint>Seperate tags with commas.</mat-hint>
  </mat-form-field>
</form>
