<form [formGroup]="form"
      fxLayout="column">
  <div fxFlex
       class="mat-select-container">
    <mat-form-field>
      <mat-label>{{getSizesFormState()}}</mat-label>
      <mat-select formControlName="size"
                  disableOptionCentering
                  [panelClass]="isInWizard() ? '' : 'km-add-dialog-dropdown'"
                  [placeholder]="getSizesFormState()">
        <mat-option *ngFor="let size of sizes"
                    [value]="size.name">
          {{size.name}} {{getPlanDetails(size)}}
        </mat-option>
      </mat-select>
      <mat-hint *ngIf="showSizeHint()">Please enter a valid API Key and Project ID first.</mat-hint>
    </mat-form-field>
  </div>

  <mat-form-field>
    <mat-label>Tags</mat-label>
    <input matInput
           id="tags"
           formControlName="tags">
    <mat-hint>Seperate tags with commas.</mat-hint>
  </mat-form-field>
</form>
