<form [formGroup]="form"
      fxLayout="column">
  <div fxFlex
       class="mat-select-container">
    <mat-form-field>
      <mat-label>{{getSizesFormState()}}</mat-label>
      <input matInput
             formControlName="size"
             name="size"
             [placeholder]="getSizesFormState()"
             [matAutocomplete]="autoSizes">
      <mat-autocomplete #autoSizes="matAutocomplete">
        <mat-option *ngFor="let size of filteredSizes"
                    [value]="size.name">
          {{size.name}} {{getPlanDetails(size)}}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="form.controls.size.hasError('mustBeInList') && !form.controls.size.hasError('required')">Input doesn't match options. Please choose from given options.</mat-error>
      <mat-error *ngIf="form.controls.size.hasError('required')">Size is <strong>required</strong>.</mat-error>
      <mat-hint *ngIf="showSizeHint()">Please enter a valid API Key and Project ID first.</mat-hint>
    </mat-form-field>
  </div>
</form>
