<div fxLayout="column">
  <div fxLayout="row"
       fxLayout.md="column"
       fxLayout.sm="column"
       fxLayout.xs="column"
       fxLayoutGap="30px">
    <mat-card fxFlex="50%">
      <mat-card-header>
        <mat-card-title class="km-color-primary">Provider Credentials</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <kubermatic-cluster-provider-settings [cluster]="cluster"></kubermatic-cluster-provider-settings>
      </mat-card-content>
    </mat-card>
    <mat-card class="node-settings-card"
              fxFlex="50%">
      <mat-card-header>
        <mat-card-title class="km-color-primary">Node Settings</mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="column">
        <kubermatic-node-data [cluster]="cluster"
                              [nodeData]="nodeData"
                              [existingNodesCount]="0"
                              isInWizard="true"></kubermatic-node-data>
        <kubermatic-cluster-ssh-keys [cluster]="cluster"
                                     [selectedKeys]="clusterSSHKeys"></kubermatic-cluster-ssh-keys>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="km-wizard-settings-extended-wrapper"
       *ngIf="!cluster.spec.cloud.hetzner && !cluster.spec.cloud.bringyourown && !isExtended"
       fxFlex>
    <div class="km-wizard-settings-extended-divider"
         fxFlex>
    </div>
    <div class="km-wizard-settings-extended-btn"
         (click)="extend()">
      <span>Show extended options&nbsp;</span>
      <i class="km-icon-arrow-down"></i>
    </div>
    <div class="km-wizard-settings-extended-divider"
         fxFlex>
    </div>
  </div>
</div>
