<div fxLayout="column">

  <div fxLayout="row"
       fxLayout.md="column"
       fxLayout.sm="column"
       fxLayout.xs="column"
       fxLayoutGap="30px">
    <mat-card class="km-card-transparent"
              fxFlex="50%"
              fxFlex.md="100%"
              fxFlex.sm="100%"
              fxFlex.xs="100%">
      <mat-card-header>
        <mat-card-title>Provider Credentials</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <kubermatic-cluster-provider-settings [cluster]="cluster"
                                              [clusterSSHKeys]="clusterSSHKeys"></kubermatic-cluster-provider-settings>
      </mat-card-content>
    </mat-card>
    <mat-card class="node-settings-card km-card-transparent"
              fxFlex="50%"
              fxFlex.md="100%"
              fxFlex.sm="100%"
              fxFlex.xs="100%">
      <mat-card-header>
        <mat-card-title>Node Settings</mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="column">
        <kubermatic-node-data [cluster]="cluster"
                              [nodeData]="nodeData"
                              [existingNodesCount]="0"
                              isInWizard="true"></kubermatic-node-data>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="km-wizard-settings-extended-wrapper"
       *ngIf="!cluster.spec.cloud.hetzner && !cluster.spec.cloud.kubevirt && !cluster.spec.cloud.bringyourown"
       fxFlex>
    <div class="km-wizard-settings-extended-divider"
         fxFlex>
    </div>
    <div class="km-wizard-settings-extended-btn"
         (click)="extend()">
      <span *ngIf="!isExtended">Show extended options&nbsp;</span>
      <span *ngIf="isExtended">Hide extended options&nbsp;</span>
      <i [ngClass]="isExtended ? 'km-icon-arrow-up' : 'km-icon-arrow-down'"></i>
    </div>
    <div class="km-wizard-settings-extended-divider"
         fxFlex>
    </div>
  </div>

  <kubermatic-extended-options [cluster]="cluster"
                               [nodeData]="nodeData"
                               [isExtended]="isExtended"></kubermatic-extended-options>

</div>
