<ng-container>
  <div fxLayout="row"
       fxLayout.md="column"
       fxLayout.sm="column"
       fxLayout.xs="column"
       fxLayoutGap="20px">
    <mat-card fxFlex>
      <mat-card-header>
        <mat-card-title>
          <h4>
            Provide credentials
          </h4>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <kubermatic-cluster-provider-settings [cluster]="cluster"></kubermatic-cluster-provider-settings>
      </mat-card-content>
    </mat-card>
    <mat-card class="node-settings-card" fxFlex>
      <mat-card-header>
        <mat-card-title>
          <h4>
            Node settings
          </h4>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="column">
        <kubermatic-add-node [cluster]="cluster" [nodeData]="nodeData" [initialNode]="true"></kubermatic-add-node>
        <kubermatic-cluster-ssh-keys [cluster]="cluster" [selectedKeys]="clusterSSHKeys"></kubermatic-cluster-ssh-keys>
      </mat-card-content>
    </mat-card>
  </div>
</ng-container>
