<div>
  <md-toolbar>
    <div class="md-toolbar">
      <h4 class="modal-title" id="myModalLabel">Add sshKey </h4>
    </div>
    <button md-icon-button md-dialog-close>
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
  </md-toolbar>
  <md-dialog-content>
    <div class="md-dialog-content">
      <form [formGroup]="addSSHKeyForm" novalidate>

        <md-input-container class="km-ssh-key-textarea" [ngClass]="{'has-danger': !addSSHKeyForm.controls.key.valid && addSSHKeyForm.controls.key.touched, 'has-success': addSSHKeyForm.controls.key.valid}">
          <textarea id="key" mdInput formControlName="key" type="text" class="form-control" (change)="onNewKeyTextChanged()" placeholder="Key"></textarea>
          <small class="form-text text-muted">Remember to past only the public part of your SSH key and store the private part safely.</small>
        </md-input-container>

        <md-input-container class="km-ssh-key-input" [ngClass]="{'has-danger': !addSSHKeyForm.controls.name.valid && addSSHKeyForm.controls.name.touched, 'has-success': addSSHKeyForm.controls.name.valid}">
          <input id="name" mdInput formControlName="name" type="text" placeholder="Name">
          <small class="form-text text-muted">The unique name of your SSH key</small>
        </md-input-container>
      </form>

    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <button md-dialog-close md-raised-button>
      close
    </button>
    <button (click)="addSSHKey()" md-raised-button color="primary" class="md-primary" [disabled]="!addSSHKeyForm.valid">
      add key
    </button>
  </md-dialog-actions>
</div>
