@import "../../../../assets/css/variables";

.mat-card.km-with-table-header .mat-card-header {
  padding-left: 0;
  cursor: pointer;
}

.km-toggled-rbac {
  padding-bottom: $baseline-grid;

  mat-card-header {
    border-radius: $border-radius;
  }
}

h2 {
  font-weight: normal;
  font-size: $font-size-card-title;
  padding: 0 (7 * $baseline-grid);
  margin-bottom: 0;
}

tr th:first-child,
tr td:first-child {
  padding-left: 7 * $baseline-grid !important;
}

tr:last-child th:last-child,
.km-table td:last-child {
  padding-right: 7 * $baseline-grid;
}

.km-table-actions {
  float: right;
}

.km-table i.kind {
  margin-right: 0.626 * $baseline-grid;
  width: 3.125 * $baseline-grid;
  height: 3.125 * $baseline-grid;
  display: inline-block;
  vertical-align: middle;
  background-color: #203f58;
}
