<div class="km-dialog-box">
  <div mat-dialog-title
       fxLayoutAlign=" center">
    <span>Add Machine Networks</span>
    <span fxFlex></span>
    <button mat-icon-button
            mat-dialog-close>
      <i class="fa fa-times"
         aria-hidden="true"></i>
    </button>
  </div>

  <mat-dialog-content>
    <kubermatic-machine-networks [cluster]="cluster"
                                 [width]="100"
                                 [isWizard]="false"></kubermatic-machine-networks>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-dialog-close
            mat-flat-button
            color="alternative">>
      Close
    </button>
    <button (click)="addMachineNetworks()"
            mat-flat-button
            [disabled]="!isValid()">
      Add
    </button>
  </mat-dialog-actions>
</div>
