<mat-card class="km-add-ssh-key">
  <mat-card-header>
    <mat-card-title>Add SSH Key</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="addSSHKeyForm" novalidate>

      <mat-input-container class="km-ssh-key-textarea" >
        <textarea id="key" matInput formControlName="key" type="text" class="form-control" (change)="onNewKeyTextChanged()" placeholder="Key"></textarea>
        <small class="form-text text-muted">Remember to past only the public part of your SSH key and store the private part safely.</small>
      </mat-input-container>

      <mat-input-container class="km-ssh-key-input">
        <input id="name" matInput formControlName="name" type="text" placeholder="Name">
        <small class="form-text text-muted">The unique name of your SSH key</small>
      </mat-input-container>

      <button mat-raised-button color="primary" class="km-ssh-key-form-submit" (click)="addSSHKey()" [disabled]="!addSSHKeyForm.valid" >Add key</button>
    </form>
  </mat-card-content>
</mat-card>
