<mat-card class="km-add-ssh-key">
  <mat-card-header>
    <mat-card-title>Add SSH Key</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="addSSHKeyForm" novalidate>

      <mat-form-field class="km-ssh-key-textarea" >
        <textarea id="key" [errorStateMatcher]="inputValidationService" matInput formControlName="key" type="text" class="form-control" (change)="onNewKeyTextChanged()" placeholder="Key"></textarea>
        <mat-hint>Remember to past only the public part of your SSH key and store the private part safely.</mat-hint>
        <mat-error *ngIf="addSSHKeyForm.controls.key.hasError('required')">
          Key is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="km-ssh-key-input">
        <input id="name" [errorStateMatcher]="inputValidationService" matInput formControlName="name" type="text" placeholder="Name">
        <mat-hint class="form-text text-muted">The unique name of your SSH key</mat-hint>
        <mat-error *ngIf="addSSHKeyForm.controls.name.hasError('required')">
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" class="km-ssh-key-form-submit" (click)="addSSHKey()" [disabled]="!addSSHKeyForm.valid" >Add key</button>
    </form>
  </mat-card-content>
</mat-card>
