<km-alibaba-node-options *ngIf="cloudSpec.alibaba"
                         [nodeData]="nodeData"></km-alibaba-node-options>

<km-aws-node-options *ngIf="cloudSpec.aws"
                     [nodeData]="nodeData"></km-aws-node-options>

<km-azure-node-options *ngIf="cloudSpec.azure"
                       [nodeData]="nodeData"></km-azure-node-options>

<km-digitalocean-node-options *ngIf="cloudSpec.digitalocean"
                              [nodeData]="nodeData"
                              [isInWizard]="isInWizard"></km-digitalocean-node-options>

<km-gcp-node-options *ngIf="cloudSpec.gcp"
                     [nodeData]="nodeData"></km-gcp-node-options>

<km-openstack-node-options *ngIf="cloudSpec.openstack"
                           [nodeData]="nodeData"></km-openstack-node-options>

<km-packet-node-options *ngIf="cloudSpec.packet"
                        [nodeData]="nodeData"></km-packet-node-options>

<km-vsphere-node-options *ngIf="cloudSpec.vsphere"
                         [nodeData]="nodeData"
                         [cloudSpec]="cloudSpec"></km-vsphere-node-options>
