<div id="km-add-serviceaccount-token-dialog"
     class="km-dialog-box">
  <km-dialog-title title="Add Token to Service Account"></km-dialog-title>
  <mat-dialog-content>
    <div class="mat-dialog-content">
      <form [formGroup]="addServiceAccountTokenForm"
            fxLayout="column">

        <mat-form-field fxFlex>
          <input id="km-add-serviceaccount-token-dialog-name-input"
                 matInput
                 formControlName="name"
                 type="name"
                 placeholder="Name*"
                 autocomplete="off">
          <mat-error *ngIf="addServiceAccountTokenForm.controls.name.hasError('required')">
            Name is <strong>required</strong>.
          </mat-error>
        </mat-form-field>

      </form>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button id="km-add-serviceaccount-token-dialog-add-btn"
            mat-flat-button
            (click)="addServiceAccountToken()"
            [disabled]="!addServiceAccountTokenForm.valid">
      Add
    </button>
  </mat-dialog-actions>
</div>
