@import "../../../../../assets/css/colors";

button.km-project-sshkey {
  background-color: transparent;
  border: none;
  color: $primary;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 20px;
}
