@import "../../../../assets/css/variables";

.mat-flat-button {
  margin-left: 0 !important;
  padding: 0 $baseline-grid !important;
  font-weight: normal !important;
}

mat-card-header {
  margin-top: 2.5 * $baseline-grid;
}
