<h4>
  SSH keys
</h4>
<form [formGroup]="keysForm">
  <mat-form-field *ngIf="keys.length > 0">
    <mat-label>SSH Keys</mat-label>
    <mat-select formControlName="keys"
                multiple
                [compareWith]="compareValues">
      <mat-option *ngFor="let key of keys"
                  [value]="key">{{key.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button *ngIf="keys.length > 0"
          (click)="addSshKeyDialog()"
          class="km-wizard-ssh-key"
          mat-flat-button
          [disabled]="!!groupConfig && !groupConfig.sshKeys.create">Add new SSH key</button>
  <div *ngIf="keys.length === 0">
    <p>You have no SSH keys</p>
    <button (click)="addSshKeyDialog()"
            class="km-wizard-ssh-key"
            mat-flat-button
            [disabled]="!!groupConfig && !groupConfig.sshKeys.create">Add SSH key</button>
  </div>
</form>
