@import "../../../../assets/css/colors";
@import "../../../../assets/css/variables";

.mat-flat-button {
  margin-left: 0 !important;
  padding: 0 $baseline-grid;
}

mat-card-header {
  margin-top: 20px;
}

.km-wizard-ssh-key {
  color: $white-text-color;
  font-weight: normal;
  padding: 0 10px;
  margin-left: 0 !important;
}
