<mat-card-header>
  <mat-card-title>SSH keys</mat-card-title>
</mat-card-header>
<form [formGroup]="keysForm">
  <mat-form-field *ngIf="keys.length > 0">
    <mat-label>SSH Keys</mat-label>
    <mat-select formControlName="keys"
                multiple
                disableOptionCentering
                panelClass="km-sshkey-dropdown"
                [compareWith]="compareValues">
      <mat-option *ngFor="let key of keys"
                  [value]="key">{{key.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button *ngIf="keys.length > 0"
          (click)="addSshKeyDialog()"
          mat-flat-button
          color="primary"
          [disabled]="!!groupConfig && !groupConfig.sshKeys.create">Add SSH key</button>
  <div *ngIf="keys.length === 0">
    <p>You have no SSH keys</p>
    <button (click)="addSshKeyDialog()"
            mat-flat-button
            color="primary"
            [disabled]="!!groupConfig && !groupConfig.sshKeys.create">Add SSH key</button>
  </div>
</form>
