@import "../assets/css/colors";

$toolbar-margin: 45px;
$additional-margin: 20px;

kubermatic-root,
mat-sidenav-container {
  margin: 0;
  padding: 0;
  width: 100%;
  top: 0;
  bottom: 0;
  padding-top: $toolbar-margin;
  position: absolute;
}

mat-sidenav {
  margin: ($toolbar-margin + $additional-margin) $additional-margin $additional-margin;
}

.mat-sidenav {
  width: 210px;
  background-color: $medium-background;
  border: 0;
  color: $white-text-color;
}

.mat-sidenav-container {
  background-color: $grey-background;
  background-image: url("/assets/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.mat-input-wrapper {
  margin: 0;
}

.main .content {
  margin: 10px 2*$additional-margin;
}
