<main>
  <div>
    <kubermatic-navigation></kubermatic-navigation>
    <md-sidenav-container>
      <md-sidenav #sidenav >
        Side navigation
      </md-sidenav>

      <div class="example-sidenav-content">
        <button md-button (click)="sidenav.open()">
          Open sidenav
        </button>



        <kubermatic-notification></kubermatic-notification>

        <router-outlet></router-outlet>


      </div>

    </md-sidenav-container>


  <!--<header>
    <kubermatic-navigation></kubermatic-navigation>
  </header>



  <md-sidenav-container class="sidenav-container">
    <md-sidenav mode="side" opened="true" class="sidenav-content" >Drawer content</md-sidenav>
    <div class="my-content">

      <kubermatic-notification></kubermatic-notification>
      <div class="container al-main">
        <div class="row al-content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </md-sidenav-container>

  <footer class="al-footer clearfix">
    <div class="clearfix">
      <div class="al-copy">&copy; <a href="https://loodse.com">Loodse</a> 2017</div>
      <div class="pull-right">
        <ul class="al-share clearfix">
          <li><a href="https://www.twitter.com/loodse"><i class="fa fa-twitter"></i></a>
          </li>
          <li><a href="https://github.com/kubermatic/kubermatic"><i class="fa fa-github"></i></a>
          </li>
          <li><a href="http://slack.kubermatic.io/"><i class="fa fa-slack"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </footer>-->
  </div>
</main>
