@import "../assets/css/colors";
@import "../assets/css/variables";

kubermatic-root,
mat-sidenav-container {
  margin: 0;
  width: 100%;
  top: 0;
  bottom: 0;
  position: absolute;
}

.mat-input-wrapper {
  margin: 0;
}

.main {
  height: 100%;
  padding: 0 (2.5 * $baseline-grid);
}
