<main>
  <div>
    <div class="km-progress-bar-container">
      <mat-progress-bar id="km-top-progress-bar" mode="indeterminate"></mat-progress-bar>
    </div>

    <kubermatic-navigation></kubermatic-navigation>

    <kubermatic-notification></kubermatic-notification>

    <mat-sidenav-container>
      <mat-sidenav #sidenav opened disableClose mode="side" *ngIf="auth.authenticated()">
        <kubermatic-sidenav></kubermatic-sidenav>
      </mat-sidenav>

      <div class="main">
        <div class="content">
          <kubermatic-breadcrumbs *ngIf="auth.authenticated()"></kubermatic-breadcrumbs>
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-sidenav-container>
    <footer fxlayout>
      <div class="copyright">powered by <a href="https://loodse.com" target="_blank">Loodse <sup>®</sup></a></div>
      <div class="info right">
        <p class="info-item" *ngIf="config.show_demo_info">This is a <strong>demo system</strong></p>
        <p class="info-item seperator" *ngIf="config.show_demo_info && config.show_terms_of_service"> | </p>
        <p class="info-item clickable" *ngIf="config.show_terms_of_service" (click)="showTermsOfService()">Terms of Service</p>
      </div>
      <div class="footer-nav">
        <ul class="social">
          <li><a href="https://www.twitter.com/loodse" target="_blank"><i class="fa fa-twitter"></i></a>
          </li>
          <li><a href="https://github.com/kubermatic" target="_blank"><i class="fa fa-github"></i></a>
          </li>
          <li><a href="http://slack.kubermatic.io/" target="_blank"><i class="fa fa-slack"></i></a>
          </li>
        </ul>
      </div>
    </footer>
  </div>
</main>
