@import "../assets/css/variables";

km-root {
  margin: 0;
  width: 100%;
  top: 0;
  bottom: 0;
  position: absolute;
}

mat-sidenav-container {
  top: $toolbar-height;
  margin: 0;
  width: 100%;
  bottom: 0;
  position: absolute;
}

.mat-input-wrapper {
  margin: 0;
}

.km-main {
  height: 100%;
}
