<kubermatic-aws-add-node 
  *ngIf="provider && provider.name === 'aws'" 
  (nodeSpecChanges)="changeNodeModel($event)"
  (formChanges)="changeForm($event)"
  [initialNodes]="initialNodes">
</kubermatic-aws-add-node>

<kubermatic-digitalocean-add-node 
  *ngIf="provider && provider.name === 'digitalocean'" 
  (nodeSpecChanges)="changeNodeModel($event)"
  (formChanges)="changeForm($event)"
  [token]="provider.payload?.token"
  [initialNodes]="initialNodes">
</kubermatic-digitalocean-add-node>

<kubermatic-openstack-add-node 
  *ngIf="provider && provider.name === 'openstack'" 
  (nodeSpecChanges)="changeNodeModel($event)"
  (formChanges)="changeForm($event)"
  [initialNodes]="initialNodes">
</kubermatic-openstack-add-node>