mat-form-field.operating-system {
  margin-top: 20px;
}

div.os-options {
  width: 100%;
  line-height: 30px;
  font-size: 14px;
  display: flex;
  margin: 5px 0 10px;

  mat-checkbox, label {
    flex: 1 1 100%;
  }
}