<form [formGroup]="nodeForm" fxLayout="column">
  <mat-form-field fxFlex>
    <input matInput formControlName="count" min="1" type="number" placeholder="Number of nodes*:" autocomplete="off">
  </mat-form-field>

  <kubermatic-aws-add-node *ngIf="cluster.spec.cloud.aws" [cloudSpec]="cluster.spec.cloud" [nodeData]="nodeData"></kubermatic-aws-add-node>

  <kubermatic-digitalocean-add-node *ngIf="cluster.spec.cloud.digitalocean" [cloudSpec]="cluster.spec.cloud" [nodeData]="nodeData"></kubermatic-digitalocean-add-node>

  <kubermatic-openstack-add-node *ngIf="cluster.spec.cloud.openstack" [cloudSpec]="cluster.spec.cloud" [nodeData]="nodeData"></kubermatic-openstack-add-node>

  <kubermatic-hetzner-add-node *ngIf="cluster.spec.cloud.hetzner" [cloudSpec]="cluster.spec.cloud" [nodeData]="nodeData"></kubermatic-hetzner-add-node>

  <kubermatic-vsphere-add-node *ngIf="cluster.spec.cloud.vsphere" [cloudSpec]="cluster.spec.cloud" [nodeData]="nodeData"></kubermatic-vsphere-add-node>
  
  <kubermatic-azure-add-node *ngIf="cluster.spec.cloud.azure" [cloudSpec]="cluster.spec.cloud" [nodeData]="nodeData"></kubermatic-azure-add-node>

  <mat-form-field class="operating-system">
    <mat-select placeholder="Operating System*:" formControlName="operatingSystem">
      <mat-option value="ubuntu">Ubuntu</mat-option>
      <mat-option value="centos">CentOS</mat-option>
      <mat-option value="containerLinux" *ngIf="!cluster.spec.cloud.hetzner && !cluster.spec.cloud.openstack">Container Linux</mat-option>
    </mat-select>
    <mat-hint *ngIf="cluster.spec.cloud.openstack">Select the operating system of the entered image</mat-hint>
    <mat-hint *ngIf="cluster.spec.cloud.vsphere">Select the operating system of the entered template</mat-hint>
  </mat-form-field>
</form>

<form [formGroup]="operatingSystemForm" fxLayout="column">
  <div fxFlex="100%">
    <!-- Options for Ubuntu -->
    <div *ngIf="nodeForm.controls.operatingSystem.value === 'ubuntu'" class="os-options" [ngClass]="(cluster.spec.cloud.openstack || cluster.spec.cloud.vsphere) ? 'with-margin' : ''">
      <label fxFlex="50%">Upgrade system on first boot</label>
      <mat-checkbox fxFlex="50%" id="distUpgradeOnBootUbuntu" formControlName="distUpgradeOnBootUbuntu"></mat-checkbox>
    </div>

     <!-- Options for CentOS -->
    <div *ngIf="nodeForm.controls.operatingSystem.value === 'centos'" class="os-options" [ngClass]="(cluster.spec.cloud.openstack || cluster.spec.cloud.vsphere) ? 'with-margin' : ''">
      <label fxFlex="50%">Upgrade system on first boot</label>
      <mat-checkbox fxFlex="50%" id="distUpgradeOnBootCentos" formControlName="distUpgradeOnBootCentos"></mat-checkbox>
    </div>

    <!-- Options for Container Linux -->
    <div *ngIf="nodeForm.controls.operatingSystem.value === 'containerLinux'" class="os-options" [ngClass]="(cluster.spec.cloud.openstack || cluster.spec.cloud.vsphere) ? 'with-margin' : ''">
      <label fxFlex="50%">Disable auto-update</label>
      <mat-checkbox fxFlex="50%" id="disableAutoUpdate" formControlName="disableAutoUpdate"></mat-checkbox>
    </div>
  </div>
</form>

<form [formGroup]="nodeForm" fxLayout="column">
  <mat-form-field class="container-runtime">
    <mat-select placeholder="Container Runtime:" formControlName="containerRuntime">
      <mat-option value="docker">Docker</mat-option>
      <mat-option value="cri-o" *ngIf="nodeForm.controls.operatingSystem.value !== 'containerLinux'">CRI-O</mat-option>
    </mat-select>
  </mat-form-field>
</form>

<kubermatic-digitalocean-options *ngIf="cluster.spec.cloud.digitalocean && !hideOptional" [nodeData]="nodeData"></kubermatic-digitalocean-options>
