mat-form-field.operating-system {
  margin-top: 20px;
}

mat-form-field.container-runtime {
  margin-top: 10px;
}

div.os-options {
  width: 100%;
  line-height: 30px;
  font-size: 14px;
  display: flex;
  margin: 0 0 10px;

  mat-checkbox, label {
    flex: 1 1 100%;
  }

  &.with-margin {
    margin: 5px 0 10px;
  }
}

/deep/.mat-dialog-content {
  padding: 5px 24px;
}

/deep/.mat-dialog-container .mat-dialog-content .mat-input-wrapper {
  margin: 5px 0 0;
}