<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Create your Kubernetes cluster<br/> – in seconds – where you want.</h1>
    <p>
      Kubermatic will host your Kubernetes master as a Service.
      You can select the IaaS provider of your choice.
      Create nodes with ease, update them, scale up and down.
      Kubernetes made easy.
    </p>
    <p><a class="btn btn-success btn-lg" href="/create-cluster" role="button">Create Kubernetes Cluster</a></p>
  </div>
</div>

<div class="row">
  <!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <hr>

  <footer>
    <p>&copy; 2015 Kubematic, Inc.</p>
  </footer>
</div>
