<div class="container">
  <div class="row frontpage-container">
    <div class="col">
      <div class="frontpage-text">
        <img src="../../assets/images/logo/header-logo-kubermatic.png" width="100%" alt="Logo Kubermativ" style="max-width: 800px;">
        <h3 class="intro-lead-in">Create your Kubernetes cluster – in seconds – where you want.</h3>

          <p class="intro-lead-full">Kubermatic will host your Kubernetes master as a Service.
            You can select the IaaS provider of your choice.
            Create nodes with ease, update them, scale up and down.
            Kubernetes made easy.</p>
      </div>
    </div>
  </div>
</div>

