@import "../../assets/css/ng2admin/conf/conf";
@import "../../assets/css/bootstrap/variables";

.frontpage-container {
  padding: $top-height 0 0 0;
}

.frontpage-text {
  text-align: center;

  .intro-heading {
    @include titillium-font;
    font-size: 3rem;
    font-weight: $font-weight-bold;
    line-height: 40px;
    margin-bottom: 25px;
  }
  .intro-lead-in {
    font-size: $font-size-lg;
    line-height: 22px;
    margin-bottom: 25px;
  }
  .intro-lead-full {
    font-size: $font-size-base;
    line-height: 25px;
  }
}

@media(min-width:768px) {
  header {
    .frontpage-text {
      padding-top: 150px;
      padding-bottom: 150px;
      .intro-lead-in {
        font-style: italic;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px;
      }
      .intro-heading {
        font-size: 50px;
        line-height: 50px;
        margin-bottom: 50px;
      }
    }
  }
}
