<!-- Header -->
<header>
  <div class="container">
    <div class="intro-text">
      <div class="col-lg-12">
        <h1 class="intro-heading">Kubernetes Automatic</h1>
        <h3 class="intro-lead-in col-lg-8 col-lg-offset-2">Create your Kubernetes cluster – in seconds – where you want.</h3>
      </div>
      <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
        <button class="btn btn-lg btn-block space-50" type="button" (click)="auth.login()">Create a Kubernetes Cluster</button>
      </div>
    </div>
  </div>
</header>

<!-- Services Section -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Features</h2>
        <h3 class="col-lg-8 col-lg-offset-2 section-subheading text-muted">Kubermatic will host your Kubernetes master as a Service.
          You can select the IaaS provider of your choice.
          Create nodes with ease, update them, scale up and down.
          Kubernetes made easy.</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
        <h4 class="service-heading">Feature A</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
      <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
        <h4 class="service-heading">Feature B</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
      <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
        <h4 class="service-heading">Feature C</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
    </div>
  </div>
</section>

<!-- About Section -->
<section id="about" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About</h2>
        <h3 class="section-subheading text-muted">How Kubermatic works on 3 simple steps</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <i class="fa fa-sign-in fa-4x fa-inverse"></i>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Step 1</h4>
                <h4 class="subheading">Sign up</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">You can create an account in two simple steps by either entering your email and a password or using your Google or Github account.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <i class="fa fa-hdd-o fa-4x fa-inverse"></i>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Step 2</h4>
                <h4 class="subheading">Create a Kubernetes Cluster</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Spin up a new Kubernetes Cluster by choosing your preferred datacenter for your Kubernetes Master.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <i class="fa fa-line-chart fa-4x fa-inverse"></i>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Step 3</h4>
                <h4 class="subheading">Add nodes to your cluster</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">You can scale your Kubernetes Cluster anytime by adding new nodes either on the same datacenter or in a different datacenter than your master.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-ending">
              <h4>Start your
                <br>cluster
                <br>now!</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- Clients Aside -->
<aside class="clients">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
         <span class="fa-stack fa-3x">
                <i class="fa fa-circle fa-stack-2x text-muted"></i>
                <i class="fa fa-gitlab fa-stack-1x fa-inverse"></i>
        </span>
      </div>
      <div class="col-md-3 col-sm-6">
         <span class="fa-stack fa-3x">
                <i class="fa fa-circle fa-stack-2x text-muted"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
        </span>
      </div>
      <div class="col-md-3 col-sm-6">
         <span class="fa-stack fa-3x">
                <i class="fa fa-circle fa-stack-2x text-muted"></i>
                <i class="fa fa-git fa-stack-1x fa-inverse"></i>
        </span>
      </div>
      <div class="col-md-3 col-sm-6">
         <span class="fa-stack fa-3x">
                <i class="fa fa-circle fa-stack-2x text-muted"></i>
                <i class="fa fa-gratipay fa-stack-1x fa-inverse"></i>
        </span>
      </div>
    </div>
  </div>
</aside>

<div class="footer container bg-light-gray col-lg-12">
  <div class="row">
    <div class="col-md-4">
      <a href="https://loodse.com/en/" title="Startseite">
        <img src="https://w3alpha.com/cms/templates/166/img/footer_logo.svg" width="160" alt="Logo loodse.com">
      </a>
    </div>
    <div class="col-md-4">
      <ul class="list-inline social-buttons">
        <li><a href="https://www.twitter.com/loodse"><i class="fa fa-twitter"></i></a>
        </li>
        <li><a href="https://github.com/kubermatic/kubermatic"><i class="fa fa-github"></i></a>
        </li>
        <li><a href="http://slack.kubermatic.io/"><i class="fa fa-slack"></i></a>
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul class="list-inline quicklinks">
        <li><a href="#">Privacy Policy</a>
        </li>
        <li><a href="#">Terms of Use</a>
        </li>
      </ul>
    </div>
  </div>
</div>

