@import "../../../assets/css/colors";

div, p {
  height: 100%;
}

p {
  display: flex;
  align-items: center;

  &.km-icon {
    justify-content: flex-end;
    padding-right: 20px;
  }
}
