<div class="row" [ngClass]="getProjectItemClass()" (click)="selectProject()">
  <div fxLayout>
    <div fxFlex="50%" fxFlex.xs="40%">
      <p class="project-name">{{ project.name }}</p>
    </div>
    <div fxFlex="40%" fxFlex.sm="20.66%" fxFlex.xs="25%" fxLayoutAlign="left center">
      <p class="project-status">{{ project.status }}</p>
    </div>
    <div fxFlex="10%" fxHide.sm fxHide.xs>
      <p class="km-icon">
        <button class="iconDelete black" (click)="deleteProject()" [disabled]="userGroup !== 'owners'"></button>
      </p>
    </div>
  </div>
</div>
