<div class="km-row" [ngClass]="getProjectItemClass()" (click)="selectProject()">
  <div fxLayout>
    <div fxFlex="3%">
      <div class="km-health-state">
        <i [matTooltip]="project.status" [ngClass]="projectService.getProjectStateIconClass()"></i>
      </div>
    </div>
    <div fxFlex="80%">
      <p [attr.id]="'km-project-name-' + project.name" class="project-name">{{ project.name }}</p>
    </div>
    <div fxFlex="17%" class="km-project-item-actions">
      <p class="km-icon">
        <button [attr.id]="'km-delete-project-' + project.name"
                class="km-icon-delete black"
                (click)="deleteProject()"
                [disabled]="!!userGroup && !userGroupConfig[userGroup].projects.delete"></button>
      </p>
    </div>
  </div>
</div>
