@import "../../../assets/css/colors";

.km-row {
  height: 40px;
  cursor: pointer;

  &:hover {
    background-color: $light-background !important;
  }

  div,
  p {
    height: 100%;
  }
}

p {
  display: flex;
  align-items: center;

  &.km-icon {
    padding-right: 20px;

    .km-icon-edit {
      margin-right: 15px;
    }

    .km-icon-edit,
    .km-icon-delete {
      height: 21px;
      width: 21px;
    }
  }
}

.km-project-item-actions {
  justify-content: flex-end;
  display: flex;
}

.km-health-state {
  margin-right: 6px;
  text-align: center;

  i.red {
    color: $warning-status-color;
  }

  i.green {
    color: $healthy-status-color;
  }

  i.orange {
    color: $waiting-status-color;
  }
}
