<form [formGroup]="digitaloceanProviderSettingsForm"
      fxLayout="column">
  <mat-form-field fxFlex>
    <mat-label>API Token*</mat-label>
    <input matInput
           formControlName="token"
           name="token"
           type="password"
           autocomplete="off">
    <mat-error *ngIf="(digitaloceanProviderSettingsForm.controls.token.hasError('minlength') || digitaloceanProviderSettingsForm.controls.token.hasError('maxlength'))">
      DigitalOcean Personal Access Tokens must be exactly <strong>64</strong> characters long.
    </mat-error>
    <mat-error *ngIf="digitaloceanProviderSettingsForm.controls.token.hasError('required')">
      API Token is <strong>required</strong>.
    </mat-error>
  </mat-form-field>
</form>
