<km-aws-provider-options *ngIf="cluster.spec.cloud.aws"
                         [cluster]="cluster"></km-aws-provider-options>

<km-azure-provider-options *ngIf="cluster.spec.cloud.azure"
                           [cluster]="cluster"></km-azure-provider-options>

<km-gcp-provider-options *ngIf="cluster.spec.cloud.gcp"
                         [cluster]="cluster"></km-gcp-provider-options>

<km-openstack-provider-options *ngIf="cluster.spec.cloud.openstack"
                               [cluster]="cluster"></km-openstack-provider-options>

<km-vsphere-provider-options *ngIf="cluster.spec.cloud.vsphere"
                             [cluster]="cluster"></km-vsphere-provider-options>
