<form [formGroup]="form"
      fxLayout="column"
      fxLayoutGap="16px">
  <mat-form-field fxFlex>
    <mat-label>Access Key ID</mat-label>
    <input matInput
           [formControlName]="controls.AccessKeyID"
           [name]="controls.AccessKeyID"
           type="password"
           autocomplete="off"
           required>
    <mat-error *ngIf="form.get(controls.AccessKeyID).hasError('required')">
      Access Key ID is <strong>required</strong>.
    </mat-error>
  </mat-form-field>

  <mat-form-field fxFlex>
    <mat-label>Access Key Secret</mat-label>
    <input matInput
           [formControlName]="controls.AccessKeySecret"
           [name]="controls.AccessKeySecret"
           type="password"
           autocomplete="off"
           required>
    <mat-error *ngIf="form.get(controls.AccessKeySecret).hasError('required')">
      Access Key Secret is <strong>required</strong>.
    </mat-error>
  </mat-form-field>
</form>
