@use 'mixins';

.entry-label {
  align-items: center;
  display: flex;
  line-height: 64px;
  min-width: 200px;

  span {
    margin-right: 5px;
  }
}

.toggle-button {
  .mat-button-toggle {
    @include mixins.size(140px, 50px, true);

    margin: 10px 10px 10px 0;
  }
}
