<div id="km-edit-project-dialog"
     class="km-dialog-box">
  <km-dialog-title title="Edit Project"></km-dialog-title>
  <mat-dialog-content>
    <div class="mat-dialog-content">
      <form [formGroup]="editProjectForm"
            fxLayout="column">
        <mat-form-field fxFlex>
          <input id="km-edit-project-dialog-input"
                 matInput
                 formControlName="name"
                 type="text"
                 placeholder="Name*"
                 autocomplete="off">
          <mat-error *ngIf="editProjectForm.controls.name.hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>

      </form>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-dialog-close
            mat-flat-button
            color="alternative">
      Close
    </button>
    <button id="km-edit-project-dialog-edit-btn"
            mat-flat-button
            (click)="editProject()"
            [disabled]="!editProjectForm.valid">
      Edit
    </button>
  </mat-dialog-actions>
</div>
