@import "../../assets/css/variables";

.mat-card {
  padding: 0 $baseline-grid;
}

.km-button-navigation {
  margin-top: 5 * $baseline-grid;
}

@include km-breakpoint('small') {
  ::ng-deep.mat-horizontal-stepper-header-container {
    display: none !important;
  }

  ::ng-deep.mat-card-title {
    margin-top: 2.5 * $baseline-grid !important;
  }
}
