:host {
  display: flex;
  flex: 0;
  flex-direction: row;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  appearance: none;
}

.km-stepper-button {
  height: 59.5px;
  width: 30px;

  &.mat-icon-button {
    margin: 4px 0 0;

    &.left {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }

    &.right {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }
}

.mat-form-field {
  min-width: 150px;
}
