<div id="km-add-project-dialog">
  <km-dialog-title title="Add Project"></km-dialog-title>
  <mat-dialog-content>
    <div class="mat-dialog-content">
      <form [formGroup]="addProjectForm"
            fxLayout="column">
        <mat-form-field fxFlex>
          <mat-label>Name*</mat-label>
          <input id="km-add-project-dialog-input"
                 matInput
                 formControlName="name"
                 type="text"
                 autocomplete="off"
                 cdkFocusInitial>
          <mat-error *ngIf="addProjectForm.controls.name.hasError('required')">
            Name is <strong>required</strong>.
          </mat-error>
        </mat-form-field>
      </form>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button id="km-add-project-dialog-save"
            mat-flat-button
            (click)="addProject()"
            [disabled]="!addProjectForm.valid">
      Save
    </button>
  </mat-dialog-actions>
</div>
