@import "../../../../assets/css/colors";

.mat-dialog-container {
  width: 200px;
  padding: 0;
}

.km-how-to-project {
  margin-top: 40px;
  background-color: $light-background;

  .km-how-to-project-header {
    text-transform: uppercase;
    color: $white-text-color;
    background-color: $secondary;
    border-bottom: 1px solid $white-text-color;
    padding-left: 15px;
    height: 40px;
    line-height: 40px;
  }

  .km-how-to-project-content {
    font-size: 15px;
    color: $text-color;
    padding: 20px 15px;
    margin: 10px 0;
    line-height: 20px;
  }

  .km-project-how-to-cell {
    .km-how-to-project-content {
      border-right: 1px solid $white-text-color;
    }
  }
}
