<div id="km-add-project-dialog"
     class="km-dialog-box">
  <mat-toolbar>
    Add Project
    <button mat-icon-button
            mat-dialog-close>
      <i class="fa fa-times"
         aria-hidden="true"></i>
    </button>
  </mat-toolbar>
  <mat-dialog-content>
    <div class="mat-dialog-content">
      <form [formGroup]="addProjectForm"
            fxLayout="column">
        <mat-form-field fxFlex>
          <input id="km-add-project-dialog-input"
                 matInput
                 formControlName="name"
                 type="text"
                 placeholder="Project Name*:"
                 autocomplete="off"
                 cdkFocusInitial>
          <mat-error *ngIf="addProjectForm.controls.name.hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </form>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-dialog-close
            mat-flat-button
            color="alternative">
      Cancel
    </button>
    <button id="km-add-project-dialog-save"
            mat-flat-button
            (click)="addProject()"
            [disabled]="!addProjectForm.valid">
      Save
    </button>
  </mat-dialog-actions>
  <div class="km-how-to-project"
       fxLayout="row">
    <div class="km-project-how-to-cell"
         fxFlex="33%">
      <div class="km-how-to-project-header">1 Add Project</div>
      <div class="km-how-to-project-content">Add a project to manage your Clusters</div>
    </div>
    <div class="km-project-how-to-cell"
         fxFlex="33%">
      <div class="km-how-to-project-header">2 Add Member</div>
      <div class="km-how-to-project-content">Add Members to give access to your Cluster</div>
    </div>
    <div class="km-project-how-to-cell"
         fxFlex="34%">
      <div class="km-how-to-project-header">3 Create Cluster</div>
      <div class="km-how-to-project-content">Create and add Clusters to your Project</div>
    </div>
  </div>
</div>
