<ng-container *ngIf="!loading">
  <div fxLayout>
    <h2 fxFlex="50%">{{cluster.spec.humanReadableName}}</h2>
    <div fxFlex="50%" align="right" style="margin-top: 25px;">
      <button md-raised-button color="primary" (click)="addNode()" md-raised-button [disabled]="cluster.status.phase != 'Running'">
        <i class="fa fa-plus" style="margin-right: 5px;" aria-hidden="true"></i>
        Add Node
      </button>
      <button md-raised-button color="primary" (click)="upgradeClusterDialog()"
      [disabled]="cluster.status.phase != 'Running' || upgradesList.length === 0">
        <i class="fa fa-arrow-up" style="margin-right: 5px;" aria-hidden="true"></i>
        Upgrade Cluster
      </button>
      <button md-button (click)="deleteClusterDialog()" md-raised-button >
        <i class="fa fa-trash-o" aria-hidden="true" style="margin-right: 5px;margin-top: -4px; color: #0288d1;" color="primary"></i>
        Delete Cluster
      </button>
    </div>
  </div>

  <md-card class="km-card-list">
    <md-card-header class="km-card-list-header">
      <md-card-title>Kubernetes Master</md-card-title>
    </md-card-header>
    <md-card-content class="km-card-list-content" fxLayout >
      <div fxFlex="20%">Status:</div>
      <div fxFlex="80%">
        <strong>{{cluster.status.phase}}</strong>
        <span>- Health:</span>
        <kubermatic-cluster-health-status [health]="cluster.status.health"></kubermatic-cluster-health-status>
      </div>
    </md-card-content>
    <md-card-content class="km-card-list-content seed" fxLayout>
      <div fxFlex="20%">Seed Region:</div>
      <div fxFlex="80%"><span class="{{'flag-icon flag-icon-' + dcFlagCode}}"></span> <span class="location">{{dcLocation}}</span></div>
    </md-card-content>
    <md-card-content class="km-card-list-content" fxLayout>
      <div fxFlex="20%">Master Version:</div>
      <div fxFlex="80%">
        {{cluster.spec.masterVersion}}
        <small (click)="upgradeClusterDialog()" [hidden]="cluster.status.phase != 'Running' || upgradesList.length === 0">upgrade available</small>
      </div>
    </md-card-content>
    <md-card-content class="km-card-list-content" fxLayout>
      <div fxFlex="20%">API Server:</div>
      <div fxFlex="80%">
        <a [attr.href]="downloadKubeconfigUrl()" *ngIf="cluster.isRunning()" md-button color="primary" class="km-download-config" target="_blank"><i class="fa fa-save"></i> download kubeconfig</a>
        <md-spinner *ngIf="!cluster.isRunning()" class="km-spinner-sm"></md-spinner>
      </div>
    </md-card-content>

  </md-card>

  <md-card class="km-card-list">
    <md-card-header class="km-card-list-header" >
      <md-card-title fxLayout>
        <div fxFlex="25%">Provider</div>
        <div fxFlex="35%">Node Region</div>
        <div fxFlex="40%">SSH keys</div>
      </md-card-title>
    </md-card-header>
    <md-card-content class="km-card-list-content" fxLayout>
      <div fxFlex="25%">
        <img src="/assets/images/clouds/{{dc.spec.provider}}.png" class="icon-seed-cluster" alt="Cluster Icon" height="30" />
      </div>
      <div fxFlex="35%" class="km-provider-region">
        <span class="{{'flag-icon flag-icon-' + dc.spec.country.toLowerCase()}}"></span>
        <span class="location">{{dc.spec.country}} / {{dc.spec.location}}</span>
      </div>
      <div fxFlex="40%">
        <ng-container [ngSwitch]="sshKeysNames.length > 0">
          <ul class="km-ssh-keys-list"  *ngSwitchCase="true">
            <li *ngFor="let sshKeyName of sshKeysNames">
              <i class="fa fa-key"></i>
              {{sshKeyName}}
            </li>
          </ul>
          <ng-container *ngSwitchCase="false">no SSH Key selected</ng-container>
        </ng-container>
      </div>
    </md-card-content>
  </md-card>

  <md-card class="km-card-list" style="margin-bottom: 70px;">
    <md-card-header class="km-card-list-header" >
      <md-card-title fxLayout>
        <div fxFlex="5%">#</div>
        <div fxFlex="25%">Name</div>
        <div fxFlex="20%">Capacity</div>
        <div fxFlex="15%">Version</div>
        <div fxFlex="15%">Public IP</div>
        <div fxFlex="10%" align="center">Status</div>
        <div fxFlex="10%"></div>
      </md-card-title>
    </md-card-header>

    <ng-container [ngSwitch]="!!nodes && nodes.length > 0 ">
      <md-card-content *ngSwitchCase="true">
        <kubermatic-node *ngFor="let n of nodes, let i = index" [node]="n"  [index]="i + 1" [clusterName]="cluster.metadata.name" [seedDcName]="cluster.seed" [nodeProvider]="dc.spec.provider"></kubermatic-node>
      </md-card-content>

      <md-card-content  *ngSwitchCase="false" align="center">
        No Node available. Please add a Node.
      </md-card-content>
    </ng-container>
  </md-card>
</ng-container>


<div *ngIf="loading" >
  <md-spinner color="accent" class="km-spinner"></md-spinner>
</div>
