
<ng-container *ngIf="cluster">
  <div fxLayout>
    <h2 fxFlex="80%">{{cluster.spec.humanReadableName}}</h2>
    <div fxFlex="20%" align="right" style="margin-top: 25px;">
      <button type="button" md-raised-button color="primary" (click)="deleteCluster()">Delete Cluster</button>
    </div>
  </div>

  <md-card class="km-card-list">
    <md-card-header class="km-card-list-header">
      <md-card-title>Kubernetes Master</md-card-title>
    </md-card-header>
    <md-card-content class="km-card-list-content" fxLayout >
      <div fxFlex="20%">Status</div>
      <div fxFlex="80%" class="health-state">
        <strong>{{cluster.status.phase}}</strong>
        <div *ngIf="cluster.status.phase !== 'Pending'">
          - Health:
          <i class="fa fa-dot-circle-o" [class.green]="cluster.status.health.apiserver"></i>
          <i class="fa fa-dot-circle-o" [class.green]="cluster.status.health.controller"></i>
          <i class="fa fa-dot-circle-o" [class.green]="cluster.status.health.etcd"></i>
          <i class="fa fa-dot-circle-o" [class.green]="cluster.status.health.scheduler"></i>
        </div>
      </div>
    </md-card-content>
    <md-card-content class="km-card-list-content" fxLayout>
      <div fxFlex="20%">API Server</div>
      <div fxFlex="80%">
        {{cluster.address.url}}
        <a [attr.href]="downloadKubeconfigUrl()" md-button color="primary" class="km-download-config" target="_blank"><i class="fa fa-save"></i> download kubeconfig</a>
      </div>
    </md-card-content>
  </md-card>
</ng-container>

<ng-container *ngIf="cluster && cluster.dc">


    <div fxLayout fxLayoutGap="10px">
      <div fxFlex="40%">Provider</div>
      <div fxFlex="30%">Node Region</div>
      <div fxFlex="30%">shhKeys</div>
    </div>
    <div fxLayout fxLayoutGap="10px">
      <div fxFlex="40%">
        <img src="/assets/images/clouds/{{cluster.dc.spec.provider}}.png" class="icon-seed-cluster" alt="Cluster Icon" height="30" />
      </div>
      <div fxFlex="30%">
        {{cluster.spec.cloud.dc}}
      </div>
      <div fxFlex="30%">
        <ng-container [ngSwitch]="cluster.dc.spec.provider">
          <div *ngSwitchCase="'aws'">
            {{cluster.spec.cloud[cluster.dc.spec.provider].ssh_key_name}}
          </div>
          <div *ngSwitchCase="'digitalocean'">
            {{cluster.spec.cloud[cluster.dc.spec.provider].sshKeys.length}} sshKey(s)
          </div>
        </ng-container>
      </div>
    </div>


  <kubermatic-add-node [clusterName]="clusterModel.cluster" [seedDcName]="clusterModel.dc" [cluster]="cluster"></kubermatic-add-node>

  <div fxLayout fxLayoutGap="10px">
    <p fxFlex *ngIf="nodes" class="text-right">quantity of nodes: {{nodes.length}}</p>
  </div>

    <div fxLayout fxLayoutGap="10px">
      <div fxFlex="25%">Name</div>
      <div fxFlex="10%">Capacity</div>
      <div fxFlex="25%">Version</div>
      <div fxFlex="15%">Public IP</div>
      <div fxFlex="10%">Status</div>
      <div fxFlex="15%"></div>
    </div>

    <ng-container [ngSwitch]="!!nodes && nodes.length > 0 ">
      <div *ngSwitchCase="true">

        <kubermatic-node *ngFor="let n of nodes" [node]="n" [clusterName]="clusterModel.cluster" [seedDcName]="clusterModel.dc" [nodeProvider]="cluster.dc.spec.provider"></kubermatic-node>
      </div>


      <div *ngSwitchCase="false" >
        <md-card fxLayout>
          <md-card-content align="center">
            No Node available. Please add a Node.
          </md-card-content>
        </md-card>
      </div>
    </ng-container>


</ng-container>


<ng-container *ngIf="cluster && !cluster.dc">
  <md-card fxLayout style="margin-top: 15px;">
      <md-card-content fxFlex class="km-no-provider">
        No Provider available. Please add a Provider.
      </md-card-content>
  </md-card>
</ng-container>
