<ng-container *ngIf="!loading">
  <div fxLayout>
    <h2 fxFlex="50%">{{cluster.spec.humanReadableName}}</h2>
    <div fxFlex="50%" align="right" style="margin-top: 25px;">
      <button md-raised-button color="primary" (click)="addNode()" md-raised-button [disabled]="cluster.status.phase != 'Running'">
        <i class="fa fa-plus" style="margin-right: 5px;" aria-hidden="true"></i>
        Add Node
      </button>
      <button md-button (click)="deleteClusterDialog()" md-raised-button >
        <i class="fa fa-trash-o" aria-hidden="true" style="margin-right: 5px;margin-top: -4px; color: #0288d1;" color="primary"></i>
        Delete Cluster
      </button>
    </div>
  </div>

  <md-card class="km-card-list">
    <md-card-header class="km-card-list-header">
      <md-card-title>Kubernetes Master</md-card-title>
    </md-card-header>
    <md-card-content class="km-card-list-content" fxLayout >
      <div fxFlex="20%">Status</div>
      <div fxFlex="80%">
        <strong>{{cluster.status.phase}}</strong>
        <span>- Health:</span>
        <kubermatic-cluster-health-status [health]="cluster.status.health"></kubermatic-cluster-health-status>
      </div>
    </md-card-content>
    <md-card-content class="km-card-list-content" fxLayout>
      <div fxFlex="20%">API Server</div>
      <div fxFlex="80%">
        <a [attr.href]="downloadKubeconfigUrl()" md-button color="primary" class="km-download-config" target="_blank"><i class="fa fa-save"></i> download kubeconfig</a>
      </div>
    </md-card-content>
  </md-card>

  <md-card class="km-card-list">
    <md-card-header class="km-card-list-header" >
      <md-card-title fxLayout>
        <div fxFlex="40%">Provider</div>
        <div fxFlex="30%">Node Region</div>
        <div fxFlex="30%">SSH keys</div>
      </md-card-title>
    </md-card-header>
    <md-card-content class="km-card-list-content" fxLayout>
      <div fxFlex="40%">
        <img src="/assets/images/clouds/{{dc.spec.provider}}.png" class="icon-seed-cluster" alt="Cluster Icon" height="30" />
      </div>
      <div fxFlex="30%">
        {{dc.spec.country}} / {{dc.spec.location}}
      </div>
      <div fxFlex="30%">
        <ng-container *ngIf="cluster.spec.cloud[dc.spec.provider].sshKeys">
          {{cluster.spec.cloud[dc.spec.provider].sshKeys.length}} sshKey(s)
        </ng-container>

        <ul style="list-style-type: none;list-style-type: none; margin: 0; padding: 0;">
          <li style="margin-bottom: 3px;"><i class="fa fa-key" style="color: #0288d1; margin-right: 5px;"></i> sshkey name</li>
          <li style="margin-bottom: 3px;"><i class="fa fa-key" style="color: #0288d1; margin-right: 5px;"></i> sshkey name</li>
          <li style="margin-bottom: 3px;"><i class="fa fa-key" style="color: #0288d1; margin-right: 5px;"></i> sshkey name</li>
          <li style="margin-bottom: 3px;"><i class="fa fa-key" style="color: #0288d1; margin-right: 5px;"></i> sshkey name</li>
        </ul>
      </div>
    </md-card-content>
  </md-card>

  <md-card class="km-card-list" style="margin-bottom: 70px;">
    <md-card-header class="km-card-list-header" >
      <md-card-title fxLayout>
        <div fxFlex="5%">#</div>
        <div fxFlex="25%">Name</div>
        <div fxFlex="20%">Capacity</div>
        <div fxFlex="15%">Version</div>
        <div fxFlex="15%">Public IP</div>
        <div fxFlex="10%" align="center">Status</div>
        <div fxFlex="10%"></div>
      </md-card-title>
    </md-card-header>

    <ng-container [ngSwitch]="!!nodes && nodes.length > 0 ">
      <md-card-content *ngSwitchCase="true">
        <kubermatic-node *ngFor="let n of nodes, let i = index" [node]="n"  [index]="i + 1" [clusterName]="cluster.metadata.name" [seedDcName]="cluster.seed" [nodeProvider]="dc.spec.provider"></kubermatic-node>
      </md-card-content>

      <md-card-content  *ngSwitchCase="false" align="center">
        No Node available. Please add a Node.
      </md-card-content>
    </ng-container>
  </md-card>
</ng-container>


<div *ngIf="loading" >
  <md-spinner color="accent" class="km-spinner"></md-spinner>
</div>
