<form [connect]="['wizard', 'openstackClusterForm']" [formGroup]="osClusterForm" novalidate fxLayout="column" (change)="onChange()">

  <mat-form-field fxFlex>
    <input id="os_domain" [errorStateMatcher]="inputValidationService" matInput formControlName="os_domain" type="text" placeholder="Domain*:" title="Domain" >
    <mat-error *ngIf="osClusterForm.controls.os_domain.hasError('required')">
        Domain is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field fxFlex>
    <input id="os_tenant" [errorStateMatcher]="inputValidationService" matInput formControlName="os_tenant" type="text" placeholder="Tenant/Project*:" title="Tenant/Project" >
    <mat-error *ngIf="osClusterForm.controls.os_tenant.hasError('required')">
      Tenant/Project is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field fxFlex>
    <input id="os_username" [errorStateMatcher]="inputValidationService" matInput formControlName="os_username" type="text" placeholder="Username*:" title="Username" >
    <mat-error *ngIf="osClusterForm.controls.os_username.hasError('required')">
      Username is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field fxFlex>
    <input id="os_password" [errorStateMatcher]="inputValidationService" matInput formControlName="os_password" type="password" placeholder="Password*:" title="Password" >
    <mat-error *ngIf="osClusterForm.controls.os_password.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field fxFlex *ngIf="osClusterForm.controls['os_cas'].value">
    <input id="os_network" matInput formControlName="os_network" type="text" placeholder="Network name:" title="Network" >
  </mat-form-field>

  <mat-form-field fxFlex *ngIf="osClusterForm.controls['os_cas'].value">
    <input id="os_security_groups" matInput formControlName="os_security_groups" type="text" placeholder="Security groups (comma separated - without spaces):" title="Security groups" >
  </mat-form-field>

  <mat-form-field fxFlex *ngIf="osClusterForm.controls['os_cas'].value">
    <input id="os_floating_ip_pool" matInput formControlName="os_floating_ip_pool" type="text" placeholder="Floating IP pool (external network name)" title="Floating IP pool" >
  </mat-form-field>

  <div class="slider-box">
    <mat-slide-toggle id="os_cas" formControlName="os_cas">Extend Provider settings</mat-slide-toggle>
  </div>
</form>
