<form [formGroup]="nodeForm"
      fxLayout="column">
  <div fxLayout="row"
       fxLayoutGap="16px">
    <mat-form-field class="km-node-deployment-name"
                    [ngClass]="{none: isNameDisabled}">
      <mat-label>Name</mat-label>
      <input id="km-node-name-input"
             matInput
             formControlName="name"
             type="text"
             autocomplete="off">
      <i class="km-icon-randomize"
         matTooltip="Generate name"
         (click)="generateName()"
         *ngIf="!isNameDisabled"></i>
      <mat-hint *ngIf="!isNameDisabled">Leave it empty to use server-side generation.</mat-hint>
    </mat-form-field>

  </div>

  <mat-form-field fxFlex>
    <mat-label>Replicas*</mat-label>
    <input id="km-node-count-input"
           matInput
           formControlName="count"
           type="number"
           min="1"
           autocomplete="off">
    <mat-error *ngIf="nodeForm.controls.count.hasError('required')">Number of replicas is required.</mat-error>
    <mat-error *ngIf="nodeForm.controls.count.hasError('ipsMissing')">Not enough IPs left. Reduce number of replicas or add more machine networks.</mat-error>
  </mat-form-field>

  <mat-form-field *ngIf="!isInWizard">

    <mat-label>{{getVersionHeadline(cluster.type, true)}}</mat-label>
    <mat-select formControlName="kubelet">
      <mat-option *ngFor="let version of versions"
                  [value]="version">
        {{ version }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <kubermatic-aws-node-data *ngIf="cluster.spec.cloud.aws"
                            [cloudSpec]="cluster.spec.cloud"
                            [nodeData]="nodeData"></kubermatic-aws-node-data>

  <kubermatic-digitalocean-node-data *ngIf="cluster.spec.cloud.digitalocean"
                                     [cloudSpec]="cluster.spec.cloud"
                                     [nodeData]="nodeData"
                                     [projectId]="projectId"
                                     [clusterId]="cluster.id"
                                     [seedDCName]="seedDCName"></kubermatic-digitalocean-node-data>

  <kubermatic-openstack-node-data *ngIf="cluster.spec.cloud.openstack"
                                  [cloudSpec]="cluster.spec.cloud"
                                  [nodeData]="nodeData"
                                  [projectId]="projectId"
                                  [clusterId]="cluster.id"
                                  [seedDCName]="seedDCName"></kubermatic-openstack-node-data>

  <kubermatic-packet-node-data *ngIf="cluster.spec.cloud.packet"
                               [cloudSpec]="cluster.spec.cloud"
                               [nodeData]="nodeData"></kubermatic-packet-node-data>

  <kubermatic-hetzner-node-data *ngIf="cluster.spec.cloud.hetzner"
                                [cloudSpec]="cluster.spec.cloud"
                                [nodeData]="nodeData"></kubermatic-hetzner-node-data>

  <kubermatic-vsphere-node-data *ngIf="cluster.spec.cloud.vsphere"
                                [cloudSpec]="cluster.spec.cloud"
                                [nodeData]="nodeData"></kubermatic-vsphere-node-data>

  <kubermatic-azure-node-data *ngIf="cluster.spec.cloud.azure"
                              [cloudSpec]="cluster.spec.cloud"
                              [nodeData]="nodeData"
                              [projectId]="projectId"
                              [clusterId]="cluster.id"
                              [seedDCName]="seedDCName"></kubermatic-azure-node-data>

  <mat-form-field class="km-operating-system">

    <mat-label>Operating System*</mat-label>
    <mat-select formControlName="operatingSystem">

      <mat-option value="ubuntu"
                  *ngIf="cluster.type !== 'openshift'">Ubuntu</mat-option>
      <mat-option value="centos">CentOS</mat-option>
      <mat-option value="containerLinux"
                  *ngIf="!cluster.spec.cloud.hetzner && cluster.type !== 'openshift'">Container Linux</mat-option>
    </mat-select>
    <mat-hint *ngIf="cluster.spec.cloud.openstack">Select the operating system of the entered image</mat-hint>
    <mat-hint *ngIf="cluster.spec.cloud.vsphere">Select the operating system of the entered template</mat-hint>
  </mat-form-field>
</form>

<form [formGroup]="operatingSystemForm"
      fxLayout="column">
  <div fxFlex="100%">
    <!-- Options for Ubuntu -->
    <div *ngIf="nodeForm.controls.operatingSystem.value === 'ubuntu'"
         class="km-os-options"
         [ngClass]="(cluster.spec.cloud.openstack || cluster.spec.cloud.vsphere) ? 'km-with-margin' : ''">
      <label fxFlex="50%">Upgrade system on first boot</label>
      <mat-checkbox fxFlex="50%"
                    id="distUpgradeOnBootUbuntu"
                    formControlName="distUpgradeOnBootUbuntu"></mat-checkbox>
    </div>

    <!-- Options for CentOS -->
    <div *ngIf="nodeForm.controls.operatingSystem.value === 'centos'"
         class="km-os-options"
         [ngClass]="(cluster.spec.cloud.openstack || cluster.spec.cloud.vsphere) ? 'km-with-margin' : ''">
      <label fxFlex="50%">Upgrade system on first boot</label>
      <mat-checkbox fxFlex="50%"
                    id="distUpgradeOnBootCentos"
                    formControlName="distUpgradeOnBootCentos"></mat-checkbox>
    </div>

    <!-- Options for Container Linux -->
    <div *ngIf="nodeForm.controls.operatingSystem.value === 'containerLinux'"
         class="km-os-options"
         [ngClass]="(cluster.spec.cloud.openstack || cluster.spec.cloud.vsphere) ? 'km-with-margin' : ''">
      <label fxFlex="50%">Disable auto-update</label>
      <mat-checkbox fxFlex="50%"
                    id="disableAutoUpdate"
                    formControlName="disableAutoUpdate"></mat-checkbox>
    </div>
  </div>
</form>

<km-label-form title="Node Labels"
               [(labels)]="nodeData.spec.labels"></km-label-form>

<km-taint-form title="Node Taints"
               [(taints)]="nodeData.spec.taints"></km-taint-form>

<kubermatic-openstack-options *ngIf="cluster.spec.cloud.openstack"
                              [nodeData]="nodeData"
                              [cloudSpec]="cluster.spec.cloud"></kubermatic-openstack-options>
<kubermatic-vsphere-options *ngIf="cluster.spec.cloud.vsphere"
                            [nodeData]="nodeData"
                            [cloudSpec]="cluster.spec.cloud"></kubermatic-vsphere-options>
<kubermatic-digitalocean-options *ngIf="cluster.spec.cloud.digitalocean && !hideOptional"
                                 [nodeData]="nodeData"></kubermatic-digitalocean-options>
