@import '../../assets/css/colors';
@import '../../assets/css/variables';

mat-form-field.operating-system {
  margin-top: 20px;
}

mat-form-field.km-node-deployment-name {
  margin-bottom: 20px;

  &.none {
    margin-bottom: auto;
  }
}

div.km-os-options {
  width: 100%;
  line-height: 30px;
  font-size: 14px;
  display: flex;
  margin: 0 0 10px;

  mat-checkbox,
  label {
    flex: 1 1 100%;
  }

  &.km-with-margin {
    margin: 5px 0 10px;
  }
}

mat-button-toggle-group[group='operatingSystemGroup'] {
  flex-wrap: wrap;
  margin-bottom: 5px;

  .mat-button-toggle {
    border-radius: 4px;
    max-width: 170px;
    min-width: 120px;
    min-height: 60px;
    max-height: 60px;
    outline: none;
    margin-bottom: 10px;

    i {
      margin-right: 10px;
      min-width: 28px;
      min-height: 28px;
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      filter: grayscale(100%);
    }

    &.mat-button-toggle-checked {
      border: 1px solid $primary;

      i {
        -webkit-filter: none;
        -moz-filter: none;
        -ms-filter: none;
        -o-filter: none;
        filter: none;
      }
    }
  }

  ::ng-deep .mat-button-toggle-label-content {
    font-size: $subhead-font-size-base;
    font-weight: normal;
    color: $text-color;
  }
}
