@import '../../assets/css/colors';
@import '../../assets/css/variables';

mat-form-field.operating-system {
  margin-top: 2.5 * $baseline-grid;
}

mat-form-field.km-node-deployment-name {
  margin-bottom: 2.5 * $baseline-grid;

  &.none {
    margin-bottom: auto;
  }
}

div.km-os-options {
  width: 100%;
  line-height: 3 * $line-height;
  font-size: $font-size-body;
  display: flex;
  margin: 0 0 (1.25 * $baseline-grid);

  mat-checkbox,
  label {
    flex: 1 1 100%;
  }

  &.km-with-margin {
    margin: (0.625 * $baseline-grid) 0 (1.25 * $baseline-grid);
  }
}

mat-button-toggle-group[group='operatingSystemGroup'] {
  flex-wrap: wrap;
  margin-bottom: 0.625 * $baseline-grid;

  .mat-button-toggle {
    border-radius: $border-radius;
    max-width: 21.25 * $baseline-grid;
    min-width: 15 * $baseline-grid;
    min-height: 7.5 * $baseline-grid;
    max-height: 7.5 * $baseline-grid;
    outline: none;
    margin-bottom: 1.25 * $baseline-grid;

    i {
      margin-right: 1.25 * $baseline-grid;
      min-width: 3.5 * $baseline-grid;
      min-height: 3.5 * $baseline-grid;
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      filter: grayscale(100%);
    }

    &.mat-button-toggle-checked {
      border: 1px solid $primary;

      i {
        -webkit-filter: none;
        -moz-filter: none;
        -ms-filter: none;
        -o-filter: none;
        filter: none;
      }
    }
  }

  ::ng-deep .mat-button-toggle-label-content {
    font-size: $font-size-subhead;
    font-weight: normal;
    color: $text-color;
  }
}

.km-randomize-btn {
  position: absolute;
  right: -0.625 * $baseline-grid;
  top: -0.25 * $baseline-grid;
}

::ng-deep .mat-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-icon-button i {
  background-color: transparent;
}

km-label-form,
km-taint-form {
  display: block;
  margin-top: 2.5 * $baseline-grid;
}

::ng-deep .km-form-in-node-modal .km-label-form-delete-button {
  margin-top: 1.75 * $baseline-grid !important;
}
