<form [connect]="['wizard', 'sshKeyForm']" [formGroup]="sshKeyForm" novalidate  fxLayout="column"  >
  <div [ngSwitch]="!!sshKeys && sshKeys.length > 0">
     <div *ngSwitchCase="true">
       <mat-select fxFlex multiple  class="mat-select-content" placeholder="SSH Keys*:" name="ssh_keys" formControlName="ssh_keys">
         <mat-option *ngFor="let key of sshKeys; let i = index;" [value]="key.metadata.name">
           {{key.spec.name + ' - ' + key.spec.fingerprint}}
         </mat-option>
       </mat-select>
    </div>
    <div *ngSwitchCase="false">
      <p style=" color: #0288d1;">You have not added any SSH keys. Please add one first.</p>
    </div>
    <small class="form-text text-muted" >In addition, one SSH key is authorized automatically for the Kubernetes apiserver to provide kubectl logs, port-forward and exec functionality.
    </small>
    <br>
    <button style="margin-top: 10px;" mat-button color="primary" (click)="addSshKeyDialog()" mat-raised-button >Add sshKey</button>
  </div>
  <div class="form-text text-danger" *ngIf="selectedCloudProviderApiError">Connection error: {{ selectedCloudProviderApiError }}</div>
</form>
