.km-header-logo {
    background-image: url("../../../assets/images/logo/header-logo-kubermatic.png");
    height: 100%;
    background-size: 180px ;
    background-repeat: no-repeat ;
    background-position: center -16px;

    &-wrapper {
      height: 42px;
      border-bottom: 1px solid #bcc5d0;
      background-color: #fff;
      margin-bottom: 20px;
    }
  }
  
  .mat-nav-list {
  
    .mat-list-item, a {
      font-size: 13px !important;
      font-weight: 400 !important;
      color: #BCC5D0;
      outline: none;
      i {
        color: #BCC5D0;
        width: 25px;
        
        
    }
    }
    a {
      padding: 20px 16px;
      &:hover, &.active {
        color: #fff;
        background-color: #0288d1;
        i {
          color: #fff;
        }
      }
    }
  }
  
  
  