<div class="container" fxLayout="column">
  <div class="km-header-logo-wrapper">
    <div class="km-header-logo"></div>
  </div>
  <md-nav-list>
  <!-- Menus for logged in users -->
  <div class="km-sidenav-top">
  <md-list-item >
    <a md-line routerLink="/wizard" [routerLinkActive]="['active']" (click)="closeModal()"><i class="fa fa-magic"></i> Create Cluster</a>
  </md-list-item>
  <md-list-item>
    <a md-line routerLink="/clusters" [routerLinkActive]="['active']" (click)="closeModal()"><i class="fa fa-cubes"></i> Manage Cluster</a>
  </md-list-item>
  <md-list-item>
    <a md-line routerLink="/sshkeys" [routerLinkActive]="['active']" (click)="closeModal()"><i class="fa fa-key"></i> Manage SSH Keys</a>
  </md-list-item>
  </div>
  </md-nav-list>
</div>