@import "../../../../assets/css/variables";

.km-edit-cluster-form {
  margin-bottom: 30px;
}

.km-icon-warning {
  margin: (.5 * $baseline-grid) 0;
}

km-label-form {
  margin-top: 3.75 * $baseline-grid;
}
