<div id="km-edit-cluster-dialog">
  <km-dialog-title title="Edit Cluster"></km-dialog-title>
  <mat-dialog-content>
    <div class="mat-dialog-content">
      <form [formGroup]="form"
            fxLayout="column"
            class="km-edit-cluster-form">
        <mat-form-field fxFlex>
          <mat-label>Name*</mat-label>
          <input id="km-edit-cluster-dialog-input"
                 matInput
                 formControlName="name"
                 type="text"
                 autocomplete="off"
                 cdkFocusInitial>
          <mat-error *ngIf="form.controls.name.hasError('required')">
            Name is <strong>required</strong>.
          </mat-error>
          <mat-error *ngIf="form.controls.name.hasError('minlength')">
            Name must be at least {{form.controls.name.getError('minlength').requiredLength}} characters.
          </mat-error>
          <mat-error *ngIf="form.controls.name.hasError('pattern')">
            Name can only contain alphanumeric characters and dashes (a-z, 0-9 and -).
          </mat-error>
        </mat-form-field>
        <mat-checkbox formControlName="auditLogging">
          Audit Logging
        </mat-checkbox>
        <km-label-form title="Labels"
                       [(labels)]="labels"
                       [asyncKeyValidators]=asyncLabelValidators
                       formControlName="labels"></km-label-form>
      </form>
      <kubermatic-edit-provider-settings [cluster]="cluster"></kubermatic-edit-provider-settings>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button id="km-edit-cluster-dialog-edit-btn"
            mat-flat-button
            (click)="editCluster()"
            [disabled]="form.invalid || !providerSettingsPatch.isValid">
      Edit
    </button>
  </mat-dialog-actions>
</div>
