@import "../../../../assets/css/colors";

.km-conditionsMessage {
  border-top: 1px solid $light-border;
  margin-bottom: 10px;
  margin-top: -20px;
  line-height: 40px;

  p {
    margin: 0 auto;
    color: $warning-status-color;
  }
}

.km-health-state {
  i.red {
    color: $warning-status-color;
  }

  i.green {
    color: $healthy-status-color;
  }

  i.orange {
    color: $waiting-status-color;
  }
}

.km-node-ip-addresses {
  display: block;
  line-height: 20px;
}

.km-node-item-actions {
  display: flex;
  justify-content: flex-end;

  .km-icon-delete {
    width: 21px;
    height: 21px;
    margin-right: 20px;
  }
}

.km-spinner {
  float: right;
  margin: 5px;
}

.km-btn-remove-node-wrapper {
  padding-right: 20px;
  position: relative;
  justify-content: flex-end;
  display: flex;
}

.km-node-list-spinner {
  margin: 20px auto !important;
}

i.fa-info-circle {
  color: $border;
  padding-left: 5px;
}

i.fa-exclamation-triangle {
  color: $warning;
  padding-left: 5px;
}

.km-node-details {
  background-color: $light-background;

  mat-card-content {
    background-color: $medium-background;
    margin-top: 15px;
  }

  .fa-check {
    color: $healthy-status-color;
  }

  .fa-times {
    color: $warning-status-color;
  }
}

.km-mat-card-code-block {
  margin-top: 20px;
}

.km-disabled {
  color: $disabled-button-color;
}
