<mat-card class="km-with-table-header km-node-list-view">
  <mat-card-header>
    <mat-card-title>
      Nodes
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table class="km-table"
           mat-table
           multiTemplateDataRows
           matSort
           [dataSource]="getDataSource()">

      <ng-container matColumnDef="stateArrow">
        <th mat-header-cell
            *matHeaderCellDef
            class="km-header-cell"></th>
        <td mat-cell
            *matCellDef="let element">
          <i [ngClass]="isShowNodeItem[element.id] ? 'km-icon-arrow-up' : 'km-icon-arrow-down'"></i>
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell
            *matHeaderCellDef
            class="km-header-cell"
            mat-sort-header></th>
        <td mat-cell
            *matCellDef="let element">
          <i [matTooltip]="getNodeHealthStatus(element,i).message"
             [ngClass]="getNodeHealthStatus(element,i).color"></i>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell
            *matHeaderCellDef
            class="km-header-cell"
            mat-sort-header>Name</th>
        <td mat-cell
            *matCellDef="let element">
          <ng-container *ngIf="!element.spec.cloud.aws">
            {{element.name}}
            <i class="fa fa-info-circle"
               matTooltip="{{getInfo(element)}}"
               *ngIf="showInfo(element)"></i>
          </ng-container>
          <ng-container *ngIf="element.spec.cloud.aws">
            {{getNodeName(element)}}
            <i class="fa fa-info-circle"
               matTooltip="{{getInfo(element)}}"
               *ngIf="showInfo(element)"></i>
          </ng-container>
          <ng-container *ngIf="element.status.errorMessage">
            <i class="fa fa-exclamation-triangle"
               matTooltip="{{element.status.errorMessage}}"></i>
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="kubeletVersion">
        <th mat-header-cell
            *matHeaderCellDef
            class="km-header-cell"
            mat-sort-header>{{getVersionHeadline(cluster.type, true)}}</th>
        <td mat-cell
            *matCellDef="let element">{{element.status.nodeInfo.kubeletVersion}}</td>
      </ng-container>

      <ng-container matColumnDef="ipAddresses">
        <th mat-header-cell
            *matHeaderCellDef
            class="km-header-cell">IP Addresses</th>
        <td mat-cell
            *matCellDef="let element">
          <span class="km-node-ip-addresses"
                *ngIf="!!element.status.addresses && !!getAddresses(element).InternalIP">
            Int.IP:
            <span class="km-copy"
                  [cbContent]="getAddresses(element).InternalIP"
                  ngxClipboard
                  matTooltip="click to copy">{{getAddresses(element).InternalIP}}</span>
          </span>
          <span class="km-node-ip-addresses"
                *ngIf="!!element.status.addresses && !!getAddresses(element).ExternalIP">
            Ext.IP:
            <span class="km-copy"
                  [cbContent]="getAddresses(element).ExternalIP"
                  ngxClipboard
                  matTooltip="click to copy">{{getAddresses(element).ExternalIP}}</span>
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="creationDate">
        <th mat-header-cell
            *matHeaderCellDef
            class="km-header-cell"
            mat-sort-header>Created</th>
        <td mat-cell
            *matCellDef="let element">
          <km-relative-time [date]="element.creationTimestamp"></km-relative-time>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell
            *matHeaderCellDef
            class="km-header-cell"></th>
        <td mat-cell
            *matCellDef="let element">
          <div class="km-table-actions km-node-item-actions">
            <ng-container [ngSwitch]="!!element.deletionTimestamp">
              <ng-container *ngSwitchCase="true">
                <mat-spinner [diameter]="25"
                             class="km-spinner"
                             color="accent"></mat-spinner>
              </ng-container>

              <ng-container *ngSwitchCase="false">
                <button mat-icon-button
                        [attr.id]="'km-delete-node-' + element.name"
                        matTooltip="Delete Node"
                        (click)="deleteNodeDialog(element, $event)"
                        [disabled]="!!userGroup && !userGroupConfig[userGroup].nodes.delete">
                  <i class="km-icon-delete"></i>
                </button>
              </ng-container>
            </ng-container>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="nodeDetails">
        <td mat-cell
            *matCellDef="let element"
            class="km-node-details"
            [attr.colspan]="displayedColumns.length">
          <mat-card-content fxLayout="row wrap"
                            class="km-row">
            <km-property *ngIf="!!element.status.nodeInfo.kernelVersion">
              <div key>Kernel Version</div>
              <div value>{{element.status.nodeInfo.kernelVersion}}</div>
            </km-property>

            <km-property *ngIf="!!element.status.nodeInfo.containerRuntimeVersion">
              <div key>Container Runtime Version</div>
              <div value>{{element.status.nodeInfo.containerRuntimeVersion}}</div>
            </km-property>

            <!-- Node sizes for all providers. -->
            <km-property *ngIf="element.spec.cloud.aws">
              <div key>Node Size</div>
              <div value>{{element.spec.cloud.aws.instanceType}}</div>
            </km-property>
            <km-property *ngIf="element.spec.cloud.azure">
              <div key>Node Size</div>
              <div value>{{element.spec.cloud.azure.size}}</div>
            </km-property>
            <km-property *ngIf="element.spec.cloud.digitalocean">
              <div key>Node Size</div>
              <div value>{{element.spec.cloud.digitalocean.size}}</div>
            </km-property>
            <km-property *ngIf="element.spec.cloud.hetzner">
              <div key>Node Size</div>
              <div value>{{element.spec.cloud.hetzner.type}}</div>
            </km-property>
            <km-property *ngIf="element.spec.cloud.openstack">
              <div key>Node Size</div>
              <div value>{{element.spec.cloud.openstack.flavor}}</div>
            </km-property>
            <km-property *ngIf="element.spec.cloud.packet">
              <div key>Instance Type</div>
              <div value>{{element.spec.cloud.packet.instanceType}}</div>
            </km-property>
            <!-- End of node sizes.-->

            <km-property *ngIf="!!element.status.capacity.cpu && !!element.status.capacity.memory">
              <div key>Node Capacity</div>
              <div value>{{element.status.capacity.cpu}} CPU, {{getFormattedNodeMemory(element.status.capacity.memory)}}</div>
            </km-property>

            <km-property>
              <div value
                   fxLayout="row"
                   fxLayoutGap="10px">
                <div class="km-os-image-{{getSystemLogoClass(element)}}"></div>
                <span>{{getSystem(element)}}</span>
              </div>
            </km-property>

            <!-- Other provider-specific properties. -->
            <km-property *ngIf="element.spec.cloud.aws">
              <div key>Disk Type</div>
              <div value>{{element.spec.cloud.aws.volumeType}}</div>
            </km-property>
            <km-property *ngIf="element.spec.cloud.aws">
              <div key>Disk Size in GB</div>
              <div value>{{element.spec.cloud.aws.diskSize}}</div>
            </km-property>
            <km-property *ngIf="element.spec.cloud.aws && element.spec.cloud.aws.ami">
              <div key>AMI ID</div>
              <div value>{{element.spec.cloud.aws.ami}}</div>
            </km-property>

            <km-property *ngIf="element.spec.cloud.openstack">
              <div key>Node Image</div>
              <div value>{{element.spec.cloud.openstack.image}}</div>
            </km-property>

            <km-property *ngIf="element.spec.cloud.vsphere">
              <div key>Number of CPU's</div>
              <div value>{{element.spec.cloud.vsphere.cpus}}</div>
            </km-property>
            <km-property *ngIf="element.spec.cloud.vsphere">
              <div key>Memory in MB</div>
              <div value>{{element.spec.cloud.vsphere.memory}}</div>
            </km-property>
            <km-property *ngIf="element.spec.cloud.vsphere && element.spec.cloud.vsphere.diskSizeGB">
              <div key>Disk Size in GB</div>
              <div value>{{element.spec.cloud.vsphere.diskSizeGB}}</div>
            </km-property>
            <km-property *ngIf="element.spec.cloud.vsphere && element.spec.cloud.vsphere.template">
              <div key>VM Template</div>
              <div value>{{element.spec.cloud.vsphere.template}}</div>
            </km-property>
            <!-- End of other properties. -->

            <!-- Tags for all providers. -->
            <km-property *ngIf="element.spec.cloud.aws && displayTags(element.spec.cloud.aws.tags)">
              <div key>Tags</div>
              <div value>
                <km-labels [labels]="element.spec.cloud.aws.tags"></km-labels>
              </div>
            </km-property>
            <km-property *ngIf="element.spec.cloud.azure && displayTags(element.spec.cloud.azure.tags)">
              <div key>Tags</div>
              <div value>
                <km-labels [labels]="element.spec.cloud.azure.tags"></km-labels>
              </div>
            </km-property>
            <km-property *ngIf="element.spec.cloud.digitalocean && element.spec.cloud.digitalocean.tags.length > 0">
              <div key>Tags</div>
              <div value>
                <km-labels [labels]="element.spec.cloud.digitalocean.tags"></km-labels>
              </div>
            </km-property>
            <km-property *ngIf="element.spec.cloud.packet && element.spec.cloud.packet.tags.length > 0">
              <div key>Tags</div>
              <div value>
                <km-labels [labels]="element.spec.cloud.packet.tags"></km-labels>
              </div>
            </km-property>
            <km-property *ngIf="element.spec.cloud.openstack && displayTags(element.spec.cloud.openstack.tags)">
              <div key>Tags</div>
              <div value>
                <km-labels [labels]="element.spec.cloud.openstack.tags"></km-labels>
              </div>
            </km-property>
            <!-- End of tags.-->

            <!-- Boolean properties. -->
            <km-boolean-property *ngIf="!!element.spec.operatingSystem.ubuntu"
                                 label="Upgrade system on first boot"
                                 [value]="element.spec.operatingSystem.ubuntu.distUpgradeOnBoot">
            </km-boolean-property>
            <km-boolean-property *ngIf="!!element.spec.operatingSystem.centos"
                                 label="Upgrade system on first boot"
                                 [value]="element.spec.operatingSystem.centos.distUpgradeOnBoot">
            </km-boolean-property>
            <km-boolean-property *ngIf="!!element.spec.operatingSystem.containerLinux"
                                 label="Disable auto-update"
                                 [value]="element.spec.operatingSystem.containerLinux.disableAutoUpdate">
            </km-boolean-property>
            <km-boolean-property *ngIf="element.spec.cloud.digitalocean"
                                 label="Backups"
                                 [value]="element.spec.cloud.digitalocean.backups">
            </km-boolean-property>
            <km-boolean-property *ngIf="element.spec.cloud.digitalocean"
                                 label="IPv6"
                                 [value]="element.spec.cloud.digitalocean.ipv6">
            </km-boolean-property>
            <km-boolean-property *ngIf="element.spec.cloud.digitalocean"
                                 label="Monitoring"
                                 [value]="element.spec.cloud.digitalocean.monitoring">
            </km-boolean-property>
            <km-boolean-property *ngIf="element.spec.cloud.azure"
                                 label="Assign Public IP"
                                 [value]="element.spec.cloud.azure.assignPublicIP">
            </km-boolean-property>
            <!-- End of boolean properties. -->

          </mat-card-content>
        </td>
      </ng-container>

      <tr mat-header-row
          class="km-header-row"
          *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row
          *matRowDef="let row; columns: displayedColumns;"
          class="km-mat-row km-clickable"
          (click)="toggleNodeItem(row)"></tr>
      <tr mat-row
          *matRowDef="let row; let i=index; columns: toggledColumns; when: shouldToggleNodeItem"
          class="km-mat-row"></tr>
    </table>

    <div class="km-row km-no-item"
         *ngIf="!nodes || nodes.length === 0">
      No nodes available.
    </div>

    <mat-card [fxShow]="!!cluster.spec.cloud.bringyourown"
              class="km-mat-card-code-block">
      <mat-card-content>
        <div class="km-code-block">
          <p>
            #Install kubeadm on you local system & the worker node: https://kubernetes.io/docs/setup/independent/install-kubeadm/<br>
            <br>
            # ====================================<br>
            # ======= On your local system =======<br>
            # ====================================<br>
            #<br>
            # => Create a new token for the new node<br>
            kubeadm token --kubeconfig kubeconfig create --print-join-command<br>
            <br>
            # ====================================<br>
            # ======== On the worker node ========<br>
            # ====================================<br>
            #<br>
            #Use the command which got previously generated by kubeadm<br>
            #example:<br>
            #kubeadm join --token AAAAAA.BBBBBBBBBBBBB {{cluster.status.url}} --discovery-token-ca-cert-hash sha256:aaaabbbbcccc<br>
          </p>
        </div>
      </mat-card-content>
    </mat-card>

  </mat-card-content>
</mat-card>
