<mat-card class="blue">
  <mat-card-header>
    <mat-card-title fxLayout>
      <div fxFlex="3%"></div>
      <div fxFlex="42%">
        Name
      </div>
      <div fxFlex="14%">
        Kubelet Version
      </div>
      <div fxFlex="16%">
        IP addresses
      </div>
      <div fxFlex="16%">
        Created
      </div>
      <div fxFlex="10%"></div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <ng-container [ngSwitch]="!!nodes && nodes.length > 0 ">
      <ng-container *ngSwitchCase="true">
        <div class="km-row km-accordion"
             *ngFor="let node of nodes, let i = index"
             (click)="toggleNode($event, node.id)"
             [ngClass]="getNodeHealthStatus(node,i).css">
          <div fxLayout>
            <div fxFlex="3%"
                 class="km-health-state">
              <i [matTooltip]="getNodeHealthStatus(node,i).message"
                 [ngClass]="getNodeHealthStatus(node,i).color"></i>
            </div>
            <div fxFlex="42%"
                 style="word-break: normal ;"
                 *ngIf="!node.spec.cloud.aws">
              {{node.name}}
              <i class="fa fa-info-circle"
                 matTooltip="{{getInfo(node)}}"
                 *ngIf="showInfo(node)"></i>
            </div>
            <div fxFlex="36%"
                 style="word-break: normal ;"
                 *ngIf="node.spec.cloud.aws">
              {{getNodeName(node)}}
              <i class="fa fa-info-circle"
                 matTooltip="{{getInfo(node)}}"
                 *ngIf="showInfo(node)"></i>
            </div>
            <div fxFlex="14%">
              <span *ngIf="!!node.status.nodeInfo">{{node.status.nodeInfo.kubeletVersion}}</span>
            </div>
            <div fxFlex="16%">
              <div *ngIf="!!node.status.addresses && !!getAddresses(node).InternalIP">
                Int.IP:
                <span class="km-copy"
                      [cbContent]="getAddresses(node).InternalIP"
                      ngxClipboard
                      matTooltip="click to copy">{{getAddresses(node).InternalIP}}</span>
              </div>
              <div *ngIf="!!node.status.addresses && !!getAddresses(node).ExternalIP">
                Ext.IP:
                <span class="km-copy"
                      [cbContent]="getAddresses(node).ExternalIP"
                      ngxClipboard
                      matTooltip="click to copy">{{getAddresses(node).ExternalIP}}</span>
              </div>
            </div>
            <div fxFlex="16%">
              <span *ngIf="!!node.creationTimestamp">{{node.creationTimestamp | date:'yyyy-MM-dd, h:mm:ss a'}}</span>
            </div>

            <div fxFlex="10%"
                 class="km-btn-remove-node-wrapper">
              <ng-container [ngSwitch]="!!node.deletionTimestamp">
                <ng-container *ngSwitchCase="true">
                  <mat-spinner [diameter]="30"
                               class="km-spinner"
                               color="accent"></mat-spinner>
                </ng-container>

                <ng-container *ngSwitchCase="false">
                  <button mat-icon-button
                          class="km-delete-node"
                          matTooltip="Delete Node"
                          (click)="deleteNodeDialog(node)"
                          [disabled]="!!userGroup && !userGroupConfig[userGroup].nodes.delete">
                    <i class="fa fa-trash-o"
                       aria-hidden="true"
                       [ngClass]="(!!userGroup && !userGroupConfig[userGroup].nodes.delete) ? 'km-disabled' : ''"></i>
                  </button>
                </ng-container>
              </ng-container>
            </div>
          </div>
          <div fxLayout
               *ngIf="node.status.errorMessage && node.status.errorMessage.length"
               class="km-conditionsMessage">
            <p color="accent">{{node.status.errorMessage}}</p>
          </div>

          <div class="km-node-details-wrapper"
               *ngIf="!!isShowNodeDetails[node.id]">
            <div class="km-node-details-content">
              <div fxLayout="column"
                   fxLayoutGap="20px">
                <div class="km-node-details"
                     fxLayout>

                  <div class="km-card-list-content"
                       fxFlex="50%">
                    <div fxFlex="50%"
                         class="km-card-list-key">Operating System:</div>
                    <div fxFlex="50%">
                      <div class="km-os-image km-os-image-{{getOsImage(node)}}"></div>
                    </div>
                  </div>

                  <div class="km-card-list-content"
                       fxFlex="50%"
                       *ngIf="!!node.status.capacity.cpu && !!node.status.capacity.memory">
                    <div fxFlex="50%"
                         class="km-card-list-key">Capacity:</div>
                    <div fxFlex="50%">
                      {{node.status.capacity.cpu}} CPU, {{getFormattedNodeMemory(node.status.capacity.memory)}}
                    </div>
                  </div>

                  <div class="km-card-list-content"
                       fxFlex="50%"
                       *ngIf="!!node.spec.operatingSystem.ubuntu">
                    <div fxFlex="50%"
                         class="km-card-list-key">Upgrade system on first boot:</div>
                    <div fxFlex="50%">
                      <i [ngClass]="node.spec.operatingSystem.ubuntu.distUpgradeOnBoot ? 'fa fa-check' : 'fa fa-times'"></i>
                    </div>
                  </div>

                  <div class="km-card-list-content"
                       fxFlex="50%"
                       *ngIf="!!node.spec.operatingSystem.centos">
                    <div fxFlex="50%"
                         class="km-card-list-key">Upgrade system on first boot:</div>
                    <div fxFlex="50%">
                      <i [ngClass]="node.spec.operatingSystem.centos.distUpgradeOnBoot ? 'fa fa-check' : 'fa fa-times'"></i>
                    </div>
                  </div>

                  <div class="km-card-list-content"
                       fxFlex="50%"
                       *ngIf="!!node.spec.operatingSystem.containerLinux">
                    <div fxFlex="50%"
                         class="km-card-list-key">Disable auto-update:</div>
                    <div fxFlex="50%">
                      <i [ngClass]="node.spec.operatingSystem.containerLinux.disableAutoUpdate ? 'fa fa-check' : 'fa fa-times'"></i>
                    </div>
                  </div>

                  <!-- AWS -->
                  <ng-container *ngIf="node.spec.cloud.aws">
                    <div class="km-card-list-content"
                         fxFlex="50%">
                      <div fxFlex="50%"
                           class="km-card-list-key">Node Size:</div>
                      <div fxFlex="50%">{{node.spec.cloud.aws.instanceType}}</div>
                    </div>
                    <div class="km-card-list-content"
                         fxFlex="50%">
                      <div fxFlex="50%"
                           class="km-card-list-key">Disk Type:</div>
                      <div fxFlex="50%">{{node.spec.cloud.aws.volumeType}}</div>
                    </div>
                    <div class="km-card-list-content"
                         fxFlex="50%">
                      <div fxFlex="50%"
                           class="km-card-list-key">Disk Size in GB:</div>
                      <div fxFlex="50%">{{node.spec.cloud.aws.diskSize}}</div>
                    </div>
                    <div class="km-card-list-content"
                         fxFlex="50%"
                         *ngIf="node.spec.cloud.aws.ami">
                      <div fxFlex="50%"
                           class="km-card-list-key">AMI ID:</div>
                      <div fxFlex="50%">{{node.node.spec.cloud.aws.ami}}</div>
                    </div>
                    <div class="km-card-list-content"
                         fxFlex="50%"
                         *ngIf="displayTags(node.spec.cloud.aws.tags)">
                      <div fxFlex="50%"
                           class="km-card-list-key">Tags:</div>
                      <div fxFlex="50%">{{ getTagsFromObject(node.spec.cloud.aws.tags) }}</div>
                    </div>
                  </ng-container>

                  <!-- DO -->
                  <ng-container *ngIf="node.spec.cloud.digitalocean">
                    <div class="km-card-list-content"
                         fxFlex="50%">
                      <div fxFlex="50%"
                           class="km-card-list-key">Node Size:</div>
                      <div fxFlex="50%">{{node.spec.cloud.digitalocean.size}}</div>
                    </div>
                    <div class="km-card-list-content"
                         fxFlex="50%">
                      <div fxFlex="50%"
                           class="km-card-list-key">Backups:</div>
                      <div fxFlex="50%">
                        <i [ngClass]="node.spec.cloud.digitalocean.backups ? 'fa fa-check' : 'fa fa-times'"></i>
                      </div>
                    </div>
                    <div class="km-card-list-content"
                         fxFlex="50%">
                      <div fxFlex="50%"
                           class="km-card-list-key">IPv6:</div>
                      <div fxFlex="50%">
                        <i [ngClass]="node.spec.cloud.digitalocean.ipv6 ? 'fa fa-check' : 'fa fa-times'"></i>
                      </div>
                    </div>
                    <div class="km-card-list-content"
                         fxFlex="50%">
                      <div fxFlex="50%"
                           class="km-card-list-key">Monitoring:</div>
                      <div fxFlex="50%">
                        <i [ngClass]="node.spec.cloud.digitalocean.monitoring? 'fa fa-check' : 'fa fa-times'"></i>
                      </div>
                    </div>
                    <div class="km-card-list-content"
                         fxFlex="50%"
                         *ngIf="node.spec.cloud.digitalocean.tags.length > 0">
                      <div fxFlex="50%"
                           class="km-card-list-key">Tags:</div>
                      <div fxFlex="50%">{{node.spec.cloud.digitalocean.tags}}</div>
                    </div>
                  </ng-container>

                  <!-- OpenStack -->
                  <ng-container *ngIf="node.spec.cloud.openstack">
                    <div class="km-card-list-content"
                         fxFlex="50%">
                      <div fxFlex="50%"
                           class="km-card-list-key">Node Size:</div>
                      <div fxFlex="50%">{{node.spec.cloud.openstack.flavor}}</div>
                    </div>
                    <div class="km-card-list-content"
                         fxFlex="50%">
                      <div fxFlex="50%"
                           class="km-card-list-key">Node Image:</div>
                      <div fxFlex="50%">{{node.spec.cloud.openstack.image}}</div>
                    </div>
                    <div class="km-card-list-content"
                         fxFlex="50%"
                         *ngIf="displayTags(node.spec.cloud.openstack.tags)">
                      <div fxFlex="50%"
                           class="km-card-list-key">Tags:</div>
                      <div fxFlex="50%">{{ getTagsFromObject(node.spec.cloud.openstack.tags) }}</div>
                    </div>
                  </ng-container>

                  <!-- Hetzner -->
                  <ng-container *ngIf="node.spec.cloud.hetzner">
                    <div class="km-card-list-content"
                         fxFlex="50%">
                      <div fxFlex="50%"
                           class="km-card-list-key">Node Size:</div>
                      <div fxFlex="50%">{{node.spec.cloud.hetzner.type}}</div>
                    </div>
                  </ng-container>

                  <!-- vSphere-->
                  <ng-container *ngIf="node.spec.cloud.vsphere">
                    <div class="km-card-list-content"
                         fxFlex="50%">
                      <div fxFlex="50%"
                           class="km-card-list-key">Number of CPU's:</div>
                      <div fxFlex="50%">{{node.spec.cloud.vsphere.cpus}}</div>
                    </div>
                    <div class="km-card-list-content"
                         fxFlex="50%">
                      <div fxFlex="50%"
                           class="km-card-list-key">Memory in MB:</div>
                      <div fxFlex="50%">{{node.spec.cloud.vsphere.memory}}</div>
                    </div>
                    <div class="km-card-list-content"
                         fxFlex="50%"
                         *ngIf="node.spec.cloud.vsphere.template">
                      <div fxFlex="50%"
                           class="km-card-list-key">VM Template:</div>
                      <div fxFlex="50%">{{node.spec.cloud.vsphere.template}}</div>
                    </div>
                  </ng-container>

                  <!-- Azure-->
                  <ng-container *ngIf="node.spec.cloud.azure">
                    <div class="km-card-list-content"
                         fxFlex="50%">
                      <div fxFlex="50%"
                           class="km-card-list-key">Node Size:</div>
                      <div fxFlex="50%">{{node.spec.cloud.azure.size}}</div>
                    </div>
                    <div class="km-card-list-content"
                         fxFlex="50%"
                         *ngIf="node.spec.cloud.azure.assignPublicIP">
                      <div fxFlex="50%"
                           class="km-card-list-key">Assign Public IP:</div>
                      <div fxFlex="50%">
                        <i [ngClass]="node.spec.cloud.azure.assignPublicIP ? 'fa fa-check' : 'fa fa-times'"></i>
                      </div>
                    </div>
                    <div class="km-card-list-content"
                         fxFlex="50%"
                         *ngIf="displayTags(node.spec.cloud.azure.tags)">
                      <div fxFlex="50%"
                           class="km-card-list-key">VM Template:</div>
                      <div fxFlex="50%">{{getTagsFromObject(node.spec.cloud.azure.tags)}}</div>
                    </div>
                  </ng-container>

                </div>
              </div>
            </div>
          </div>

        </div>
      </ng-container>

      <ng-container *ngSwitchCase="false">
        <div class="km-row km-no-item"
             *ngIf="clusterHealthStatus && clusterHealthStatus.css === 'km-status-running' || !isClusterRunning && cluster.spec.cloud.bringyourown">No Nodes available.</div>
        <div class="km-row"
             *ngIf="!clusterHealthStatus || clusterHealthStatus.css !== 'km-status-running' || !isClusterRunning && !!!cluster.spec.cloud.bringyourown">
          <mat-spinner color="accent"
                       class="km-node-list-spinner"
                       [diameter]="30"></mat-spinner>
        </div>
      </ng-container>
    </ng-container>
  </mat-card-content>
</mat-card>

<mat-card [fxShow]="!!cluster.spec.cloud.bringyourown"
          class="km-mat-card-code-block">
  <mat-card-content>
    <div class="km-code-block">
      <p>
        #Install kubeadm on you local system & the worker node: https://kubernetes.io/docs/setup/independent/install-kubeadm/<br>
        <br>
        # ====================================<br>
        # ======= On your local system =======<br>
        # ====================================<br>
        #<br>
        # => Create a new token for the new node<br>
        kubeadm token --kubeconfig kubeconfig create --print-join-command<br>
        <br>
        # ====================================<br>
        # ======== On the worker node ========<br>
        # ====================================<br>
        #<br>
        #Use the command which got previously generated by kubeadm<br>
        #example:<br>
        #kubeadm join --token AAAAAA.BBBBBBBBBBBBB {{cluster.status.url}} --discovery-token-ca-cert-hash sha256:aaaabbbbcccc<br>
      </p>
    </div>
  </mat-card-content>
</mat-card>
