@import "../../../../assets/css/variables";

.km-node-ip-addresses {
  display: block;
  line-height: 2 * $line-height;
}

.km-node-item-actions {
  display: flex;
  justify-content: flex-end;
}

i.km-icon-info {
  margin-left: 0.625 * $baseline-grid;
}

.mat-column-name,
.km-node-info {
  display: flex;
  align-items: center;
  height: 6.25 * $baseline-grid;
}

i.fa-exclamation-triangle {
  padding-left: 0.625 * $baseline-grid;
}

.km-node-details {
  box-shadow: $border-box-shadow-inset;
  padding: (1.875 * $baseline-grid) (3.75 * $baseline-grid) (2.5 * $baseline-grid) (7.5 * $baseline-grid);

  mat-card-content {
    margin-top: 1.875 * $baseline-grid;
    border: none !important;
  }
}

.km-mat-card-code-block {
  margin-top: 2.5 * $baseline-grid;
}
