<mat-card class="km-card-list" >
  <mat-card-header class="km-card-list-header" >
    <mat-card-title fxLayout>
      <div fxFlex="3%">
        <strong>#</strong>
      </div>
      <div fxFlex="32%">
        <strong>Name</strong>
      </div>
      <div fxFlex="10%">
        <strong>OS</strong>
      </div>
      <div fxFlex="15%">
        <strong>Capacity</strong>
      </div>
      <div fxFlex="15%">
        <strong>Kubelet Version</strong>
      </div>
      <div fxFlex="15%">
        <strong>IP addresses</strong>
      </div>
      <div fxFlex="5%" align="center">
        <strong>Status</strong>
      </div>
      <div fxFlex="5%"></div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <ng-container [ngSwitch]="!!nodes && nodes.length > 0 ">
      <ng-container *ngSwitchCase="true">

        <div class="km-node-row" *ngFor="let node of nodes, let i = index">
          <div fxLayout class="km-single-node">
            <div fxFlex="3%">{{i + 1}}</div>
            <div fxFlex="32%" style="word-break: normal ;" matTooltip="{{getTooltip(node)}}">
              {{node.metadata.displayName}}
              <i class="fa fa-info-circle" matTooltip="{{getInfo(node)}}" *ngIf="showInfo(node)"></i>
            </div>
            <div fxFlex="10%">
              <img [src]="getOsImagePath(node)" class="os-image"/>
            </div>
            <div fxFlex="15%">
              <span *ngIf="!!node.status.capacity.cpu && !!node.status.capacity.memory"> {{node.status.capacity.cpu}} CPU, {{getFormattedNodeMemory(node.status.capacity.memory)}}</span>
            </div>
            <div fxFlex="15%">
              <span *ngIf="!!node.status.nodeInfo">{{node.status.nodeInfo.kubeletVersion}}</span>
            </div>
            <div fxFlex="15%">
              <div *ngIf="!!node.status.addresses && !!getAddresses(node).InternalIP">
                Int.IP:
                <span class="copy" [cbContent]="getAddresses(node).InternalIP" ngxClipboard  matTooltip="click to copy">{{getAddresses(node).InternalIP}}</span>
              </div>
              <div *ngIf="!!node.status.addresses && !!getAddresses(node).ExternalIP">
                Ext.IP:
                <span class="copy" [cbContent]="getAddresses(node).ExternalIP" ngxClipboard  matTooltip="click to copy">{{getAddresses(node).ExternalIP}}</span>
              </div>
            </div>
            <div fxFlex="5%" class="health-state">
                <i [matTooltip]="getNodeHealth(node).status" [ngClass]="getNodeHealth(node).color"></i>
            </div>

            <div fxFlex="5%" class="km-btn-remove-node-wrapper">
              <ng-container [ngSwitch]="!!node.metadata.deletionTimestamp">
                <ng-container *ngSwitchCase="true">
                  <mat-spinner [diameter]="30" class="km-spinner" color="accent"></mat-spinner>
                </ng-container>

                <ng-container *ngSwitchCase="false">
                  <button mat-icon-button class="km-delete-node" (click)="deleteNodeDialog(node)">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </button>
                </ng-container>
              </ng-container>
            </div>
          </div>
          <div fxLayout *ngIf="node.status.errorMessage && node.status.errorMessage.length" class="km-conditionsMessage">
            <p color="accent">{{node.status.errorMessage}}</p>
          </div>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="false">
        <div class="km-no-node" *ngIf="isClusterRunning">No Node available. Please add a Node.</div>
        <mat-spinner *ngIf="!isClusterRunning && !!!cluster.spec.cloud.bringyourown" color="accent" class="node-list-spinner" [diameter]="40"></mat-spinner>
      </ng-container>
    </ng-container>
  </mat-card-content>

<mat-card [fxShow]="!!cluster.spec.cloud.bringyourown">
  <mat-card-content>
    <div class="code-block">
      <p>
#Install kubeadm on you local system & the worker node: https://kubernetes.io/docs/setup/independent/install-kubeadm/<br>
<br>
# ====================================<br>
# ======= On your local system =======<br>
# ====================================<br>
#<br>
# => Create a new token for the new node<br>
kubeadm token --kubeconfig kubeconfig create --print-join-command<br>
<br>
# ====================================<br>
# ======== On the worker node ========<br>
# ====================================<br>
#<br>
#Use the command which got previously generated by kubeadm<br>
#example:<br>
#kubeadm join --token AAAAAA.BBBBBBBBBBBBB {{cluster.address.externalName}}{{cluster.address.externalPort}} --discovery-token-ca-cert-hash sha256:aaaabbbbcccc<br>
      </p>
    </div>
  </mat-card-content>
</mat-card>
