@import '../../../../assets/css/colors';
@import '../../../../assets/css/variables';

.km-icon-key {
  cursor: default;
  background: $text-color;
  margin-right: $baseline-grid;
  user-select: none;
}

.km-ssh-keys-list-more {
  cursor: default;
  user-select: none;
}
