@import '../../../../assets/css/variables';

footer {
  padding: $baseline-grid (3.5 * $baseline-grid) (2.5 * $baseline-grid);
  width: 100%;
  height: $toolbar-height;
  z-index: 999;

  * {
    text-decoration: none;
    font-size: $font-size-body;
  }
}

.km-login-footer * {
  color: #fff;
}

.content {
  line-height: $font-size-card-title;
  overflow: hidden;
  white-space: nowrap;

  & > div {
    display: inline-block;
    margin-right: 20px;

    & > span::before {
      content: '–';
      display: inline-block;
      width: 15px;
      margin-left: .5 * $baseline-grid;
    }
  }

  & > div::before {
    content: '–';
    display: inline-block;
    width: 15px;
    margin-left: -15px;
  }
}

i {
  background-color: transparent;
  display: inline-block;
  width: 2.5 * $baseline-grid;
  height: 2.5 * $baseline-grid;
  margin-left: 2 * $baseline-grid;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  -webkit-filter: grayscale(100%);

  &:hover {
    opacity: .75;
  }
}
