<footer fxFlex
        fxLayoutAlign=" center"
        [ngClass]="authenticated ? 'km-dark-footer' : 'km-light-footer'">
  <div fxLayout="row">
    <div>powered by
      <a href="https://loodse.com"
         target="_blank"
         rel="noopener">Loodse
      </a>
    </div>
  </div>

  <div *ngIf="!!version"
       fxFlexAlign=" center"
       fxLayout="row">
    <div class="km-separator">–</div>
    <div *ngIf="!version.distance">{{version.tag}}</div>
    <div *ngIf="!!version.distance">v{{version.semverString}}</div>
  </div>

  <div fxFlex
       fxLayoutAlign=" center">
    <div *ngIf="showTermsOfService()"
         fxLayoutAlign=" center">
      <div class="km-separator">|</div>
      <a routerLink="terms-of-service">Terms of Service</a>
    </div>

    <div *ngIf="isDemoSystem()"
         fxLayoutAlign=" center">
      <div class="km-separator">|</div>
      <div>Demo system</div>
    </div>
  </div>

  <div *ngFor="let link of customLinks"
       fxFlexAlign="center"
       fxLayoutAlign="end center">
    <a [href]="link.url"
       [matTooltip]="link.label"
       target="_blank"
       rel="noopener">
      <i [ngStyle]="getCustomLinkIconStyle(link)"></i>
    </a>
  </div>
</footer>
