@import '../../../../assets/css/colors';
@import '../../../../assets/css/variables';

footer {
  padding: $baseline-grid (2.5 * $baseline-grid);
  width: 100%;
  z-index: 999;

  * {
    text-decoration: none;
    font-size: $body-font-size-base;
  }
}

.km-light-footer {
  * {
    color: $white-text-color;
  }
}

.km-dark-footer {
  * {
    color: $footer-text-color;
  }
}

.km-separator {
  padding: 0 $baseline-grid;
}

i {
  background-color: transparent;
  display: inline-block;
  width: 2.5 * $baseline-grid;
  height: 2.5 * $baseline-grid;
  margin-left: 1.5 * $baseline-grid;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  -webkit-filter: grayscale(100%);

  &:hover {
    opacity: 0.7;
  }
}
