@import '../../../../assets/css/colors';
@import '../../../../assets/css/variables';

footer {
  padding: $baseline-grid 0;
  width: 100%;

  * {
    text-decoration: none;
    font-size: $body-font-size-base;
  }
}

.km-light-footer {
  * {
    color: $white-text-color;
  }
}

.km-dark-footer {
  * {
    color: $footer-text-color;
  }
}

.km-separator {
  padding: 0 $baseline-grid;
}

.km-social {
  flex: 1 1 auto;
  text-align: end;

  a {
    padding-left: 1.5 * $baseline-grid;
  }
}
