<footer fxFlex
        fxLayoutAlign=" center"
        [ngClass]="authenticated ? 'km-footer' : 'km-login-footer'">
  <div fxLayout="row wrap"
       fxFlex
       fxLayoutAlign=" center"
       class="content">
    <div>
      <a href="https://loodse.com"
         target="_blank"
         rel="noopener">powered by Loodse</a>
    </div>

    <div *ngIf="!!version && !version.distance">{{version.tag}}</div>

    <div *ngIf="!!version && !!version.distance">v{{version.semverString}}</div>

    <div id="km-edition">{{version.edition}}</div>

    <div *ngIf="settings.displayTermsOfService">
      <a routerLink="terms-of-service">Terms of Service</a>
    </div>

    <div *ngIf="settings.displayAPIDocs">
      <a routerLink="rest-api">API</a>
    </div>

    <div *ngIf="settings.displayDemoInfo">Demo system</div>
  </div>

  <div *ngFor="let link of getCustomLinks()"
       fxFlexAlign="center"
       fxLayoutAlign="end center">
    <a [href]="link.url"
       [matTooltip]="link.label"
       target="_blank"
       rel="noopener">
      <i [ngStyle]="getCustomLinkIconStyle(link)"></i>
    </a>
  </div>
</footer>
