<km-dialog-title title="Install Addon"></km-dialog-title>
<mat-dialog-content>
  <div class="mat-dialog-content">
    <img *ngIf="hasLogo()"
         [src]="getAddonLogo()"
         [alt]="addonName">
    <div *ngIf="!hasLogo()">{{addonName}}</div>
    <div *ngIf="!!addonConfig?.spec?.description"
         class="km-install-addon-dialog-option-desc">
      {{addonConfig.spec.description}}
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button
          (click)="install()">
    Install
  </button>
</mat-dialog-actions>
