@import "../../../../assets/css/colors";

.sshkey-item {
    color: $text-color;
    font-size: 12px;
    cursor: pointer;
    position: relative;

    .key-name {
        font-weight: 500;
        font-size: 14px;
    }

    .key-timestamp {
        font-size: 12px;
    }

    .key-fingerprint {
        text-overflow: ellipsis;
        overflow: hidden;
        padding-right: 30px;
    }
}


.button-delete {
    position: absolute;
    right: 24px;
    top: 8px;
    z-index: 1;
}

.publickey-wrapper {
    background-color: $light-background;
    padding: 23px 20px 15px;

    .publickey-content {
        background-color: #ffffff;

        .publickey-name {
            font-weight: 500;
            text-transform: uppercase;
            color: $text-color;
            padding: 10px 24px;
        }

        .publickey {
            padding: 15px 20px;
            background-color: $medium-background;
            word-wrap:break-word;
            -ms-hyphens: auto;
            -webkit-hyphens: auto;
            hyphens: auto;
            font-size: 12px;
            line-height: 18px;
        }
    }

}
