<div class="km-card-list-content">
  <div fxLayout class="km-card-list-content-item">
    <div fxFlex="48%">
      <div class="key-name">
        {{sshKey.spec.name}}
      </div>
    </div>
    <div fxFlex="48%">
      {{sshKey.spec.fingerprint}}
    </div>
    <div fxFlex="4%">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="deleteSSHKey(sshKey)">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </div>
  </div>
</div>
