@import "../../../assets/css/colors";

.page-404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 500px;

    button {
        width: 120px;
        margin-top: 40px;
    }

    p {
        color: $primary;
        text-align: center;
        margin: 0;
        font-size: 60px;
        font-weight: 600;
    }

    p.big-font {
        font-size: 120px;
    }
}
