.km-page-not-fount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 400px;

  button {
    width: 120px;
    margin-top: 40px;
  }

  p {
    text-align: center;
    margin: 0;
    font-size: 60px;
    font-weight: 600;
  }
}
