@import "../../../../assets/css/colors";
@import "../../../../assets/css/fonts";
@import "../../../../assets/css/variables";

$logo-width: 160px;
$logo-margin-top: 13px;
$logo-margin-left: $logo-margin-top * 2;

header {
  height: $toolbar-height;
}

ng2-slim-loading-bar {
  z-index: 2;
}

.km-navigation-bar {
  background-color: $white-text-color;
  box-shadow: 0 4px 4px rgba($text-color, 0.1);
  height: $toolbar-height;
  position: fixed;
  width: 100%;
  z-index: 2;

  .km-header-logo {
    display: block;
    width: $logo-width + $logo-margin-left;
    height: $toolbar-height;
    background-size: $logo-width;
    background-position: $logo-margin-left $logo-margin-top;
  }

  .km-auth {
    font-size: $subhead-font-size-base;
    font-family: $primary-font-cursive;
    font-weight: 400;
    text-align: right;
    position: fixed;
    right: 20px;

    .km-user {
      margin: (1.25 * $baseline-grid) (1.875 * $baseline-grid) (1.25 * $baseline-grid) 0;
      font-weight: 500;
    }
  }
}

.mat-menu-item,
.mat-menu-item[disabled] {
  color: $text-color;
}

.km-button {
  cursor: pointer;
  display: inline-block;
  color: $text-color;
  text-decoration: none;
  font-family: $primary-font-cursive;
  font-weight: 600;
}
