@import "../../../../assets/css/variables";

$logo-width: 160px;
$logo-margin-top: 13px;

header {
  height: $toolbar-height;
}

.km-navbar {
  padding-left: 3 * $baseline-grid;
  height: $toolbar-height;
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0;

  * {
    z-index: 2;
  }

  .km-header-logo {
    display: block;
    width: $logo-width + $logo-margin-top;
    height: $toolbar-height;
    background-size: $logo-width;
    background-position: $logo-margin-top $logo-margin-top;
  }

  .km-user-panel {
    font-size: $font-size-subhead;
    font-weight: 400;
    text-align: right;
    position: fixed;
    right: 5 * $baseline-grid;
  }
}

.mat-menu-item {
  font-family: $font-primary !important;
  font-size: $font-size-subhead !important;
  font-weight: 400 !important;
  line-height: 2.4 * $line-height;
}

.km-icon-arrow-up {
  height: 1.75 * $baseline-grid;
  margin-left: 3 * $baseline-grid;
  margin-right: $baseline-grid;
  width: 1.75 * $baseline-grid;
}
