<header>
  <div fxLayout
       class="km-navbar"
       fxLayoutAlign=" center">
    <button class="collapse-button"
            mat-icon-button
            fxLayoutAlign="center center"
            *ngIf="showMenuSwitchAndProjectSelector"
            (click)="collapseSidenav()">
      <i class="km-icon-mask km-icon-collapse-menu"></i>
    </button>
    <a class="km-header-logo"
       routerLink="projects"></a>
    <km-project-selector *ngIf="isAuthenticated() && showMenuSwitchAndProjectSelector"
                         [showSidenav]="showSidenav"
                         class="project-selector"
                         fxFlex></km-project-selector>
    <km-notification-panel *ngIf="isAuthenticated()"></km-notification-panel>
    <km-user-panel *ngIf="isAuthenticated()"></km-user-panel>
  </div>
</header>
