@import "../../../../assets/css/variables";

$logo-width: 160px;
$logo-margin-top: 13px;
$logo-margin-left: $logo-margin-top * 2;

header {
  height: $toolbar-height;
}

.km-navbar {
  height: $toolbar-height;
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0;

  * {
    z-index: 2;
  }

  .km-header-logo {
    display: block;
    width: $logo-width + $logo-margin-left;
    height: $toolbar-height;
    background-size: $logo-width;
    background-position: $logo-margin-left $logo-margin-top;
  }

  .km-auth {
    font-size: $font-size-subhead;
    font-weight: 400;
    text-align: right;
    position: fixed;
    right: 20px;

    .km-user-menu {
      margin: (1.25 * $baseline-grid) (1.875 * $baseline-grid) (1.25 * $baseline-grid) 0;
      font-weight: 500;
    }
  }
}
