@import "../../../../assets/css/colors";
@import "../../../../assets/css/fonts";
@import "../../../../assets/css/variables";

$MOBILE_RESOLUTION_BREAKPOINT: 504px;

header {
  height: $toolbar-height;
}

ng2-slim-loading-bar {
  z-index: 2;
}

.km-navigation-bar {
  z-index: 2;
  height: $toolbar-height;
  background-color: $white-text-color;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 4px 4px rgba($text-color, 0.1);
  margin-left: $sidenav-width;

  .km-header-logo {
    display: block;
    width: 240px;
    height: $toolbar-height;
    background-size: 218px;
    background-position: 0 -24px;
  }

  .km-auth {
    font-size: 14px;
    line-height: $toolbar-height;
    font-family: $primary-font-cursive;
    font-weight: 400;
    text-align: right;

    .km-current-user {
      margin-right: 20px;
    }

    .km-login {
      padding-left: 15px;
      margin-right: 25px;
      font-weight: 500;
      line-height: 22px;
    }

    .km-logout {
      padding-left: 15px;
      margin-right: 25px;
      font-weight: 500;
      line-height: 22px;
    }
  }
}

.km-button {
  cursor: pointer;
  display: inline-block;
  color: $text-color;
  text-decoration: none;
  font-family: $primary-font-cursive;
  font-weight: 600;
}
