<header (scrollChange)="scrolledChanged($event)" [ngClass]="{scrolled: isScrolled}" (window:resize)="onResize($event)">

  <ng2-slim-loading-bar [color]="'white'" [height]="'2px'"></ng2-slim-loading-bar>

  <div fxLayout class="navigation-bar">
    <div fxFlex.sm="20%">
      <button class="sidenav-toggle mat-button nav-mobile" (click)="showMobileNav()" mat-button>
          <span class="mat-button-wrapper">
            <mat-icon role="img" class="material-icons mat-icon" aria-label="menu">menu</mat-icon>
            <span>Kubermatic</span>
          </span>
        <div class="mat-button-ripple mat-ripple" mat-ripple></div>
        <div class="mat-button-focus-overlay"></div>
      </button>
    </div>
    <div fxFlex.sm="60%"><a class="logo"></a></div>
    <div fxFlex.sm="20%" class="auth">
      <span class="current-user" *ngIf="currentUser && !!currentUser.name">{{ currentUser.name }}</span>
      <span id="navbar-logout-btn"  class="button logout" *ngIf="auth.authenticated()" (click)="logout()">
        Logout
      </span>
      <a class="button login"  *ngIf="!auth.authenticated()" href="{{environment.coreOSdexAuth}}">
        Login / Sign-in
      </a>
    </div>
  </div>


<!-- TODO: add mobile nav -->
  <!--
        <button class="sidenav-toggle mat-button nav-mobile" (click)="showMobileNav()" mat-button>
          <span class="mat-button-wrapper">
            <mat-icon role="img" class="material-icons mat-icon" aria-label="menu">menu</mat-icon>
            <span>Kubermatic</span>
          </span>
          <div class="mat-button-ripple mat-ripple" mat-ripple></div>
          <div class="mat-button-focus-overlay"></div>
        </button>
      -->

</header>


