@import "../../../../assets/css/colors";
@import "../../../../assets/css/fonts";

$MOBILE_RESOLUTION_BREAKPOINT: 504px;

header {
  height: 45px;
}

ng2-slim-loading-bar {
  z-index: 2;
}

.km-navigation-bar {
  z-index: 2;
  height: 45px;
  background-color: $white-text-color;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 4px 4px rgba($text-color, 0.1);

  .km-header-logo {
    display: block;
    margin: 0 auto;
    width: 220px;
    height: 45px;
    background-size: 220px;
    background-position: 0 -5px;
  }

  .km-header-logo-altemista {
    height: 45px;
    width: 220px;
    display: block;
    margin: 0 20px auto;
    background-size: 120px;
    background-position: 0;
  }

  .km-auth {
    font-size: 14px;
    line-height: 45px;
    font-family: $primary-font-cursive;
    font-weight: 400;
    text-align: right;

    .km-current-user {
      margin-right: 20px;
    }

    .km-login {
      padding-left: 15px;
      margin-right: 25px;
      font-weight: 500;
      line-height: 22px;
    }

    .km-logout {
      padding-left: 15px;
      margin-right: 25px;
      font-weight: 500;
      line-height: 22px;
    }
  }
}

.km-button {
  cursor: pointer;
  display: inline-block;
  color: $text-color;
  text-decoration: none;
  font-family: $primary-font-cursive;
  font-weight: 600;
}

.km-nav-mobile {
  display: none;
}

@media screen and (max-width: $MOBILE_RESOLUTION_BREAKPOINT) {
  .km-nav-default {
    display: none;
  }

  .km-nav-mobile {
    display: block;
  }
}
