<header>
  <div fxLayout
       class="km-navbar">
    <a class="km-header-logo"
       routerLink="projects"></a>
    <div *ngIf="isAuthenticated()"
         class="km-auth"
         fxFlex>
      <button mat-icon-button
              [matMenuTriggerFor]="menu"
              class="km-user-menu"
              id="km-navbar-user-menu">
        <i class="km-icon-mask km-user"></i>
        <mat-menu #menu="matMenu"
                  class="km-user-menu">
          <button mat-menu-item
                  *ngIf="currentUser && !!currentUser.name"
                  (click)="$event.stopPropagation()"
                  [disabled]="true">
            {{currentUser.name}}
          </button>

          <mat-divider></mat-divider>

          <button mat-menu-item
                  (click)="goToAccount()">
            <span>Account</span>
          </button>

          <button mat-menu-item
                  *ngIf="isAdminPanelVisible()"
                  (click)="goToAdminPanel()">
            <span>Admin Panel</span>
          </button>

          <button mat-menu-item
                  id="km-navbar-logout-btn"
                  *ngIf="isAuthenticated()"
                  (click)="logout()">
            <span>Sign out</span>
          </button>
        </mat-menu>
      </button>
    </div>
  </div>
</header>
