<div style="max-width: 400px; min-width: 400px;">
  <mat-toolbar>
    Add Node
    <button mat-icon-button mat-dialog-close>
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
  </mat-toolbar>
  <mat-button-toggle-group #group="matButtonToggleGroup" (change)="changeView(group.value)" *ngIf="!cluster.spec.cloud.hetzner && !cluster.spec.cloud.openstack && !cluster.spec.cloud.bringyourown">
    <mat-button-toggle value="standard" checked="true">
      Standard
    </mat-button-toggle>
    <mat-button-toggle value="extended">
      Extended
    </mat-button-toggle>
  </mat-button-toggle-group>
  <mat-dialog-content>
    <div class="mat-dialog-content">
      <kubermatic-add-node [cluster]="cluster" [nodeData]="addNodeData"></kubermatic-add-node>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-dialog-close mat-raised-button>
      Close
    </button>
    <button mat-raised-button mat-dialog-close color="primary" [disabled]="!addNodeData.valid" (click)="addNode()" class="btn btn-primary">
      Add Node(s)
    </button>
  </mat-dialog-actions>
</div>
