<div style="max-width: 400px; min-width: 400px;">
  <md-toolbar>
    <div class="md-toolbar">
      <h4 class="modal-title" id="myModalLabel"> Add Node</h4>
    </div>
    <button md-icon-button md-dialog-close>
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
  </md-toolbar>
  <md-dialog-content>
    <div class="md-dialog-content">
      <kubermatic-add-node
        [provider]="provider"
        (nodeModelChanges)="changeNodeModel($event)"
        (formChanges)="changeForm($event)">
      </kubermatic-add-node>
    </div>
  </md-dialog-content>

  <md-dialog-actions *ngIf="form">
    <button md-dialog-close md-raised-button>
      close
    </button>
    <button md-raised-button md-dialog-close color="primary" value="submit" [disabled]="!form.valid" (click)="addNode()" class="btn btn-primary">
      Add Node(s)
    </button>
  </md-dialog-actions>
</div>
