<form [formGroup]="digitaloceanSettingsForm" fxLayout="column">
  <div fxLayoutAlign="center center" class="provider-message">
    <p>
      We need a DigitalOcean Personal Access Token.
      You can create one&nbsp;<a target="_new" href="https://cloud.digitalocean.com/settings/api/tokens/new">here</a>.
    </p>
  </div>
  <mat-form-field fxFlex>
    <input matInput formControlName="token" type="password" placeholder="API Token*:" autocomplete="off">
    <mat-error *ngIf="digitaloceanSettingsForm.controls.token.hasError('required')">
      DigitalOcean Personal Access Token is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="(digitaloceanSettingsForm.controls.token.hasError('minlength')
                      || digitaloceanSettingsForm.controls.token.hasError('maxlength'))">
      DigitalOcean Personal Access Tokens must be exactly <strong>64</strong> characters long.
    </mat-error>
  </mat-form-field>
</form>
