<form [formGroup]="form"
      fxLayout="column">
  <mat-form-field fxFlex>
    <mat-label>API Token</mat-label>
    <input id="km-digitalocean-token-input"
           [required]="tokenRequired"
           matInput
           formControlName="token"
           name="token"
           type="password"
           autocomplete="off">
    <mat-hint>
      We need a DigitalOcean Personal Access Token. You can create one&nbsp;<a target="_blank"
         rel="noopener"
         href="https://cloud.digitalocean.com/settings/api/tokens/new">here</a>.
    </mat-hint>
    <mat-error *ngIf="form.controls.token.hasError('required')">
      DigitalOcean Personal Access Token is <strong>required</strong>.
    </mat-error>
    <mat-error *ngIf="(form.controls.token.hasError('minlength')
                      || form.controls.token.hasError('maxlength'))">
      DigitalOcean Personal Access Tokens must be exactly <strong>64</strong> characters long.
    </mat-error>
  </mat-form-field>
</form>
