<km-dialog-title title="Give Access to Your Cluster"></km-dialog-title>
<mat-dialog-content>
  <div class="mat-dialog-content">
    <p>You can share this cluster with users by giving them the following link. They can use it to authenticate with an OIDC provider and then generate a kubeconfig.</p>
    <p>Please visit our <a href="https://docs.kubermatic.io/advanced/oidc_auth"
         target="_blank">documentation</a> for more details.</p>
    <div class="km-code-block">{{kubeconfigLink}}</div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-dialog-close
          mat-flat-button
          color="alternative">>
    Close
  </button>
  <button mat-flat-button
          ngxClipboard
          [cbContent]="kubeconfigLink">
    Copy to clipboard
  </button>
</mat-dialog-actions>
