<km-dialog-title title="Share"></km-dialog-title>
<mat-dialog-content>
  <div class="mat-dialog-content">
    <p>
      You can share this cluster with users by giving them the following link.
      They can use it to authenticate with an OIDC provider and then generate a kubeconfig.
    </p>
    <p>
      Please <a href="https://docs.kubermatic.io/advanced/oidc_auth"
         target="_blank"
         rel="noopener">visit our documentation</a>
      for more details.
    </p>
    <div class="km-code-block">{{kubeconfigLink}}</div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="km-small-button"
          mat-flat-button
          color="alternative"
          ngxClipboard
          [cbContent]="kubeconfigLink">
    <i class="km-icon-copy"></i>
  </button>
  <button mat-dialog-close
          mat-flat-button>
    Got it
  </button>
</mat-dialog-actions>
