<mat-toolbar>
  Share Kubeconfig
  <button mat-icon-button mat-dialog-close>
    <i class="fa fa-times" aria-hidden="true"></i>
  </button>
</mat-toolbar>
<mat-dialog-content>
  <div class="mat-dialog-content">
    <p>By clicking on this button you will copy a link with which you can share the kubeconfig of this cluster with others.</p>
    <button class="download-kubeconfig-btn" mat-raised-button color="primary" ngxClipboard [cbContent]="shareKubeconfig()" matTooltip="click to copy">Create Link to share kubeconfig</button>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-dialog-close mat-raised-button>
    Close
  </button>
</mat-dialog-actions>

