@import "../../../assets/css/variables";

div.km-node-options {
  width: 100%;
  line-height: 3 * $line-height;
  font-size: $body-font-size-base;
  display: flex;
  margin-bottom: 1.875 * $baseline-grid;

  mat-checkbox,
  label {
    flex: 1 1 100%;
  }
}
