<form [formGroup]="form"
      fxLayout="column">
  <div fxFlex
       class="mat-select-container">
    <mat-form-field>
      <mat-label>Disk Size*</mat-label>
      <input matInput
             formControlName="diskSize"
             type="number"
             autocomplete="off">
    </mat-form-field>
  </div>

  <div fxFlex
       class="mat-select-container">
    <mat-form-field>
      <mat-label>Zone*</mat-label>
      <mat-select formControlName="zone"
                  [panelClass]="isInWizard() ? '' : 'km-add-dialog-dropdown'"
                  disableOptionCentering>
        <mat-option *ngFor="let zone of zones"
                    [value]="zone.name">
          {{zone.name}}
        </mat-option>
      </mat-select>
      <mat-hint>{{getZoneHint()}}</mat-hint>
    </mat-form-field>
  </div>

  <div fxFlex
       class="mat-select-container">
    <mat-form-field>
      <mat-label>Disk Type*</mat-label>
      <mat-select formControlName="diskType"
                  [panelClass]="isInWizard() ? '' : 'km-add-dialog-dropdown'"
                  disableOptionCentering>
        <mat-option *ngFor="let type of diskTypes"
                    [value]="type.name">
          {{type.name}} ({{type.description}})
        </mat-option>
      </mat-select>
      <mat-hint>{{getDiskTypeHint()}}</mat-hint>
    </mat-form-field>
  </div>

  <div fxFlex
       class="mat-select-container">
    <mat-form-field>
      <mat-label>Machine Type*</mat-label>
      <input matInput
             formControlName="machineType"
             name="machineType"
             placeholder="Machine Type*"
             [matAutocomplete]="autoMachines">
      <mat-autocomplete #autoMachines="matAutocomplete">
        <mat-option *ngFor="let type of filteredMachineTypes"
                    [value]="type.name">
          {{type.name}} ({{type.description}})
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="form.controls.machineType.hasError('mustBeInList') && !form.controls.machineType.hasError('required')">Input doesn't match options. Please choose from given options.</mat-error>
      <mat-error *ngIf="form.controls.machineType.hasError('required')">Machine Type is <strong>required</strong>.</mat-error>
      <mat-hint>{{getSizeHint()}}</mat-hint>
    </mat-form-field>
  </div>

  <mat-form-field>
    <mat-label>Custom Image</mat-label>
    <input matInput
           formControlName="customImage"
           type="text"
           autocomplete="off">
  </mat-form-field>

  <div fxFlex="100%">
    <div class="km-node-options">
      <mat-checkbox id="preemptible"
                    formControlName="preemptible">Preemptible</mat-checkbox>
    </div>
  </div>
</form>
