<div id="km-add-serviceaccount-dialog">
  <km-dialog-title title="Add Service Account"></km-dialog-title>
  <mat-dialog-content>
    <div class="mat-dialog-content">
      <form [formGroup]="addServiceAccountForm"
            fxLayout="column">

        <mat-form-field fxFlex>
          <mat-label>Name*</mat-label>
          <input id="km-add-serviceaccount-dialog-name-input"
                 matInput
                 formControlName="name"
                 type="name"
                 autocomplete="off"
                 cdkFocusInitial>
          <mat-error *ngIf="addServiceAccountForm.controls.name.hasError('required')">
            Name is <strong>required</strong>.
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex>
          <mat-label>Group*</mat-label>
          <mat-select id="km-add-serviceaccount-dialog-group-combobox"
                      panelClass="km-add-dialog-dropdown"
                      disableOptionCentering
                      formControlName="group">
            <mat-option value="editors">Editor</mat-option>
            <mat-option value="viewers">Viewer</mat-option>
          </mat-select>
          <mat-error *ngIf="addServiceAccountForm.controls.group.hasError('required')">
            Group is <strong>required</strong>.
          </mat-error>
        </mat-form-field>

      </form>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button id="km-add-serviceaccount-dialog-add-btn"
            mat-flat-button
            (click)="addServiceAccount()"
            [disabled]="!addServiceAccountForm.valid">
      Add
    </button>
  </mat-dialog-actions>
</div>
