@import "../../../../assets/css/colors";
@import "../../../../assets/css/variables";

.km-icon-edit,
.km-icon-delete {
  height: 14px;
  width: 14px;
  background-color: $white-text-color;
}

button:disabled {
  .km-icon-edit,
  .km-icon-delete {
    background-color: $disabled-text-color;
  }
}

.km-node-deployment-detail-card {
  margin-top: 2 * $baseline-grid;
}

.km-node-deployment-health {
  text-align: center;

  &.green {
    color: $indicator-green;
  }

  &.orange {
    color: $indicator-orange;
  }

  &.red {
    color: $indicator-red;
  }
}

.km-node-deployment-name {
  padding: 0 30px !important;
  font-size: $subhead-font-size-base-lg !important;

  .km-node-deployment-health {
    padding-left: 2 * $baseline-grid;
  }
}

.fa-check {
  color: $indicator-green !important;
}

.fa-times {
  color: $indicator-red !important;
}

.km-provider-logo {
  height: 4 * $baseline-grid !important;
}
