@import "../../../../assets/css/colors";
@import "../../../../assets/css/variables";

.km-icon-edit {
  height: 14px !important;
  width: 14px !important;
}

.km-node-deployment-detail-card {
  margin-top: 2 * $baseline-grid;
}

.km-node-deployment-health {
  text-align: center;

  &.green {
    color: $healthy-status-color;
  }

  &.orange {
    color: $waiting-status-color;
  }
}

.km-node-deployment-name {
  margin-left: 2 * $baseline-grid;
}

.km-provider-logo {
  height: 4 * $baseline-grid !important;
}
