<ng-container *ngIf="isInitialized()">
  <div fxLayout
       class="km-node-deployment-detail-actions">
    <div fxFlex="100%"
         align="right">

      <button mat-flat-button
              color="tertiary"
              (click)="showDeleteDialog()"
              [disabled]="!isDeleteEnabled()">
        Delete
      </button>
      <div fxFlex></div>
      <button mat-flat-button
              color="alternative"
              (click)="goBackToCluster()">
        Go Back to the Cluster
      </button>

      <button mat-flat-button
              (click)="showEditDialog()"
              [disabled]="!isEditEnabled()">
        Edit
      </button>
    </div>
  </div>

  <mat-card class="km-node-deployment-detail-card white">
    <mat-card-header>
      <mat-card-title>
        <i [matTooltip]="nodeDeploymentHealthStatus.message"
           [ngClass]="nodeDeploymentHealthStatus.color"
           class="km-node-deployment-health"></i>
        <span>{{nodeDeployment.name}}</span>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="row wrap"
                      class="km-row">

      <div class="km-content-wrap">
        <km-property>
          <div key>Status</div>
          <div value
               id="km-node-deployment-status">
            {{nodeDeploymentHealthStatus.message}}
          </div>
        </km-property>
        <km-property>
          <div key>Replicas</div>
          <div value>
            <span>{{!!nodeDeployment.status?.availableReplicas ? nodeDeployment.status.availableReplicas : 0}}/{{!!nodeDeployment.spec?.replicas ? nodeDeployment.spec.replicas : 0}}</span>
            <span *ngIf="nodeDeployment.status?.availableReplicas > nodeDeployment.spec.replicas"
                  matTooltip="Number of available machines may be higher than number of desired machines from the template if deployment is updating.">
              <i class="fa fa-question-circle"
                 aria-hidden="true"></i>
            </span>
          </div>
        </km-property>
        <km-property>
          <div key>Paused</div>
          <div value>{{nodeDeployment.spec.paused}}</div>
        </km-property>
        <km-property>
          <div key>Type</div>
          <div value>
            <span class="km-cluster-type"
                  [matTooltip]="getType(cluster.type)">
              <i class="km-icon-{{cluster.type}}"></i>
            </span>
          </div>
        </km-property>
        <km-property>
          <div key>{{getVersionHeadline(cluster.type, true)}}</div>
          <div value>{{nodeDeployment.spec.template.versions.kubelet}}</div>
        </km-property>
        <km-property>
          <div key>Operating System</div>
          <div value>{{system}}</div>
        </km-property>
        <km-property *ngIf="nodeDeployment.spec.template.operatingSystem.ubuntu">
          <div key>Upgrade System on the First Boot</div>
          <div value>
            <i [ngClass]="nodeDeployment.spec.template.operatingSystem.ubuntu.distUpgradeOnBoot ? 'fa fa-check' : 'fa fa-times'"></i>
          </div>
        </km-property>
        <km-property *ngIf="nodeDeployment.spec.template.operatingSystem.centos">
          <div key>Upgrade System on the First Boot</div>
          <div value>
            <i [ngClass]="nodeDeployment.spec.template.operatingSystem.centos.distUpgradeOnBoot ? 'fa fa-check' : 'fa fa-times'"></i>
          </div>
        </km-property>
        <km-property *ngIf="nodeDeployment.spec.template.operatingSystem.containerLinux">
          <div key>Disable Auto-update</div>
          <div value>
            <i [ngClass]="nodeDeployment.spec.template.operatingSystem.containerLinux.disableAutoUpdate ? 'fa fa-check' : 'fa fa-times'"></i>
          </div>
        </km-property>
        <km-property>
          <div key>Cluster Name</div>
          <div value
               class="km-link"
               id="km-node-deployment-cluster-name"
               (click)="goBackToCluster()">{{cluster.name}}</div>
        </km-property>
        <km-property>
          <div key>Cluster Provider</div>
          <div value>
            <span class="km-provider-logo km-provider-logo-{{clusterProvider}}"></span>
          </div>
        </km-property>
        <km-property>
          <div key>Datacenter Location</div>
          <div value>{{datacenter.spec.country}}, {{datacenter.spec.location}}</div>
        </km-property>
        <km-property>
          <div key>Created</div>
          <div value>
            <km-relative-time [date]="nodeDeployment.creationTimestamp"></km-relative-time>
          </div>
        </km-property>
        <km-property>
          <div key>Node Labels</div>
          <div value>
            <km-labels [labels]="nodeDeployment.spec.template.labels"></km-labels>
          </div>
        </km-property>
        <km-property>
          <div key>Node Taints</div>
          <div value>
            <km-taints [taints]="nodeDeployment.spec.template.taints"></km-taints>
          </div>
        </km-property>
      </div>
    </mat-card-content>
  </mat-card>

  <kubermatic-node-list [cluster]="cluster"
                        [nodes]="nodes"
                        (deleteNode)="loadNodes()"
                        [datacenter]="seedDatacenter"
                        [projectID]="getProjectID()"
                        [isClusterRunning]="true"
                        [clusterHealthStatus]="{css: 'km-status-running'}"></kubermatic-node-list>

  <km-event-list [events]="events"></km-event-list>

</ng-container>

<ng-container *ngIf="!isInitialized()">
  <mat-spinner color="accent"
               class="km-spinner"></mat-spinner>
</ng-container>
