<ng-container *ngIf="isInitialized()">
  <div fxLayout class="km-node-deployment-detail-actions">
    <div fxFlex="100%" align="right">
      <button mat-button
              mat-raised-button
              color="primary"
              (click)="goBackToCluster()">
        <i class="fa fa-history" aria-hidden="true"></i>
        Go back to Cluster
      </button>
      <button mat-button
              mat-raised-button
              color="primary"
              (click)="showEditDialog()">
        <mat-icon class="km-icon-edit white"></mat-icon>
        Edit Node Deployment
      </button>
      <button mat-button
              mat-raised-button
              color="primary"
              (click)="showDeleteDialog()"
              [disabled]="!!userGroup && !userGroupConfig[userGroup].nodes.delete">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
        Delete Node Deployment
      </button>
    </div>
  </div>

  <kubermatic-node-list [cluster]="cluster"
                        [nodes]="nodes"
                        (deleteNode)="loadNodes()"
                        [datacenter]="dc"
                        [projectID]="projectID"
                        [isClusterRunning]="true"
                        [hasInitialNodes]="true"
                        clusterHealthStatus="km-status-running"></kubermatic-node-list>
</ng-container>

<ng-container *ngIf="!isInitialized()">
  <mat-spinner color="accent" class="km-spinner"></mat-spinner>
</ng-container>
