.generate-name-btn {
   margin-top: 30px;
   &.button {
     background-color: transparent;
     border: none;
     color: #0288D1;
     outline: none;
     cursor: pointer;
     font-size: 14px;
     font-weight: 600;
     padding: 0;
     &:hover {
       color: #0288D1;
     }
   }
 }
