<div fxLayout="row"
     fxLayout.md="column"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutGap="20px">
  <mat-card class="km-set-cluster-spec"
            fxFlex>
    <mat-card-header>
      <mat-card-title class="km-color-primary">Cluster</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="clusterSpecForm"
            fxLayout="column">
        <mat-form-field fxFlex>
          <mat-label>Name*</mat-label>
          <input id="km-create-cluster-name-input"
                 matInput
                 formControlName="name"
                 type="text"
                 title="name"
                 autocomplete="off">
          <button mat-icon-button
                  class="km-randomize-btn"
                  matTooltip="Generate name"
                  (click)="generateName()">
            <i class="km-icon-randomize"></i>
          </button>
          <mat-error *ngIf="clusterSpecForm.controls.name.hasError('required')">
            Name is <strong>required</strong>.
          </mat-error>
          <mat-error *ngIf="clusterSpecForm.controls.name.hasError('minlength')">
            Name must be at least {{ clusterSpecForm.controls.name.getError('minlength').requiredLength }} characters.
          </mat-error>
          <mat-error *ngIf="clusterSpecForm.controls.name.hasError('pattern')">
            Name can only contain alphanumeric characters and dashes (a-z, 0-9 and -).
          </mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card class="km-set-cluster-spec"
            fxFlex>
    <mat-card-header>
      <mat-card-title class="km-color-primary">Specification</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="clusterSpecForm"
            class="km-cluster-spec">

        <mat-button-toggle-group group="clusterSpecTypeGroup"
                                 class="km-cluster-spec-type"
                                 formControlName="type"
                                 *ngIf="hasMultipleTypes()">
          <mat-button-toggle value="kubernetes"
                             *ngIf="!hideType('kubernetes')">
            <i class="km-icon-kubernetes"></i>
            Kubernetes
          </mat-button-toggle>
          <mat-button-toggle value="openshift"
                             *ngIf="!hideType('openshift')">
            <i class="km-icon-openshift"></i>
            OpenShift
          </mat-button-toggle>
        </mat-button-toggle-group>

        <mat-form-field class="km-version-inline">
          <mat-label>Version</mat-label>
          <mat-select formControlName="version"
                      disableOptionCentering>
            <mat-option *ngFor="let version of masterVersions"
                        [value]="version.version">
              {{ version.version }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>
</div>
