@import "../../../assets/css/colors";

.generate-name-btn {
  margin-top: 30px;
  &.button {
    background-color: transparent;
    border: none;
    color: $primary;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    padding: 0;
    &:hover {
      color: $primary;
    }
  }
}

.set-cluster-spec {
  padding: 0 3px;
  &:nth-child(1) {
    padding-right: 20px;
  }
}

