<kubermatic-add-node-form [connect]="connect" [formGroup]="awsNodeForm" (change)="onChange()">
  <mat-input-container fxFlex>
    <input id="node_count" matInput formControlName="node_count" min="1" max="20" type="number" placeholder="Quantity of Nodes*:"
      title="node_count">
  </mat-input-container>

  <div fxFlex class="mat-select-container">
    <mat-select placeholder="Node Size*:" id="node_size" name="nodeSize" formControlName="node_size" (change)="onChange()">
      <mat-option *ngIf="!nodeSize.length" [value]="">Please add your AWS credentials first!</mat-option>
      <mat-option *ngFor="let size of nodeSize; let i = index;" [value]="size">
        {{size}}
      </mat-option>
    </mat-select>
  </div>

  <mat-input-container fxFlex>
    <input id="root_size" matInput formControlName="root_size" min="10" max="16000" type="number" placeholder="Disk size in GB (gp2)*:"
      title="Disk size">
  </mat-input-container>

  <mat-input-container fxFlex *ngIf="awsNodeForm.controls['aws_nas'].value">
    <input type="text" matInput id="ami" name="ami" formControlName="ami" ng-trim="true" placeholder="AMI ID (optional):" autocomplete="off"
    />
  </mat-input-container>
  <div class="slider-box">
    <mat-slide-toggle id="aws_nas" formControlName="aws_nas">Extend Node settings</mat-slide-toggle>
  </div>
  <p class="km-warning-msg">
    You need to accept the Software Terms of CoreOS. For this please click on the link, select "manual launch" & click on "Accept
    Software Terms".
    <a target="_blank" href="https://aws.amazon.com/marketplace/pp?sku=ryg425ue2hwnsok9ccfastg4">CoreOS Software Terms</a>
  </p>
  <div class="km-warning-msg pointer">
    <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>How to accept the Software Terms</strong>
    <ol>
      <li>Go to <a target="_blank" href="https://aws.amazon.com/marketplace/pp?sku=ryg425ue2hwnsok9ccfastg4">CoreOS Software Terms</a></li>
      <li>Click on "Continue"</li>
      <li>Login with your credentials</li>
      <li>Click on "Accept Software Terms & Launch with 1-Click"</li>
    </ol>
  </div>
</kubermatic-add-node-form>
