<form [formGroup]="awsNodeForm" fxLayout="column">
  <div fxFlex class="mat-select-container">
    <mat-form-field>
      <mat-select placeholder="Node Size*:" formControlName="type">
        <mat-option *ngFor="let type of instanceTypes" [value]="type">
        {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div fxFlex class="mat-select-container">
    <mat-form-field>
      <mat-select placeholder="Disk type*:" formControlName="disk_type">
        <mat-option *ngFor="let type of diskTypes" [value]="type">
        {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-form-field fxFlex>
    <input matInput formControlName="disk_size" min="10" max="16000" type="number" placeholder="Disk size in GB (gp2)*:" autocomplete="off">
  </mat-form-field>

  <!-- <mat-form-field fxFlex>
    <input matInput formControlName="ami" placeholder="AMI ID:" autocomplete="off">
  </mat-form-field> -->
</form>
