@import "../../assets/css/colors";

.km-serviceaccount-item-actions {
  display: flex;
  justify-content: flex-end;

  button {
    margin-left: 20px;
  }
}

.km-serviceaccount-token {
  padding: 0 !important;

  .km-serviceaccount-token-wrapper {
    background-color: $light-background;
    padding: 20px;
  }
}

.fa-plus {
  color: $text-color;
}
