@import "../../assets/css/colors";
@import "../../assets/css/variables";

.km-serviceaccount-item-actions {
  display: flex;
  justify-content: flex-end;
}

.km-serviceaccount-token {
  padding: 0 !important;

  .km-serviceaccount-token-wrapper {
    background-color: $light-background;
    box-shadow: $border-box-shadow-inset;
    padding: (1.875 * $baseline-grid) (3.75 * $baseline-grid) (2.5 * $baseline-grid) (7.5 * $baseline-grid);
  }
}

.fa-plus {
  color: $text-color;
}
