<div fxLayout>
  <div fxFlex
       align="right">
    <button id="km-add-serviceaccount-top-btn"
            mat-raised-button
            color="primary"
            type="button"
            (click)="addServiceAccount()"
            [disabled]="!isEnabled('create', 'serviceaccounts')">
      <span class="km-btn-text-default">+ Add Service Account</span>
    </button>
  </div>
</div>

<mat-card class="blue km-serviceaccount-view">
  <mat-card-content>
    <table class="km-table"
           mat-table
           multiTemplateDataRows
           matSort
           [dataSource]="getDataSource()">
      <ng-container matColumnDef="status">
        <th mat-header-cell
            *matHeaderCellDef
            class="km-header-cell"></th>
        <td mat-cell
            *matCellDef="let element">
          <i [matTooltip]="element.status"
             [ngClass]="getStateIconClass(element.status)"
             class="km-health-state"></i>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell
            *matHeaderCellDef
            class="km-header-cell"
            mat-sort-header>Name</th>
        <td mat-cell
            *matCellDef="let element">{{element.name}}</td>
      </ng-container>

      <ng-container matColumnDef="group">
        <th mat-header-cell
            *matHeaderCellDef
            class="km-header-cell"
            mat-sort-header>Group</th>
        <td mat-cell
            *matCellDef="let element">{{getGroupDisplayName(element.group)}}</td>
      </ng-container>

      <ng-container matColumnDef="creationDate">
        <th mat-header-cell
            *matHeaderCellDef
            class="km-header-cell"
            mat-sort-header>Creation Date</th>
        <td mat-cell
            *matCellDef="let element">{{element.creationTimestamp | date:'yyyy-MM-dd, h:mm:ss a'}}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell
            *matHeaderCellDef
            class="km-header-cell"></th>
        <td mat-cell
            *matCellDef="let element">
          <div class="km-serviceaccount-item-actions">
            <ng-container [ngSwitch]="!!element.deletionTimestamp">
              <ng-container *ngSwitchCase="true">
                <mat-spinner [diameter]="30"
                             class="km-spinner"
                             color="accent"></mat-spinner>
              </ng-container>

              <ng-container *ngSwitchCase="false">
                <button class="fa fa-plus"
                        [attr.id]="'km-add-serviceaccount-token-' + element?.id"
                        matTooltip="Add Service Account Token"
                        (click)="addServiceAccountToken(element)"
                        [disabled]="!isEnabled('create', 'serviceaccountToken')"></button>

                <button class="km-icon-edit black"
                        [attr.id]="'km-edit-serviceaccount-' + element?.id"
                        matTooltip="Edit Service Account"
                        (click)="editServiceAccount(element)"
                        [disabled]="!isEnabled('edit', 'serviceaccounts')"></button>

                <button class="km-icon-delete black"
                        [attr.id]="'km-delete-serviceaccount-' + element?.id"
                        matTooltip="Delete Service Account"
                        (click)="deleteServiceAccount(element)"
                        [disabled]="!isEnabled('delete',  'serviceaccounts')"></button>
              </ng-container>
            </ng-container>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="token">
        <td mat-cell
            *matCellDef="let element"
            class="km-serviceaccount-token"
            [attr.colspan]="displayedColumns.length">
          <div class="km-serviceaccount-token-wrapper">
            <kubermatic-serviceaccount-token [serviceaccount]="element"></kubermatic-serviceaccount-token>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row
          class="km-header-row"
          *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row
          *matRowDef="let row; columns: displayedColumns"
          class="km-mat-row km-clickable"
          (click)="toggleToken(row)"></tr>
      <tr mat-row
          *matRowDef="let row; let i=index; columns: toggledColumns; when: shouldToggleToken"
          class="km-mat-row"></tr>
    </table>

    <ng-container *ngIf="!serviceAccounts || serviceAccounts.length === 0">
      <div class="km-row km-no-item"
           *ngIf="!isInitializing">
        No Service Accounts available.
      </div>
      <div class="km-row"
           *ngIf="isInitializing">
        <mat-spinner color="accent"
                     class="km-spinner"
                     [diameter]="30"></mat-spinner>
      </div>
    </ng-container>

  </mat-card-content>
</mat-card>
