<div class="km-dialog-box kd-add-nodes-dialog">
  <mat-toolbar>
    {{getDialogLabel()}}
    <button mat-icon-button mat-dialog-close>
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
  </mat-toolbar>
  <mat-tab-group class="km-change-view" (selectedTabChange)="onTabChange($event)" *ngIf="!cluster.spec.cloud.hetzner && !cluster.spec.cloud.bringyourown && !cluster.spec.cloud.openstack">
    <mat-tab label="Simple"></mat-tab>
    <mat-tab label="Extended"></mat-tab>
  </mat-tab-group>
  <mat-dialog-content class="km-add-node-outer">
    <div class="mat-dialog-content km-add-node-inner">
      <kubermatic-node-data [cluster]="cluster" [nodeData]="addNodesData"></kubermatic-node-data>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-dialog-close mat-raised-button>
      Close
    </button>
    <button mat-raised-button mat-dialog-close color="primary" [disabled]="!addNodesData.valid" (click)="addNodes()" class="btn btn-primary">
      {{getDialogLabel()}}
    </button>
  </mat-dialog-actions>
</div>
