@import "../../assets/css/colors";

.km-projects-spinner {
  margin: 20px auto !important;
}

.km-health-status {
  text-align: center;
}

.km-project-item-actions {
  display: flex;
  justify-content: flex-end;

  button {
    margin-left: 15px;
  }
}

.km-project-item-owner {
  display: block;
  line-height: 30px;
  height: 100%;
}
