@import "../../assets/css/colors";
@import "../../assets/css/variables";

.km-projects-spinner {
  margin: 20px auto !important;
}

.km-health-status {
  text-align: center;
}

.km-project-item-actions {
  display: flex;
  justify-content: flex-end;
}

.km-project-more-owner {
  display: inline-block;
  margin: 0;
  font-size: $subhead-font-size-base;
  color: $medium-text-color;
  margin-left: -3px;
}
