<div fxLayout>
  <div fxFlex
       align="right">
    <button id="km-add-project-top-btn"
            mat-raised-button
            color="primary"
            type="button"
            (click)="addProject()">
      <span class="km-btn-text-default">+ Add Project</span>
    </button>
  </div>
</div>

<mat-card class="blue km-project-view">
  <!-- <mat-card-header>
    <mat-card-title fxLayout
                    matSort
                    (matSortChange)="sortProjectData($event)"
                    matSortActive="name"
                    matSortDirection="asc">
      <div fxFlex="3%"></div>
      <div fxFlex="25%"
           mat-sort-header="name"><strong>Name</strong></div>
      <div fxFlex="18%"><strong>ID</strong></div>
      <div fxFlex="18%"><strong>Role</strong></div>
      <div fxFlex="18%"><strong>Clusters</strong></div> -->
  <!-- Not implemented in backend yet -->
  <!-- <div fxFlex="24%"><strong>Owners</strong></div> -->
  <!-- <div fxFlex="18%"
           fxHide.sm
           fxHide.xs></div>
    </mat-card-title>
  </mat-card-header> -->
  <!-- <mat-card-content fxLayout="column"
                    [ngSwitch]="!!projects && projects.length > 0 ">
    <ng-container *ngSwitchCase="true">
      <kubermatic-project-item *ngFor="let project of sortedProjects; let iProject = index; trackBy: trackProject"
                               [index]="iProject"
                               [project]="project"
                               fxFlex></kubermatic-project-item>
    </ng-container>
    <ng-container *ngSwitchCase="false">
      <div fxFlex
           class="km-row km-odd km-no-item">No Project available. Please add a Project.</div>
    </ng-container>
    <ng-container>
      <div class="km-row">
        <button class="km-btn-in-box"
                (click)="addProject()">+ Add Project</button>
      </div>
    </ng-container>
  </mat-card-content> -->

  <mat-card-content>
    <table class="km-table"
           mat-table
           matSort
           [dataSource]="getDataSource()">
      <ng-container matColumnDef="status">
        <th mat-header-cell
            *matHeaderCellDef
            class="km-header-cell"></th>
        <td mat-cell
            *matCellDef="let element">
          <i [matTooltip]="element.status"
             [ngClass]="projectService.getProjectStateIconClass()"
             class="km-health-state"></i>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell
            *matHeaderCellDef
            class="km-header-cell"
            mat-sort-header>Name</th>
        <td mat-cell
            *matCellDef="let element">{{element.name}}</td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell
            *matHeaderCellDef
            class="km-header-cell"
            mat-sort-header>ID</th>
        <td mat-cell
            *matCellDef="let element">{{element.id}}</td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th mat-header-cell
            *matHeaderCellDef
            class="km-header-cell">Role</th>
        <td mat-cell
            *matCellDef="let element">{{role[element.id]}}</td>
      </ng-container>

      <ng-container matColumnDef="clusters">
        <th mat-header-cell
            *matHeaderCellDef
            class="km-header-cell">Clusters</th>
        <td mat-cell
            *matCellDef="let element">{{clusterCount[element.id]}}</td>
      </ng-container>

      <ng-container matColumnDef="owners">
        <th mat-header-cell
            *matHeaderCellDef
            class="km-header-cell">Owners</th>
        <td mat-cell
            *matCellDef="let element">
          <span class="km-project-item-owner"
                *ngFor="let owner of element.owners"
                matTooltip="{{owner.email}}">{{owner.name}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell
            *matHeaderCellDef
            class="km-header-cell"></th>
        <td mat-cell
            *matCellDef="let element"
            [ngClass]="element.owners.length > 1 ? 'km-cell-actions' : ''">
          <div class="km-project-item-actions">
            <ng-container [ngSwitch]="!!element.deletionTimestamp">
              <ng-container *ngSwitchCase="true">
                <mat-spinner [diameter]="30"
                             class="km-spinner"
                             color="accent"></mat-spinner>
              </ng-container>

              <ng-container *ngSwitchCase="false">
                <button class="km-icon-edit black"
                        matTooltip="Edit Project"
                        (click)="editProject(element)"
                        [disabled]="!!userGroup && !userGroupConfig[userGroup].projects.edit"></button>

                <button class="km-icon-delete black"
                        matTooltip="Delete Project"
                        (click)="deleteProject(element)"
                        [disabled]="!!userGroup && !userGroupConfig[userGroup].projects.delete"></button>
              </ng-container>
            </ng-container>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row
          class="km-header-row"
          *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row
          *matRowDef="let row; columns: displayedColumns"
          class="km-mat-row km-clickable"
          (click)="selectProject(row)"></tr>
    </table>

    <ng-container *ngIf="!projects || projects.length === 0">
      <div class="km-row km-no-item"
           *ngIf="!loading">
        No Projects available. Please add a Project.
      </div>
      <div class="km-row"
           *ngIf="!!loading">
        <mat-spinner color="accent"
                     class="km-projects-spinner"
                     [diameter]="30"></mat-spinner>
      </div>
    </ng-container>

  </mat-card-content>
</mat-card>
