<md-tab-group>
  <md-tab label="Profile">

    <div class="km-profile" style="padding: 20px 2px;">
      <md-card>
        <md-card-header fxLayout>
          <img md-card-avatar height="40px" width="40px" [src]="userProfile.picture" alt="Profile image">
          <md-card-title>Your Profile</md-card-title>
          <md-card-subtitle>{{ userProfile.name }}</md-card-subtitle>
        </md-card-header>
        <md-card-content>
            <div fxLayout>
              <div fxFlex="120px">E-Mail: </div>
              <div fxFlex>{{ userProfile.email }}</div>
            </div>
            <div fxLayout>
              <div fxFlex="120px">Hashtag: </div>
              <div fxFlex>@{{ userProfile.nickname }}</div>
            </div>
            <div fxLayout>
              <div fxFlex="120px">Member since: </div>
              <div fxFlex>{{ userProfile.created_at | date:'medium' }}</div>
          </div>
        </md-card-content>
      </md-card>
    </div>

  </md-tab>
  <md-tab label="Your SSH keys">
    <div class="km-ssh-keys" style="padding: 20px 2px;">


      <kubermatic-list-ssh-key [sshKeys]="sshKeys"></kubermatic-list-ssh-key>

      <kubermatic-add-ssh-key (syncSshKey)="handleKeyUpdated($event)" ></kubermatic-add-ssh-key>

  </div>

  </md-tab>
</md-tab-group>

