<div class="card card-margin">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <button class="btn-link nav-link" [ngClass]="{'active': currentTab === 0}" (click)="selectTabProfileDetail()">Profile</button>
      </li>
      <li class="nav-item">
        <button class="btn-link nav-link" [ngClass]="{'active': currentTab === 1}" (click)="selectTabSSHKeys()">SSH keys</button>
      </li>
    </ul>
  </div>
  <div class="card-block">

    <div *ngIf="currentTab == 0">
      <div class="container">
        <div class="row">
          <h2 class="component-heading">Your Profile</h2>
        </div>
      </div>

      <div class="container">
        <div class="row justify-content-center">
          <div class="col-6">
            <img [src]="userProfile.picture" alt="Profile image" class="profile-img">
          </div>
          <div class="w-100"></div>
          <div class="col-6">
            <p class="profile-name"><strong>{{ userProfile.name }}</strong></p>
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">Email</th>
                  <td><span class="profile-details">{{ userProfile.email }}</span></td>
                </tr>
                <tr>
                  <th scope="row">Hashtag</th>
                  <td><span class="profile-hashtag">@{{ userProfile.nickname }}</span></td>
                </tr>
                <tr>
                  <th scope="row">Member since</th>
                  <td><span class="profile-details">{{ userProfile.created_at | date:'medium' }}</span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="currentTab == 1">
      <div class="container">
        <div class="row">
          <h2 class="component-heading">Your SSH keys</h2>
        </div>
      </div>

      <div class="container">
        <ng-container [ngSwitch]="!!sshKeys && sshKeys.length > 0">
          <div *ngSwitchCase="false">
            You have not added any SSH keys yet.
          </div>
          <ng-container *ngSwitchCase="true">
            <div class="card card-margin" *ngFor="let key of sshKeys; let i = index;">
              <div class="card-header ssh-key-header">
                <div class="row">
                  <div class="col">
                    <i class="fa fa-key" aria-hidden="true"></i><span class="ssh-key-name">{{ key.name }}</span>
                  </div>
                  <div class="col-1 dropdown">
                    <div class="ssh-key-action" data-toggle="dropdown">
                      <div class="row justify-content-center"> <i class="fa fa-trash-o" aria-hidden="true"></i></div>
                    </div>

                    <div class="dropdown-menu">
                      <h6 class="dropdown-header">Delete key?</h6>
                      <span class="dropdown-item ssh-key-action" (click)="deleteSSHKey(key.name)">Delete</span>
                      <span class="dropdown-item ssh-key-action">Cancel</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-block">
                <blockquote class="card-blockquote ssh-key-publickey">
                  {{ key.publicKey }}
                </blockquote>
              </div>
              <div class="card-footer text-muted">
                <small>Fingerprint: {{ key.fingerprint }}</small>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>


      <div class="container">
        <div class="row justify-content-center">
          <h3 class="component-sub-heading text-muted">Add SSH key</h3>
        </div>
      </div>

      <div class="container justify-content-center">
        <form [formGroup]="addSSHKeyForm" novalidate>

          <div class="form-group" [ngClass]="{'has-danger': !addSSHKeyForm.controls.key.valid && addSSHKeyForm.controls.key.touched, 'has-success': addSSHKeyForm.controls.key.valid}">
            <label for="key" class="form-text text-muted">Key</label>
            <textarea id="key" formControlName="key" rows="8" type="text" class="form-control" (change)="onNewKeyTextChanged()"></textarea>
            <small class="form-text text-muted">Remember to past only the public part of your SSH key and store the private part safely.</small>
          </div>

          <div class="form-group" [ngClass]="{'has-danger': !addSSHKeyForm.controls.name.valid && addSSHKeyForm.controls.name.touched, 'has-success': addSSHKeyForm.controls.name.valid}">
            <label for="name" class="form-text text-muted">Name</label>
            <input id="name" formControlName="name" type="text" class="form-control">
            <small class="form-text text-muted">The unique name of your SSH key</small>
          </div>

          <div class="form-group">
            <button class="btn btn-info" (click)="addSSHKey()" [disabled]="!addSSHKeyForm.valid">Add key</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
