//@import "../../assets/css/ng2admin/conf/conf";
//@import "../../assets/css/bootstrap/variables";

.ssh-key-header {
  background: #f7f7f9;
  color: #000;
}

.ssh-key-name {
  padding-left: 5px;
}

.ssh-key-action {
  cursor: pointer;
}

.ssh-key-publickey {
  padding: 5px;
  word-wrap: break-word;
  color: #000;
}


.profile-img {
  width: 120px;
  height: 120px;
}

.profile-name {
  font-size: 2rem;
  line-height: 40px;
  margin: 15px 0;
}

.profile-hashtag {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 10px;
}

.profile-details {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 10px;
}


.km-profile {
  .mat-card-header {
    height: 55px;
    margin-bottom: 10px;
  }
  .mat-card-content {
    line-height: 20px;
  }
}
