$wizard-box-content-cloud-logo-size: 70px;
$wizard-box-content-cloud-margin-top: 50px;

.mat-card-header {
  padding: 0;
  margin-bottom: 10px;
  border: none;
}

.mat-card-header-text {
  margin: 0;
}

.mat-card-title {
  margin: 0;
  h4 {
    font-weight: 600;
    margin: 10px 0;
    font-size: 18px;
    color: #444D58;
  }
}

.mat-card-content {
  margin-bottom: 0;
  form {
    margin: 35px 0 0;
  }
  p {
    color: #BDC6D1;
    font-size: 12px;
    max-width: 505px;
    margin: 0;
  }
}

.wizard-box-content {
  text-align: center;
  color: #000;
  font-weight: 600;
  padding: 11px 0;


  img.cloud-logo {
    width: $wizard-box-content-cloud-logo-size;
    margin-top: $wizard-box-content-cloud-margin-top;
    margin-bottom: 20px;
    position: relative;
    top: 20px;
    bottom: 0;
    margin-top: -25%;
  }
}

.wizard-box-provider {
  background: #fff;
  border: 1px solid #E3E8EC;
  cursor: pointer;
  min-height: 90px;
}

.wizard-box-provider [disabled] {
  cursor: not-allowed;
}

.wizard-box-provider.selected {
  cursor: default;
  border: 1px solid #0288D1;
}

.wizard-box-provider.selected:hover {
  cursor: default;
  border: 1px solid #0288D1;
}

.wizard-box-provider:hover {
  border: 1px solid #0288D1;
}

.wizard-box-provider:not([disabled]):not(.selected):hover {
  background: #f7f8f9;
}


img.cloud-logo {
  width: $wizard-box-content-cloud-logo-size ;
  margin-bottom: 15px;
}


.provider-fix {
  margin: 20px;
  display: inline-block !important;
}
