<mat-card-header>
  <mat-card-title>
    <h4>Select the cloud provider for your nodes</h4>
  </mat-card-title>
</mat-card-header>
<mat-card-content>
  <p>Choose a cloud provider for your Kubernetes nodes to be deployed by
    Kubermatic. Your nodes can be placed in any cloud you like.
  </p>
  <form [formGroup]="setProviderForm"
        fxLayoutAlign="left"
        fxLayout="row wrap">
    <mat-button-toggle-group group="providerGroup"
                             formControlName="provider">
      <ng-container *ngIf="!isOpenShift">
        <mat-button-toggle *ngFor="let provider of providers;"
                           value="{{provider}}"
                           (click)="this.changeClusterProvider()">
          <span class="km-provider-logo km-provider-logo-{{provider}}"></span>
        </mat-button-toggle>
      </ng-container>
      <mat-button-toggle value="openshift"
                         *ngIf="isOpenShift">
        <span class="km-provider-logo km-provider-logo-openshift"></span>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </form>
</mat-card-content>
