<md-card>
  <md-card-header>
    <md-card-title>
      <h4>Select the cloud provider for your nodes</h4>
    </md-card-title>
  </md-card-header>
  <md-card-content>
    <p>This is the cloud provider the Kubernetes nodes are deployed in by Kubermatic.
      Your nodes can be placed in any cloud you like, but for performance reasons as near to the master as possible.
    </p>
    <form [connect]="['wizard', 'setProviderForm']"
          [formGroup]="setProviderForm"
          (change)="onChange()"
          class="provider-fix"
          fxLayoutGap="25px"
          fxLayoutAlign="center"
          >
      <ng-container *ngFor="let cloud of supportedNodeProviders; let i = index;">
        <ng-container *ngIf="datacenters[cloud]?.length">
          <label fxFlex="150px"
               fxLayoutAlign="center center"
               class="wizard-box-provider"
               style="float: left;"
               [ngClass]="{'selected': selectedProvider === cloud, 'wizard-box-color_primary': i % 2 === 0, 'wizard-box-color_secondary': i % 2 !== 0}"
               [attr.for]="cloud">
            <!-- TODO: OnClick go to next step -->
            <div class="wizard-box-content">
              <img class="cloud-logo"
                   src="/assets/images/clouds/{{cloud}}.png"
                   alt="{{cloud}}">
            </div>
          </label>
          <input style="display: none"
                 type="radio"
                 [attr.id]="cloud"
                 formControlName="provider"
                 [value]="cloud"
                 [attr.name]="cloud">
        </ng-container>
      </ng-container>
    </form>
  </md-card-content>
</md-card>
