<mat-card-header>
  <mat-card-title class="km-color-primary">Provider</mat-card-title>
</mat-card-header>
<mat-card-content>
  <form [formGroup]="setProviderForm"
        fxLayoutAlign="left"
        fxLayout="row wrap">
    <mat-button-toggle-group group="providerGroup"
                             formControlName="provider">
      <mat-button-toggle *ngFor="let provider of providers;"
                         value="{{provider}}"
                         (click)="this.changeClusterProvider()">
        <span class="km-provider-logo km-provider-logo-{{provider}}"></span>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </form>
</mat-card-content>
