@import '../../assets/css/ng2admin/conf/conf';

$arrow-box-size: 250px;
$arrow-box-placeholder-size: 100px;
$arrow-box-placeholder-top-margin: ($arrow-box-size - $arrow-box-placeholder-size)* 3/5 ;
$arrow-box-placeholder-left-margin: ($arrow-box-size - $arrow-box-placeholder-size) /2 ;

.dashboard-content {
  padding-top: 50px;
  margin-right: auto;
  margin-left: auto;
}
.arrow_box_title {
  text-align: center;
  align-items: center;
  max-width: 220px;
  color: $primary;
}


.arrow_box {
  width: $arrow-box-size;
  height: $arrow-box-size;
  margin-left: 30px;
  margin-bottom: 30px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  background: #fbfbfc;
  border: 1px solid $primary;
  cursor: pointer;
}

.arrow-box-template {
  width: $arrow-box-placeholder-size;
  height: $arrow-box-placeholder-size;
  margin-top: $arrow-box-placeholder-top-margin;
  margin-left: $arrow-box-placeholder-left-margin;
  border: 2px dashed $primary;
  position: relative;
}

%arrow-template {
  content: '';
  position: relative;
  top: 40px;
  left: 174px;
  width: 0;
  height: 0;
  border: 50px solid transparent;
}

.arrow_box_tmp:after {
  @extend %arrow-template;
  border-left: 12px solid #fbfbfc;
}

.arrow_box_tmp:hover:after {
  @extend %arrow-template;
  border-left: 12px solid #f7f8f9;
}

.arrow_box_tmp:before {
  @extend %arrow-template;
  left: 175px;
  border-left: 13px solid #999;
}

@media screen and (max-width: 500px) {

  %arrow-template-xs {
    content: '';
    position: absolute;
    top: 115px;
    left: 195px;
    width: 0;
    height: 0;
    border: 50px solid transparent;
  }

  .arrow_box_tmp:after {
    @extend %arrow-template-xs;
    border-left: 12px solid #fbfbfc;
  }

  .arrow_box_tmp:hover:after {
    @extend %arrow-template-xs;
    border-left: 12px solid #f7f8f9;
  }

  .arrow_box_tmp:before {
    @extend %arrow-template-xs;
    left: 196px;
    border-left: 13px solid #999;
  }
}

.arrow_box[disabled] {
  cursor: not-allowed;
}

.arrow_box:not([disabled]):hover {
  background: #f7f8f9;
}


.arrow_box_completed.arrow_box_color_primary:not([disabled]) {
  border: 1px solid #00BDCC;
}

.arrow_box_completed.arrow_box_color_secondary:not([disabled]) {
  border: 1px solid #00969e;
}

.arrow_box.arrow_box_color_primary:hover {
  border: 1px solid #00BDCC;
}

.arrow_box.arrow_box_color_secondary:hover {
  border: 1px solid #00969e;
}

.arrow_box[disabled] > i {
  color: #717171
}

.arrow_box.arrow_box_completed.arrow_box_color_primary:before {
  border-left-color: #00BDCC;
}

.arrow_box.arrow_box_completed.arrow_box_color_secondary:before {
  border-left-color: #00969e;
}
