<h2>Create a Kubernetes Cluster</h2>

<div class="container dashboard-content">
  <div class="row flex-items-xs-center">
    <div>
      <div class="arrow_box arrow_box_completed arrow_box_color_primary">
        <span class="arrow_box_title">Select the Datacenter of the Kubernetes Master</span>
        <div class="col-xs arrow-box-template flex-items-xs-center flex-xs-middle"></div>
      </div>
    </div>

    <div class="arrow_box arrow_box_completed arrow_box_color_secondary">
      <span class="arrow_box_title">Select a cloud provider for your nodes</span>
      <div class="col-xs arrow-box-template flex-items-xs-center flex-xs-middle"></div>
    </div>

    <div class="arrow_box arrow_box_completed arrow_box_color_primary">
      <span class="arrow_box_title">Select number of nodes</span>
      <div class="col-xs arrow-box-template flex-items-xs-center flex-xs-middle"></div>
    </div>

    <div class="arrow_box arrow_box_completed arrow_box_color_secondary">
      <span class="arrow_box_title">Select cluster name</span>
      <div class="col-xs arrow-box-template flex-items-xs-center flex-xs-middle"></div>
    </div>
  </div>
</div>
