<div class="km-horizontal-usage-graph"
     *ngIf="used"
     fxLayout="column">
  <div class="top-container"
       fxLayout="column"
       [matTooltip]="getTooltip()">
    <div class="label"
         fxLayoutAlign="center">
      <span>{{used}}</span>
      <span *ngIf="total">&nbsp;from {{total}}</span>
      <span>&nbsp;{{unit}}</span>
    </div>
    <mat-progress-bar mode="determinate"
                      *ngIf="getPercentage() !== undefined"
                      [value]="getPercentage()"></mat-progress-bar>
  </div>
  <div class="title"
       fxLayoutAlign="center">
    {{title}}
  </div>
</div>
