<div id="km-edit-serviceaccount-dialog"
     class="km-dialog-box">
  <km-dialog-title title="Edit Service Account"></km-dialog-title>
  <mat-dialog-content>
    <div class="mat-dialog-content">
      <form [formGroup]="editServiceAccountForm"
            fxLayout="column">
        <mat-form-field fxFlex>
          <input id="km-edit-serviceaccount-dialog-input"
                 matInput
                 formControlName="name"
                 type="text"
                 placeholder="Name*"
                 autocomplete="off">
          <mat-error *ngIf="editServiceAccountForm.controls.name.hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex>
          <mat-select id="km-edit-serviceaccount-dialog-group-combobox"
                      placeholder="Group*"
                      formControlName="group">
            <mat-option value="editors">Editor</mat-option>
            <mat-option value="viewers">Viewer</mat-option>
          </mat-select>
          <mat-error *ngIf="editServiceAccountForm.controls.group.hasError('required')">
            Group is <strong>required</strong>
          </mat-error>
        </mat-form-field>

      </form>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-dialog-close
            mat-flat-button
            color="alternative">
      Close
    </button>
    <button id="km-edit-serviceaccount-dialog-edit-btn"
            mat-flat-button
            (click)="editServiceAccount()"
            [disabled]="!editServiceAccountForm.valid">
      Edit
    </button>
  </mat-dialog-actions>
</div>
