<mat-card>
  <mat-card-content>

    <div fxLayout="row"
         fxLayout.md="column"
         fxLayout.sm="column"
         fxLayout.xs="column"
         fxLayoutGap="20px">

      <mat-card fxFlex="50%"
                class="km-summary">
        <mat-card-header>
          <mat-card-title class="km-color-primary">Cluster</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="km-summary-row"><strong>{{cluster.name}}</strong></div>
          <span class="km-cluster-type"
                [matTooltip]="getType(cluster.type)">
            <i class="km-icon-{{cluster.type}}"></i>
          </span>
          <div class="km-summary-row">v{{cluster.spec.version}}</div>
          <div class="km-summary-row">{{datacenterFormData.datacenter.spec.location}} ({{datacenterFormData.datacenter.spec.country}})</div>
          <div class="km-summary-row">
            <span class="km-provider-logo km-provider-logo-{{providerFormData.provider}}"></span>
          </div>
        </mat-card-content>

        <mat-card-header>
          <mat-card-title class="km-color-primary">System</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="km-summary-row km-summary-row-with-margin">
            <span class="km-summary-left km-summary-os">
              <i class="km-os-image km-os-image-{{getOperatingSystemLogoClass()}}"></i>
            </span>
            <span>{{getOperatingSystem()}}</span>
          </div>
          <div class="km-summary-row"
               *ngIf="nodeData.spec.operatingSystem.ubuntu">
            <span class="km-summary-left">
              <i [ngClass]="nodeData.spec.operatingSystem.ubuntu.distUpgradeOnBoot ? 'km-icon-running' : 'km-icon-disabled'"></i>
            </span>
            <span>Upgrade system on first boot</span>
          </div>
          <div class="km-summary-row"
               *ngIf="nodeData.spec.operatingSystem.centos">
            <span class="km-summary-left">
              <i [ngClass]="nodeData.spec.operatingSystem.centos.distUpgradeOnBoot ? 'km-icon-running' : 'km-icon-disabled'"></i>
            </span>
            <span>Upgrade system on first boot</span>
          </div>
          <div class="km-summary-row"
               *ngIf="nodeData.spec.operatingSystem.containerLinux">
            <span class="km-summary-left">
              <i [ngClass]="nodeData.spec.operatingSystem.containerLinux.disableAutoUpdate ? 'km-icon-running' : 'km-icon-disabled'"></i>
            </span>
            <span>Disable auto-update</span>
          </div>
        </mat-card-content>

        <ng-container *ngIf="clusterSSHKeys.length && !cluster.spec.cloud.bringyourown">
          <mat-card-header>
            <mat-card-title class="km-color-primary">SSH keys</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="km-summary-row km-summary-sshkeys">
              <span class="km-summary-left"><i class="km-icon-key"></i></span>
              <span>{{getSSHKeyNames()}}</span>
            </div>
          </mat-card-content>
        </ng-container>
      </mat-card>

      <mat-card fxFlex="50%">
        <ng-container *ngIf="cluster.credential || !displayProvider()">
          <mat-card-header>
            <mat-card-title class="km-color-primary">Provider</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <!-- Custom Preset -->
            <ng-container *ngIf="cluster.credential">
              <km-property>
                <div key>Preset</div>
                <div value>{{cluster.credential}}</div>
              </km-property>
            </ng-container>

            <ng-container *ngIf="!cluster.credential">
              <!-- GCP -->
              <ng-container *ngIf="cluster.spec.cloud.gcp">
                <km-property *ngIf="cluster.spec.cloud.gcp.network">
                  <div key>Network</div>
                  <div value>{{cluster.spec.cloud.gcp.network}}</div>
                </km-property>
                <km-property *ngIf="cluster.spec.cloud.gcp.subnetwork">
                  <div key>Subnetwork</div>
                  <div value>{{cluster.spec.cloud.gcp.subnetwork}}</div>
                </km-property>
              </ng-container>

              <!-- Packet -->
              <ng-container *ngIf="cluster.spec.cloud.packet">
                <km-property>
                  <div key>Project ID</div>
                  <div value>{{cluster.spec.cloud.packet.projectID}}</div>
                </km-property>
                <km-property>
                  <div key>Billing cycle</div>
                  <div value>{{cluster.spec.cloud.packet.billingCycle}}</div>
                </km-property>
              </ng-container>

              <!-- AWS -->
              <ng-container *ngIf="cluster.spec.cloud.aws">
                <km-property *ngIf="cluster.spec.cloud.aws.securityGroup">
                  <div key>Security Group ID</div>
                  <div value>{{cluster.spec.cloud.aws.securityGroup}}</div>
                </km-property>
                <km-property *ngIf="cluster.spec.cloud.aws.vpcId">
                  <div key>VPC ID</div>
                  <div value>{{cluster.spec.cloud.aws.vpcId}}</div>
                </km-property>
                <km-property *ngIf="cluster.spec.cloud.aws.subnetId">
                  <div key>Subnet ID</div>
                  <div value>{{cluster.spec.cloud.aws.subnetId}}</div>
                </km-property>
                <km-property *ngIf="cluster.spec.cloud.aws.routeTableId">
                  <div key>Route table ID</div>
                  <div value>{{cluster.spec.cloud.aws.routeTableId}}</div>
                </km-property>
                <km-property *ngIf="cluster.spec.cloud.aws.instanceProfileName">
                  <div key>Instance Profile Name</div>
                  <div value>{{cluster.spec.cloud.aws.instanceProfileName}}</div>
                </km-property>
              </ng-container>

              <!-- Openstack -->
              <ng-container *ngIf="cluster.spec.cloud.openstack">
                <km-property>
                  <div key>Domain</div>
                  <div value>{{cluster.spec.cloud.openstack.domain}}</div>
                </km-property>
                <km-property>
                  <div key>Username</div>
                  <div value>{{cluster.spec.cloud.openstack.username}}</div>
                </km-property>
                <km-property *ngIf="cluster.spec.cloud.openstack.tenant">
                  <div key>Project</div>
                  <div value>{{cluster.spec.cloud.openstack.tenant}}</div>
                </km-property>
                <km-property *ngIf="cluster.spec.cloud.openstack.tenantID">
                  <div key>Project ID</div>
                  <div value>{{cluster.spec.cloud.openstack.tenantID}}</div>
                </km-property>
                <km-property *ngIf="cluster.spec.cloud.openstack.network">
                  <div key>Network name</div>
                  <div value>{{cluster.spec.cloud.openstack.network}}</div>
                </km-property>
                <km-property *ngIf="cluster.spec.cloud.openstack.securityGroups">
                  <div key>Security Groups</div>
                  <div value>{{cluster.spec.cloud.openstack.securityGroups}}</div>
                </km-property>
                <km-property *ngIf="cluster.spec.cloud.openstack.floatingIpPool">
                  <div key>Floating IP Pool</div>
                  <div value>{{cluster.spec.cloud.openstack.floatingIpPool}}</div>
                </km-property>
                <km-property *ngIf="cluster.spec.cloud.openstack.subnetID">
                  <div key>Subnet ID</div>
                  <div value>{{cluster.spec.cloud.openstack.subnetID}}</div>
                </km-property>
              </ng-container>

              <!-- vSphere -->
              <ng-container *ngIf="cluster.spec.cloud.vsphere">
                <km-property>
                  <div key>Username</div>
                  <div value>{{cluster.spec.cloud.vsphere.infraManagementUser.username}}</div>
                </km-property>
                <km-property>
                  <div key>VSphere Cloud Provider Username</div>
                  <div value>{{cluster.spec.cloud.vsphere.username}}</div>
                </km-property>
                <km-property *ngIf="cluster.spec.cloud.vsphere.vmNetName">
                  <div key>Network</div>
                  <div value>{{cluster.spec.cloud.vsphere.vmNetName}}</div>
                </km-property>
                <km-property *ngIf="cluster.spec.cloud.vsphere.folder">
                  <div key>Folder</div>
                  <div value>{{cluster.spec.cloud.vsphere.folder}}</div>
                </km-property>
              </ng-container>

              <!-- Azure -->
              <ng-container *ngIf="cluster.spec.cloud.azure">
                <km-property *ngIf="cluster.spec.cloud.azure.resourceGroup">
                  <div key>Resource Group</div>
                  <div value>{{cluster.spec.cloud.azure.resourceGroup}}</div>
                </km-property>
                <km-property *ngIf="cluster.spec.cloud.azure.routeTable">
                  <div key>Route Table</div>
                  <div value>{{cluster.spec.cloud.azure.routeTable}}</div>
                </km-property>
                <km-property *ngIf="cluster.spec.cloud.azure.securityGroup">
                  <div key>Security Group</div>
                  <div value>{{cluster.spec.cloud.azure.securityGroup}}</div>
                </km-property>
                <km-property *ngIf="cluster.spec.cloud.azure.subnet">
                  <div key>Subnet</div>
                  <div value>{{cluster.spec.cloud.azure.subnet}}</div>
                </km-property>
                <km-property *ngIf="cluster.spec.cloud.azure.vnet">
                  <div key>VNet</div>
                  <div value>{{cluster.spec.cloud.azure.vnet}}</div>
                </km-property>
              </ng-container>

            </ng-container>
          </mat-card-content>
        </ng-container>

        <ng-container *ngIf="!cluster.spec.cloud.bringyourown">
          <mat-card-header>
            <mat-card-title class="km-color-primary">Node Settings</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="km-summary-row"
                 *ngIf="nodeData.name && nodeData.name.length > 0">{{nodeData.name}}</div>
            <div class="km-summary-row"
                 *ngIf="!nodeData.name || nodeData.name.length == 0">Autogenerated name</div>

            <!-- DO Nodes -->
            <ng-container *ngIf="cluster.spec.cloud.digitalocean">
              <div class="km-summary-row km-summary-row-with-margin">{{nodeData.spec.cloud.digitalocean.size}}</div>
            </ng-container>

            <!-- GCP Nodes -->
            <ng-container *ngIf="cluster.spec.cloud.gcp">
              <div class="km-summary-row km-summary-row-with-margin">Disk {{nodeData.spec.cloud.gcp.diskSize}} GB, {{nodeData.spec.cloud.gcp.diskType}}</div>
              <km-property>
                <div key>Machine Type</div>
                <div value>{{nodeData.spec.cloud.gcp.machineType}}</div>
              </km-property>
              <km-property>
                <div key>Zone</div>
                <div value>{{nodeData.spec.cloud.gcp.zone}}</div>
              </km-property>
            </ng-container>

            <!-- Packet Nodes -->
            <ng-container *ngIf="cluster.spec.cloud.packet km-summary-row-with-margin">
              <div class="km-summary-row">{{nodeData.spec.cloud.packet.instanceType}}</div>
            </ng-container>

            <!-- AWS Nodes -->
            <ng-container *ngIf="cluster.spec.cloud.aws">
              <div class="km-summary-row">{{nodeData.spec.cloud.aws.instanceType}}</div>
              <div class="km-summary-row km-summary-row-with-margin">Disk {{nodeData.spec.cloud.aws.diskSize}} GB, {{nodeData.spec.cloud.aws.volumeType}}</div>
              <km-property *ngIf="nodeData.spec.cloud.aws.ami">
                <div key>AMI ID</div>
                <div value>{{nodeData.spec.cloud.aws.ami}}</div>
              </km-property>
            </ng-container>

            <!-- Openstack Nodes -->
            <ng-container *ngIf="cluster.spec.cloud.openstack">
              <div class="km-summary-row km-summary-row-with-margin">{{nodeData.spec.cloud.openstack.flavor}}</div>
              <km-property>
                <div key>Image</div>
                <div value>{{nodeData.spec.cloud.openstack.image}}</div>
              </km-property>
            </ng-container>

            <!-- Hetzner Nodes -->
            <ng-container *ngIf="cluster.spec.cloud.hetzner">
              <div class="km-summary-row km-summary-row-with-margin">{{nodeData.spec.cloud.hetzner.type}}</div>
            </ng-container>

            <!-- VSphere Nodes -->
            <ng-container *ngIf="cluster.spec.cloud.vsphere">
              <div class="km-summary-row km-summary-row-with-margin">{{nodeData.spec.cloud.vsphere.cpus}} CPUs, {{nodeData.spec.cloud.vsphere.memory}} MB Memory
                <span *ngIf="nodeData.spec.cloud.vsphere.diskSizeGB">, {{nodeData.spec.cloud.vsphere.diskSizeGB}} GB Disk</span>
              </div>
              <km-property *ngIf="nodeData.spec.cloud.vsphere.template">
                <div key>Template</div>
                <div value>{{nodeData.spec.cloud.vsphere.template}}</div>
              </km-property>
            </ng-container>

            <!-- Azure Nodes -->
            <ng-container *ngIf="cluster.spec.cloud.azure">
              <div class="km-summary-row km-summary-row-with-margin">{{nodeData.spec.cloud.azure.size}}</div>
            </ng-container>

            <!-- Initial Node Replicas -->
            <div [ngClass]="noMoreIpsLeft ? 'km-summary-row km-warning' : 'km-summary-row' ">
              <span class="km-summary-left">{{nodeData.count}}</span>
              <span>Initial Deployment Replicas</span>
            </div>
            <div class="km-summary-row">
              <p *ngIf="noMoreIpsLeft"
                 class="km-warning">Not enough IPs left. Reduce number of nodes or add more machine networks.</p>
            </div>

            <!-- DO Node Options -->
            <ng-container *ngIf="cluster.spec.cloud.digitalocean">
              <div class="km-summary-row">
                <span class="km-summary-left">
                  <i [ngClass]="nodeData.spec.cloud.digitalocean.backups ? 'km-icon-running' : 'km-icon-disabled'"></i>
                </span>
                <span>Backups</span>
              </div>
              <div class="km-summary-row">
                <span class="km-summary-left">
                  <i [ngClass]="nodeData.spec.cloud.digitalocean.ipv6 ? 'km-icon-running' : 'km-icon-disabled'"></i>
                </span>
                <span>IPv6</span>
              </div>
              <div class="km-summary-row">
                <span class="km-summary-left">
                  <i [ngClass]="nodeData.spec.cloud.digitalocean.monitoring ? 'km-icon-running' : 'km-icon-disabled'"></i>
                </span>
                <span>Monitoring</span>
              </div>
            </ng-container>

            <!-- GCP Node Options -->
            <ng-container *ngIf="cluster.spec.cloud.gcp">
              <div class="km-summary-row">
                <span class="km-summary-left">
                  <i [ngClass]="nodeData.spec.cloud.gcp.preemptible ? 'km-icon-running' : 'km-icon-disabled'"></i>
                </span>
                <span>Preemptible</span>
              </div>
            </ng-container>

            <!-- Openstack Node Options -->
            <ng-container *ngIf="cluster.spec.cloud.openstack">
              <div class="km-summary-row">
                <span class="km-summary-left">
                  <i [ngClass]="nodeData.spec.cloud.openstack.useFloatingIP ? 'km-icon-running' : 'km-icon-disabled'"></i>
                </span>
                <span>Allocate Floating IP</span>
              </div>
            </ng-container>

            <!-- Azure Node Options -->
            <ng-container *ngIf="cluster.spec.cloud.azure">
              <div class="km-summary-row">
                <span class="km-summary-left">
                  <i [ngClass]="nodeData.spec.cloud.azure.assignPublicIP ? 'km-icon-running' : 'km-icon-disabled'"></i>
                </span>
                <span>Assign Public IP</span>
              </div>
            </ng-container>

            <!-- DO Tags -->
            <ng-container *ngIf="nodeData.spec.cloud.digitalocean && nodeData.spec.cloud.digitalocean.tags.length > 0">
              <div class="km-summary-tags">
                <div class="km-summary-row">Provider Tags</div>
                <km-labels [labels]="nodeData.spec.cloud.digitalocean.tags"></km-labels>
              </div>
            </ng-container>

            <!-- GCP Tags -->
            <ng-container *ngIf="nodeData.spec.cloud.gcp && nodeData.spec.cloud.gcp.tags.length > 0">
              <div class="km-summary-tags">
                <div class="km-summary-row">Provider Tags</div>
                <km-labels [labels]="nodeData.spec.cloud.gcp.tags"></km-labels>
              </div>
            </ng-container>

            <!-- AWS Tags -->
            <ng-container *ngIf="nodeData.spec.cloud.aws && displayTags(nodeData.spec.cloud.aws.tags)">
              <div class="km-summary-tags">
                <div class="km-summary-row">Provider Tags</div>
                <km-labels [labels]="nodeData.spec.cloud.aws.tags"></km-labels>
              </div>
            </ng-container>

            <!-- Openstack Tags -->
            <ng-container *ngIf="nodeData.spec.cloud.openstack && displayTags(nodeData.spec.cloud.openstack.tags)">
              <div class="km-summary-tags">
                <div class="km-summary-row">Provider Tags</div>
                <km-labels [labels]="nodeData.spec.cloud.openstack.tags"></km-labels>
              </div>
            </ng-container>

            <!-- Azure Tags -->
            <ng-container *ngIf="nodeData.spec.cloud.azure && displayTags(nodeData.spec.cloud.azure.tags)">
              <div class="km-summary-tags">
                <div class="km-summary-row">Provider Tags</div>
                <km-labels [labels]="nodeData.spec.cloud.azure.tags"></km-labels>
              </div>
            </ng-container>

            <!-- No Provider Tags -->
            <ng-container *ngIf="displayNoProviderTags()">
              <div class="km-summary-row">
                <span class="km-summary-left">
                  <i class="km-icon-disabled"></i>
                </span>
                <span>Provider Tags</span>
              </div>
            </ng-container>

            <!-- GCP Labels -->
            <ng-container *ngIf="nodeData.spec.cloud.gcp && displayTags(nodeData.spec.cloud.gcp.labels)">
              <div class="km-summary-tags">
                <div class="km-summary-row">Provider Labels</div>
                <km-labels [labels]="nodeData.spec.cloud.gcp.labels"></km-labels>
              </div>
            </ng-container>
            <ng-container *ngIf="nodeData.spec.cloud.gcp && !displayTags(nodeData.spec.cloud.gcp.labels)">
              <div class="km-summary-row">
                <span class="km-summary-left">
                  <i class="km-icon-disabled"></i>
                </span>
                <span>Provider Labels</span>
              </div>
            </ng-container>

            <!-- Node Labels -->
            <div *ngIf="nodeData.spec.labels && displayTags(nodeData.spec.labels)"
                 class="km-summary-tags">
              <div class="km-summary-row">Node Labels</div>
              <km-labels [labels]="nodeData.spec.labels"></km-labels>
            </div>
            <div *ngIf="!nodeData.spec.labels || !displayTags(nodeData.spec.labels)">
              <div class="km-summary-row">
                <span class="km-summary-left">
                  <i class="km-icon-disabled"></i>
                </span>
                <span>Node Labels</span>
              </div>
            </div>

            <!-- Node Taints -->
            <div *ngIf="nodeData.spec.taints && nodeData.spec.taints.length > 0"
                 class="km-summary-tags">
              <div class="km-summary-row">Node Taints</div>
              <km-taints [taints]="nodeData.spec.taints"></km-taints>
            </div>
            <div *ngIf="!nodeData.spec.taints || nodeData.spec.taints.length === 0">
              <div class="km-summary-row">
                <span class="km-summary-left">
                  <i class="km-icon-disabled"></i>
                </span>
                <span>Node Taints</span>
              </div>
            </div>

          </mat-card-content>
        </ng-container>

        <ng-container *ngIf="cluster.spec.cloud.vsphere && cluster.spec.machineNetworks && cluster.spec.machineNetworks.length > 0">
          <mat-card-header>
            <mat-card-title class="km-color-primary">Machine Networks</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div fxLayout="row"
                 fxLayoutGap="20px">
              <div fxFlex="50%"
                   *ngFor="let network of cluster.spec.machineNetworks; let i=index">
                <div fxLayout="column">
                  <span class="km-summary-row km-summary-row-with-margin">#{{i+1}}</span>
                  <km-property>
                    <div key>CIDR Range</div>
                    <div value>{{network.cidr}}</div>
                  </km-property>
                  <km-property>
                    <div key>DNS Server</div>
                    <div value>{{getDnsServers(network.dnsServers)}}</div>
                  </km-property>
                  <km-property>
                    <div key>Gateway</div>
                    <div value>{{network.gateway}}</div>
                  </km-property>
                </div>
              </div>
            </div>
          </mat-card-content>
        </ng-container>

      </mat-card>

    </div>

  </mat-card-content>
</mat-card>
