@import "../../../assets/css/colors";
@import "../../../assets/css/variables";

mat-card {
  padding: 0;
}

.fa-check {
  color: $indicator-green !important;
}

.fa-times {
  color: $indicator-red !important;
}

.km-summary mat-card-content {
  margin-bottom: 3 * $baseline-grid;
}

.km-summary-row {
  display: flex;
  align-items: center;
  line-height: 2.4 * $line-height;
  font-size: $subhead-font-size-base;
  color: $text-color;

  &.km-summary-sshkeys {
    align-items: flex-start;
  }
}

.km-summary-row-with-margin {
  margin-bottom: 2 * $baseline-grid;
}

.km-provider-logo {
  max-width: 100px !important;

  &.km-provider-logo-aws,
  &.km-provider-logo-gcp {
    margin-top: 1.25 * $baseline-grid;
  }

  &.km-provider-logo-vsphere,
  &.km-provider-logo-bringyourown {
    margin-top: 0.6 * $baseline-grid;
  }
}

.km-os-image {
  display: inline-block;
  height: 28px;
  width: 28px;
}

.km-summary-left {
  display: inline-block;
  width: 4.25 * $baseline-grid;
  font-size: $subhead-font-size-base;
  color: $text-color;

  .fa-times,
  .fa-check {
    font-size: $subhead-font-size-base-lg;
  }

  &.km-summary-os {
    display: flex;
    align-items: center;
  }
}

.km-icon-key {
  cursor: default;
  background: $text-color;
  margin-right: 2 * $baseline-grid;
  user-select: none;
}

.km-summary-tags {
  margin: (2 * $baseline-grid) 0;
}

::ng-deep .km-property-container {
  margin: 0 0 (0.6 * $baseline-grid) !important;
}
