@import "../../assets/css/ng2admin/conf/conf";

.navigation-bar {
  background-color: $primary;
  position: fixed;
  z-index: 904;
  box-shadow: 2px 0 3px rgba(0, 0, 0, 0.5);
  height: 66px;
  width: 100%;
  min-width: $resMin;

  .dropdown-toggle::after {
    display: none;
  }
}

.navigation-bar-content {
  padding: 0 32px 0 40px;
}

.blur {
  .navigation-bar.scrolled {
    background-color: rgba(black, 0.85)
  }
}

a.al-logo {
  @include titillium-font;
  color: $default-text;
  display: block;
  font-size: 23px;
  white-space: nowrap;
  float: left;
  outline: none !important;
  line-height: 60px;

  span {
    color: $primary;
  }
}

a.al-logo:hover {
  color: $white-dark;
}

.user-profile {
  float: right;
  min-width: 150px;
  margin-top: 10px;
}

.al-user-profile {
  float: right;
  margin-right: 12px;
  transition: all .15s ease-in-out;
  padding: 0;
  height: 36px;
  border: 0;
  opacity: 1;
  position: relative;
  a {
    display: block;
  }
  img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
}
.al-user-profile-dropdown {
  width: 305px;
  padding: 10px 10px 0;

  img {
    width: 90px;
    height: 90px;
    border-radius: 5%;
  }
}

a.refresh-data {
  color: $sidebar-text;
  font-size: 13px;
  text-decoration: none;
  font-weight: $font-normal;
  float: right;
  margin-top: 13px;
  margin-right: 26px;

  &:hover {
    color: $warning !important;
  }
}

a.collapse-menu-link {
  font-size: 31px;
  cursor: pointer;
  display: block;
  text-decoration: none;
  line-height: 42px;
  color: $sidebar-text;
  padding: 0;
  float: left;
  margin: 11px 0 0 25px;

  &:hover {
    text-decoration: none;
    color: $warning;
  }
}

.al-skin-dropdown {
  float: right;
  margin-top: 14px;
  margin-right: 26px;

  .tpl-skin-panel {
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

.icon-palette {
  display: inline-block;
  width: 14px;
  height: 13px;
  @include bg('theme/palette.png');
  background-size: cover;
}

.info {
  text-shadow: none;
  font-size: 13px;
  line-height: 16px;
  transition: all 0.5s ease;
  white-space: nowrap;
  overflow: hidden;
  width: 162px;
  float: left;

  label {
    cursor: pointer;
  }
  i {
    width: 16px;
    display: inline-block;
    cursor: pointer;
    padding-left: 1px;
    font-size: 16px;
    margin-right: 13px;
  }
  input {
    color: $sidebar-text;
    background: none;
    border: none;
    outline: none;
    width: 120px;
    padding: 0;
    margin: 0 0 0 -3px;
    height: 27px;
  }
}

.actions-section {
  top: 0;
  height: $top-height;
  line-height: $top-height;
  color: $default-text;
  font-size: 16px;
  font-weight: $font-normal;

  a {
    color: $default-text;

    &:hover {
      color: $white-darker;
    }

    span {
      margin: 0 5px;
    }
  }
}

.login-section {
  @extend .actions-section;
  right: 40px;

  button {
    color: $default-text;
    text-decoration: none;

    &:hover {
      color: $white-darker;
    }

    span {
      margin: 0 5px;
    }
  }
}

@media screen and (max-width: 768px) {
  .actions-section {
    display: none;
  }

  .login-section {
    display: block;
    right: 20px;
  }
}

@media screen and (max-width: $resS) {
  .info {
    display: none;
  }

  .al-user-profile-details {
    display: none;
  }
}

@media screen and (max-width: $resXS) {
  .navigation-bar-content {
    padding: 0 20px;
  }
}

@media (max-width: $resXXS) {
  .user-profile{
    min-width: 130px;
  }
  a.refresh-data {
    margin-right: 10px;
  }
  a.collapse-menu-link {
    margin-left: 10px;
  }

  .al-skin-dropdown {
    display: none;
  }
}

.profile-toggle-link{
  cursor: pointer;
}

.top-dropdown-menu {
  width: 316px;
  left: auto;
  right: -47px;
  top: 26px;
  @include scrollbars(.4em, rgba(0,0,0,0.5), #fff);
  .header {
    padding: 10px 12px;
    border-bottom: 1px solid $default;
    font-size: 12px;
    strong {
      float: left;
      color: $dropdown-text;
    }
    & > a {
      float: right;
      margin-left: 12px;
      text-decoration: none;
      &:hover {
        color: $dropdown-text;
      }
    }
  }
  .msg-list {
    max-height: 296px;
    overflow: scroll;
    overflow-x: hidden;
    & > a {
      border-top: 1px solid $default;
      padding: 10px 12px;
      display: block;
      text-decoration: none;
      color: $dropdown-text;
      font-size: 12px;
      &:first-child {
        border-top: none;
      }
      .img-area {
        float: left;
        width: 36px;
        img {
          width: 36px;
          height: 36px;
          &.photo-msg-item{
            border-radius: 18px;
          }
        }
        & > div {
          width: 36px;
          height: 36px;
          border-radius: 4px;
          font-size: 24px;
          text-align: center;
          &.comments {
            color: $warning;
          }
          &.orders {
            color: $warning;
          }
          i {
            width: 36px;
            line-height: 36px;
          }
        }
      }
      .msg-area {
        float: right;
        width: 230px;
        div {
          max-height: 34px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        span {
          font-style: italic;
          text-align: right;
          display: block;
          font-size: 11px;
        }
      }
      &:hover {
        background: #E2F0FF;
      }
    }
  }
  & > a {
    border-top: 1px solid $default;
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    text-decoration: none;
    &:hover {
      color: $dropdown-text;
    }
  }

  &.profile-dropdown {
    width: 310px;
    top: 55px;
    right: -25px;
    a {
      text-align: left;
      border: none;
      text-decoration: none;
      color: $dropdown-text;
      padding: 4px 16px 4px 20px;
      &.signout {
        border-top: 1px solid $default;
      }
      i {
        margin-right: 10px;
      }
      &:hover {
        background: #f4fcff;
      }
    }
    i.dropdown-arr {
      right: 25px;
    }
  }

  i.dropdown-arr {
    position: absolute;
    top: -22px;
    right: 42px;
    display: block;
    width: 0;
    height: 0;
    border: 11px solid transparent;
    border-bottom-color: rgba(0, 0, 0, .15);
    &:after {
      top: -9px;
      left: 0;
      margin-left: -10px;
      content: " ";
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border: 10px solid transparent;
      border-bottom-color: $default;
    }
  }
}

@media (max-width: 415px) {
  .top-dropdown-menu {
    right: -81px;
    i.dropdown-arr {
      right: 75px;
    }
  }
}
