<div class="container"
     fxLayout="column"
>
  <div style="height: 42px; border-bottom: 1px solid #BCC5D0; background-color: #fff">
    <div class="km-header-logo" ></div>
  </div>
  <md-nav-list>
    <!-- Menus for logged in users -->
    <div class="km-sidenav-top">
      <md-list-item>
        <a md-line routerLink="/wizard"><i class="fa fa-magic"></i> Create Cluster</a>
      </md-list-item>
      <md-list-item>
        <a md-line routerLink="/clusters"><i class="fa fa-cubes"></i> Manage Cluster</a>
      </md-list-item>
      <md-list-item>
        <a md-line routerLink="/profile"><i class="fa fa-key"></i> Manage sshKeys</a>
      </md-list-item>
    </div>
    <div class="km-sidenav-bottom">
      <md-list-item>
        <a md-line *ngIf="auth.authenticated()" (click)="logout()"> <i class="fa fa-lock red"></i> Logout</a>
        <a md-line *ngIf="!auth.authenticated()" href="{{environment.coreOSdexAuth}}"> <i class="fa fa-unlock-alt red"></i> Login</a>
      </md-list-item>
    </div>
  </md-nav-list>
</div>
