
.mat-nav-list {

  .mat-list-item, a {
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #444D58;

    i {
      color: #444D58;
    }
  }
  a {
    padding: 20px 16px;
    &:hover, &.active {
      color: #fff;
      background-color: #0288d1;

      i {
        color: #fff;
      }
    }

    i {
      width: 25px;
    }
  }
}

/deep/ .mat-list-item-content {
  padding: 0 !important;
  height: 36px !important;
}

/deep/ .mat-nav-list {
  padding: 0 !important;

}


/deep/ .mat-nav-list a {
  padding: 10px 16px !important;

}
