.km-header-logo {
  background-image: url("../../assets/images/logo/header-logo-kubermatic.png");
  height: 100%;
  background-size: 180px ;
  background-repeat: no-repeat ;
  background-position: center -16px;
}


.mat-nav-list {

  .mat-list-item, a {
    font-size: 13px !important;
    font-weight: 400 !important;
    color: #BCC5D0;

    i {
      color: #fff;
    }

    .red {
      color: #c2185b;
    }

  }
  a {
    padding: 20px 16px;
    &:hover, &.active {
      color: #fff;
      background-color: #0288d1;
    }

    i {
      width: 25px;
    }
  }
}

.km-sidenav-bottom {
  position: absolute;
  bottom: 44px;
  width: 100%;
}


/deep/ .mat-list-item-content {
  padding: 0 !important;
}

/deep/ .mat-nav-list {
  padding: 3px 0 0 0 !important;
}


