<mat-card-header>
  <mat-card-title>
    <h4>{{title}}</h4>
  </mat-card-title>
</mat-card-header>
<form [formGroup]="labelsForm"
      fxLayout="column">
  <div formArrayName="labels">
    <div *ngFor="let label of labelArray.controls; let i = index;"
         [formGroupName]="i"
         fxLayout="row"
         fxLayoutGap="10px">
      <mat-form-field fxFlex="45">
        <mat-label>Key</mat-label>
        <input matInput
               (keyup)="check(i)"
               name="key"
               formControlName="key"
               placeholder="Key">
        <mat-error *ngIf="label.get('key').errors?.validLabelKeyUniqueness"
                   i18n>
          Key is not unique.
        </mat-error>
        <mat-error *ngIf="label.get('key').errors?.validLabelKeyPrefixPattern"
                   i18n>
          Prefix not allowed.
        </mat-error>
        <mat-error *ngIf="label.get('key').errors?.validLabelKeyNamePattern"
                   i18n>
          Name not allowed.
        </mat-error>
        <mat-error *ngIf="label.get('key').errors?.validLabelKeyPrefixLength"
                   i18n>
          Prefix is too long.
        </mat-error>
        <mat-error *ngIf="label.get('key').errors?.validLabelKeyNameLength"
                   i18n>
          Name is too long.
        </mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="45">
        <mat-label>Value</mat-label>
        <input matInput
               (keyup)="check(i)"
               name="value"
               formControlName="value"
               placeholder="Value">
        <mat-error *ngIf="label.get('value').errors?.validLabelValuePattern"
                   i18n>
          Value not allowed.
        </mat-error>
        <mat-error *ngIf="label.get('value').errors?.validLabelValueLength"
                   i18n>
          Value is too long.
        </mat-error>
      </mat-form-field>
      <button mat-icon-button
              class="km-label-form-delete-button"
              *ngIf="isRemovable()"
              (click)="deleteLabel(i)">
        <i class="fa km-icon-delete"
           aria-hidden="true"></i>
      </button>
    </div>
  </div>
</form>
