<form [formGroup]="form"
      fxLayout="column"
      fxLayoutGap="16px">
  <div fxFlex
       class="mat-select-container">
    <mat-form-field>
      <mat-label>Plan</mat-label>
      <input matInput
             [formControlName]="Controls.InstanceType"
             name="instanceType"
             placeholder="Select plan..."
             [matAutocomplete]="autoSizes">
      <mat-autocomplete #autoSizes="matAutocomplete">
        <mat-option *ngFor="let size of filteredSizes"
                    [value]="size.name">
          {{size.name}} {{getPlanDetails(size)}}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="form.get(Controls.InstanceType).hasError('mustBeInList') && !form.get(Controls.InstanceType).hasError('required')">
        Input doesn't match options. Please choose from given options.
      </mat-error>
      <mat-error *ngIf="form.get(Controls.InstanceType).hasError('required')">
        Size is <strong>required</strong>.
      </mat-error>
    </mat-form-field>
  </div>
</form>
