<div class="km-dialog km-dialog-box">
  <km-dialog-title title="Add SSH Key"></km-dialog-title>
  <mat-dialog-content>
    <div class="mat-dialog-content">
      <form [formGroup]="addSSHKeyForm">
        <mat-form-field class="km-ssh-key-input">
          <mat-label>Name*</mat-label>
          <input id="name"
                 matInput
                 formControlName="name"
                 type="text"
                 autocomplete="off"
                 cdkFocusInitial>
          <mat-error *ngIf="addSSHKeyForm.controls.name.hasError('required')">
            Name is <strong>required</strong>.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="km-ssh-key-textarea">
          <mat-label>Key*</mat-label>
          <textarea id="key"
                    matInput
                    formControlName="key"
                    type="text"
                    class="form-control"
                    (change)="onNewKeyTextChanged()"></textarea>
          <mat-hint>Remember to paste only the public part of your SSH key and store the private part safely.</mat-hint>
          <mat-error *ngIf="addSSHKeyForm.controls.key.hasError('required')">
            Key is <strong>required</strong>.
          </mat-error>
        </mat-form-field>
      </form>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button (click)="addSSHKey()"
            mat-flat-button
            [disabled]="!addSSHKeyForm.valid">
      Add SSH key
    </button>
  </mat-dialog-actions>
</div>
