<form [formGroup]="hetznerNodeForm"
      fxLayout="column">
  <div fxFlex
       class="mat-select-container">
    <mat-form-field>
      <mat-label>Node Type*</mat-label>
      <mat-select formControlName="type"
                  [panelClass]="isInWizard() ? '' : 'km-add-dialog-dropdown'"
                  disableOptionCentering>
        <mat-option *ngFor="let type of types"
                    [value]="type.id">
          {{ type }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>
