<div style="width: 100%; margin-top: 10px; padding-left: 10px; padding-bottom: 5px;" [formGroup]="sshKeyForm">
  <div [ngSwitch]="!!sshKeys && sshKeys.length > 0">
    <div *ngSwitchCase="true" [ngClass]="{'has-danger': !sshKeyForm.controls.ssh_key.valid && sshKeyForm.controls.ssh_key.touched, 'has-success': sshKeyForm.controls.ssh_key.valid}">
      <div *ngFor="let key of sshKeys">
        <md-checkbox name="ssh_key[{{key.metadata.name}}]" id="key_{{key.metadata.name}}" formControlName="ssh_key" (click)="addSshKeyFrom(key.metadata.name)">{{key.name + ' - ' + key.fingerprint}}</md-checkbox>
      </div>
    </div>
    <div *ngSwitchCase="false">
      <p style=" color: #0288d1;">You have not added any SSH keys. Please add one first.</p>
    </div>
    <small class="form-text text-muted" >In addition, one more SSH key is authorized automatically for the Kubernetes apiserver
      to provide kubectl logs, port-forward and exec functionality.
    </small>
    <br>
    <button style="margin-top: 10px;" md-button color="primary" (click)="addSshKeyDialog()" md-raised-button >Add sshKey</button>
  </div>
  <div class="form-text text-danger" *ngIf="selectedCloudProviderApiError">Connection error: {{ selectedCloudProviderApiError }}</div>
</div>
