<div *ngIf="visible"
     [formGroup]="form"
     [ngSwitch]="provider"
     fxLayout="column"
     fxLayoutGap="16px">
  <mat-card-title *ngIf="hasExtendedSection(provider)">Advanced</mat-card-title>
  <km-wizard-aws-provider-extended *ngSwitchCase="Providers.AWS"
                                   [formControl]="form.get(Controls.ProviderExtended)">
  </km-wizard-aws-provider-extended>
  <km-wizard-vsphere-provider-extended *ngSwitchCase="Providers.VSPHERE"
                                       [formControl]="form.get(Controls.ProviderExtended)">
  </km-wizard-vsphere-provider-extended>
  <km-wizard-azure-provider-extended *ngSwitchCase="Providers.AZURE"
                                     [formControl]="form.get(Controls.ProviderExtended)">
  </km-wizard-azure-provider-extended>
  <km-wizard-gcp-provider-extended *ngSwitchCase="Providers.GCP"
                                   [formControl]="form.get(Controls.ProviderExtended)">
  </km-wizard-gcp-provider-extended>
  <km-wizard-openstack-provider-extended *ngSwitchCase="Providers.OPENSTACK"
                                         [formControl]="form.get(Controls.ProviderExtended)">
  </km-wizard-openstack-provider-extended>
</div>
