<mat-card class="km-card-list" style="margin-bottom: 70px" >
  <mat-card-header class="km-card-list-header" >
    <mat-card-title fxLayout>

      <div fxFlex="40%">Groupname</div>
      <div fxFlex="10%">Size</div>
      <div fxFlex="25%">Kubelet Version</div>
      <div fxFlex="25%">Machine Type</div>

    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngFor="let group of nodes">
      <mat-expansion-panel #expPanel [expanded]="getAccordionState(group.name)" (click)="onNodeGroupToggle(expPanel.expanded, group.name )">
        <mat-expansion-panel-header>
          <mat-panel-title fxLayout class="km-node-group">

              <div fxFlex="40%">{{group.name}}</div>
              <div fxFlex="10%">{{group.nodes.group.length}}</div>
              <div fxFlex="25%">
                {{group.nodes.kubeletVersion}}
              </div>
              <div fxFlex="25%">
                <span *ngIf="!!group.nodes.allocatable"> {{group.nodes.allocatable.cpu}} CPU, {{getFormattedNodeMemory(group.nodes.allocatable.memory)}}</span>
              </div>

          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="blue-container">
        <mat-card class="km-card-list">
          <mat-card-header class="km-card-list-header" >
            <mat-card-title fxLayout>
              <div fxFlex="5%">#</div>
              <div fxFlex="34%">Name</div>
              <div fxFlex="20%">Created at</div>
              <div fxFlex="20%">Public IP</div>
              <div fxFlex="6%" align="center">Status</div>
              <div fxFlex="15%"></div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div fxLayout class="km-single-node" *ngFor="let node of group.nodes.group, let i = index">
              <div fxFlex="5%">{{i + 1}}</div>
              <div fxFlex="34%">
                {{node.metadata.displayName}}
              </div>
              <div fxFlex="20%">
                {{node.metadata.creationTimestamp | date:'yyyy-MM-dd HH:mm'}}
              </div>
              <div fxFlex="20%" class="km-copy" ngxClipboard [cbContent]="node.metadata.annotations['node.k8s.io/public-ip']">
                {{node.metadata.annotations["node.k8s.io/public-ip"]}}
                <small>Copy</small>
              </div>
              <div fxFlex="6%" class="health-state">
                <i [matTooltip]="node.metadata.annotations['node.k8s.io/state']" [ngClass]="getNodeHealth(node.metadata.annotations['node.k8s.io/state'], node.status.conditions)"></i>
              </div>
              <div fxFlex="5%"></div>
              <div fxFlex="10%" class="km-btn-remove-node-wrapper">
                <button *ngIf="!nodeRemoval" mat-icon-button class="km-delete-node" (click)="deleteNodeDialog(node)">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
                <mat-spinner class="km-spinner" color="accent" *ngIf="nodeRemoval"></mat-spinner>
              </div>
            </div>
            <!--
            <div fxLayout *ngIf="conditionsMessage && getNodeState(node)" class="km-conditionsMessage">
              <p color="accent">{{conditionsMessage}}</p>
            </div>-->

          </mat-card-content>
        </mat-card>
      </div>
      </mat-expansion-panel>
    </ng-container>
  </mat-card-content>
</mat-card>







