<form [formGroup]="form">
  <km-dialog-title>{{mode}} Node Deployment</km-dialog-title>
  <mat-dialog-content class="km-add-node-outer">
    <km-node-data [provider]="provider"
                  [showExtended]="isExtended"
                  [existingNodesCount]="existingNodesCount"
                  [formControl]="form.get(Control.NodeData)">
    </km-node-data>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-flat-button
            color="pure"
            (click)="onViewChange()"
            *ngIf="hasExtendedOptions()">
      <span *ngIf="!isExtended">Show Advanced Settings</span>
      <span *ngIf="isExtended">Hide Advanced Settings</span>
    </button>
    <div fxFlex></div>
    <i *ngIf="isRecreationWarningVisible"
       class="km-icon-warning km-warning"
       matTooltip="You have changed node specification. All nodes will be recreated.">
    </i>
    <button mat-flat-button
            (click)="onConfirm()"
            [disabled]="form.invalid"
            class="btn btn-primary">
      {{mode}} Node Deployment
    </button>
  </mat-dialog-actions>
</form>
