@import "../../../assets/css/colors";

.km-health-state {
  position: relative;
  height: 30px;
  width: 30px;

  div.orange {
    color: $waiting-status-color;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
  }

  .orange.static {
    display: none;
  }

  .green {
    color: $healthy-status-color;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
  }

  .green.animated {
    opacity: 1;
    -webkit-animation-name: server-status-pulse; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    fill: inherit;
    stroke: inherit;
    transform: scale(1);
    animation: server-status-pulse 3s linear infinite;
  }

  div.red {
    color: $warning;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
  }

  .red.static {
    display: none;
  }
}

@keyframes server-status-pulse {
  0% {
    transform: scale(1);
    opacity: 0;
  }

  12% {
    opacity: .6;
  }

  20% {
    opacity: .1;
  }

  25% {
    transform: scale(1.6);
    opacity: 0;
  }

  to {
    transform: scale(1.6);
    opacity: 0;
  }
}
