<div class="health-state">
  <div md-button  mdTooltip="apiserver" [ngClass]="getHealthStatusColor('apiserver')"></div>
  <div md-button  mdTooltip="controller" [ngClass]="getHealthStatusColor('controller')"></div>
  <div md-button  mdTooltip="etcd" [ngClass]="getHealthStatusColor('etcd')"></div>
  <div md-button  mdTooltip="scheduler" [ngClass]="getHealthStatusColor('scheduler')"></div>
  <div md-button  mdTooltip="node-controller" [ngClass]="getHealthStatusColor('node-controller')"></div>
</div>

