<form [formGroup]="form"
      fxLayout="column"
      fxLayoutGap="30px">
  <mat-form-field fxFlex>
    <mat-label>Number of CPUs*</mat-label>
    <input matInput
           [formControlName]="Controls.CPU"
           min="1"
           type="number"
           autocomplete="off">
    <mat-error *ngIf="form.get(Controls.CPU).hasError('required')">
      Number of CPUs is <strong>required</strong>.
    </mat-error>
    <mat-error *ngIf="form.get(Controls.Memory).hasError('min')">
      Number of CPUs have to be at least 1.
    </mat-error>
  </mat-form-field>

  <mat-form-field fxFlex>
    <mat-label>Memory in MB*</mat-label>
    <input matInput
           [formControlName]="Controls.Memory"
           min="512"
           type="number"
           autocomplete="off">
    <mat-error *ngIf="form.get(Controls.CPU).hasError('required')">
      Memory is <strong>required</strong>.
    </mat-error>
    <mat-error *ngIf="form.get(Controls.Memory).hasError('min')">
      Memory have to be at least 512.
    </mat-error>
  </mat-form-field>
</form>
