<km-dialog-title>{{data.title}}</km-dialog-title>
<mat-dialog-content>
  <form [formGroup]="form"
        fxLayout="column">
    <mat-form-field fxFlex>
      <mat-label>Name</mat-label>
      <input required
             matInput
             formControlName="name"
             type="text"
             autocomplete="off"
             cdkFocusInitial>
      <mat-error *ngIf="form.controls.name.hasError('required')">
        Name is <strong>required</strong>.
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex>
      <mat-label>Provider</mat-label>
      <mat-select required
                  disableOptionCentering
                  formControlName="provider">
        <mat-option *ngFor="let provider of providers"
                    [value]="provider">
          {{getProviderName(provider)}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.controls.provider.hasError('required')">
        Provider is <strong>required</strong>.
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex>
      <mat-label>Seed</mat-label>
      <input required
             matInput
             formControlName="seed"
             type="text"
             autocomplete="off">
      <mat-error *ngIf="form.controls.seed.hasError('required')">
        Seed is <strong>required</strong>.
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex>
      <mat-label>Country</mat-label>
      <mat-select required
                  disableOptionCentering
                  formControlName="country">
        <mat-select-trigger fxFlex
                            fxLayout="row">
          <div fxFlex
               fxLayoutAlign="start"
               fxLayoutGap="6px">
            <ng-container *ngIf="form.controls.country.value">
              <span class="flag-icon flag-icon-{{form.controls.country.value.toLowerCase()}}"></span>
              <span>{{getCountryName(form.controls.country.value)}}</span>
            </ng-container>
          </div>
        </mat-select-trigger>
        <mat-option *ngFor="let countryCode of countryCodes"
                    [value]="countryCode">
          <div fxLayoutGap="6px">
            <span class="flag-icon flag-icon-{{countryCode.toLowerCase()}}"></span>
            <span>{{getCountryName(countryCode)}}</span>
          </div>
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.controls.country.hasError('required')">
        Country is <strong>required</strong>.
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex>
      <mat-label>Location</mat-label>
      <input required
             matInput
             formControlName="location"
             type="text"
             autocomplete="off">
      <mat-error *ngIf="form.controls.location.hasError('required')">
        Location is <strong>required</strong>.
      </mat-error>
    </mat-form-field>

    <mat-checkbox formControlName="enforcePodSecurityPolicy">Enforce Pod Security Policy</mat-checkbox>
    <mat-checkbox formControlName="enforceAuditLogging">Enforce Audit Logging</mat-checkbox>
  </form>

  <div class="property-name">Provider Configuration</div>
  <ngx-monaco-editor [options]="editorOptions"
                     [(ngModel)]="providerConfig"></ngx-monaco-editor>
  <mat-hint>Use YAML format. If not specified default configuration will be used.</mat-hint>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button
          (click)="submit()"
          [disabled]="!form.valid">
    {{data.confirmLabel}}
  </button>
</mat-dialog-actions>
