<form [formGroup]="form"
      fxLayout="column">
  <div fxFlex
       class="mat-select-container">
    <mat-form-field class="km-with-hint">
      <mat-label>{{getSizesFormState()}}</mat-label>
      <mat-select formControlName="size"
                  disableOptionCentering
                  [panelClass]="isInWizard() ? 'km-optgroup-dropdown' : 'km-optgroup-dropdown km-add-dialog-dropdown'"
                  [placeholder]="getSizesFormState()">
        <mat-optgroup *ngIf="sizes.standard.length > 0"
                      label="Standard Droplets">
          <mat-option *ngFor="let size of sizes.standard"
                      [value]="size.slug">
            {{ size.memory / 1024 }} GB RAM, {{ size.vcpus }} CPU{{ (size.vcpus!=1) ? 's' : '' }}, ${{ size.price_monthly }} per month
          </mat-option>
        </mat-optgroup>
        <mat-optgroup *ngIf="sizes.optimized.length > 0"
                      label="Optimized Droplets">
          <mat-option *ngFor="let size of sizes.optimized"
                      [value]="size.slug">
            {{ size.memory / 1024 }} GB RAM, {{ size.vcpus }} CPU{{ (size.vcpus!=1) ? 's' : '' }}, ${{ size.price_monthly }} per month
          </mat-option>
        </mat-optgroup>
      </mat-select>
      <mat-hint *ngIf="showSizeHint()">Please enter a valid token first.</mat-hint>
    </mat-form-field>
  </div>
</form>
