<form [formGroup]="doNodeForm"
      fxLayout="column">
  <div fxFlex
       class="mat-select-container">
    <mat-form-field>
      <mat-select formControlName="size"
                  [placeholder]="getSizesFormState()">
        <mat-optgroup *ngIf="sizes.standard.length > 0"
                      label="Standard Droplets">
          <mat-option *ngFor="let size of sizes.standard"
                      [value]="size.slug">
            {{ size.memory / 1024 }} GB RAM, {{ size.vcpus }} CPU{{ (size.vcpus!=1) ? 's' : '' }}, ${{ size.price_monthly }} per month
          </mat-option>
        </mat-optgroup>
        <mat-optgroup *ngIf="sizes.optimized.length > 0"
                      label="Optimized Droplets">
          <mat-option *ngFor="let size of sizes.optimized"
                      [value]="size.slug">
            {{ size.memory / 1024 }} GB RAM, {{ size.vcpus }} CPU{{ (size.vcpus!=1) ? 's' : '' }}, ${{ size.price_monthly }} per month
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
  </div>
</form>
