<div id="km-edit-serviceaccount-token-dialog"
     class="km-dialog-box">
  <mat-toolbar>
    Edit Token
    <button mat-icon-button
            mat-dialog-close>
      <i class="fa fa-times"
         aria-hidden="true"></i>
    </button>
  </mat-toolbar>
  <mat-dialog-content>
    <div class="mat-dialog-content">
      <form [formGroup]="editServiceAccountTokenForm"
            fxLayout="column">
        <mat-form-field fxFlex>
          <input id="km-edit-serviceaccount-token-dialog-input"
                 matInput
                 formControlName="name"
                 type="text"
                 placeholder="Name*"
                 autocomplete="off">
          <mat-error *ngIf="editServiceAccountTokenForm.controls.name.hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>

      </form>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-dialog-close
            mat-flat-button
            color="alternative">
      Close
    </button>
    <button id="km-edit-serviceaccount-token-dialog-edit-btn"
            mat-flat-button
            (click)="editServiceAccountToken()"
            [disabled]="!editServiceAccountTokenForm.valid">
      Edit
    </button>
  </mat-dialog-actions>
</div>
