<div id="km-edit-serviceaccount-token-dialog">
  <km-dialog-title title="Edit Token"></km-dialog-title>
  <mat-dialog-content>
    <div class="mat-dialog-content">
      <form [formGroup]="editServiceAccountTokenForm"
            fxLayout="column">
        <mat-form-field fxFlex>
          <mat-label>Name*</mat-label>
          <input id="km-edit-serviceaccount-token-dialog-input"
                 matInput
                 formControlName="name"
                 type="text"
                 autocomplete="off"
                 cdkFocusInitial>
          <mat-error *ngIf="editServiceAccountTokenForm.controls.name.hasError('required')">
            Name is <strong>required</strong>.
          </mat-error>
        </mat-form-field>

      </form>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button id="km-edit-serviceaccount-token-dialog-edit-btn"
            mat-flat-button
            (click)="editServiceAccountToken()"
            [disabled]="!editServiceAccountTokenForm.valid">
      Edit
    </button>
  </mat-dialog-actions>
</div>
