@import "../../../assets/css/colors";
@import "../../../assets/css/variables";

.km-serviceaccount-token-view {
  margin: 0;
}

.km-serviceaccount-token-item-actions {
  display: flex;
  justify-content: flex-end;
}

.km-no-item {
  border-width: 1px 1px 0 1px;
  border-color: $dropdown-border !important;
  border-style: solid;
  border-top-right-radius: $border-radius;
  border-top-left-radius: $border-radius;
}

.km-table-actions button {
  opacity: 1;
}

#km-add-serviceaccount-token {
  color: $medium-text-color;
  font-weight: normal;
}
