@import "../../../assets/css/colors";
@import "../../../assets/css/variables";

.km-serviceaccount-token-view {
  margin: 0;
}

.km-serviceaccount-token-item-actions {
  display: flex;
  justify-content: flex-end;

  button {
    margin-left: 20px;
  }
}

.km-mat-footer-row {
  padding: 0;
  border-style: solid dashed dashed dashed;
  border-width: 1px;
  border-color: $dropdown-border;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

  &:hover {
    background-color: $hover;
  }

  button {
    background-color: transparent;
    width: 100%;
    line-height: 5 * $baseline-grid;
    color: $medium-text-color;
    font-weight: normal;
    font-size: $subhead-font-size-base;
  }
}

.km-no-item {
  border-width: 1px 1px 0 1px;
  border-color: $dropdown-border !important;
  border-style: solid;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.km-table-actions button {
  opacity: 1;
}
