@import "../../../assets/css/colors";

.km-serviceaccount-token-view {
  margin: 0;
}

.km-serviceaccount-token-item-actions {
  display: flex;
  justify-content: flex-end;

  button {
    margin-right: 15px;
    width: 21px;
    height: 21px;
  }

  .fa-refresh {
    color: $text-color;
  }
}
