<mat-card class="km-table-dropdown">
  <mat-card-content>
    <table class="km-table"
           mat-table
           multiTemplateDataRows
           matSort
           [dataSource]="getDataSource()">
      <ng-container matColumnDef="name">
        <th mat-header-cell
            *matHeaderCellDef
            class="km-header-cell"
            mat-sort-header>Token Name</th>
        <td mat-cell
            *matCellDef="let element">{{element.name}}</td>
      </ng-container>

      <ng-container matColumnDef="expiry">
        <th mat-header-cell
            *matHeaderCellDef
            class="km-header-cell"
            mat-sort-header>Expires</th>
        <td mat-cell
            *matCellDef="let element">
          <km-relative-time [date]="element.expiry"></km-relative-time>
        </td>
      </ng-container>

      <ng-container matColumnDef="creationDate">
        <th mat-header-cell
            *matHeaderCellDef
            class="km-header-cell"
            mat-sort-header>Created</th>
        <td mat-cell
            *matCellDef="let element">
          <km-relative-time [date]="element.creationTimestamp"></km-relative-time>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell
            *matHeaderCellDef
            class="km-header-cell"></th>
        <td mat-cell
            *matCellDef="let element">
          <div class="km-table-actions km-serviceaccount-token-item-actions">
            <ng-container [ngSwitch]="!!element.deletionTimestamp">
              <ng-container *ngSwitchCase="true">
                <mat-spinner [diameter]="30"
                             class="km-spinner"
                             color="accent"></mat-spinner>
              </ng-container>

              <ng-container *ngSwitchCase="false">
                <button class="km-icon-regenerate"
                        [attr.id]="'km-regenerate-serviceaccount-token-' + element?.id"
                        matTooltip="Regenerate Service Account Token"
                        (click)="regenerateServiceAccountToken(element)"
                        [disabled]="!isEnabled('edit')"></button>

                <button class="km-icon-edit"
                        [attr.id]="'km-edit-serviceaccount-token-' + element?.name"
                        matTooltip="Edit Service Account Token"
                        (click)="editServiceAccountToken(element)"
                        [disabled]="!isEnabled('edit')"></button>

                <button class="km-icon-delete"
                        [attr.id]="'km-delete-serviceaccount-token-' + element?.id"
                        matTooltip="Delete Service Account Token"
                        (click)="deleteServiceAccountToken(element)"
                        [disabled]="!isEnabled('delete')"></button>
              </ng-container>
            </ng-container>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row
          class="km-header-row"
          *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row
          *matRowDef="let row; columns: displayedColumns"
          class="km-mat-row"></tr>
    </table>

    <ng-container *ngIf="!serviceaccountTokens || serviceaccountTokens.length === 0">
      <div class="km-row km-no-item"
           *ngIf="!isInitializing">
        No Token available. Please add a Token.
      </div>
      <div class="km-row"
           *ngIf="isInitializing">
        <mat-spinner color="accent"
                     class="km-spinner"
                     [diameter]="30"></mat-spinner>
      </div>
    </ng-container>

    <ng-container>
      <div class="km-mat-row km-mat-footer-row">
        <button id="km-add-serviceaccount-token"
                (click)="addServiceAccountToken()"
                [disabled]="!isEnabled('create')">+ Add Token</button>
      </div>
    </ng-container>

  </mat-card-content>
</mat-card>
