<mat-card class="km-card-list" >
  <mat-card-header class="km-card-list-header" >
    <mat-card-title fxLayout>
      <div fxFlex="5%">
        <strong>#</strong>
      </div>
      <div fxFlex="25%">
        <strong>Name</strong>
      </div>
      <div fxFlex="18%">
        <strong>Capacity</strong>
      </div>
      <div fxFlex="15%">
        <strong>Kubelet Version</strong>
      </div>
      <div fxFlex="17%">
        <strong>Public IP</strong>
      </div>
      <div fxFlex="10%" align="center">
        <strong>Status</strong>
      </div>
      <div fxFlex="10%"></div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <ng-container [ngSwitch]="!!nodes && nodes.length > 0 ">
      <ng-container *ngSwitchCase="true">

        <div  class="km-node-row" *ngFor="let node of nodes, let i = index">
          <div fxLayout class="km-single-node">
            <div fxFlex="5%">{{i + 1}}</div>
            <div fxFlex="25%">
              {{node.metadata.displayName}}
            </div>
            <div fxFlex="18%">
              <span *ngIf="!!node.status.capacity.cpu && !!node.status.capacity.memory"> {{node.status.capacity.cpu}} CPU, {{getFormattedNodeMemory(node.status.capacity.memory)}}</span>
            </div>
            <div fxFlex="15%">
              <span *ngIf="!!node.status.nodeInfo">{{node.status.nodeInfo.kubeletVersion}}</span>
            </div>
            <div fxFlex="17%">
              <span *ngIf="!!node.status.addresses && !!getAddresses(node).InternalIP">
                Int.IP:
                <span class="copy" [cbContent]="getAddresses(node).InternalIP" ngxClipboard  matTooltip="click to copy">{{getAddresses(node).InternalIP}}</span>
              </span>
              <span *ngIf="!!node.status.addresses && !!getAddresses(node).ExternalIP">
                Ext.IP:
                <span class="km-copy" [cbContent]="getAddresses(node).ExternalIP" ngxClipboard  matTooltip="click to copy">{{getAddresses(node).ExternalIP}}</span>
              </span>
            </div>
            <div fxFlex="10%" class="health-state">
                <i [matTooltip]="node.status.nodeInfo.kubeletVersion ? 'Running' : node.status.errorReason " [ngClass]="getNodeHealth(node)"></i>
            </div>

            <div fxFlex="10%" class="km-btn-remove-node-wrapper">
              <ng-container [ngSwitch]="!!node.metadata.deletionTimestamp">
                <ng-container *ngSwitchCase="true">
                  <mat-spinner [diameter]="30" class="km-spinner" color="accent"></mat-spinner>
                </ng-container>

                <ng-container *ngSwitchCase="false">
                  <button mat-icon-button class="km-delete-node" (click)="deleteNodeDialog(node)">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </button>
                </ng-container>
              </ng-container>
            </div>
          </div>
          <div fxLayout *ngIf="node.status.errorMessage && node.status.errorMessage.length" class="km-conditionsMessage">
            <p color="accent">{{node.status.errorMessage}}</p>
          </div>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="false">
        <div class="km-no-node" *ngIf="clusterRunning || nodeProvider == 'bringyourown'">No Node available. Please add a Node.</div>
        <mat-spinner *ngIf="!clusterRunning && !nodes && nodeProvider != 'bringyourown'" color="accent" class="node-list-spinner" [diameter]="40"></mat-spinner>
      </ng-container>
    </ng-container>

  </mat-card-content>
</mat-card>

