.km-node-row {

  border-bottom: 1px solid #E3E8EC;
  padding-bottom: 10px;
  padding-top: 10px;

}

.km-single-node {
  line-height: 38px;
}

.km-conditionsMessage {
  border-top: 1px solid rgba(227,232,236, 0.3);
  margin-top: 10px;
  p {
    margin: 10px auto 0;
    color: #ff5454;
  }
}

button {
  float: right;
}

.health-state {
  text-align: center;

  i.red {
    color: #ff5454;
  }

  i.green {
    color: #79c447;
  }

  i.orange {
    color: orange;
  }
}

.km-delete-node {
  float: right;
  color: #0288d1;
  border:1px solid #0288d1;
  border-radius: 0;
}

.km-copy {
  cursor: pointer;

  small {
    display: none;
    color: #0288d1;
  }

  &:hover {
    small {
      display: inline-block;
    }
  }
}

.km-spinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 50%;
  height: 70%;
}
.km-btn-remove-node-wrapper{
  position: relative;
}
