<mat-card class="km-card-list" >
  <mat-card-header class="km-card-list-header" >
    <mat-card-title fxLayout>
      <div fxFlex="5%">
        <strong>#</strong>
      </div>
      <div fxFlex="25%">
        <strong>Name</strong>
      </div>
      <div fxFlex="20%">
        <strong>Capacity</strong>
      </div>
      <div fxFlex="15%">
        <strong>Kubelet Version</strong>
      </div>
      <div fxFlex="15%">
        <strong>Public IP</strong>
      </div>
      <div fxFlex="10%" align="center">
        <strong>Status</strong>
      </div>
      <div fxFlex="10%"></div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <ng-container [ngSwitch]="!!nodes && nodes.length > 0 ">
      <ng-container *ngSwitchCase="true">

        <div  class="km-node-row" *ngFor="let node of nodes, let i = index">
          <div fxLayout class="km-single-node">
            <div fxFlex="5%">{{i + 1}}</div>
            <div fxFlex="25%">
              {{node.metadata.name}}
            </div>
            <div fxFlex="20%">
              <span *ngIf="!!node.status.capacity"> {{node.status.capacity.cpu}} CPU, {{getFormattedNodeMemory(node.status.capacity.memory)}}</span>
            </div>
            <div fxFlex="15%">
              <span *ngIf="!!node.status.nodeInfo">{{node.status.nodeInfo.kubeletVersion}}</span>
            </div>
            <div fxFlex="15%">
              <span class="km-copy" *ngIf="node.metadata.annotations['node.k8s.io/public-ip'] && node.metadata.annotations['node.k8s.io/public-ip'].length" ngxClipboard [cbContent]="node.metadata.annotations['node.k8s.io/public-ip']">
                {{node.metadata.annotations["node.k8s.io/public-ip"]}}
                <small>Copy</small>
              </span>
            </div>
            <div fxFlex="10%" class="health-state">
                <i [matTooltip]="node.metadata.annotations['node.k8s.io/state']" [ngClass]="getNodeHealth(node)"></i>
            </div>
            <div fxFlex="10%" class="km-btn-remove-node-wrapper" *ngIf="managedByProvider(node)">
              <button *ngIf="!nodeRemoval" mat-icon-button class="km-delete-node" (click)="deleteNodeDialog(node)">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </button>
              <mat-spinner [diameter]="30" class="km-spinner" color="accent" *ngIf="nodeRemoval"></mat-spinner>
            </div>
          </div>
          <div fxLayout *ngIf="conditionsMessage && getNodeState(node.metadata.annotations['node.k8s.io/state'])" class="km-conditionsMessage">
            <p color="accent">{{conditionsMessage}}</p>
          </div>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="false">
        <div class="km-no-node" *ngIf="clusterRunning || nodeProvider == 'bringyourown'">No Node available. Please add a Node.</div>
        <mat-spinner *ngIf="!clusterRunning && !nodes && nodeProvider != 'bringyourown'" color="accent" class="node-list-spinner" [diameter]="40"></mat-spinner>
      </ng-container>
    </ng-container>

  </mat-card-content>
</mat-card>




