p.km-duplicate-spec-title {
  font-weight: 600;
  margin-bottom: 3px;
  font-size: 14px;

  span {
    font-weight: 400;
    margin-left: 3px;
    font-size: 13px;
  }
}

div.km-duplicate-spec-options {
  margin-left: 15px;

  p {
    margin: 0;
    font-size: 13px;
  }
}
