<div fxLayout="column"
     [formGroup]="form">
  <div fxLayout="row"
       fxLayout.md="column"
       fxLayout.sm="column"
       fxLayout.xs="column"
       fxLayoutGap="30px">
    <div fxFlex="50">
      <kubermatic-wizard-presets [formControl]="form.get(Control.Preset)"></kubermatic-wizard-presets>
      <kubermatic-wizard-provider-basic [formControl]="form.get(Control.ProviderBasic)"></kubermatic-wizard-provider-basic>
      <kubermatic-wizard-cluster-ssh-keys [formControl]="form.get(Control.SSHKeys)"></kubermatic-wizard-cluster-ssh-keys>
    </div>

    <div fxFlex="50">
      <kubermatic-wizard-provider-extended [provider]="provider"
                                           [visible]="true"
                                           [formControl]="form.get(Control.ProviderExtended)">
      </kubermatic-wizard-provider-extended>
    </div>
  </div>

  <!--  <div fxFlex-->
  <!--       class="km-wizard-settings-extended-wrapper">-->
  <!--    <div class="km-wizard-settings-extended-divider"-->
  <!--         fxFlex>-->
  <!--    </div>-->

  <!--    <div class="km-wizard-settings-extended-btn"-->
  <!--         (click)="switch()">-->
  <!--      <span *ngIf="!extended">Show extended options&nbsp;</span>-->
  <!--      <span *ngIf="extended">Hide extended options&nbsp;</span>-->
  <!--      <i [ngClass]="extended ? 'km-icon-arrow-up' : 'km-icon-arrow-down'"></i>-->
  <!--    </div>-->

  <!--    <div class="km-wizard-settings-extended-divider"-->
  <!--         fxFlex>-->
  <!--    </div>-->
  <!--  </div>-->

  <!--  <div fxLayout="row"-->
  <!--       fxLayout.md="column"-->
  <!--       fxLayout.sm="column"-->
  <!--       fxLayout.xs="column"-->
  <!--       fxLayoutGap="30px">-->
  <!--    <kubermatic-wizard-provider-extended [provider]="provider"-->
  <!--                                         [visible]="extended"-->
  <!--                                         [formControl]="form.get(Control.ProviderExtended)"-->
  <!--                                         fxFlex="50"></kubermatic-wizard-provider-extended>-->
  <!--    <kubermatic-extended-node-data [provider]="provider"-->
  <!--                                   [visible]="extended"-->
  <!--                                   [formControl]="form.get(Control.NodeDataExtended)"-->
  <!--                                   fxFlex="50"></kubermatic-extended-node-data>-->
  <!--  </div>-->
</div>
