@import "../../../../assets/css/variables";

.km-addon-container {
  border-radius: 5px;
  font-size: $subhead-font-size-base;
  height: 8 * $baseline-grid;
  outline: none;
  width: 250px;

  .km-addon-menu {
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    height: 8 * $baseline-grid - 2px;
    min-width: 4.5 * $baseline-grid;
  }
}

.km-new-addon-container {
  cursor: pointer;

  &.disabled {
    cursor: default;
  }
}
