@import "../../../../assets/css/colors";
@import "../../../../assets/css/variables";

.km-addon-container {
  border: 1px solid $separator;
  border-radius: 5px;
  color: $text-color;
  font-size: $subhead-font-size-base;
  height: 8 * $baseline-grid;
  outline: none;
  width: 250px;

  .km-addon-menu {
    border-left: 1px solid $separator;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    height: 8 * $baseline-grid - 2px;
    min-width: 4.5 * $baseline-grid;

    &:hover {
      background-color: $grey-background;
    }
  }
}

.km-new-addon-container {
  border: 1px dashed $separator;
  color: $medium-text-color;
  cursor: pointer;

  &.disabled {
    border: 1px dashed #f1f3f4;
    color: $light-text-color;
    cursor: default;
  }

  &:hover:not(.disabled) {
    background-color: $grey-background;
    border: 1px solid $separator;
  }
}
