@import "../../../assets/css/colors";
@import "../../../assets/css/variables";

$MOBILE_RESOLUTION_BREAKPOINT: 504px;

// global mobile
@media screen and (max-width: $MOBILE_RESOLUTION_BREAKPOINT) {
  .btn-text-default {
    display: none;
  }
}

.km-button.white {
  color: $primary;
  height: 3.75 * $baseline-grid;
  line-height: 3 * $line-height;
  text-decoration: none;
  font-size: $body-font-size-base;
  font-weight: 500;
}

.km-cluster-type {
  display: flex;
  align-items: center;

  i {
    max-width: 3.125 * $baseline-grid;
    max-height: 3.125 * $baseline-grid;
  }
}

.km-cluster-item-actions {
  display: flex;
  justify-content: flex-end;
}

.km-provider-logo {
  max-width: 18.75 * $baseline-grid !important;
  min-width: 8.75 * $baseline-grid !important;
  min-height: 3.125 * $baseline-grid !important;
  max-height: 3.125 * $baseline-grid !important;
  margin-right: $baseline-grid;
}

.km-provider-logo-digitalocean,
.km-provider-logo-openstack {
  min-height: 2.5 * $baseline-grid !important;
  max-height: 2.5 * $baseline-grid !important;
}

.km-provider-logo-hetzner {
  min-height: 2 * $baseline-grid !important;
  max-height: 2 * $baseline-grid !important;
}
