<div *ngIf="!loading">
  <div fxLayout>
    <div fxFlex
         align="right">
      <button id="km-add-cluster-top-btn"
              mat-raised-button
              color="primary"
              type="button"
              [disabled]="!!userGroup && !userGroupConfig[userGroup].clusters.create"
              (click)="loadWizard()">
        <span class="btn-text-default">+ Add Cluster</span>
      </button>
    </div>
  </div>
  <mat-card class="blue">
    <mat-card-header>
      <mat-card-title fxLayout
                      matSort
                      (matSortChange)="sortData($event)"
                      matSortActive="name"
                      matSortDirection="asc">
        <div fxFlex="3%"></div>
        <div fxFlex="37%"
             mat-sort-header="name"><strong>Name</strong></div>
        <div fxFlex="30%"
             fxFlex.sm="20.66%"
             fxFlex.xs="25%"
             mat-sort-header="provider">
          <strong>Provider</strong>
        </div>
        <div fxFlex="30%"
             fxHide.sm
             fxHide.xs
             mat-sort-header="region">
          <strong>Region</strong>
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column"
                      [ngSwitch]="!!clusters && clusters.length > 0 ">
      <ng-container *ngSwitchCase="true">
        <kubermatic-cluster-item *ngFor="let data of sortedData; let i = index; trackBy: trackCluster"
                                 [cluster]="data"
                                 [projectID]="projectID"
                                 [index]="i"
                                 fxFlex></kubermatic-cluster-item>
      </ng-container>
      <ng-container *ngSwitchCase="false">
        <div fxFlex
             class="km-row km-odd km-no-item">No Clusters available. Please add a new Cluster.</div>
      </ng-container>
      <ng-container>
        <div class="km-row">
          <button class="km-button white"
                  [disabled]="!!userGroup && !userGroupConfig[userGroup].clusters.create"
                  (click)="loadWizard()">
            <strong>+ Add Cluster</strong>
          </button>
        </div>
      </ng-container>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="loading">
  <mat-spinner color="accent"
               class="km-spinner"></mat-spinner>
</div>
