@import "../../../assets/css/colors";

$MOBILE_RESOLUTION_BREAKPOINT: 504px;

// global mobile
@media screen and (max-width: $MOBILE_RESOLUTION_BREAKPOINT) {
  .btn-text-default {
    display: none;
  }
}

.km-button.white {
  color: $primary;
  height: 30px;
  line-height: 30px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

.km-cluster-type {
  display: flex;
  align-items: center;

  i {
    max-width: 25px;
    max-height: 25px;
  }
}

.km-cluster-item-actions {
  display: flex;
  justify-content: flex-end;

  button {
    margin-left: 20px;
  }
}
