<div *ngIf="!loading">
  <div fxLayout>
      <div fxFlex align="right">
        <a routerLink="/wizard">
          <button mat-raised-button color="primary" type="button">
            <span class="btn-text-default">+ Add Cluster</span>
          </button>
        </a>
      </div>
  </div>
  <mat-card class="blue">
    <mat-card-header>
      <mat-card-title fxLayout matSort (matSortChange)="sortData($event)" matSortActive="name" matSortDirection="asc">
        <div fxFlex="40%" fxFlex.xs="40%" mat-sort-header="name">
          <strong>Name</strong>
        </div>
        <div fxFlex="30%" fxFlex.sm="20.66%" fxFlex.xs="25%" mat-sort-header="provider">
          <strong>Provider</strong>
        </div>
        <div fxFlex="30%" fxHide.sm fxHide.xs mat-sort-header="region">
          <strong>Region</strong>
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column" [ngSwitch]="!!clusters && clusters.length > 0 ">
      <ng-container *ngSwitchCase="true">
        <kubermatic-cluster-item *ngFor="let data of sortedData; let i = index; trackBy: trackCluster" [cluster]="data" [project]="project" [index]="i" fxFlex></kubermatic-cluster-item>
      </ng-container>
      <ng-container *ngSwitchCase="false">
        <div fxFlex class="row odd no-item" >No Cluster available. Please add a Cluster.</div>
      </ng-container>
      <ng-container>
        <div class="row">
          <a routerLink="/wizard" class="button white">
            <strong>+ Add Cluster</strong>
          </a>
        </div>
      </ng-container>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="loading" >
  <mat-spinner color="accent" class="km-spinner"></mat-spinner>
</div>
