<div class="km-row km-sshkey-item" [ngClass]="getSshKeyItemClass()">
  <div fxLayout fxFlex (click)="togglePublicKey()">
    <div fxFlex="50%" fxFlex.sm="40%">
      <div class="km-key-name">
        {{sshKey.name}}
      </div>
      <div class="km-key-timestamp">
        Created at {{sshKey.creationTimestamp | date:'dd. MMMM yyyy'}}
      </div>
    </div>
    <div fxFlex="50%" fxFlex.sm="60%" class="km-key-fingerprint">
      {{sshKey.spec.fingerprint}}
    </div>
  </div>
  <div fxFlex="10%" fxHide.sm fxHide.xs fxLayoutAlign="end center">
    <span class="km-icon-delete black" (click)="deleteSshKey()"></span>
  </div>
</div>
<div class="km-publickey-wrapper" *ngIf="isShowPublicKey">
  <div class="km-publickey-content">
    <div class="km-publickey-name">
      {{publicKeyName}}
    </div>
    <div class="km-publickey">
      {{publicKey}}
    </div>
  </div>
</div>
