@import "../../../assets/css/colors";

.km-sshkey-item {
  color: $text-color;
  font-size: 12px;
  cursor: pointer;
  position: relative;

  .km-key-name {
    font-weight: 500;
    font-size: 14px;
  }

  .km-key-timestamp {
    font-size: 12px;
  }

  .km-key-fingerprint {
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 30px;
  }
}

.km-publickey-wrapper {
  background-color: $light-background;
  padding: 23px 20px 15px;

  .km-publickey-content {
    background-color: $white-text-color;

    .km-publickey-name {
      font-weight: 500;
      text-transform: uppercase;
      color: $text-color;
      padding: 10px 24px;
    }

    .km-publickey {
      padding: 15px 20px;
      background-color: $medium-background;
      word-wrap: break-word;
      -ms-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
      font-size: 12px;
      line-height: 18px;
    }
  }
}

.km-icon-delete {
  float: right;
}
