@import "../../../assets/css/colors";
/*
.row {
  height: 40px;
  cursor: pointer;

  &:hover {
    background-color: $light-background !important;
  }

  div, p {
    height: 100%;
  }
}

p {
  display: flex;
  align-items: center;

  &.km-icon {
    justify-content: flex-end;
    padding-right: 20px;
  }
}*/

.sshkey-item {
  color: $text-color;
  font-size: 12px;
  cursor: pointer;
  position: relative;

  .key-name {
    font-weight: 500;
    font-size: 14px;
  }

  .key-timestamp {
    font-size: 12px;
  }

  .key-fingerprint {
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 30px;
  }
}


.button-delete {
  position: absolute;
  right: 24px;
  top: 8px;
  z-index: 1;
  right: 0;
}

.publickey-wrapper {
  background-color: $light-background;
  padding: 23px 20px 15px;

  .publickey-content {
    background-color: #ffffff;

    .publickey-name {
      font-weight: 500;
      text-transform: uppercase;
      color: $text-color;
      padding: 10px 24px;
    }

    .publickey {
      padding: 15px 20px;
      background-color: $medium-background;
      word-wrap:break-word;
      -ms-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
      font-size: 12px;
      line-height: 18px;
    }
  }

}


.iconDelete {
  float: right;
}
